<?php
/**
 * @category    DBG
 * @package     DBG New Products
 * @author      Domagoj Potkoc, Inchoo Team <web@inchoo.net> (PHT Extended and develop more)
 * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>

<div class="category-head">
	<h2><?php echo $this->__($this->helper('newproducts')->getPageLabel());?></h2>
</div>
<?php echo $this->getChildHtml('new_product_list');?>