<div class="dashboard">
    <div class="page-title page-head">
		<?php $tag = version_compare(Mage::getVersion(),'1.4.0.1','>=')?'h1':'h3'; ?>
        <<?php echo $tag?>><?php echo $this->__($this->getTitle()) ?></<?php echo $tag?>>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php if($this->getChild('info')):?>
    <div class="box-account box-info account-box ad-account-info rounded boxInfo">
        <div class="head box-head">
		<?php $tag = version_compare(Mage::getVersion(),'1.4.0.1','>=')?'h3':'h4'; ?>
		<<?php echo $tag?> style="float: none;"><?php echo $this->__('Referral Points Information') ?></<?php echo $tag;?>>
        </div>
        <?php echo $this->getChildHtml('info') ?>
    </div>
    <?php endif;?>
    <?php if(Mage::helper('rewardpoints')->sharePointsToFriend()):?>
    <?php echo $this->getChildHtml('send') ?>
    <?php endif;?>
    <?php if($this->getChild('transaction')):?>
    <div class="box-account box-recent account-box ad-orders rounded boxInfo">
        <div class="head box-head">
            <<?php echo $tag;?>><?php echo $this->__('Transaction History') ?></<?php echo $tag;?>>
            <p align="right"><?php if($this->getChild('info')):?><a class="greenColor" href="javascript:void(0)" id="transaction_box_hander">Hide</a><?php endif;?></p>
        </div>
        <?php echo $this->getChildHtml('transaction') ?>
    </div>
    <?php endif;?>  	
</div>
