<style type="text/css">
    .cart .discount{
        float: none;
        width: auto;
    }
    .cart .shipping{
        border: none;
        width: auto;
        padding-left: 0;
    }
</style>
<?php $check = version_compare(Mage::getVersion(),'1.4.0.1','>=');?>
<?php if($check):?>
    <div class="cart">
        <div class="page-title title-buttons">
            <h1><?php echo $this->__('Shopping Cart') ?></h1>
            <?php if(!$this->hasError()): ?>
                <ul class="checkout-types">
                    <?php foreach ($this->getMethods('top_methods') as $method): ?>
                        <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                            <li><?php echo $methodHtml; ?></li>
                            <?php endif; ?>
                        <?php endforeach; ?>
                </ul>
                <?php endif; ?>
        </div>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <?php echo $this->getChildHtml('form_before') ?>
        <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
            <table id="shopping-cart-table" class="data-table cart-table" cellspacing="1" border="0" width="100%">
                <colgroup>
                    <col/>
                    <col />
                    <!--<col/>-->
                    <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
                        <col />
                        <?php endif ?>
                    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                        <col />
                        <?php endif; ?>
                    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                        <col />
                        <?php endif; ?>
                    <col />
                    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                        <col />
                        <?php endif; ?>
                    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                        <col />
                        <?php endif; ?>
                    <col />

                    <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                </colgroup>
                <thead>
                    <tr>
                        <th rowspan="<?php echo $mergedCells; ?>" width="150">&nbsp;</th>
                        <th rowspan="<?php echo $mergedCells; ?>" width="430"><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
                        <!--<th rowspan="<?php echo $mergedCells; ?>"></th>-->
                        <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
                            <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><span class="nobr"><?php echo $this->__('Move to Wishlist') ?></span></th>
                            <?php endif ?>
                        <th class="a-center" colspan="<?php echo $mergedCells; ?>" width="125"><span class="nobr"><?php echo $this->__('Unit Price') ?></span></th>
                        <th rowspan="<?php echo $mergedCells; ?>" class="a-center" width="40"><?php echo $this->__('Qty') ?></th>
                        <th class="a-center" colspan="<?php echo $mergedCells; ?>" width="160"><?php echo $this->__('Subtotal') ?></th>
                        <th rowspan="<?php echo $mergedCells; ?>" class="a-center" width="17">&nbsp;</th>
                    </tr>
                    <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                        <tr>
                            <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                            <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                            <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                            <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                        </tr>
                        <?php endif; ?>
                </thead>
                <tbody>
                    <?php foreach($this->getItems() as $_item): ?>
                        <?php echo $this->getItemHtml($_item) ?>
                        <?php endforeach ?>
                </tbody>
            </table>
            <div class="cart_footer_left">
                <?php if($this->getContinueShoppingUrl()): ?>
                    <button type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="button btn-continue" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
                    <?php endif; ?>
            </div>
            <div class="cart_footer_right">
                <button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Shopping Cart'); ?>" class="button btn-update"><span><span><?php echo $this->__('Update Shopping Cart'); ?></span></span></button>
                <button type="submit" name="update_cart_action" value="empty_cart" title="<?php echo $this->__('Clear Shopping Cart'); ?>" class="button btn-empty" id="empty_cart_button"><span><span><?php echo $this->__('Clear Shopping Cart'); ?></span></span></button>
                <!--[if lt IE 8]>
                <input type="hidden" id="update_cart_action_container" />
                <script type="text/javascript">
                //<![CDATA[
                Event.observe(window, 'load', function()
                {
                // Internet Explorer (lt 8) does not support value attribute in button elements
                $emptyCartButton = $('empty_cart_button');
                $cartActionContainer = $('update_cart_action_container');
                if ($emptyCartButton && $cartActionContainer) {
                Event.observe($emptyCartButton, 'click', function()
                {
                $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
                $cartActionContainer.setAttribute('name', 'update_cart_action');
                $cartActionContainer.setValue('empty_cart');
                });
                }

                });
                //]]>
                </script>
                <![endif]-->
            </div>
            <div class="clear"></div>
            <script type="text/javascript">decorateTable('shopping-cart-table')</script>
        </form>

        <div class="cart-collaterals">
            <div class="col-1" style="width: 342px; float: left;">
                <?php echo $this->getChildHtml('rewardpoints') ?>    
            </div>
            <div class="col-2" style="float: left; width: 303px;">
                <?php echo $this->getChildHtml('crosssell') ?>
                <?php echo $this->getChildHtml('coupon') ?>
                <?php //if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
                <div class="clear"></div>
            </div>                    
            <div class="totals">
                <?php echo $this->getChildHtml('totals'); ?>
                <?php if(!$this->hasError()): ?>
                    <ul class="checkout-types">
                        <?php foreach ($this->getMethods('methods') as $method): ?>
                            <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                                <li><?php echo $methodHtml; ?></li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>
        </div>
    </div>



    <?php else:?>
    <div class="page-head-alt button-level">
        <h3><?php echo $this->__('Shopping Cart') ?></h3>
        <?php if(!$this->hasError()): ?>
            <ul class="checkout-types">
                <?php echo $this->getChildHtml('top_methods') ?>
            </ul>
            <?php endif; ?>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
    <table cellspacing="0" border="0" id="shopping-cart-table" class="data-table box-table shopping-cart">
        <col width="40" />
        <col width="75" />
        <col />
        <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
            <col width="1" />
            <?php endif ?>
        <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
            <col width="80" />
            <?php endif; ?>
        <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
            <col width="80" />
            <?php endif; ?>
        <col width="1" />
        <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
            <col width="80" />
            <?php endif; ?>
        <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
            <col width="80" />
            <?php endif; ?>


        <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
        <thead>
            <tr>
                <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Remove') ?></th>
                <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                <th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Product Name') ?></th>
                <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
                    <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Move to Wishlist') ?></th>
                    <?php endif ?>
                <th class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Unit Price') ?></th>
                <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
                <th class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Subtotal') ?></th>
            </tr>
            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                <tr>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                </tr>
                <?php endif; ?>
        </thead>
        <tfoot>
            <tr>
                <td colspan="100" class="a-right">
                    <?php if($this->getContinueShoppingUrl()): ?>
                        <button class="form-button-alt continue-shopping" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')" type="button"><span><?php echo $this->__('Continue Shopping') ?></span></button>
                        <?php endif; ?>
                    <button class="form-button-alt" type="submit"><span><?php echo $this->__('Update Shopping Cart') ?></span></button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('shopping-cart-table')</script>
</form>

<div class="shopping-cart-collaterals">
    <div class="col2-set">
        <?php echo $this->getChildHtml('rewardpoints') ?>
        <div style="clear:both;"></div>
        <?php echo $this->getChildHtml('crosssell') ?>
        <div class="col-2">
            <?php echo $this->getChildHtml('coupon') ?>
            <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
        </div>
    </div>
</div>

<div class="shopping-cart-totals">
    <?php echo $this->getChildHtml('totals'); ?>
    <?php if(!$this->hasError()): ?>
        <ul class="checkout-types">
            <?php echo $this->getChildHtml('methods') ?>
        </ul>
        <?php endif; ?>
</div>
<div class="clear"></div>
<?php endif;?>