#ordercomment-comment{width: 96%;}
dt{margin-bottom: 10px;}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
label{display: inline;}
.price{color: #333333;}
.rounded{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; border: 1px solid #e3e3e3;}
#scroll{padding: 0 10px; margin-top: 15px;}
h1{font-size: 16px; text-transform: uppercase; line-height: 0; font-weight: normal; color: #515151;}
h2{font-size: 12px; text-transform: uppercase; line-height: 0; color: #022a5d; float: left;}
.clear{clear:both; height:0px; font-size:0px}
.clearfix:after{ clear:both;  display:block;  content:"";  height:0px;  visibility:hidden}
.clearfix{ display:inline-block}

* html .clearfix{ height:1%}
.clearfix{ display:block}
li.clearfix{ display:list-item}

.onepage{display: table;}
.logo-onepage{ background: transparent url(images/onestepcheckout.png) no-repeat scroll 100% 0%;width:528px;height:48px;margin:0px auto;}
#review-buttons-container{text-align: right; margin-top: 10px;}
#review-btn{ background: transparent url(images/bt-comfirm.png) no-repeat scroll 100% 0%;width:234px;height:37px; border: 0; text-indent: -9999px;}
.onepage-page-title{margin:16px 0px 20px 5px;overflow: hidden;width: 100%;}
.login-reg{width:100%;border-bottom: 2px solid #4e4e4e;margin:17px 0 10px 0;font-weight:bold;}
.onepage li{list-style: none; }
/*.onepage li.fields{ float: left; width: 262px;}*/
.onepage li.fields .field select,.onepage li.fields .field .input-text{ }

.onepage .form-list .input-box { width:auto;}
#co-form .input-box{width:auto;}
#column-1,#column-2,#column-3{float:left; padding:0 8px 0 0px;margin: 0 10px 0 0; background: transparent url(images/line-gradient.gif) no-repeat scroll 100% 0%;}
#column-3{width:380px; background-image: none; padding: 0;}
#column-2{width:271px}
#column-1{ width:30%; }
#column-2{ margin-right: 14px; }
#column-3{ margin-right: 0; }

.onepage .page-title{border:none !important; margin-bottom: 15px;}
.onepage .form-list{width: 100%;padding:0px;}
.onepage .form-list .customer-name .field{}

.billing-bg {width:19px;height:19px;background: transparent url(images/1.png) no-repeat scroll 100% 0%;display:block;float:left;margin-right:5px; }
.shipping-method-bg {width:19px;height:19px;background: transparent url(images/2.png) no-repeat scroll 100% 0%;display:block;float:left;margin-right:5px; }
.payment-bg {width:19px;height:19px;background: transparent url(images/3.png) no-repeat scroll 100% 0%;display:block;float:left;margin-right:5px; }
.review-bg {width:19px;height:19px;background: transparent url(images/tick-icon.png) no-repeat scroll 100% 0%;display:block;float:left;margin-right:5px; }
.shipment-methods { padding-left:0; }
.shipment-methods label{ color: #666;}
.ship-address{ float: left !important;}
.address-checkbox { float: left !important; margin-top: 2px; }

.gift-messages {padding-left: 3px;}
.guest-reg{padding:0 0 5px 3px;display:block;color: #E87403;font-weight: bold;}
#checkout-review-load {padding:0 0 10px 0; }
#billing-new-address-form{margin: 0;}
#billing-new-address-form .billing-address-container{ width: 268px;}
.col-1 .control {float:left;padding:0 10px 0 0;}
#onepage-shipping_method dd {font-weight:bold; color: #666; }
.shipment-methods dd {margin: 0;}
.checkout-agreements .agreement-content {}
.product-total {border-top:1px solid #ccc;border-bottom: 1px solid #ccc;}
.col-1 .control label {padding:0px 0px 0 5px;}
.validation-advice{}
#advice-required-entry-ccsave_expiration{width:100px !important;}
.fields.cust_name .validation-advice{width:auto;}

.name-lastname label {margin: 0px;}

#checkout-review-load table.onestepcheckout-summary {display:table;}
table.onestepcheckout-summary tfoot td {background-color: #f6f6f6;}
table.onestepcheckout-summary tfoot tr.last td {background-color: #ececec;}
table.onestepcheckout-summary tfoot tr.last .price {color: #f50103;}
#checkout-review-load table.onestepcheckout-summary tr th { border-bottom: 1px solid #ccc; }
#onepage-login{padding: 0 0 20px 0;}
#onepage-billing{padding: 0 0 0 0;}
#onepage-billing .customer-name .input-box input.input-text{float:left;padding: 2px 2px;border-image: initial;}
#onepage-billing .wide .input-box input.input-text{width:220px;}
#onepage-billing  .wide .input-box .address-select{width:220px;}
#onepage-billing  .wide label{width:220px;}
#onepage-shipping .wide .input-box input.input-text{width:220px;}
#onepage-shipping .customer-name .input-box input.input-text{}
#onepage-shipping .wide .input-box .address-select{width:220px;}
#onepage-shipping .wide label{width:220px;}

#onepage-shipping_method{padding: 0;}
#onepage-payment{padding: 15px 0 20px 0;}
#onepage-review{padding: 0 0 20px 0;}
#onepage-review .page-title {margin-bottom: 5px;}

#bg_fade{background-color: #555;height:100%;left: 0px;margin: 0px;padding: 0px;position: fixed;top: 0px;bottom:0px;width: 100%;z-index: 1000;}
#bg_fade a{display: inline-block; width: 100%; height: 100%; cursor: default;}
#onepage-review table.onestepcheckout-summary th.name, th.qty, th.total{width:75px; font-weight: bold; color: #666;}
#onepage-review table.onestepcheckout-summary thead{border-bottom:  1px solid #ccc;}
#onepage-review table.onestepcheckout-summary tr.items td{ border-bottom: 1px solid #ccc; padding: 5px 0;}
#onepage-review table.onestepcheckout-summary tr.items td{width:75px;}
#onepage-review table.onestepcheckout-totals tr td{width:90px;}
#onepage-review table.onestepcheckout-totals tr td{border-bottom: 1px solid #ccc; padding: 5px 0;}
#onepage-checkout-shipping-method-additional-load .input-box input{width:176px;}
#onepage-checkout-shipping-method-additional-load .input-box textarea{width:176px;}
.agree label{padding-left: 5px;}
.page-title h1{color:#333;text-align: left; font-size: 22px; line-height: 30px;}
div.loading-ajax { height: 50px;text-align: center;background-image: url(images/ajax-loader.gif);background-repeat: no-repeat;background-position: center center;}

div.please-wait-loading {
    height:40px;
    text-align: center;
    background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 30% 0%;
}
.load-wait{color:#E87403;}
div.wait{height:80px;float:right;}
button.btn-class{padding: 10px;background-color:#FF5C00;float:left;}

/* login-popup design */
a.close{float:right;}
#gift-form{background:#fff;padding:10px;border:2px solid #828282;min-height:160px;width: 290px;border-radius:7px; height: auto;}
.clear{clear: both;}
.onestepcheckout-error{color:red;font-weight: normal;}
button.login-btn{background-color: #66A094;padding: 5px;border:none;font-weight: bold;color:#fff;border:none;}
/*.buttons-set{border:none; margin:0px;padding:0px;float:right;}*/
.button-set {border: none;margin: 0px;}
/* login-popup design */
.input-box .v-fix #ccsave_expiration{width:152px;}
.onestepcheckout-summary .total  {text-align: right !important}
.onestepcheckout-totals .product-total .value .price{float:right !important}
.grand-total .value .price{float:right !important}
#checkout-review-table-wrapper tr{border-bottom:1px solid #ccc;}
#checkout-review-table-wrapper tr th{padding:2% 0;}
#checkout-review-table tr td{width:100%;padding: 5px 2px 5px 2px; color: #666;}
#checkout-review-table tr td.a-left{text-align: right;}
#checkout-review-table .cart-price .price{width: 100%;text-align: right;display: block;}
#checkout-review-table tr td .product-name{ color: #666; padding-right: 5px;}
#checkout-review-table tr td.grandtotal{ color: #333;}
caption, th, td{font-weight:normal;}
.onestepcheckout-coupons{margin: 0 0 10px 0px; overflow: hidden;}
.onestepcheckout-coupons button.button{float: right;}
.onestepcheckout-coupons button.button#coupon_remove{margin-right: 10px;}
.sp-methods select.month{width:152px;}


/*user name,password same line design*/
.form-list .field{margin-right: 0;width: auto;}
.form-list .field select{width: 260px; }
.form-list .fields.shipping_countrey .field select{width: 254px; }
/*.form-list .fields.address{width: 254px; }*/
.form-list .fields.address input.input-text{margin-bottom: 10px;}
.fields.shipping_countrey {clear: both;}
.form-list .dob{width:100% !important;}
.form-list .dob input{width:50px;}
#onepage-billing .form-list .fields input.input-text, #shipping-new-address-form input.input-text{width: 290px; padding: 3px 2px}
#onepage-billing .form-list select {padding: 2px 2px}
/* First name - Last name */

/* Prefix - First name - Last name */
.onepage .form-list .customer-name-prefix .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0;}
.onepage .form-list .customer-name-prefix .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix .name-lastname{float:left; width:262px !important; margin: 0; padding-top: 8px}
.onepage .form-list .customer-name-prefix .name-lastname .input-text{width:255px !important; }


/* Prefix - First name - Last name - Suffix */
.onepage .form-list .customer-name-prefix-suffix .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-suffix .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-suffix .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0;}
.onepage .form-list .customer-name-prefix-suffix .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-suffix .name-lastname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-suffix .name-lastname .input-text{width:255px !important; }
.onepage .form-list .customer-name-prefix-suffix .name-lastname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-suffix .name-lastname .input-text{width:255px !important; }

/* First name - Middle Name - Last name */
.onepage .form-list .customer-name-middlename .name-firstname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-middlename .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-middlename .name-middlename{float:left;margin-right: 0; width:120px !important; margin-left: 4px;}
.onepage .form-list .customer-name-middlename .name-middlename .input-text{width:120px !important; }
.onepage .form-list .customer-name-middlename .name-lastname{float:left;padding-top: 8px; width:262px !important; margin: 0;}
.onepage .form-list .customer-name-middlename .name-lastname .input-text{width:255px !important; }

/* Prefix - First name - Middle Name - Last name */
.onepage .form-list .customer-name-prefix-middlename .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-middlename .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0;}
.onepage .form-list .customer-name-prefix-middlename .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename .name-middlename{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-middlename .name-middlename .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename .name-lastname{float:left;padding-left: 6px; width:120px !important; margin: 0;}
.onepage .form-list .customer-name-prefix-middlename .name-lastname .input-text{width:120px !important; }

/* Prefix - First name - Middle Name - Last name-Suffix */
.onepage .form-list .customer-name-prefix-middlename-suffix .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-middlename{float:left;margin-right: 8px; width:120px !important; padding-top: 8px;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-middlename .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-lastname{float:left;padding-left: 6px; width:120px !important; margin: 0; padding-top: 8px;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-lastname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-suffix{float:left;padding-top: 8px; width:262px !important; margin: 0;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-suffix .input-text{width:255px !important; }
#register-customer-password{padding-right: 9px;}
#register-customer-password,#register-customer-confirmpassword{float:left;width:125px;}

.form-list #register-customer-newsletter .field{ width: 250px !important;}

/*Checkout box css*/
.fieldsbilling{float:left;width:134px;}
.field-set{padding:0 0 0 8px;line-height: 20px;}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month{width:86px;}
.form-list .customer-dob .dob-year { width:90px !important; }
/*#billing:month {width: 80px;}*/
.dob-month input{width: 50px;}
.checkout-agreements .agreement-content {
    overflow: auto;
    padding: 10px;
    color: #555;
}
.agree-check{ float: left; margin-top: 3px;}


.form-list .customer-dob .dob-day input.input-text, .form-list .customer-dob .dob-month input.input-text{width: 60px !important;}
.form-list .customer-dob .dob-year input.input-text {
    width: 80px!important;
}

/*.form-list .input-city-field{ width: 255px;}*/
.form-list .input-city-field .input-box{ width: 255px !important;}
.form-list input.input-city{ width: 255px !important;}
.form-list .input-country-field { width: 262px;}
.form-list .input-country-field select{ width: 260px !important;}

.form-list .input-company-field{ width: 262px;}
.form-list .input-company-field .input-company{ width: 255px !important;}
.form-list .input-city-field-ship{ width: 255px;}
.form-list .input-city-field-ship .input-box{ width: 255px !important;}
.form-list input.input-city-ship{ width: 255px !important;}
.form-list .input-country-field-ship { width: 262px;}
.form-list .input-country-field-ship select{ width: 260px !important;}

.onestepcheckout-comments {margin: 0 0 10px 0;font-weight: bold;}
.onestepcheckout-comments textarea {margin-top: 2px;width: 100%;}
.onestepcheckout-toc-terms {margin-left: 5px;margin-right:0;margin-top: 0 !important;overflow: auto;padding-right: 10px; text-align:justify;}
.onestepcheckout-terms-popup {background:#fff;padding:10px;border:2px solid #828282;border-radius:7px;width:500px;overflow:auto; height:300px;}
p.close{float:right;}
.onestepcheckout-enable-terms{padding-bottom:10px;margin: 0 0 10px 0;}

.onestepcheckout-summary,.onestepcheckout-totals {border-collapse: collapse;}
table.onestepcheckout-summary {width: 100%;}
table.onestepcheckout-summary td.name {width: 55%;}
table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty{width: 10%;text-align: center;}
table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total{width: 32%;text-align: right;}
table.onestepcheckout-totals {width: 100%;margin-bottom: 20px;}
table.onestepcheckout-totals tr.grand-total td {font-weight: bold;}
table.onestepcheckout-totals td.value {width: 35%;text-align: right;}
table.onestepcheckout-totals tr.grand-total td {font-weight: bold;}
table.onestepcheckout-totals td.title {width: 65%;text-align: right;}
table.onestepcheckout-totals td.value {width: 35%;text-align: right;}

.onepage li.dob-field { width: 262px; clear: both;}
.onepage li.dob-field .field{ clear: both; width: 262px; float: none;}

.onepage li.gender-2column { width: 125px;float: left;}
.onepage li.gender-2column .input-text{ clear: both; width: 120px; float: none;}

.onepage li.tax-2column { width: 125px; float: left; padding-left: 9px;}
.onepage li.tax-2column .input-text{ clear: both; width: 120px; float: none;}

.onepage li.tax-1column { width: 262px;}
.onepage li.tax-1column .input-text{width: 255px !important;}

.onepage li.gender-1column { width: 262px;}
.onepage li.gender-1column select{width: 255px !important;}

#shipping-new-address-form .shipping-company{ width: 262px;}
#shipping-new-address-form .shipping-address-field{ width: 262px;}
#shipping-new-address-form .shipping-address-field .input-box .input-text{ width: 255px !important; }
#shipping-new-address-form .wide{ width: 262px;}
#shipping-new-address-form .wide .input-box .input-text{ width: 255px !important; }

.cart .page-title{clear:both !important;}
#checkout-review-submit{}
.onestepcheckout-enable-terms label{ padding-top: 3px; }
.onestepcheckout-enable-terms em{ color:#EB340A }
#onepage-billing #billing-address-select{width: 260px !important;}

.fields.newsletter-lable input[type="checkbox"]{float: left;margin: 2px 5px 0 0px;}
#register-customer-newsletter{clear: both;}
.onestepcheckout-coupons input.input-text{ margin-bottom: 5px;}
.onestepcheckout-coupons #couponcode{width: 260px;}
.onestepcheckout-coupons #coupon_err_msg{color: #df280a;}
#terms-condition{display:none;position: fixed;z-index: 99999;}

.onestepcheckout-feedback{padding: 5px 0;}
.onestepcheckout-feedback-freetext{padding: 10px 0;}
#id_feedback_freetext{width:100%;}
#id_feedback_freetext_div label{font-weight: bold;}
#iframe-warning{text-align:left;}



@media screen and (min-width : 886px) and (max-width : 980px) {
    #column-1{clear: both; width: 290px;}
    #column-2{  width: 280px;background: none;}
    #column-3{clear: both; width: 90%;background: none;}
}

@media screen and (min-width : 460px) and (max-width : 885px) {
    #column-1{clear: both; width: 290px;background: none;}
    #column-2{  width: 290px;background: none;}
    #column-3{clear: both; width: 90%;background: none;}
    .onestepcheckout-terms-popup {width: 420px;}
    #terms-condition{top:10px; left: 20% !important; z-index: 99999;}
    .onestepcheckout-terms-popup {width: 280px;}
}
@media screen and (min-width : 270px) and (max-width : 580px) {
    #column-3{clear: both; width: auto;}
    #terms-condition{left: 7% !important; }
    .onestepcheckout-terms-popup {width: 280px;}
}

@media screen and (max-width: 459px) {
    #column-1{clear: both; margin: 0 auto; width: auto;background: none;}
    #column-2{clear: both; margin: 0 auto; width: auto;background: none;}
    #column-3{clear: both; margin: 0 auto; width: auto;background: none;}
    .onestepcheckout-terms-popup {width: 250px;}

}
#checkout-review-table td.tax{
    text-align: right !important;
}
.a-left{float: none !important;}
.input-region-field,
.input-city-field {
	width: 140px;
	float: left;
	margin-right: 5px;
}
.input-region-field select,
.input-city-field select {
	width: 140px;
}
label em {
	color: red;
}