<?php
    $_dialogWidth   = Mage::helper('quickview/quickview')->getDialogWidth();
    $_dialogHeight  = 'auto';
	$loading_img = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'md/quickview/'.Mage::getStoreConfig('quickview/viewsetting/loading_icon');
	$currentUrl =  Mage::helper("core/url")->getCurrentUrl();
	if (strpos($currentUrl,'index.php') !== false) {
		$url = $this->getUrl();
	}else{

		$url = str_replace('index.php/','',$this->getUrl());
	}
?>
<script type="text/javascript">
//<![CDATA[
	if (typeof EM == 'undefined') EM = {};
	EM.Quickview = {
		BASE_URL : "<?php echo $url?>",
		QS_FRM_WIDTH :"<?php echo $_dialogWidth?>",
		QS_FRM_HEIGHT : "<?php echo $_dialogHeight?>",
		QS_IMG: "<?php echo $this->getSkinUrl('md/quickview/images/md_quickview_preview.png'); ?>",
		QS_IMG_LOAD: "<?php echo $loading_img; ?>",
		OVERLAYCOLOR : "<?php echo '#'.Mage::getStoreConfig('quickview/viewsetting/text_color1'); ?>"
	};
//]]	
</script> 
<style>
#fancybox-loading-overlay{background-color:<?php echo '#'.Mage::getStoreConfig('quickview/viewsetting/text_color1'); ?> !important;}

</style>
