<?php
	if (Mage::helper('customerlevel')->isEnabled()) :
		/*
		* Cấp độ thành viên
		*/
		$customer_group_id = Mage::getSingleton('customer/session')->getCustomerGroupId();
		$customer_group = Mage::getModel('customer/group')->load($customer_group_id);

		$customer_groups = Mage::helper('customerlevel')->getAvailableCustomerGroup($customer_group_id);
	?>
	<div class="box-account customerlevel">
		<div class="head box-head">
			<h2>Nhóm thành viên</h2>
			<a id="transaction_box_hander" href="javascript:void(0)">Ẩn</a>        
		</div>
		<div class="box-contain">				 
			<?php
				$session = Mage::getSingleton('core/session');
				$mess = $session->getData('customerlevel');
				if (!empty($mess)):
				?>
				<ul class="messages"><li class="error-msg"><ul><li><span><?= $mess ?></span></li></ul></li></ul>
				<?php
					endif;
				$success_mess = $session->getData('customerlevel_success');
				if (isset($success_mess) AND !empty($success_mess)) {
					?>
					<ul class="messages"><li class="success-msg"><ul><li><span><?= $session->getData('customerlevel_success') ?></span></li></ul></li></ul>
					<?php
				}
				$session->setData('customerlevel', null);
				$session->setData('customerlevel_success', null);
			?>
			<form action="<?= $this->getUrl('*/*/upgradelevel') ?>" method="post">
				<div class="info">
					<p>
						<?= str_replace('/s', '<b>' . $customer_group->getCode() . '</b>', $this->__('Cấp độ hiện tại của bạn là: /s')) ?>
					</p>
				</div>
				<?php
					if (count($customer_groups) > 0):
						$i = 0;
					?>
					<div>
						<p><?= $this->__('Bạn có thể dùng điểm thưởng của bạn để nâng cấp thành viên') ?></p>
					</div>
					<?php
						foreach ($customer_groups as $group):
							$i++;
						?>
						<div class="input">
							<input style="margin-top: 0;" type="radio" id="r_<?= $i ?>" name="r_customer_group_id" value="<?= $group->getCustomerGroupId() ?>" />
							<label for="r_<?= $i ?>"><?= $group->getCustomerGroupCode() ?> (<?= str_replace('/p', '<b class="highlight">' . $group->getPoints() . '</b>', $this->__('Bạn cần /p điểm')) ?>)</label>
						</div>
						<div class="submit" style="margin-top: 10px;">
							<button class="btn" name="Upgradelevel"><?php echo $this->__('Đồng ý') ?></button>
						</div>
						<?php
							endforeach;
						endif;
				?>
			</form>
		</div>
	</div>
	<?php
		endif;
?>

