<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition */ ?>
<form id="condition_form" method="get" name="condition_form" action="<?php echo Mage::helper("adminhtml")->getUrl("extreport/adminhtml_report/index") ?>">
    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>">
<div class="entry-edit">
    <?php echo $this->getFormHtml();?>
    <button type="submit"><span><span><?php echo $this->__("Make Report") ?></span></span></button>
</div>
<?php echo $this->getChildHtml('form_after');?>
</form>
