<?php
$cates = $this->getData('categories');
if(is_array($cates)){
    echo '<div class="level">';
    echo '<select class="category" id="level'.((int)Mage::app()->getRequest()->getPost('level') + 1).'">';
    echo '<option value="-1">Vui lòng chọn</option>';
    foreach($cates as $id => $name){
        echo '<option value="'.$id.'">'.$name.'</option>';
    }
    echo '</select>';
    echo '</div>';
}
?>