<script>
    function minLevel(){
        min_level = 2;
        level_cate = jQuery('.category');
        jQuery.each(level_cate, function(){
            id = jQuery(this).attr('id');
            level_cate = parseInt(id.substr(5));
            if(level_cate > min_level){//level big -> sub cate
                min_level = level_cate;
            }
        });
        return min_level;
    }
    
    function removeLevel(){
        current = minLevel();
        if(current > 2){
            jQuery('#level'+current).remove();
        }
    }
    function getChildCate(){
        jQuery('#loading-mask').show();
        cid = minLevel();
        _cat = jQuery('#level'+cid).val();
        jQuery.ajax({
            url: '<?php echo Mage::helper("adminhtml")->getUrl("dbizcatalog/adminhtml_import_order/getSubCategory");?>',
            type: 'POST',
            cache: false,
            data: 'cat='+_cat+'&form_key='+FORM_KEY+'&level='+cid,
            success: function(html){
                if(jQuery('#level'+(parseInt(level_cate)+1)).length){
                    jQuery('#level'+(parseInt(level_cate)+1)).remove();
                }
                jQuery('.category_selected').append(html);
                jQuery('#loading-mask').hide();
            }
        });
    }
    
    function setMinLevel(){
        minLevel = minLevel();
        jQuery('#min_level').val(jQuery('#level'+minLevel).val());
        jQuery('#form_import_product_order').submit();
    }
</script>
<style>
    .level{
        display: inline-block;
    }
    .category_selected{
        margin-bottom: 20px;
    }
</style>
<div class="content-header">
<table cellspacing="0">
    <tbody><tr>
        <td style="width:50%;"><h3 class="icon-head head-blog">Import product order</h3></td>
        <td class="a-right">
            <button style="" onclick="removeLevel()" class="scalable back" type="button" title="Import" id="import_product_order"><span><span><span>Back level</span></span></span></button>
            <button style="" onclick="getChildCate()" class="scalable add" type="button" title="Import" id="import_product_order"><span><span><span>Get child</span></span></span></button>
            <button style="" onclick="setMinLevel()" class="scalable save" type="button" title="Import" id="import_product_order"><span><span><span>Import</span></span></span></button>        
        </td>
    </tr>
</tbody></table>
</div>
<div class="category_selected">
    <div class="level2 level">
        <label>Danh mục</label>
        <select id="level2" class='category'>
            <option value='-1'>Vui lòng chọn</option>
            <?php
                foreach($this->getFirstCategory() as $_cat){
                    echo '<option value="'.$_cat->getId().'">'.$_cat->getName().'</option>';
                }

            ?>
        </select>
    </div>
</div>
<div class='order_form'>
    <form action="/dbizcatalog/adminhtml_import_order/update" id='form_import_product_order' method="post" enctype="multipart/form-data">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey();?>" />
        <input type='file' name='orders' />
        <input type="hidden" name="cid" value="" id="min_level" />
    </form>
</div>