.extreport-adminhtml-report-index{}
.extreport-adminhtml-report-index #condition_form{}
#condition_form .form-list tr td.value .ds_program,
#condition_form .form-list tr td.value .ds_payment,
#condition_form .form-list tr td.value .ds_shipping{
	float:left;
	width:25%;
}

#condition_form .form-list tr td.value .ds_status{
	float:left;
	width:10%;
}

#condition_form .form-list tr td.value .ds_program input,
#condition_form .form-list tr td.value .ds_payment input,
#condition_form .form-list tr td.value .ds_shipping input,
#condition_form .form-list tr td.value .ds_status input{
	float:left;
	margin-right:5px;
	width:7%;
}

#condition_form .form-list tr td.value span.ds_program label,
#condition_form .form-list tr td.value span.ds_payment label,
#condition_form .form-list tr td.value span.ds_shipping label{
	float:left;
	width:90%;
}

#condition_form .form-list tr td.value span.ds_status label{
	float:left;
	width:80%;
}

