<?php 
	/**
	 * ajaxcart template
	 */
	$_product = $this->getCurrentProduct();	
	$time_down =  $_product->getData('time_down');
	$count = 0;
?>
<?php if($time_down > 0):?>
<div class="promotionTime">
	 <?= $this->__('Thời gian còn lại') ?>:
	<span id="countbox<?php echo $count; ?>"> <?php echo $_product->getData('time_down')?></span> 
</div>
<script type="text/javascript"> 
	<?php 
		$toDate = Date("m/d/y", strtotime(Mage_Core_Model_Locale::date(null, null, "en_US", true)));
		$to_time = ' '.$_product->getData('time_down').':00:00'; 
	?>
	var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)) . $to_time; ?>");
	start = "<?php echo Date("m/d/y H:i:s", strtotime(Mage_Core_Model_Locale::date(null, null, "en_US", true))); ?>";
	start_date = Date.parse(start);
	var dnow<?php echo $count; ?> = new Date(start_date);
	if (CountStepper > 0)
		ddiff = new Date((dnow<?php echo $count; ?>) - (dthen<?php echo $count; ?>));
	else
		ddiff = new Date((dthen<?php echo $count; ?>) - (dnow<?php echo $count; ?>));
	gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf() / 1000);
	var iid<?php echo $count; ?> = "countbox<?php echo $count; ?>";
	CountBackHour(gsecs<?php echo $count; ?>, iid<?php echo $count; ?>, <?php echo $count; ?>);
	j++;
</script>
<?php endif ?>