.checkout_group_combo_promotion{
    border: 2px solid #DCDBDB;
    background-color: #f8f8f8;
    padding: 5px;
    width: 156px;
}
.checkout_group_combo_promotion.one{
    height: 88px;
}
.checkout_group_combo_promotion.more > div{
    height: 277px;
    display: table-cell;
    vertical-align: middle;
}
.btn-cart1 {
    background-image: url("../images/btn-cart1.png") !important;
    height: 25px;
    padding: 0 0 0 20px;
    width: 100px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.checkout_group_combo_promotion.more .btn-cart1 {
    margin-top: 10px;
}
.group_combo_promotion .col-1{
    background-image: url(../images/plus.png);
    background-position: 236px 50%;
    background-repeat: no-repeat;
    width: 526px;
}
.group_combo_promotion .col-2{
    background-image: url(../images/equal.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 22px;
}
.group_combo_promotion .red{
    color: #FA3234;
}
.group_combo_promotion .name{
    display: block;
    margin-bottom: 5px;
    color: #000;
}
.box-itoris-product-promotions .itoris_groupedproductpromotions_title {
    font-weight: bold;
    font-size: 16px;
}
.itoris_groupedproductpromotions_price {
    font-weight: bold;
    color: red;
}
.button.btn-cart{
    border: 0px;
    background: none;
}
.itoris_groupedproductpromotions_product {
    border: 2px solid #DCDBDB;
    height: 88px;
    padding: 5px;
    width: 254px;
}

.itoris_groupedproductpromotions_product.more {
    margin-top: 5px;
}
.itoris_groupedproductpromotions_plusproduct {
    float: left;
    display: table-cell;
    vertical-align: middle;
}
.itoris_groupedproductpromotions_plusproduct.more .line {
    display: table-cell;
    vertical-align: middle;
    height: 289px;
}
.itoris_groupedproductpromotions_product img {
    float:left;
    max-width:75px;
    max-height:75px;
    margin: 5px;
}
.itoris_groupedproductpromotions_discount.cart {
    font-size: 11px;
    color: #FF0000;
    white-space: nowrap;
}
.itoris_groupedproductpromotions_plus {
    font-size: 30px;
    font-weight: bold;
    margin: 141px 10px 0 7px;
    vertical-align: middle;
    width: 15px;
    display: inline-block;
}
.cart .box-itoris-product-promotions {
    margin-top: 10px;
}
.data-table tbody td.itoris_promotions_row_products td, .data-table tbody td.itoris_promotions_row_products th {
    border: none;
}
.itoris_promotions_row_products .item-options {display: inline-block;}

.itoris_promotions_row_products .itoris_groupedproductpromotions_discount, .itoris_promotions_row_products .itoris_groupedproductpromotions_price {
    font-size: 11px;
}
.itoris_groupedproductpromotions_main {
    width: 230px; 
    border: 2px solid #c3b590;
    float: left;
    margin-right: 20px;
}
.itoris_groupedproductpromotions_main > div {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    padding: 5px;
}
.itoris_groupedproductpromotions_main.one div.img img{
    width: 54px;
    height: 54px;
}
.itoris_groupedproductpromotions_main.more div.img img{
    width: 155px;
    height: 155px;
}
.itoris_groupedproductpromotions_main.more div.img{
    text-align: center;
}
.itoris_groupedproductpromotions_main.one div.text {
    width: 165px;
    float: right;
}
.itoris_groupedproductpromotions_main.more div.text {
    padding: 5px 5px 0 5px ;
}
.itoris_groupedproductpromotions_main.one > div{
    height: 88px;
}
.itoris_groupedproductpromotions_main.more > div{
    height: 277px;
}
.itoris_groupedproductpromotions_main.one img {
    width: 67px;
    height: 67px;
    float: left;
}
.itoris_promotions_row_products .itoris_groupedproductpromotions_main {
    width: 240px;
    padding: 0; 
    line-height: 119%;
}
.itoris_promotions_row_products a {
    color: black;
    text-decoration: none;
}
.itoris_promotions_row_products .itoris_groupedproductpromotions_plus {
    margin: 0;
	text-align: center;
	width: 98%;
}
.format_price{
    line-height: 30px;
    font-size: 14px;
}
.format_price_current{ 
    font-weight: bold;
}
.itoris_groupedproductpromotions_pricevalue .label, .checkout_group_combo_promotion .label, .itoris_groupedproductpromotions_discount .label  {
	background:none;
	color:#787878;
	text-shadow:none;
}