<?php $collection = $this->_getCollection(); ?>
<?php if (count($collection) > 0) : ?>
<div class="slidebanner">
	<div id="loading-image" style="margin:129px 0;text-align:center;">
        <img src="<?php echo $this->getSkinUrl('images/banner/slide-loader.gif') ?>" alt="Loading..." />
    </div>
	<div class="container banner_slide" style="display: none;">
		<div id="slide">
			<?php foreach ($collection as $item) : ?>
				<?php $_imageList = $item->getImageList();?>
				<?php if($item->getIsActive()==true):?>
						<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
							<?php foreach ($_imageList as &$_item) : ?>
								<a href="<?php echo $_item['label']; ?>" target="_blank">
                                    <!--<img src="<?php //echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(TRUE);; ?>" />-->
                                    <img src="<?php echo Mage::getBaseUrl('media').'banner'.$_item['file']; ?>" />                
								</a>
							<?php endforeach; ?>
						<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
		</div>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pnj_collection_left')->toHtml() ?>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pnj_collection_right')->toHtml() ?>
	</div>
</div>

<script type="text/javascript">
    var count_img = 0;
    var total_img = jQuery('#slide img').length;
    jQuery('#slide img').load(function(){
        count_img += 1;
        if (count_img == total_img) {
            jQuery('#loading-image').hide();
            jQuery('.banner_slide').show();
        }
    });
    jQuery(function() {
        jQuery('#slide').nivoSlider({
            effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
            slices: 15, // For slice animations
            boxCols: 8, // For box animations
            boxRows: 4, // For box animations
            animSpeed: 500, // Slide transition speed
            pauseTime: 5000, // How long each slide will show
            directionNav: false, // Next &amp; Prev navigation
            controlNav: true, // 1,2,3... navigation
            pauseOnHover: false, // Stop animation while hovering
            randomStart: true // Start on a random slide
        });
    });
</script>
<?php endif; ?>