<?php $collection  	= $this->_getCollection();?>
<?php if (count($collection) > 0) : ?>
<div id="loading-image" style="margin:129px 0;text-align:center;">
    <img src="<?php echo $this->getSkinUrl('images/banner/slide-loader.gif') ?>" alt="Loading..." />
</div>
<div class="banner" style="display: none;">
	<div class="banner_category" id="dbiz_cat_banner">
		<?php foreach ($collection as $item) : ?>
			<?php $_imageList = $item->getImageList(); ?>
			<?php if($item->getIsActive()==true):?>
				<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
					<?php foreach ($_imageList as &$_item) : ?>
						<a href="<?php echo $_item['label']; ?>" target="_blank">
							<!--<img src="<?php //echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				-->
                            <img src="<?php echo Mage::getBaseUrl('media').'banner'.$_item['file']; ?>" />                
						</a>
					<?php endforeach; ?>
				<?php endif; ?>
			<?php endif; ?>
		<?php endforeach; ?>
	</div>
    <script type="text/javascript">
        var count_img = 0;
        var total_img = jQuery('#dbiz_cat_banner img').length;
        jQuery('#dbiz_cat_banner img').load(function(){
            count_img += 1;
            if (count_img == total_img) {
                jQuery('#loading-image').hide();
                jQuery('.banner').show();
            }
        });
        jQuery(function() {
            jQuery('#dbiz_cat_banner').nivoSlider({
                effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
                slices: 15, // For slice animations
                boxCols: 8, // For box animations
                boxRows: 4, // For box animations
                animSpeed: 500, // Slide transition speed
                pauseTime: 5000, // How long each slide will show
                directionNav: false, // Next &amp; Prev navigation
                controlNav: true, // 1,2,3... navigation
                pauseOnHover: false, // Stop animation while hovering
                randomStart: true // Start on a random slide
            });
        });
    </script>
</div>
<?php endif; ?>