<?php $collection  	= $this->_getCollection();?>
<?php if (count($collection) > 0) : ?>
<div class="banner_cat_detail">
	<?php foreach ($collection as $item) : ?>
		<?php $_imageList = $item->getImageList(); ?>
		<?php if($item->getIsActive()==true):?>
			<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
				<?php foreach ($_imageList as &$_item) : ?>
					<a href="<?php echo $_item['label']; ?>" target="_blank">
						<!--<img src="<?php //echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />-->
                        <img src="<?php echo Mage::getBaseUrl('media').'banner'.$_item['file']; ?>" />                
					</a>
				<?php endforeach; ?>
			<?php endif; ?>
		<?php endif; ?>
	<?php endforeach; ?>
</div>
<script type="text/javascript">
	var slide_time = 5000;
	var slide_animate = 1000;
	var current_catdetail = 0;
	
	jQuery(document).ready(function(){
		jQuery('.banner_cat_detail').css({
				height:'auto',
				position:'relative',
		});
		jQuery('.banner_cat_detail img').css({
			position: 'absolute',
			top: 0,
			left: 0
		});
		if (jQuery('.banner_cat_detail img').length > 1) {
			jQuery('.banner_cat_detail img').hide();
			jQuery('.banner_cat_detail img:first').show();
			setInterval("slideCatDetail()", slide_time);
		}
	});

	function slideCatDetail() {
		var _img = jQuery('.banner_cat_detail img');
		jQuery(_img[current_catdetail]).fadeOut(slide_animate);
		var _next = current_catdetail + 1;
		if (_next == _img.length) _next = 0;
		jQuery(_img[_next]).fadeIn(slide_animate);
		current_catdetail = _next;
	}

</script>
<?php endif; ?>