<?php  $collection  	= $this->_getPopupCollection();?>
<?php if (count($collection) > 0) : ?>
	<div id="dbiz_popup_banner">
		<?php foreach ($collection as $item) : ?>
			<?php	$_imageList = $item->getImageList(); ?>
			<?php if($item->getIsActive()==true):?>
				<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
					<?php foreach ($_imageList as &$_item) : ?>
						<a href="<?php echo $_item['label']; ?>" target="_blank">
							<img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
						</a>
						<?php endforeach; ?>
					<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
	</div>
	<script type="text/javascript">
		var slide_popup_time = 5000;
		var slide_popup_animate = 1000;
		var current_popup_banner = 0; 
		var slide_popup_banner;

		/* jQuery('#dbiz_popup_banner img').load(function(){
			var _popup_banner_width = 0;
			var _popup_banner_height = 0;

			var _banner_popup_img =  jQuery('#dbiz_popup_banner img');
			if (_banner_popup_img.length > 0) {
				for(i=0;i<_banner_popup_img.length;i++) {
					//Height

					if (_popup_banner_height < jQuery(_banner_popup_img[i]).height()) {
						_popup_banner_height = jQuery(_banner_popup_img[i]).height();
					}

					//Width
					if (_popup_banner_width < jQuery(_banner_popup_img[i]).width()) {
						_popup_banner_width = jQuery(_banner_popup_img[i]).width();
					}

					if (_popup_banner_width > jQuery(window).width()) {
						_popup_banner_width = jQuery(window).width();
					}

					if (_popup_banner_height > jQuery(window).height()) {
						_popup_banner_height = jQuery(window).height();
					}

					jQuery('#dbiz_popup_banner').css({
						width: _popup_banner_width,
						height: _popup_banner_height
					});
				}
			}
		}); */

		jQuery(document).ready(function(){
			/* if (jQuery('#dbiz_popup_banner img')) {
				//slide_popup_banner = setInterval("show_banner_popup()", 1000);
				show_banner_popup();
			} */
			jQuery.fancybox.open('#dbiz_popup_banner');
		});

		function show_banner_popup() {
			jQuery('#dbiz_popup_banner img').css({
				position: 'absolute',
				top: 0,
				left: 0,
			});

			if (jQuery('#dbiz_popup_banner img').length > 1) {
				var _img = jQuery('#dbiz_popup_banner img');
				jQuery(_img).hide();
				jQuery(_img[0]).show();

				setInterval('slide_popup_banner()', slide_popup_time);
			}

			clearInterval(slide_popup_banner);
			jQuery.fancybox.open('#dbiz_popup_banner');
		}

		function slide_popup_banner() {
			var _img = jQuery('#dbiz_popup_banner img');
			jQuery(_img[current_popup_banner]).fadeOut(slide_popup_animate);
			var next = current_popup_banner + 1;
			if (next == _img.length) next = 0;
			jQuery(_img[next]).fadeIn(slide_popup_animate);
			current_popup_banner = next;
		}
	</script>
<?php endif; ?>
