<?php $collection  	= $this->_getCollection();?>
<?php if (count($collection) > 0) : ?>
<div class="sidebar_cat_bnn"><span>TIN KHUYẾN MÃI</span></div>
<div class="banner_sidebar_detail">
	<?php foreach ($collection as $item) : ?>
		<?php $_imageList = $item->getImageList(); ?>
		<?php if($item->getIsActive()==true):?>
			<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
				<?php foreach ($_imageList as &$_item) : ?>
					<a href="<?php echo $_item['label']; ?>" target="_blank">
						<img  src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
					</a>
				<?php endforeach; ?>
			<?php endif; ?>
		<?php endif; ?>
	<?php endforeach; ?>
</div>
<?php endif; ?>