<?php $collection  = $this->_getCollection(); ?>
<?php if (count($collection) > 0) : ?>
<div id="banner_top_bg">
	<div class="container">
        <div id="loading-image-top" style="margin:10px 0;text-align:center;">
            <img src="<?php echo $this->getSkinUrl('images/banner/slide-loader.gif') ?>" alt="Loading..." />
        </div>
		<div class="banner_top" id="dbiz_top_slide" style="display: none;">
			<?php foreach ($collection as $item) : ?>
				<?php $_imageList = $item->getImageList(); ?>
				<?php if($item->getIsActive()==true):?>
					<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
						<?php foreach ($_imageList as &$_item) : ?>
							<a href="<?php echo $_item['label']; ?>" target="_blank">
                                <!--<img src="<?php //echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(TRUE); ?>" />-->
                                <img src="<?php echo Mage::getBaseUrl('media').'banner'.$_item['file']; ?>" />                
							</a>
						<?php endforeach; ?>
					<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
		</div>
        <button type="button" id="close_top" onclick="jQuery(function(){jQuery('#banner_top_bg').hide()});"><?php echo $this->__('Close')?></button>
	</div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#loading-image-top').hide();
        jQuery('#dbiz_top_slide').show();
    });
    jQuery(function() {
        jQuery('#dbiz_top_slide').nivoSlider({
            effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
            slices: 15, // For slice animations
            boxCols: 8, // For box animations
            boxRows: 4, // For box animations
            animSpeed: 500, // Slide transition speed
            pauseTime: 5000, // How long each slide will show
            directionNav: false, // Next &amp; Prev navigation
            controlNav: false, // 1,2,3... navigation
            pauseOnHover: false, // Stop animation while hovering
            randomStart: true // Start on a random slide
        });
    });
</script>

<?php endif; ?>