<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$icon = strtolower($_product->getResource()->getAttribute('product_icon')->getFrontend()->getValue($_product));
$promoTime = $_product->getData('time_down');
$promoFriday = $_product->getData('time_friday');
$freeGift = Mage::getModel('promotionalgift/catalogrule')->validateItem($_product ->getId());
$normal_price = Mage::helper('core')->currency($_product->getPrice(), false, true);
$special_price = Mage::helper('core')->currency($_product->getSpecialPrice(), false, true);
$final_price = Mage::helper('core')->currency($_product->getFinalPrice(), false, true);
$discount = $normal_price - $final_price;
if($promoTime) $icon = "timer";
if($promoFriday) $icon = "friday";	
if($freeGift) $icon = "gift";	
?>

<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
    <div id="" class="product-image-thumbnail product-image-zoom fn-product-2 active-thumb">
        <?php if(!$_product->isSaleable()): ?>
            <div class="out-of-stock">&nbsp;</div>
        <?php else: ?>
            <?php if($icon == "new"):?>
			<div class="icon" id="icon_new"><span><?php echo $this->__('New')?></span></div>
			<?php else:?>
				<?php if($icon == "online"):?>
				<div class="icon" id="icon_online"><span><?php echo $this->__('Sale Online')?></span></div>
				<?php else:?>
					<?php if($icon == "hot"):?>
					<div class="icon" id="icon_hot"><span><?php echo $this->__('Hot')?></span></div>
					<?php else :?>
						<?php if($icon == "gift"):?>
						<div class="icon" id="icon_gift"></div>
						<?php else:?>
							<?php if($icon == "limited"):?>
							<div class="icon" id="icon_limited"></div>	
							<?php else:?>
								<?php if($icon=="same-price" && $special_price > 0):?>
								<div class="icon" id="icon_same_price">
									<span><?php echo round($special_price/1000,0)?>K</span>
								</div>
								<?php else:?>
									<?php if($icon=="friday"):?>
										<div class="icon" id="icon_friday"></div>	
									<?php else:?>
										<?php if($icon=="timer"):?>
										<div class="icon" id="icon_timer"></div>
										<?php else:?>
											<?php if($discount > 0 ||$icon == "discount" && $discount > 0):?>
											<div class="icon" id="icon_discount">
												<span>- <?php echo round((($discount / $normal_price) * 100), 0) ?>%</span>
											</div>
											<?php endif ;?>
										<?php endif;?>
									<?php endif;?>
								<?php endif; ?>
							<?php endif;?>
						<?php endif;?>
					<?php endif;?>
				<?php endif ;?>
			<?php endif ;?>
        <?php endif; ?>
        <a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(880) ?>" class="product-image cloud-zoom" id="zoom1" rel="adjustX:10, adjustY:-2" >
            <img id="largeImage" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(440); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel());?>">
        </a>
    </div>
    
    <?php $imageNumber = count($this->getGalleryImages()); ?>
    <?php if( $imageNumber > 1 ): ?>
        <div class="more-views jcarouse">
            <div class="zoom-desc">
                <ul class="more_view_grid1 clear">
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <li class="a-left">
                        <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(880); ?>" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(440); ?>' ">
                            <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(60) ?>" class="zoom-tiny-image" alt="" z="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()); ?>" onclick="repare_zoom(this)">
                        </a>
                    </li>
                <?php endforeach; ?>
                </ul>
            </div> 
        </div>
    <?php endif; ?>

    <div class="image_nav clear">
        <input class="button a-left topopup" type="button" id="bt_rotate" value="Xoay 360" href="#toPopup"/>
        <input class="button a-left" type="button" id="bt_zoom" value="Zoom" />
        <div id="divZoom" style="display: none;"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image'); ?>" alt=""></div>
        <?php
        $login = Mage::getStoreConfig('general/video/login');
        $flag = 1;
        ?>
        <?php
        $link_video = $_product->getVideoLink();
        $video = $_product->getVideo();
        $folder = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
        ?>
        <?php if (!is_null($link_video) && is_null($video)) { ?>
            <div id="bt_video" class="button a-left">
                <a class="various iframe" href="<?php echo $link_video; ?>">Video</a>
            </div>
        <?php } elseif (!is_null($video) && is_null($link_video)) { ?>
            <div id="bt_video" class="button a-left">
                <?php if ($video = $_product->getVideo()): ?>
                    <?php if ($login): ?>
                        <?php if (!Mage::helper('customer')->isLoggedIn()): ?>
                            <a href=<?php echo $this->getUrl('customer/account/login') ?>><?php echo $this->helper('core')->__('Đăng nhập để xem clip...') ?>
                                Video</a>
                            <?php $flag = 0; endif; ?>
                    <?php endif; ?>
                    <?php if ($flag): ?>
                        <?php if (file_exists(getcwd() . '/media/Video/' . $video)): ?>
                            <a href="#" onclick="showVideo(); return false;" class="video_anchor">Video</a>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        <?php } elseif (!is_null($video) && !is_null($link_video)) { ?>
            <div id="bt_video" class="button a-left">
                <a class="various iframe" href="<?php echo $link_video; ?>">Video</a>
            </div>
        <?php } else { ?>
            <div id="bt_video1" class="button a-left">
                <span class="various_no">Video</span>
            </div>
        <?php } ?>
    </div>
<?php else: ?>
    <p class="product-image">
        <a href='<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(380) ?>' class='cloud-zoom'
           id='zoom1' rel="adjustX: 65, adjustY:-1">
            <?php
            $_img = '<img src="' . $this->helper('catalog/image')->init($_product, 'image')->resize(380) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </a>
    </p>
<?php endif; ?>

<?php
$magic360Images = Mage::registry('magic360Images');
?>
<?php if ($magic360Images != null) { ?>
    <div id="toPopup">
        <div class="close" onclick="jQuery.fancybox.close();"></div> 
        <span class="ecs_tooltip">Press Esc to close <span class="arrow" ></span></span>
        <div id="popup_content">
            <?php echo $this->getChildHtml('360'); ?>
        </div>
    </div>
<?php } else { ?>
    <script type="text/javascript">
        jQuery('.topopup').removeAttr('id');
        jQuery('.topopup').attr('id', 'bt_rotate_no');
    </script>
<?php } ?>

<script type="text/javascript">
    jQuery(".fancybox-button").fancybox({
        prevEffect: 'none',
        nextEffect: 'none',
        closeBtn: false,
        helpers: {
            title: { type: 'inside' },
            buttons: {}
        }
    });

    $i1 = 1;
    $i2 = 1;
    $i3 = 1;
    jQuery(document).ready(function ($) 
    {
        $(".jcarouse").jcarousel({  // Lấy class của ul và gọi hàm jCarouselLite() trong thư viện
            visible: 6,                    // Số bài viết cần hiện
            speed: 1000                    // Tốc độ scroll
        });

        jQuery('#mview_5').jcarousel({
            scroll: 1,
            visible: 5,
            buttonNextEvent: 'click',
            buttonPrevEvent: 'click'
        });
        
        jQuery("#bt_zoom").fancybox({ 'href' : '#divZoom', 'titleShow': false });    
        
        $("#bt_rotate").fancybox({
			'modal' : true
		});
        jQuery('#bt_rotate').click(function () {
            $('#bt_rotate').addClass('bt_rotate_active');
            $('#bt_video').removeClass('bt_video_active');
            $('.various').removeClass('various_active');
            $('#bt_video .video_anchor').removeClass('video_anchor_active');
        });
        jQuery('#bt_video').click(function () {
            $('#bt_rotate').removeClass('bt_rotate_active');
            $('#bt_video').addClass('bt_video_active');
            $('#fancybox-frame').css('height', '340px');
            $('#bt_video .various').addClass('various_active');
            $('#bt_video .video_anchor').addClass('video_anchor_active');
        });
    });
    
    function repare_zoom(obj){
        var src = jQuery(obj).attr('z');
        jQuery("#divZoom > img").attr('src', src);
    }

    function fnClick($id) {
        if ($id == 'bt_rotate') {
            $c1 = 1;
            if ($i1 % 2 == 0) {
                fnDisEnable();
                $i1++;
            } else {
                fnActive($c1, $id);
                $i1++;
            }
        }
        else if ($id == 'bt_video') {
            $c3 = 3;
            if ($i3 % 2 == 0) {
                fnDisEnable();
                $i3++;
            } else {
                fnActive($c3, $id);
                $i3++;
            }
        }
        else {
            $c2 = 2;
            if ($i2 % 2 == 0) {
                fnDisEnable();
                $i2++;
            } else {
                fnActive($c2);
                $i2++;
            }
        }
    }
    function fnActive($c, $id) {
        $i = 1;
        for ($i; $i <= 3; $i++) {
            if ($i == $c) {
                jQuery('.fn-product-' + $i).removeClass('dis-enable-thumb');
                jQuery('.fn-product-' + $i).addClass('active-thumb');
            }
            else {
                jQuery('.fn-product-' + $i).addClass('dis-enable-thumb');
                jQuery('.fn-product-' + $i).removeClass('active-thumb');
            }
        }
    }
    function fnDisEnable() {
        jQuery('.fn-product-1').addClass('dis-enable-thumb');
        jQuery('.fn-product-1').removeClass('active-thumb');
        jQuery('.fn-product-2').removeClass('dis-enable-thumb');
        jQuery('.fn-product-2').addClass('active-thumb');
        jQuery('.fn-product-3').addClass('dis-enable-thumb');
        jQuery('.fn-product-3').removeClass('active-thumb');
    }
</script>

