a:hover, a:focus{
	text-decoration:none;
}
.a-right{
    float: right;
}
.a-left, #footer_share a{
    float: left;
}
.category-item{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.category-news{
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
	color:#013678;
}
.news-item{
    padding-bottom: 20px;
}
/*.line-downup{
    margin: 0 0 20px 0;
}*/
.thumb-item{
    border: 1px solid #ececec;
    float: left;
    /*margin-right: 10px;*/
    padding: 3px;
    /*width: 160px;*/
}
.thumb-item_img{
    width: 100%;
}
.title-item{
    float: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    width: 62%;
}
.title-item h2{
	font-size:16px;
	line-height:20px;
	margin-bottom:5px;
	margin-top: 0;
}
.title-item h2 a{
	color:#002b48;
	}
.desc-item{
    width: 790px;
    margin-left: 15px;
}
.header_middle_adv{
     display: none;
 }
.breadcrumbs ul li{
    float: left;
    color: #AFAFAF;
}
.aw-blog-read-more{
    float: right;
    color: #C0C0C0;
}
.container{
    position: relative;
}
#commitment{
    border-top: 1px solid #C0C0C0;
    bottom: 0;
    margin-bottom: 0;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}
.col-main{
    padding-bottom: 100px;
}
.postDetails{
    float: right;
	margin-top:10px;
}
.postDetails .poster{
	font-size: 17.5px;
	font-weight:bold;
}
.group-page{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.back-page{
    width: 45%;
    float: left;
    text-align: right;
}
.next-page{
    width: 45%;
    float: right;
    text-align: left;
}
.page{
    position: relative;
}


.clear {
    zoom: 1;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0px;
    visibility: hidden;
}

#maincontain hr{
	margin:10px 0;
}
.postWrapper{
	width:47%;
	float:left;
	clear:none;
	margin-right:20px;
	padding-bottom:20px;
	text-align:justify;
}
.postWrapper:nth-child(2n){
	margin-right:0px;
}
.postWrapper a.seemore{
	float:right;
}

.postWrapper span{
	font-size:14px;
}
.postWrapper p{
	margin-bottom:5px;
}
.promotion .span2,
.promotion .span3{
	margin-bottom:15px;
}
@media (max-width: 767px) {
	.promotion .span2 {
    width: 35%;
	float:left;
}
.promotion .span3 {
    width: 60%;
	float:left;
	margin-left:4%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.promotion .span5 {
    width: 340px;
}
.promotion .span2 {
    width: 120px;
}
.promotion .span3 {
    width: 200px;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
	.promotion .span5 {
    width: 475px;
}
.promotion .span2 {
    width: 170px;
}
.promotion .span3 {
    width: 285px;
}
}
@media (min-width:1200px){
.promotion .span12 {
    width: 1014px;
	margin-right:30px;
}

.promotion .span5 {
    width: 492px;
}
.promotion .span2 {
    width: 170px;
}
.promotion .span3 {
    width: 292px;
}
}



.promotion .title-item{
    float: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    width: auto;
}
.promotion .title-item h2{
	font-size:16px;
	line-height:20px;
	margin-bottom:5px;
	margin-top: 0;
}
.promotion .title-item h2 a{
	color:#013678;
	}
.promotion .text-promo{
	font-size:14px;
	font-weight:normal;
	height:96px;
	text-align:left;
	overflow:hidden;
}
.promotion a.seemore{
	float:right;
	font-size:14px;
	font-weight:normal;
}
	
	