<?php
// First, let's load some Load order details 
$order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
// Get billing address information  
$billing_address_data = $order->getBillingAddress();
?>

<div class="cart-step">
	<a class="step step-active" href="<?= $this->getUrl('checkout/cart') ?>"><span class="step-number">1</span><br/><span class="step-label"><?= $this->__('Giỏ hàng') ?></span></a>
	<span class="step-line step-line-active-full"></span>
	<a class="step step-active" href="<?= $this->getUrl('onestepcheckout') ?>"><span class="step-number">2</span><br/><span class="step-label"><?= $this->__('Thanh toán') ?></span></a>
	<span class="step-line step-line-active-full"></span>
	<span class="step step-active"><span class="step-number">3</span><br/><span class="step-label"><?= $this->__('Thành công') ?></span></span>
	<div class="clearfix"></div>
</div>

<div id="onepageSucess" style="margin-bottom: 30px;">
    <div class="note"><?php echo $this->__('Đặt hàng thành công !') ?><br/>Cảm ơn anh (chị) <b><?php echo $billing_address_data['lastname']; //$order->getCustomerEmail();  ?></b> đã cho Shopping PNJ cơ hội phục vụ.</div>

    <div class="box1 rounded">
        <p><?php echo $this->__('Mã đơn hàng: ') ?><b><?php echo $this->escapeHtml($this->getOrderId()); ?></b></p>
        <p><?php echo $this->__('Hình thức thanh toán: ') ?> <b><?php echo $order->getPayment()->getMethodInstance()->getTitle(); ?></b></p>
    </div>

    <fieldset class="box2 rounded">
        <legend class="rounded"><?php echo $this->__('anh (chị) lưu ý'); ?></legend>
        <div>
            Thông tin đơn hàng của anh (chị) sẽ được gửi tới email <b><?php echo $billing_address_data['email']; //$order->getCustomerEmail();  ?></b> <br/>
            Nhân viên tư vấn sẽ gọi xác nhận ( trong vòng 24h tới ) <?php echo $this->__('Mã đơn hàng: ') ?><b><?php echo $this->escapeHtml($this->getOrderId()); ?></b> và hướng dẫn anh (chị) <a href="http://shopping.pnj.com.vn/phuong-thuc-thanh-toan" target="_blank">cách thức thanh toán</a>. <br/>
            Khi cần trợ giúp, vui lòng gọi TPHCM: <b>(08)399-59-332</b> - <b>(08)399-59-336</b>    Hà Nội: <b>(04)66.827.938</b>    Hotline: <b>0164 623 4449</b>  (8h30 - 17h30)<br/>
            Hãy để chúng tôi phục vụ anh (chị) !
        </div>
    </fieldset>
</div>