<?php 	
	$collection  = $this->_getCollection(); 
	$_currentDate = Mage::getModel('core/date')->date('d/m/Y H:i');
?>
<?php if (count($collection) > 0) : ?>
<div class="slider-wrapper pht_slide">
	<div id="loading-image" style="margin:50px 0;text-align:center;">
		<img src="<?php echo $this->getSkinUrl('images/banner/slide-loader.gif') ?>" alt="Loading..." />
	</div>
	<div id="slider" class="banner_slide" style="display:none">
	<?php foreach ($collection as $item) : ?>
		<?php	
			$_startDate = $item->getStartDate();
			$_endDate = $item->getEndDate();
			$_imageList = $item->getImageList(); 
		?>
		<?php if($item->getIsActive()==true && $_startDate <= $_currentDate):?>
			<?php if ($_endDate >= $_currentDate || $_endDate == null ):?>
				<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
					<?php foreach ($_imageList as &$_item) : ?>
						<a href="<?php echo $_item['label']; ?>" target="_blank">
							<img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
						</a>
					<?php endforeach; ?>
				<?php endif; ?>
			<?php endif; ?>
		<?php endif; ?>
	<?php endforeach; ?>
	</div>
	<script type="text/javascript">
		jQuery(window).load(function() {
			jQuery('#loading-image').hide();
			jQuery('.banner_slide').show('slow');
			jQuery('#slider').nivoSlider({
				effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
				slices: 15, // For slice animations
				boxCols: 8, // For box animations
				boxRows: 4, // For box animations
				animSpeed: 500, // Slide transition speed
				pauseTime: 5000, // How long each slide will show
				startSlide: 0, // Set starting Slide (0 index)
				//directionNav: true, // Next &amp; Prev navigation
				controlNav: true, // 1,2,3... navigation
				//controlNavThumbs: false, // Use thumbnails for Control Nav
				pauseOnHover: false, // Stop animation while hovering
				//manualAdvance: false, // Force manual transitions
				//prevText: 'Prev', // Prev directionNav text
				//nextText: 'Next', // Next directionNav text
				randomStart: true, // Start on a random slide
				//beforeChange: function(){}, // Triggers before a slide transition
				//afterChange: function(){}, // Triggers after a slide transition
				//slideshowEnd: function(){}, // Triggers after all slides have been shown
				//lastSlide: function(){}, // Triggers when last slide is shown
				//afterLoad: function(){} // Triggers when slider has loaded
			});
		}); 
	</script>
</div>
<?php endif; ?>