<?php 	
	$collection  = $this->_getCollection(); 
	$_currentDate = Mage::getModel('core/date')->date('d/m/Y H:i');
?>
<?php if (count($collection) > 0) : ?>
<div class="banner_left">
	<?php foreach ($collection as $item) : ?>
		<?php	
			$_startDate = $item->getStartDate();
			$_endDate = $item->getEndDate();
			$_imageList = $item->getImageList(); 
		?>
		<?php if($item->getIsActive()==true && $_startDate <= $_currentDate):?>
			<?php if ($_endDate >= $_currentDate || $_endDate == null ):?>
				<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
					<?php foreach ($_imageList as &$_item) : ?>
						<a href="<?php echo $_item['label']; ?>" target="_blank">
							<img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
						</a>
					<?php endforeach; ?>
				<?php endif; ?>
			<?php endif; ?>
		<?php endif; ?>
	<?php endforeach; ?>
</div>

<script type="text/javascript">
	jQuery(function() {
		jQuery('.banner_left').cycle({
			fx: 'fade'
		});
	}); 
</script>
<?php endif; ?>