<form <?php echo $this->serialize($this->getHtmlAttributes())?> >
<div style="" id="partialpaymentadmin_tabs_form_section_content">
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-edit-form fieldset-legend">Partially Paid
				Order's Information</h4>
			<div class="form-buttons"></div>
		</div>
		<div class="fieldset " id="partialpayment_form">
			<div class="hor-scroll">
				<table cellspacing="0" class="form-list">
					<tbody>
						<tr>
							<td class="label"><label for="partial_payment_id">Partial Payment
									Id</label>
							</td>
							<td class="value"><input type="hidden" value="62"
								name="partial_payment_id">62</td>
						</tr>
						<tr>
							<td class="label"><label for="order_id">Order Id</label>
							</td>
							<td class="value">100000028</td>
						</tr>
						<tr>
							<td class="label"><label for="customer_id">Customer Id</label>
							</td>
							<td class="value">1</td>
						</tr>
						<tr>
							<td class="label"><label for="customer_firstname">First Name</label>
							</td>
							<td class="value">Indies</td>
						</tr>
						<tr>
							<td class="label"><label for="customer_lastname">Last Name</label>
							</td>
							<td class="value">Tester</td>
						</tr>
						<tr>
							<td class="label"><label for="email">Email</label>
							</td>
							<td class="value">indies.tester@gmail.com</td>
						</tr>
						<tr>
							<td class="label"><label for="total_amount">Total Amount</label>
							</td>
							<td class="value"><span class="price">$755.00</span>
							</td>
						</tr>
						<tr>
							<td class="label"><label for="paid_amount">Paid Amount</label>
							</td>
							<td class="value"><span class="price">$755.00</span>
							</td>
						</tr>
						<tr>
							<td class="label"><label for="remaining_amount">Due Amount</label>
							</td>
							<td class="value"><span class="price">$0.00</span>
							</td>
						</tr>
						<tr>
							<td class="label"><label for="total_installment">Total
									Installment</label>
							</td>
							<td class="value">2</td>
						</tr>
						<tr>
							<td class="label"><label for="paid_installment">Paid Installment</label>
							</td>
							<td class="value">2</td>
						</tr>
						<tr>
							<td class="label"><label for="remaining_installment">Remaining
									Installment</label>
							</td>
							<td class="value">0</td>
						</tr>
						<tr>
							<td class="label"><label for="created_date">Created Date</label>
							</td>
							<td class="value">2014-06-30</td>
						</tr>
						<tr>
							<td class="label"><label for="updated_date">Updated Date</label>
							</td>
							<td class="value">2014-06-30</td>
						</tr>
						<tr>
							<td class="label"><label for="partial_payment_status">Partial
									Payment Status</label>
							</td>
							<td class="value"><select id="partial_payment_status"
								name="partial_payment_status" class="select">
									<option value="Pending">Pending</option>
									<option value="Processing">Processing</option>
									<option value="Complete" selected="selected">Complete</option>
									<option value="Canceled">Canceled</option>
							</select></td>
						</tr>
						<tr>
							<td class="label"><label for="partial_payment_status">Installments</label>
							</td>
							<td class="value">
								<div class="grid">
									<table>
										<tbody>
											<tr>
												<th class="a-center">Pay / Edit</th>
												<th class="a-center">Installment Amount</th>
												<th class="a-center">Due Date</th>
												<th class="a-center">Paid Date</th>
												<th class="a-center">Installment Status</th>
												<th class="a-center">Payment Method</th>
											</tr>
											<tr>
												<td class="a-center"><input type="radio"
													name="installment_id" value="158">
												</td>
												<td class="a-right"><span class="price">$443.22</span>
												</td>
												<td class="a-center nowrap"><input type="text"
													style="width: 6em" value="2014-06-30"
													name="installment[158][installment_due_date]"
													id="installment[158][installment_due_date]"
													class="input-text no-changes validate-date required-entry"><img
													style="margin-left: 5px;" class="v-middle"
													alt="Select Date"
													id="installment[158][installment_due_date][trig]"
													title="Select Date"
													src="http://indieswebs.in/demo2/skin/adminhtml/default/default/images/grid-cal.gif">
												<script type="text/javascript">Calendar.setup({inputField : "installment[158][installment_due_date]",ifFormat : "%Y-%m-%d",showsTime : false,button : "installment[158][installment_due_date][trig]",align : "Bl",singleClick : true});</script>
												</td>
												<td class="a-center">2014-06-30</td>
												<td class="a-center"><select style="width: 100%;"
													name="installment[158][installment_status]"
													class="a-center"><option value="Paid" selected="selected">Paid</option>
														<option value="Remaining">Remaining</option>
														<option value="Canceled">Canceled</option>
												</select>
												</td>
												<td class="a-center">checkmo</td>
											</tr>
											<tr class="even">
												<td class="a-center"><input type="radio"
													name="installment_id" value="159">
												</td>
												<td class="a-right"><span class="price">$311.78</span>
												</td>
												<td class="a-center nowrap"><input type="text"
													style="width: 6em" value="2014-07-30"
													name="installment[159][installment_due_date]"
													id="installment[159][installment_due_date]"
													class="input-text no-changes validate-date required-entry"><img
													style="margin-left: 5px;" class="v-middle"
													alt="Select Date"
													id="installment[159][installment_due_date][trig]"
													title="Select Date"
													src="http://indieswebs.in/demo2/skin/adminhtml/default/default/images/grid-cal.gif">
												<script type="text/javascript">Calendar.setup({inputField : "installment[159][installment_due_date]",ifFormat : "%Y-%m-%d",showsTime : false,button : "installment[159][installment_due_date][trig]",align : "Bl",singleClick : true});</script>
												</td>
												<td class="a-center">2014-06-30</td>
												<td class="a-center"><select style="width: 100%;"
													name="installment[159][installment_status]"
													class="a-center"><option value="Paid" selected="selected">Paid</option>
														<option value="Remaining">Remaining</option>
														<option value="Canceled">Canceled</option>
												</select>
												</td>
												<td class="a-center">checkmo</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						<tr>
							<td class="label"><label for="mycustom_element" style="">Payment
									Method</label>
							</td>
							<td class="value"><script type="text/javascript">
    var order = new AdminOrder();
    order.setLoadBaseUrl('');
    var payment = {};
    payment.switchMethod = order.switchPaymentMethod.bind(order);
</script>
								<div id="order-billing_method_form">
									<dl class="payment-methods">
										<dt>
											<input type="radio"
												onclick="payment.switchMethod('authorizenet')"
												title="Credit Card (Authorize.net)" name="payment[method]"
												value="authorizenet" id="p_method_authorizenet"> <label
												for="p_method_authorizenet">Credit Card (Authorize.net)</label>
										</dt>
										<dd>
											<ul style="display: none" id="payment_form_authorizenet">
												<li>
													<div class="input-box">
														<label for="authorizenet_cc_type">Credit Card Type <span
															class="required">*</span>
														</label><br> <select
															class="required-entry validate-cc-type-select"
															name="payment[cc_type]" id="authorizenet_cc_type"
															disabled="">
															<option value=""></option>
															<option value="AE">American Express</option>
															<option value="VI">Visa</option>
															<option value="MC">MasterCard</option>
															<option value="DI">Discover</option>
														</select>
													</div>
												</li>
												<li>
													<div class="input-box">
														<label for="authorizenet_cc_number">Credit Card Number <span
															class="required">*</span>
														</label><br> <input type="text" value=""
															class="input-text validate-cc-number"
															title="Credit Card Number" name="payment[cc_number]"
															id="authorizenet_cc_number" disabled="">
													</div>
												</li>
												<li>
													<div class="input-box">
														<label for="authorizenet_expiration">Expiration Date <span
															class="required">*</span>
														</label><br> <select
															class="validate-cc-exp required-entry"
															name="payment[cc_exp_month]" style="width: 140px;"
															id="authorizenet_expiration" disabled="">
															<option selected="selected" value="0">Month</option>
															<option value="1">01 - January</option>
															<option value="2">02 - February</option>
															<option value="3">03 - March</option>
															<option value="4">04 - April</option>
															<option value="5">05 - May</option>
															<option value="6">06 - June</option>
															<option value="7">07 - July</option>
															<option value="8">08 - August</option>
															<option value="9">09 - September</option>
															<option value="10">10 - October</option>
															<option value="11">11 - November</option>
															<option value="12">12 - December</option>
														</select> <select class="required-entry"
															name="payment[cc_exp_year]" style="width: 103px;"
															id="authorizenet_expiration_yr" disabled="">
															<option selected="selected" value="">Year</option>
															<option value="2014">2014</option>
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2018</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
															<option value="2023">2023</option>
															<option value="2024">2024</option>
														</select>
													</div>
												</li>

											</ul>
										</dd>
										<dt>
											<input type="radio" checked="checked"
												onclick="payment.switchMethod('checkmo')"
												title="Check / Money order" name="payment[method]"
												value="checkmo" id="p_method_checkmo"> <label
												for="p_method_checkmo">Check / Money order</label>
										</dt>
										<dd>
											<ul style="" id="payment_form_checkmo">
												<li>
													<div class="input-box"></div>
												</li>
											</ul>
										</dd>
										<dt>
											<input type="radio" class="validate-one-required-by-name"
												onclick="payment.switchMethod('ccsave')"
												title="Credit Card (saved)" name="payment[method]"
												value="ccsave" id="p_method_ccsave"> <label
												for="p_method_ccsave">Credit Card (saved)</label>
										</dt>
										<dd>
											<ul style="display: none" id="payment_form_ccsave">
												<li>
													<div class="input-box">
														<label for="ccsave_cc_owner">Name on Card <span
															class="required">*</span>
														</label><br> <input type="text" value=""
															name="payment[cc_owner]" id="ccsave_cc_owner"
															class="required-entry input-text" title="Name on Card"
															disabled="">
													</div>
												</li>
												<li>
													<div class="input-box">
														<label for="ccsave_cc_type">Credit Card Type <span
															class="required">*</span>
														</label><br> <select
															class="required-entry validate-cc-type-select"
															name="payment[cc_type]" id="ccsave_cc_type" disabled="">
															<option value=""></option>
															<option value="AE">American Express</option>
															<option value="VI">Visa</option>
															<option value="MC">MasterCard</option>
															<option value="DI">Discover</option>
														</select>
													</div>
												</li>
												<li>
													<div class="input-box">
														<label for="ccsave_cc_number">Credit Card Number <span
															class="required">*</span>
														</label><br> <input type="text" value=""
															class="input-text validate-cc-number"
															title="Credit Card Number" name="payment[cc_number]"
															id="ccsave_cc_number" disabled="">
													</div>
												</li>
												<li>
													<div class="input-box">
														<label for="ccsave_expiration">Expiration Date <span
															class="required">*</span>
														</label><br> <select
															class="validate-cc-exp required-entry"
															name="payment[cc_exp_month]" style="width: 140px;"
															id="ccsave_expiration" disabled="">
															<option selected="selected" value="0">Month</option>
															<option value="1">01 - January</option>
															<option value="2">02 - February</option>
															<option value="3">03 - March</option>
															<option value="4">04 - April</option>
															<option value="5">05 - May</option>
															<option value="6">06 - June</option>
															<option value="7">07 - July</option>
															<option value="8">08 - August</option>
															<option value="9">09 - September</option>
															<option value="10">10 - October</option>
															<option value="11">11 - November</option>
															<option value="12">12 - December</option>
														</select> <select class="required-entry"
															name="payment[cc_exp_year]" style="width: 103px;"
															id="ccsave_expiration_yr" disabled="">
															<option selected="selected" value="">Year</option>
															<option value="2014">2014</option>
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2018</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
															<option value="2023">2023</option>
															<option value="2024">2024</option>
														</select>
													</div>
												</li>
											</ul>
										</dd>
									</dl>
								</div> <script type="text/javascript">order.setPaymentMethod('checkmo')</script>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
