<?php
    $_categories = Mage::getModel('catalog/category')->load($dhangId);
    $cats = $_categories->getChildren();                             
    $catIds = explode(',',$cats);
?>
<div class="block sidebar_left block_dhang block_define">
    <div class="block-title">
        <span><?php echo $this->__($_categories->getName()) ?></span>
    </div>
    <div class="block_cats_content">
        <ul class="define_nav_menu">
            <?php foreach($catIds as $catId): ?>
                <?php 
                    $catlvl1 = Mage::getModel('catalog/category')->load($catId);
                    $subCatslvl1 = $catlvl1->getChildren();
                    $subCatlvl1Ids = explode(',',$subCatslvl1);
                ?>
                <?php if($catlvl1->getIsActive()):?>
                    <li class="level0<?php if($subCatslvl1):?> parrent<?php endif ;?>" >
                        <?php if($subCatslvl1):?>
                            <span class="arrow-right" onclick="Dbiz.expandMenu(this.parentNode)"></span>
                        <?php endif;?>
                        <a href="<?php echo $catlvl1->getUrl()?>"><span><?php echo $catlvl1->getName();?></span></a>
                        <?php if(count($subCatlvl1Ids) > 0):?>
                            <ul class="level0">
                                <?php foreach($subCatlvl1Ids as $subCatlvl2) :?>
                                    <?php  $catlvl2 = Mage::getModel('catalog/category')->load($subCatlvl2);?>
                                    <?php if($catlvl2->getIsActive()):?>
                                        <li class="level1">
                                            <a href="<?php echo $catlvl2->getUrl() ?>"><span><?php echo $catlvl2->getName();?></span></a>
                                        </li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </li>
                <?php endif;?>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript" language="javascript">
            //<![CDATA[
            Dbiz = {
                expandMenu: function(parent) 
                {
                    var mode = parent.getElementsByTagName("ul")[0].getAttribute("expanded");
                    (mode == 1) ? Dbiz.collapse(parent) : Dbiz.expand(parent);
                },

                expand: function(parent)
                {
                    parent.getElementsByTagName("ul")[0].style.display = "block";
                    parent.getElementsByTagName("span")[0].style.backgroundPosition = "right center";
                    parent.getElementsByTagName("ul")[0].setAttribute("expanded", "1");
                },

                collapse: function(parent)
                {
                    parent.getElementsByTagName("ul")[0].style.display = "none";
                    parent.getElementsByTagName("span")[0].style.backgroundPosition = "left center";
                    parent.getElementsByTagName("ul")[0].setAttribute("expanded", "0");
                }
            };

        </script>
    </div>
</div>