<div style="display:none">
<div id="box-invoice" style="padding: 20px;">
    <table align="center">
        <tr>
            <td>&nbsp;</td>
            <td style="padding-left: 35px; padding-bottom: 20px;"><h2>Vui lòng nhập thông tin xuất hóa đơn</h2></td>
        </tr>
        <tr>
            <td valign="top" style="width: 110px;"><label for="company_address_temp"><b>Tên công ty <em>*</em></b></label></td>
            <td><input style="width: 350px;" id="company_name_temp" type="text" name="company_name_temp" value=""></td>
        </tr>
        <tr>
            <td valign="top"><label for="company_address_temp"><b>Địa chỉ công ty <em>*</em></b></label></td>
            <td><input style="width: 350px;" id="company_address_temp" type="text" name="company_address_temp" value=""></td>
        </tr>
        <tr>
            <td valign="top"><label for="company_taxvat_temp"><b>Mã số thuế <em>*</em></b></label></td>
            <td><input style="width: 350px;" id="company_taxvat_temp" type="text" name="company_vat_temp" value=""></td>
        </tr>
        <tr>
            <td valign="top" colspan="2" align="center">
                <button onclick="vatComfirm();" style="border: 1px solid #D4D4D4; border-radius: 3px; height: 30px; margin: 0 2px;" class="button" type="button" id="vat_confirm">&nbsp;&nbsp;ĐỒNG Ý&nbsp;&nbsp;</button>
            </td>
        </tr>
    </table> 
    
    <script type="text/javascript">
        
        function vatComfirm()
        {
            var flag = true;

            if( !jQuery('#company_name_temp').val() || /^\s*$/.test(jQuery('#company_name_temp').val()) ){ // Check cname not empty
                jQuery('#company_name_temp').css('border', '1px solid #B94A48');
                flag = false;
            }else{
                jQuery('#company_name_temp').css('border', '1px solid #CCCCCC');
            }

            if( !jQuery('#company_address_temp').val() || /^\s*$/.test(jQuery('#company_address_temp').val()) ){ // Check cname not empty
                jQuery('#company_address_temp').css('border', '1px solid #B94A48');
                flag = false;
            }else{
                jQuery('#company_address_temp').css('border', '1px solid #B94A48');
            }

            if( !jQuery('#company_taxvat_temp').val() || /^\s*$/.test(jQuery('#company_taxvat_temp').val()) ){ // Check cname not empty
                jQuery('#company_taxvat_temp').css('border', '1px solid #B94A48');
                flag = false;
            }else{
                jQuery('#company_vat_temp').css('border', '1px solid #B94A48');
            }

            if( flag == true ){
                jQuery('#company_name').val(jQuery('#company_name_temp').val());
                jQuery('#company_address').val(jQuery('#company_address_temp').val());
                jQuery('#company_taxvat').val(jQuery('#company_taxvat_temp').val());
                
                gFlag = 1;
                jQuery.fancybox.close();
            }
        }
    </script>
</div>
</div>