#easyimportexport_steps{
	text-align:center;
}
input.easyimportexport_step{
	border-width:0px !important;
	padding:0 7px 1px 7px;
	color:#fff;
	font:bold 12px arial, helvetica, sans-serif;
	cursor:pointer;
	text-align:center !important;
	white-space:nowrap;
	width:228px;
	height:32px;
	margin-bottom:20px;
	margin-right:17px;
}
input.easyimportexport_step.last{
	margin-right:0px;
}
input.easyimportexport_step.current{
	background:url(images/orange-arrow-step.png) !important;
}
input.easyimportexport_step.done{
	background:url(images/orange-arrow-step.png) !important;
}
input.easyimportexport_step.future{
	background:url(images/grey-arrow-step.png) !important;
}
input.easyimportexport_step.current:hover{
	background:url(images/orange-arrow-step-hover.png) !important;
}
input.easyimportexport_step.done:hover{
	background:url(images/orange-arrow-step-hover.png) !important;
}
input.easyimportexport_step.future:hover{
	cursor:auto !important;
}
#easyimportexport_errors{
	border: 1px solid red;
	padding:5px;
	margin-top:5px;
}
.main-div{
	border: 1px outset grey;
	padding:5px;
	margin-top:5px;
}
table {
	border-collapse: collapse;
}
td, th{
	padding:2px;
	border:1px solid black;
}
#easyimportexport_actions td, #easyimportexport_actions th{
	border-right:none;
}
td + td, th + th {
	border-right:1px solid black !important;
	border-left:none;
}
td label{
	display:block;
}
table tr.odd, table tr.odd td{
	background:lightgray;
}
table tr.even, table tr.even td{
	background:white;
}
#progressbarvalue{
	float:left;
	width:100%;
	text-align:center;
	margin-top:3px;
}
textarea{
	width:95%;
}
input[type=submit]:hover{background : #F77C16 url(images/btn_over_bg.gif) repeat-x 0 0;}
input[type=submit]:active{background : #F77C16 url(images/btn_on_bg.gif) repeat-x 0 0;}
input[type=submit]{border-width:1px; border-style:solid; border-color:#ed6502 #a04300 #a04300 #ed6502; padding:0 7px 1px 7px; background:#ffac47 url(images/btn_bg.gif) repeat-x 0 100%; color:#fff; font:bold 12px arial, helvetica, sans-serif; cursor:pointer; text-align:center !important; white-space:nowrap;}
input[type=text],textarea,select { border-width:1px; border-style:solid; border-color:#aaa #c8c8c8 #c8c8c8 #aaa; background:#fff; font:12px arial, helvetica, sans-serif; }
input[type=text],textarea { padding:2px; }
p.error{
	border:2px solid red;
	color:red;
	padding:2px;
	font-weight:bold;
}
p.success{
	border:2px solid green;
	color:green;
	padding:2px;
	font-weight:bold;
}
p.warning{
	border:2px solid #FF7B00;
	color:#FF7B00;
	padding:2px;
	font-weight:bold;
}
p.quickfix{
	border:1px solid black;
	color:black;
	padding:2px;
}
#easyimportexport_validation_result p{
	background-color:#F7F7F7;
}
.quickfix a{
	color:black;
}
#progressBar{
	margin-bottom:10px;
}
#additional_actions{
	margin-top:5px;
	margin-bottom:5px;
}
#summary_table td, #summary_table pre {
	max-height:220px;
	overflow:auto;
	min-width:125px;
}
.quickfix span{
	display:none;
}
.info-tip {
    border: 1px outset grey;
    padding: 5px;
    background-color: #FFFFB5;
}
#anchor-content li{
	list-style:disc inside none;
}