<strong><?php echo $this->__('How do I invite a friend?') ?></strong><br>
<?php echo $this->__('There are three ways to invite people.') ?><br>
<ul style="list-style: decimal;margin-left:20px;margin-bottom:50px">
	<li><?php echo $this->__('Facebook or twitter.')?></li>
	<li><?php echo $this->__('Cutting and pasting your own unique personal link.')?></li>
	<li><?php echo $this->__('By email.')?></li>
</ul>