<?php
/**
 * ajaxcart template
 */
?>

<?php $freeItemIds = $this->getFreeItemIds();?>
<?php //$_templateFolder = Mage::helper('ajaxcart')->getTemplateFolder() ?>
<?php //if ($_templateFolder && file_exists(dirname(__FILE__)."/$_templateFolder/ajaxcartpage.phtml")): ?>
    <?php //include "$_templateFolder/ajaxcartpage.phtml" ?>
<?php //else: ?>


    <?php $_helper = Mage::helper('promotionalgift') ?>
    <div class="ajaxcart">
        <div id="ajaxcart-load-ajax" style="display:none;">
            <div class="ajaxcart-overlay">&nbsp;</div>
            <div class="ajaxcart-loading">
                <img alt="<?php echo $this->__('Loading') ?>..." src="<?php echo $this->getUrlImage(); ?>" />
                <span><?php echo $this->__('Loading') ?>...</span>
            </div>
        </div>
        <div class="ajaxcart-animation-mask" style="display: none;"></div>
        <div id="ajaxcart-animation" style="display: none;"></div>
        <div id="ajaxcart-pop-up" style="display: none;">
            <div class="ajaxcart-popup-overlay" onclick="closeAjaxPopup();">&nbsp;</div>
            <div>
                <div id="ajaxcart-content" class="ajaxcart-content"></div>
            </div>
        </div>
        <?php if ($this->getIsShowConfirmation()): ?>
            <div id="ajaxcart-continue-shopping" style="display: none;">
                <div class="ajaxcart-continue">
                    <ul class="messages ajaxcart-messages"></ul>
                    <div id="ajaxcart-related"></div>
                    <div class="ajaxcart-footer">
                        <div class="ajaxcart-checkout">
                            <button type="button" class="button" title="<?php echo $this->__('Checkout') ?>" onclick="ajaxcartProcessCheckout();">
                                <span>
                                    <span><?php echo $this->__('Checkout') ?></span>
                                </span>
                            </button>
                        </div>
                        <div class="ajaxcart-cancel">
                            <button type="button" class="ajaxcart-btn-continue" title="<?php echo $this->__('Continue shopping') ?>" onclick="closeAjaxPopup();">
                                <span class="span">
                                    <span><?php echo $this->__('Continue shopping') ?>
                                    <?php if ($this->getTimeOut()): ?>
                                        (<em id="ajaxcart-coundown"><?php echo $this->getTimeOut() ?></em>)
                                    <?php endif ?>
									</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif ?>
        <?php if ($this->getIsShowConfirmation()): ?>
            <div id="ajaxcart-continue-shopping-wishlist" style="display: none;">
                <div class="ajaxcart-continue">
                    <ul class="messages-wishlist ajaxcart-messages"></ul>
                    <div id="ajaxcart-related-wishlist"></div>
                    <div class="ajaxcart-footer">
                        <div class="ajaxcart-checkout">
                            <button type="button" class="button" title="<?php echo $this->__('Go to Wishlist') ?>" onclick="ajaxcartProcessWishlist();">
                                <span>
                                    <span><?php echo $this->__('Go to Wishlist') ?></span>
                                </span>
                            </button>
                        </div>
                        <div class="ajaxcart-cancel">
                            <button type="button" class="ajaxcart-btn-continue" title="<?php echo $this->__('Continue shopping') ?>" onclick="closeAjaxPopup();">
                                <span class="span">
                                    <span><?php echo $this->__('Continue shopping') ?>
                                    <?php if ($this->getTimeOut()): ?>
                                        (<em id="ajaxcart-coundown"><?php echo $this->getTimeOut() ?></em>)
                                    <?php endif ?>
									</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif ?>
        <?php if ($this->getIsShowConfirmation()): ?>
            <div id="ajaxcart-continue-shopping-compare" style="display: none;">
                <div class="ajaxcart-continue">
                    <ul class="messages-compare ajaxcart-messages"></ul>
                    <div id="ajaxcart-related-compare"></div>
                    <div class="ajaxcart-footer">
                        <div class="ajaxcart-checkout">
                            <button type="button" class="button" title="<?php echo $this->__('Compare') ?>" onclick="ajaxcartProcessCompare();">
                                <span>
                                    <span><?php echo $this->__('Compare') ?></span>
                                </span>
                            </button>
                        </div>
                        <div class="ajaxcart-cancel">
                            <button type="button" class="ajaxcart-btn-continue" title="<?php echo $this->__('Continue shopping') ?>" onclick="closeAjaxPopup();">
                                <span class="span">
                                    <span><?php echo $this->__('Continue shopping') ?>
                                    <?php if ($this->getTimeOut()): ?>
                                        (<em id="ajaxcart-coundown"><?php echo $this->getTimeOut() ?></em>)
                                    <?php endif ?>
									</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif ?>
        <script type="text/javascript">
            // Process Checkout by click to Button
            function ajaxcartProcessCheckout() {
    <?php if ($this->getTimeOut()): ?>clearInterval(ajaxcartCountInterval);<?php endif ?>
                window.location.href = '<?php echo $this->getUrl('checkout/onepage/index') ?>';
            }

            // Process Compare by click to Buttion
            function ajaxcartProcessCompare() {
    <?php if ($this->getTimeOut()): ?>clearInterval(ajaxcartCountInterval);<?php endif ?>
        popWin('<?php echo Mage::getUrl('catalog/product_compare') ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes');
        closeAjaxPopup();
            }
            
            function ajaxcartProcessWishlist(){
    <?php if ($this->getTimeOut()): ?>clearInterval(ajaxcartCountInterval);<?php endif ?>
                window.location.href = '<?php echo $this->getUrl('wishlist/index/index') ?>';
            }

            // Check timeout and close Ajax Popup
    <?php if ($this->getTimeOut()): ?>
            var ajaxcartTimes = <?php echo $this->getTimeOut() ?>;
            var ajaxcartCount = 0;
            var ajaxcartCountInterval = 0;
    <?php endif ?>
        
        function closeAjaxPopup(){
    <?php if ($this->getTimeOut()): ?>
                clearInterval(ajaxcartCountInterval);
                $('ajaxcart-content').style.removeProperty ? $('ajaxcart-content').style.removeProperty('top') : $('ajaxcart-content').style.removeAttribute('top');
    <?php endif ?>
            $('ajaxcart-pop-up').hide();
            $('ajaxcart-content').innerHTML = '';
            ajaxcart.cancelRequest();
            if (typeof productAddToCartFormBak != "undefined") {
                productAddToCartForm = productAddToCartFormBak;
            }
        }
        
        // hide wishlist by timeout 
        function ajaxCartHideWishlistbyTimout(response){
            if (response && response.relatedhtml) {
    <?php if ($this->getIsShowConfirmation()): ?>$('ajaxcart-related-wishlist').innerHTML = response.relatedhtml;<?php endif; ?>
                    }
    <?php if (!$this->getIsShowConfirmation()): ?>
                closeAjaxPopup();
    <?php elseif ($this->getTimeOut()): ?>
                $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-wishlist').innerHTML;
                $('ajaxcart-pop-up').show();
                ajaxcart.updatePopupBox($('ajaxcart-content'));
                ajaxcartCount = ajaxcartTimes-1;
                ajaxcartCountInterval = setInterval(function(){
                    if (ajaxcartCount) {
                        $('ajaxcart-coundown').innerHTML = ajaxcartCount;
                        ajaxcartCount--;
                    } else {
                        closeAjaxPopup();
                    }
                },1000);    
    <?php else: ?>
                $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-wishlist').innerHTML;
                $('ajaxcart-pop-up').show();
    <?php endif ?>
        }
            
        // end ajaxCartHideWishlistbyTimout
        function ajaxCartHideComparebyTimout(response){
            if (response && response.relatedhtml) {
    <?php if ($this->getIsShowConfirmation()): ?>$('ajaxcart-related-compare').innerHTML = response.relatedhtml;<?php endif; ?>
                    }
    <?php if (!$this->getIsShowConfirmation()): ?>
                closeAjaxPopup();
    <?php elseif ($this->getTimeOut()): ?>
                $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-compare').innerHTML;
                $('ajaxcart-pop-up').show();
                ajaxcart.updatePopupBox($('ajaxcart-content'));
                ajaxcartCount = ajaxcartTimes-1;
                ajaxcartCountInterval = setInterval(function(){
                    if (ajaxcartCount) {
                        $('ajaxcart-coundown').innerHTML = ajaxcartCount;
                        ajaxcartCount--;
                    } else {
                        closeAjaxPopup();
                    }
                },1000);
    <?php else: ?>
                $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-compare').innerHTML;
                $('ajaxcart-pop-up').show();
    <?php endif ?>
        }

        var miniCart = false;
        Event.observe(window,'load',function(){
            ajaxcart = new Ajaxfreecartpage('ajaxcart-load-ajax','ajaxcart-pop-up','ajaxcart-content','div[class="cart"]',$$('.header ul.links').first(), <?php echo $this->getIsPreloadAjax() ? 'true' : 'false' ?>);
            comparePage = new AjaxfreecartComparePage ('ajaxcart-load-ajax','ajaxcart-pop-up','ajaxcart-content','ul[class="messages-compare<?php
    if ($this->getIsShowConfirmation())
        echo ' ajaxcart-messages'
        ?>"]','',$$('.header ul.links').first(),'compare', <?php echo $this->getIsPreloadAjax() ? 'true' : 'false' ?>);
                
                wishlistPage = new AjaxfreecartComparePage('ajaxcart-load-ajax','ajaxcart-pop-up','ajaxcart-content','ul[class="messages-wishlist<?php
    if ($this->getIsShowConfirmation())
        echo ' ajaxcart-messages'
        ?>"]','',$$('.header ul.links').first(),'wishlist', <?php echo $this->getIsPreloadAjax() ? 'true' : 'false' ?>);
                
                miniCart = $$('div[class="block block-cart"]');
                var overlayHeight = $$('body').first().getHeight() + 'px';
                $$('div.ajaxcart-overlay').first().style.height = overlayHeight;
                $$('div.ajaxcart-popup-overlay').first().style.height = overlayHeight;
    <?php // if (!$this->getIsShowConfirmation()): ?>
                if (!$$('ul[class="messages"]').first()){
                    var pageTitle = $$('.col-main').first().down('.page-title');
                    if (pageTitle){
                        var messageTag = document.createElement('ul');
                        messageTag.className = 'messages';
                        var pageTitleParent = pageTitle.parentNode;
                        pageTitleParent.insertBefore(messageTag,pageTitle.next());
                    }
                }
    <?php // endif ?>
            this.updateJscartEventEdit();
            ajaxcart.updateJscartEvent();
           
            /* if (typeof discountForm != 'undefined')
                discountForm.submit = function(isRemove){
                    if (isRemove) {
                        $('coupon_code').removeClassName('required-entry');
                        $('remove-coupone').value = "1";
                        $('ajaxcart-pop-up').show();
                        var content = $('ajaxcart-content');
                        content.innerHTML = '';
                        var pContent = document.createElement('div');
                        pContent.className = 'ajaxcart-preload';
                        content.appendChild(pContent);
                        pContent = content.down('.ajaxcart-preload');
                        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                        var spanEl = pContent.down('.ajaxcart-loading').down('span');
                        if (isIE) spanEl.innerText = '<?php echo $this->__('Cancelling Coupon Code') ?>' + '...';
                        else spanEl.innerHTML = '<?php echo $this->__('Cancelling Coupon Code') ?>' + '...';
                        ajaxcart.updatePopupBox(content);
                        ajaxcart.addToCartHandle(this.form.action,this.form.serialize());
                    } else {
                        $('coupon_code').addClassName('required-entry');
                        $('remove-coupone').value = "0";
                                                   
                    }
                if (this.validator.validate())
                {
                    if (!isRemove){
                        $('ajaxcart-pop-up').show();
                        var content = $('ajaxcart-content');
                        content.innerHTML = '';
                        var pContent = document.createElement('div');
                        pContent.className = 'ajaxcart-preload';
                        content.appendChild(pContent);
                        pContent = content.down('.ajaxcart-preload');
                        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                        var spanEl = pContent.down('.ajaxcart-loading').down('span');
                        if (isIE) spanEl.innerText = '<?php echo $this->__('Applying Coupon Code') ?>' + '...';
                        else spanEl.innerHTML = '<?php echo $this->__('Applying Coupon Code') ?>' + '...';
                        ajaxcart.updatePopupBox(content);
                        ajaxcart.addToCartHandle(this.form.action,this.form.serialize());
                    }
                }
                return false;
            }; */
            if (typeof coShippingMethodForm != 'undefined')
                coShippingMethodForm.submit = function(){
                    var country = $F('country');
                    var optionalZip = false;
                    for (i=0; i < countriesWithOptionalZip.length; i++)
                        if (countriesWithOptionalZip[i] == country)
                            optionalZip = true;
                    if (optionalZip){
                        $('postcode').removeClassName('required-entry');
                    }
                else{
                                                        
                    $('postcode').addClassName('required-entry');      
                }
                if (this.validator.validate()){
                    $('ajaxcart-pop-up').show();
                    var content = $('ajaxcart-content');
                    content.innerHTML = '';
                                                        
                    var pContent = document.createElement('div');
                    pContent.className = 'ajaxcart-preload';
                    content.appendChild(pContent);
                    pContent = content.down('.ajaxcart-preload');
                    pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                    var spanEl = pContent.down('.ajaxcart-loading').down('span');
                    if (isIE) spanEl.innerText = '<?php echo $this->__('Getting a Quote') ?>' + '...';
                    else spanEl.innerHTML = '<?php echo $this->__('Getting a Quote') ?>' + '...';
                    ajaxcart.updatePopupBox(content);
                                     
                }
                ajaxcart.addToCartHandle(this.form.action,this.form.serialize());
                                                
                return false;
            };
            $$('button').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
            $$('a.link-wishlist').each(function(el){el.observe('mousedown',function(event){ajaxcartEvent=event.element();})});
            $$('a.link-compare').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
        });
        // Event to change anchor element action (href)
        function updateJscartEventEdit(){
            $$('a[class="link-compare"]').each(function(el){
                if (el.href.search('catalog/product_compare/add') != -1)
                //el.href = "javascript:compare.addToCompareHandle('"+el.href+"','')";
                    el.onclick = ajaxcartUpdateCompareMini;
            });
          
            $$('a[class="link-wishlist"]').each(function(el){
                if(el.href.search('wishlist/index/add') != -1)
                    el.onclick = ajaxcartUpdateWishlistMini;
            });
        }
        var ajaxcart = null;
        var ajaxcartEvent = null;
        var comparePage = null;
        var wishlistPage = null;
        function setLocation(url){
            if (!ajaxcartEvent) {
                window.location.href = url;
                return false;
            }
            if (url.search('options=cart') != -1) {
                // Process load option
                var proElement = $(ajaxcartEvent).up('li');
                $('ajaxcart-pop-up').show();
                var content = $('ajaxcart-content');
                var pContent = document.createElement('div');
                pContent.className = 'ajaxcart-preload';

                var productImage = proElement.down('.product-image');
                if (productImage) {
                    pContent.appendChild(Element.clone(productImage, 1));
                }

                var productInfo = document.createElement('div');
                productInfo.className = 'product-info';
                pContent.appendChild(productInfo);
                var productName = proElement.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));

                pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));

                content.innerHTML = '';
                content.appendChild(pContent);
                if (productImage) {
                    pContent = content.down('.ajaxcart-preload');
                    productImage = pContent.down('img');
                    productImage.width = 128;
                    productImage.height = 128;
                }
                ajaxcart.updatePopupBox(content);
                ajaxcart.addToCartHandle(url,'');
            } 
			/* else if (url.search('/checkout/cart/add/') != -1) {
                // Run animation
                var proElement = $(ajaxcartEvent).up('li');
                function showAjaxcartPopup() {
                    var proElement = $(ajaxcartEvent).up('li');
                    $('ajaxcart-pop-up').show();
                    var content = $('ajaxcart-content');
                    var pContent = document.createElement('div');
                    pContent.className = 'ajaxcart-preload';
                    pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                    var productName = proElement ? proElement.down('.product-name') : false;
                    var aName = false;
                    if (productName) {
                        aName = productName.down('a');
                    }
                    content.innerHTML = '';
                    content.appendChild(pContent);
                    if (aName) {
                        pContent = content.down('.ajaxcart-preload');
                        var spanEl = pContent.down('.ajaxcart-loading').down('span');
                        if (isIE) spanEl.innerText = '<?php echo $this->__('Adding') ?> ' + aName.innerHTML + ' <?php echo $this->__('to cart') ?>...';
                        else spanEl.innerHTML = '<?php echo $this->__('Adding') ?> ' + aName.innerHTML + ' <?php echo $this->__('to cart') ?>...';
                    }
                    ajaxcart.updatePopupBox(content);
                    if (ajaxcart.responseCache) ajaxcart.addToCartFinish(ajaxcart.responseCache);
                }
                // Process add to cart
                showAjaxcartPopup();
                ajaxcart.addToCartHandle(url,'');
            }  */
			else {
                    
                window.location.href = url;
            }
        }

        function ajaxcartUpdateCartHtml(pageDest,aCache){
            var shoppingCartTable = pageDest.down('.cart-table');
            if (shoppingCartTable){
                var cartTableHtml = '';
                if (aCache.down('#shopping-cart-table'))
                    cartTableHtml = aCache.down('#shopping-cart-table').parentNode.innerHTML;
                $(shoppingCartTable.parentNode).update(cartTableHtml);
            }
                    	
            var crossSell = pageDest.down('.crosssell');
            if (crossSell){
                var crossSellHtml = '';
                if (aCache.down('.crosssell'))
                    crossSellHtml = aCache.down('.crosssell').parentNode.innerHTML;
                $(crossSell.parentNode).update(crossSellHtml);
            }
                    	
            if (pageDest.down('.discount-form') && aCache.down('.discount-form'))
                pageDest.down('.discount-form').update(aCache.down('.discount-form').innerHTML);
                    	
            var cacheShippingForm = aCache.down('#co-shipping-method-form');
            if (cacheShippingForm){
                if (pageDest.down('#co-shipping-method-form'))
                    pageDest.down('#co-shipping-method-form').update(cacheShippingForm.innerHTML);
                else if (pageDest.down('.shipping-form'))
                    pageDest.down('.shipping-form').appendChild(cacheShippingForm);
            }
                    	
            if (pageDest.down('.totals') && aCache.down('.totals'))
                pageDest.down('.totals').update(aCache.down('.totals').innerHTML);
                    	
            if (miniCart && aCache.down('<?php echo $_helper->getMiniCartClass() ? $_helper->getMiniCartClass() : 'none' ?>')){
                var miniCartHtml = aCache.down('<?php echo $_helper->getMiniCartClass() ? $_helper->getMiniCartClass() : 'none' ?>').innerHTML;
                miniCart.each(function(mnc){mnc.update(miniCartHtml)});
            }
                    	
            if (pageDest.down('ul.messages') && aCache.down('ul.messages'))
                pageDest.down('ul.messages').update(aCache.down('ul.messages').innerHTML);
            $$('a.link-wishlist').each(function(el){el.observe('mousedown',function(event){ajaxcartEvent=event.element();})});
            $$('a.link-compare').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
            $$('button').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
            updateJscartEventEdit();
        }

        function ajaxUpdateFormAction(){
            $$('a').each(function(el){
                // if (el.href.search('/checkout/cart/delete/') != -1) {
                    // el.onclick = ajaxcartDeleteItem;
                // }
				
				// var freeItemIds = new Array();
				var freeItemIds = '<?php echo $freeItemIds?>';
				var itemIds = freeItemIds.split(',');
				for(var i=0; i<itemIds.length; i++){
					if (el.href.search('/checkout/cart/configure/id/'+itemIds[i]) != -1) {
						el.onclick = ajaxcartConfigItem;						
					}
				}                
            });
            /* $$('form').each(function(el){
                if (el.action.search('/checkout/cart/updatePost') != -1) {
                    var submitButton = el.down('button[type="submit"]');
                    submitButton.observe('click',ajaxUpdatePostAction);
                    // var submitClear = $('empty_cart_button');
                    // if (submitClear != null) {
                        // submitClear.observe('click',ajaxClearPostAction);
                    // }
                }
                    
                if (el.action.search('/checkout/cart/estimateUpdatePost') != -1){
                    var submitButton = el.down('button[type="submit"]');
                    submitButton.observe('click',ajaxPostFormAction);
                }
            }); */
        }

        function ajaxUpdatePostAction(event) {
            $('ajaxcart-pop-up').show();
            var proElement = this.up('tr');
            var content = $('ajaxcart-content');
            content.innerHTML = '';
            var pContent = document.createElement('div');
            pContent.className = 'ajaxcart-preload';
            content.appendChild(pContent);
            pContent = content.down('.ajaxcart-preload');
            pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
            var spanEl = pContent.down('.ajaxcart-loading').down('span');
            if (isIE) spanEl.innerText = '<?php echo $this->__('Updating Shopping Cart') ?>' + '...';
            else spanEl.innerHTML = '<?php echo $this->__('Updating Shopping Cart') ?>' + '...';
            ajaxcart.updatePopupBox(content);
            ajaxcart.addToCartHandle(this.form.action,this.form.serialize());
            event.stop();
        }
        // function ajaxClearPostAction (event){
            // $('ajaxcart-pop-up').show();
            // var proElement = this.up('tr');
            // var content = $('ajaxcart-content');
            // content.innerHTML = '';
            // var pContent = document.createElement('div');
            // pContent.className = 'ajaxcart-preload';
            // content.appendChild(pContent);
            // pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
            // var spanEl = pContent.down('.ajaxcart-loading').down('span');
            // if (isIE) spanEl.innerText = '<?php echo $this->__('Clearing Shopping Cart') ?>' + '...';
            // else spanEl.innerHTML = '<?php echo $this->__('Clearing Shopping Cart') ?>' + '...';
            // ajaxcart.updatePopupBox(content);
        // }
        function ajaxcartDeleteItem(event) {
            if (!confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>')) {
                return false;
            }
            $('ajaxcart-pop-up').show();
            var proElement = this.up('tr');
            var content = $('ajaxcart-content');
            content.innerHTML = '';
            var pContent = document.createElement('div');
            pContent.className = 'ajaxcart-preload';
            content.appendChild(pContent);
            pContent = content.down('.ajaxcart-preload');
            pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
            var productName = proElement.down('.product-name');
            if (productName) {
                var aName = productName.down('a');
                if (aName) {
                    var spanEl = pContent.down('.ajaxcart-loading').down('span');
                    if (isIE) spanEl.innerText = '<?php echo $this->__('Removing') ?> ' + aName.innerHTML + ' <?php echo $this->__('from cart') ?>...';
                    else spanEl.innerHTML = '<?php echo $this->__('Removing') ?> ' + aName.innerHTML + ' <?php echo $this->__('from cart') ?>...';
                }
            }
            ajaxcart.updatePopupBox(content);
            ajaxcart.addToCartHandle(this.href, '');
            return false;
        }
        
        function ajaxcartConfigItem(event) {
            var proElement = this.up('tr');
            $('ajaxcart-pop-up').show();
            var content = $('ajaxcart-content');
            content.innerHTML = '';
            var pContent = document.createElement('div');
			// alert(pContent);
            pContent.className = 'ajaxcart-preload';
            content.appendChild(pContent);
            pContent = content.down('.ajaxcart-preload');

            var productImage = proElement.down('.product-image');
			// alert(productImage);
            if (productImage) {
                pContent.appendChild(Element.clone(productImage, 1));
                productImage = pContent.down('img');
                productImage.width = 100;
                productImage.height = 100;
            }
            var productInfo = document.createElement('div');
            productInfo.className = 'item-product-info';
            pContent.appendChild(productInfo);
            var productName = proElement.down('.product-name');
            if (productName) productInfo.appendChild(Element.clone(productName, 1));
            var productPrice = proElement.down('.price');
            if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));

            pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));

            ajaxcart.updatePopupBox(content);
            ajaxcart.addToCartHandle(this.href, '');
            return false;
        }

        function ajaxPostFormAction(event){
            $('ajaxcart-pop-up').show();
            var proElement = this.up('tr');
            var content = $('ajaxcart-content');
            content.innerHTML = '';
            var pContent = document.createElement('div');
            pContent.className = 'ajaxcart-preload';
            content.appendChild(pContent);
            pContent = content.down('.ajaxcart-preload');
            pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
            var spanEl = pContent.down('.ajaxcart-loading').down('span');
            if (isIE) spanEl.innerText = '<?php echo $this->__('Updating total') ?>' + '...';
            else spanEl.innerHTML = '<?php echo $this->__('Updating total') ?>' + '...';
            ajaxcart.updatePopupBox(content);
            ajaxcart.addToCartHandle(this.form.action,this.form.serialize());
            event.stop();
        }
        function ajaxMoreTemplateJs(){
            if ($('ajaxcart-content').down('.ajaxcart-loading')) $('ajaxcart-content').down('.ajaxcart-loading').hide();
            if ($('ajaxcart-content').down(".paypal-logo")) $('ajaxcart-pop-up').down(".paypal-logo").hide();
            if ($('ajaxcart-content').down(".add-to-links")) $('ajaxcart-pop-up').down(".add-to-links").hide();
            $$('#ajaxcart-content button').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
        }
        ajaxcartTemplateJs = ajaxMoreTemplateJs;
 
        function ajaxcartUpdateCompareMini(event) {
            $('ajaxcart-pop-up').show();
            var content = $('ajaxcart-content');
            var pContent = document.createElement('div');
            pContent.className = 'ajaxcart-preload';
            content.appendChild(pContent);
            pContent = content.down('.ajaxcart-preload');
            try{
                var proElement = $(ajaxcartEvent).up('li').up('li');
                var productImage = proElement.down('.product-image');
                if (productImage) {
                    pContent.appendChild(Element.clone(productImage, 1));
                    productImage = pContent.down('img');
                    productImage.width = 128;
                    productImage.height = 128;
                }
            }catch(err){
                try{
                    var productImage = $('image');
                    var imageSrcArray = $('image').src.split('/');
                    for( i = 0; i < imageSrcArray.length; i++){
                        if(imageSrcArray[i] == 'image'){
                            imageSrcArray[i] = 'small_image/135x';
                        }
                    }
                    var srcImage = imageSrcArray[0]; 
                    for( i = 1; i < imageSrcArray.length; i++){
                        srcImage = srcImage+'/'+ imageSrcArray[i];
                    }
                    var imageTag = document.createElement('img');
                    imageTag.src = srcImage;
                    if (productImage) {
                        pContent.appendChild(Element.clone(imageTag, 1));
                        productImage = pContent.down('img');
                        productImage.width = 128;
                        productImage.height = 128;
                    }
                }catch(e){}
            }

            var productInfo = document.createElement('div');
            productInfo.className = 'product-info';
            pContent.appendChild(productInfo);
            try{
                var productName = proElement.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
            }catch(err){
                var proElement2 = $(ajaxcartEvent).up('li').up('ul').up('div').up('div');
                var productName = proElement2.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement2.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement2.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
            }
            pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
            var spanEl = pContent.down('.ajaxcart-loading').down('span');
            if (isIE) spanEl.innerText = '<?php echo $this->__('Addding to compare') ?>...';
            else spanEl.innerHTML = '<?php echo $this->__('Adding to compare') ?>...';
            comparePage.updatePopupBox(content);
            comparePage.addToCompareHandle(this.href, '');
            return false;
        }
        function ajaxcartUpdateWishlistMini(){
            $('ajaxcart-pop-up').show();
            var content = $('ajaxcart-content');
            var pContent = document.createElement('div');
            pContent.className = 'ajaxcart-preload';
            content.appendChild(pContent);
            pContent = content.down('.ajaxcart-preload');
            try{
                var proElement = $(ajaxcartEvent).up('li').up('li');
                var productImage = proElement.down('.product-image');
                if (productImage) {
                    pContent.appendChild(Element.clone(productImage, 1));
                    productImage = pContent.down('img');
                    productImage.width = 128;
                    productImage.height = 128;
                }
            }catch(err){
                try{
                    var productImage = $('image');
                    var imageSrcArray = $('image').src.split('/');
                    for( i = 0; i < imageSrcArray.length; i++){
                        if(imageSrcArray[i] == 'image'){
                            imageSrcArray[i] = 'small_image/135x';
                        }
                    }
                    var srcImage = imageSrcArray[0]; 
                    for( i = 1; i < imageSrcArray.length; i++){
                        srcImage = srcImage+'/'+ imageSrcArray[i];
                    }
                    var imageTag = document.createElement('img');
                    imageTag.src = srcImage;
                    if (productImage) {
                        pContent.appendChild(Element.clone(imageTag, 1));
                        productImage = pContent.down('img');
                        productImage.width = 128;
                        productImage.height = 128;
                    }
                }catch(e){}
            }

            var productInfo = document.createElement('div');
            productInfo.className = 'product-info';
            pContent.appendChild(productInfo);
            try{
                var productName = proElement.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
            }catch(err){
                var proElement2 = $(ajaxcartEvent).up('li').up('ul').up('div').up('div');
                var productName = proElement2.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement2.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement2.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
            }
            pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
            var spanEl = pContent.down('.ajaxcart-loading').down('span');
            if (isIE) spanEl.innerText = '<?php echo $this->__('Addding to wishlist') ?>...';
            else spanEl.innerHTML = '<?php echo $this->__('Adding to wishlist') ?>...';
            wishlistPage.updatePopupBox(content);
            wishlistPage.addToCompareHandle(this.href, '');
            return false;
        }

        </script>

    </div>


<?php //endif ?>
