<?php if (Mage::helper('promotionalgift')->enablePromotionalgift()
	&& Mage::getStoreConfig('promotionalgift/general/showfreegiftoncat',Mage::app()->getStore()->getId())): ?>
	<style>
		.gift-icon {
			left: 185px;
			position: absolute;
			top: 5px;
		}
		.tootip-head h3{
			text-align:left;
		}
		.tootip-head div{
			text-align:left;
		}
		.tootip-product-list{
			float:left;
		}
	</style>
	<?php
		$_ruleProduct = Mage::getModel('promotionalgift/catalogrule');
		$freegiftBlock = Mage::getBlockSingleton('promotionalgift/promotionalgift');
		$icon_image = Mage::helper('promotionalgift')->getPromotionalIcon();
		$iconUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'promotionalgift/giftlabel/' . $icon_image;

		$layer = Mage::registry('current_layer');
		if (!$layer) {
			$layer = Mage::getSingleton('catalog/layer');
		}
		$_productCollection = $layer->getProductCollection();		
	?>
	<!--tooltip-->
	<?php foreach ($_productCollection as $_product): ?>	
		<?php if($_ruleProduct->validateItem($_product->getId())):?>
		<script type="text/javascript">
			$$('.category-products a.product-image').each(function (el){
				if(el.href){
					<?php $productUrl = $_product->getProductUrl(); ?>
					<?php $productUrl = str_replace('http://','',$productUrl); ?>
					<?php $productUrl = str_replace('https://','',$productUrl); ?>
					if((el.href == 'http://'+'<?php echo $productUrl; ?>')
						|| el.href == 'https://'+'<?php echo $productUrl; ?>'
						){
						el.id = 'product_<?php echo $_product->getId(); ?>';
						el.innerHTML = el.innerHTML + '<img class="gift-icon" src="<?php echo $iconUrl; ?>" alt="Free Gift Label">';
					}
				}
			});
		</script>
		<div id="gift_information_<?php echo $_product->getId()?>" class="gift-tootip" style="visibility: visible;">				
			<div class="tootip-content">
				<div class="tootip-product-list">
					<?php foreach($freegiftBlock->getFreeGifts($_product->getId()) as $productId):?>
						<?php $giftProduct = Mage::getModel('catalog/product')->load($productId);?>
						<img class="tootip-content-img" src="<?php echo Mage::helper('catalog/image')->init($giftProduct, 'small_image')->resize(64); ?>"  />
					<?php endforeach;?>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var giftTootip_<?php echo $_product->getId()?> = new Tooltip('product_<?php echo $_product->getId()?>', 'gift_information_<?php echo $_product->getId()?>');
		</script>
		<?php endif; ?>
	<?php endforeach;?>
<?php endif ?>