<div id="shopping-cart-totals-contaner">
	<table id="shopping-cart-totals-table">
	    <col />
	    <col width="1" />
	    <tfoot>
	        <?php echo $this->renderTotals('footer'); ?>
	    </tfoot>
	    <tbody>
	   		<?php echo $this->getChildHtml('rewardpoints')?>
	        <?php echo $this->renderTotals(); ?>
	    </tbody>
	</table>
</div>
<div id="shopping-cart-totals-please-wait" style="display: none; ">
	<div style="text-align:center;margin-top:30px;">
	    <img src="<?php echo $this->getSkinUrl('apptha_rewardpoints/images/loading.gif')?>" class="v-middle" alt="loading"> &nbsp; 
	    <?php echo Mage::helper('rewardpoints')->__("Updating cart information...")?>
	</div>
</div>
