<?php
$_element = $this->getElement();
$_note    = $_element->getNote();
$_trId    = $_element->getHtmlContainerId();
$_class   = $_element->getFieldsetHtmlClass();
$_collection = $this->getInstallmentCollection();
$paymentMethods = $this->getPaymentMethods();
?>
<?php if($_collection->count()):?>
<tr<?php if($_trId): ?> id="<?php echo $_trId ?>"<?php endif; ?>>
<td class="label<?php echo $_class ? " {$_class}-label" : ''?>"><?php echo trim($_element->getLabelHtml()) ?></td>
<td class="<?php echo $_element->hasValueClass() ? $_element->getValueClass() : 'value' ?><?php echo $_class ? " {$_class}-value" : ''?>">
<div class="grid">
    <table>
        <tbody><tr>
            <th class="a-center">Pay / Edit</th>
            <th class="a-center">Installment Amount</th>
            <th class="a-center">Due Date</th>
            <th class="a-center">Paid Date</th>
            <th class="a-center">Installment Status</th>
            <th class="a-center">Payment Method </th>
        </tr>
        <?php foreach($_collection as $item): ?>
        <tr class="even pointer">
            <td class="a-center"><input type="radio" name="item_id" value="<?php echo $item->getId()?>"></td>
            <td class="a-right"><span class="price"><?php echo Mage::helper('core')->currency($item->getInstallmentAmount(),true,false);?></span></td>
            <td class="a-center nowrap">
                <input type="text" style="width:6em" value="<?php echo $item->getDueDate();?>" name="installment[<?php echo $item->getId()?>][installment_due_date]" id="installment[<?php echo $item->getId()?>][installment_due_date]" class="input-text no-changes">
                    <img style="margin-left:5px;" class="v-middle" alt="Select Date" id="installment[<?php echo $item->getId()?>][installment_due_date][trig]" title="Select Date" src="http://indieswebs.in/demo2/skin/adminhtml/default/default/images/grid-cal.gif">
                    <script type="text/javascript">
                        Calendar.setup({inputField : "installment[<?php echo $item->getId()?>][installment_due_date]",ifFormat : "%Y-%m-%d",showsTime : false,button : "installment[<?php echo $item->getId()?>][installment_due_date][trig]",align : "Bl",singleClick : true});
                    </script>
            </td>
            <td class="a-center"><?php if($item->getPaidAt()) {echo Mage::helper('core')->formatDate($item->getPaidAt(), 'medium', false);}?> </td>
            <td class="a-center">
                <select style="width:100%;" name="installment[<?php echo $item->getId()?>][installment_status]" class="a-center">
                    <option value="paid" <?php if($item->getStatus() == "paid"):?> selected="selected" <?php endif?>>Paid</option>
                    <option value="pending" <?php if($item->getStatus() == "pending"):?> selected="selected" <?php endif?>>Pending</option>
                    <option value="remaining" <?php if($item->getStatus() == "remaining"):?> selected="selected" <?php endif?>>Remaining</option>
                    <option value="canceled" <?php if($item->getStatus() == "canceled"):?> selected="selected" <?php endif?>>Canceled</option>
                </select>
            </td>
            <td class="a-center"><?php echo $item->getPaymentMethod()?></td>
        </tr>
        <?php endforeach?>
        </tbody>
    </table>
</div>
</td></tr>
<tr><td>Payment method</td><td>
<dl class="sp-methods" id="checkout-payment-method-load">
<?php $i=0; foreach ($paymentMethods as $_method):
     $_code = $_method->getCode(); 
    if($i == 0){$defaultMethod = $_code;} $i++;
?>
    <dt>
    <?php if( sizeof($paymentMethods) > 1 ): ?>
        <input id="p_method_<?php echo $_code ?>" <?php if($defaultMethod == $_code):?> checked="checked" <?php endif?>  value="<?php echo $_code ?>" onclick="payment.switchMethod('<?php echo $_code ?>')" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" class="radio validate-one-required-by-name" />
    <?php else: ?>
        <span class="no-display"><input id="p_method_<?php echo $_code ?>" <?php if($defaultMethod == $_code):?> checked="checked" <?php endif?> value="<?php echo $_code ?>" onclick="payment.switchMethod('<?php echo $_code ?>')" type="radio" name="payment[method]"  class="radio" /></span>
    <?php endif; ?>
        <label for="p_method_<?php echo $_code ?>"><?php echo $_method->getTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
    </dt>
    <?php if ($html = Mage::app()->getLayout()->createBlock($_method->getFormBlockType())
                    ->setMethod($_method)->toHtml()):?>
    <dd id="container_payment_method_<?php echo $_code; ?>" class="payment-method" style="padding-left:20px">
        <?php echo $html; ?>
    </dd>
    <?php endif; ?>
<?php endforeach; ?>
</dl>
<script type="text/javascript">
//<![CDATA[
    var payment = new Payment('','');
//]]>
 </script>
<script type="text/javascript">
var paymentMethod;
//<![CDATA[
<?php  if(sizeof($this->getPaymentMethods()) ==1 || isset($defaultMethod)) { ?>
paymentMethod = "<?php echo $defaultMethod ?>"; 
payment.switchMethod('<?php echo $defaultMethod ?>');
<?php }?>    
//]]> 

window.onload = function() { 
//<![CDATA[

<?php  if(sizeof($this->getMethods()) ==1 || isset($defaultMethod)) { ?>
payment.currentMethod = "<?php echo $defaultMethod ?>"; 
payment.switchMethod('<?php echo $defaultMethod ?>') <?php }?>    
<?php echo $this->getChildChildHtml('scripts'); ?>
//payment.init();
//]]> 

}
//var checkout = new Checkout();
$$('#checkout-payment-method-load dt input').invoke('observe', 'click', function(e) {

    var element = e.element();
    var name = 'payment_form_' + element.getValue();
    payment.currentMethod = element.getValue();
    /* Hide all other forms */
    $$('dd.payment-method').invoke('hide');

    if(element.checked) {
        var form = $(name);
        var container = $('container_payment_method_' + element.getValue());

        if(element !== null && container !== null)    {
            container.show();
            $(name).show();
        }
    }
});
/// cvv number
  function toggleToolTip(event){
      if($('payment-tool-tip')){
          $('payment-tool-tip').setStyle({
              top: (Event.pointerY(event)-560)+'px'//,
              //left: (Event.pointerX(event)+100)+'px'
          })
          $('payment-tool-tip').toggle();
      }
      Event.stop(event);
  }
  if($('payment-tool-tip-close')){
      Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
  }

$$('.cvv-what-is-this').each(function(element) {
element.href="javascript:void(0);";
element.observe('click', respond);
function respond()
{
document.getElementById('payment-tool-tip').style.display="block";
document.getElementById('payment-tool-tip').style.top="450px";
}
})

</script>
</td></tr>
<?php endif?>