<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">                
                <table cellspacing="0" cellpadding="0" border="0" width="650">
					<!-- [ header starts here] -->
					<tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
					<!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <p><strong>Kính chào quý khách {{htmlescape var=$customer.name}}</strong>, <br/></p>
							<p>Quý khách vui lòng click vào <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">đây</a> để kích hoạt tài khoản tại PNJ</p>   
                        </td>
                    </tr>
					<!-- [ footer starts here] -->
					<tr>
                        <td valign="bottom" style="text-align: center;">
                            <a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
                        </td>
                    </tr>
                </table>
			</td>	
        </tr>
    </table>
</div>
