<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                 <!-- [ header starts here] --> 
					<tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
						</td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Chào bạn {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Chào mừng bạn đến với {{var store.getFrontendName()}}. để đăng nhập hệ thống website của chúng tôi mời bạn click vào <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Đăng nhập</a> hoặc <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Tài khoản của tôi</a> tại đầu mỗi trang.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Thông tin đăng nhập tài khoản::<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Mật khẩu</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Khi bạn đăng nhập vào tài khoản của bạn, bạn sẽ có thể làm như sau:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Thanh toán nhanh hơn khi mua hàng</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Kiểm tra tình trạng đơn đặt hàng</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Xem các đơn hàng đã mua</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Thay đổi thông tin tài khoản của bạn</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Thay đổi mật khảu của bạn</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Nếu bạn có thắc mắc về tài khoản của bạn hoặc bất kỳ vấn đề nào khác, xin vui lòng liên hệ với chúng tôi tại <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> hoặc qua điện thoại {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Chân thành cám ơn, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
					<!-- [ footer starts here] -->
					<tr>
                        <td valign="bottom" style="text-align: center;">
                            <a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>