<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
							<td valign="top">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Kính Chào {{htmlescape var=$user.name}},</h1>
                                <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong>Mật khẩu Admin mới của bạn là:</strong> {{htmlescape var=$password}}</p>
                                <p style="font-size:12px; line-height:16px; margin:0;">Bạn có thể thay đổi mật khẩu của bạn ngay khi đăng nhập <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">vào tài khoản</a>.<p>
                                </td>
                                </tr>
                                <tr>
                                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Chân thành cám ơn, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                        </tr>
						<tr>
                            <td valign="bottom" style="text-align: center;">
                                <a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>