<!--@subject Mật khẩu mới cho {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
					<!-- [ header starts here] -->
					<tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
						</td>
                    </tr>
					<!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
							<p><strong>Kính gửi, {{var customer.name}}</strong>,</p>
							<p>Mật khẩu mới của bạn là: {{var customer.password}}</p>
							<p>Bạn có thể thay đổi mật khẩu này bằng cách <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">đăng nhập vào website của chúng tôi</a>.</p>
						</td>
                    </tr>
					<tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Chân thành cám ơn, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
					<!-- [ footer starts here] -->
					<tr>
                        <td valign="bottom" style="text-align: center;">
                            <a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
