{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Chào bạn, {{htmlescape var=$userName}}<br /><br />
Bạn được ủy quyền bởi <b>{{htmlescape var=$applicationName}}</b> để thay đổi trạng thái <b>{{htmlescape var=$status}}</b> bởi Admin team.<br /><br />
