<?php
	$regions = $this->getRegion();
	$region_id = isset($_GET['region'])?intval($_GET['region']) : 514;
	$districts = $this->getDistrict($region_id);
?>
<div id="store_page">
	<div class="page-title">
		<h1><?php
			echo $this->__('Hệ thống cửa hàng');
		?></h1>
	</div>
	<div class="address_list">
		<?= $this->__('Tình/thành phố') ?>: <select id="d_region">
			<?php
				if (count($regions) > 0)
				{
					foreach ($regions as $key => $value)
					{
					?>
					<option value="<?=$key?>" <?=($region_id == $key) ? 'selected="selected"' : ''?>><?=$value?></option>
					<?php
					}
				}
			?>
			<?php
			?>
		</select>
		<div id="address_list">
			<?php
				if (count($districts) >0 )
				{
					foreach ($districts as $district_id => $district)
					{
						$items = $this->getItems($region_id, $district_id);
						if (count($items) > 0)
						{
						?>
						<div class="address_list_item">
							<h2><a href="#" class="province"><?=$district?></a></h2>
							<ul>
								<?php
									foreach ($items as $item)
									{
										$add = $item->getAddress();
										$tel = $item->getTel();
										$email = $item->getEmail();
										?>
										<li>
											<a href="#" class="address viewmap"><?=$add?></a>
											<?=(!empty($tel)) ? '<br/>ĐT: ' . $tel : ''?>
											<?=(!empty($email)) ? '<br/>Email: ' . $email : ''?>		
										</li>
										<?php
									}
								?>
							</ul>
						</div>
						<?php
						}
					}
				}
			?>
		</div>
	</div>
	<div class="map">
		<div id="google_map" style="width:650px; height:500px; margin: 0 0 10px 0; padding: 0;"></div>
	</div>
	<div class="clearfix"></div>
</div>
<script
	type="text/javascript"
	src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
	var geocoder;
	var map;

	var latlng = new google.maps.LatLng(-34.397, 150.644);
	var myOptions = {
		zoom: 15,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var marker = new google.maps.Marker({});
	var infowindow = new google.maps.InfoWindow({});
	function show_map(address, info) {
		geocoder.geocode({'address': address + jQuery('#d_region option:selected').html() + ', Việt Nam'}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				map.setCenter(results[0].geometry.location, 14);
				marker.setMap(null);
				marker = new google.maps.Marker({
					map: map,
					position: results[0].geometry.location,
					icon: '<?= $this->getSkinUrl('images/maker_shape.png') ?>'
				});
				if (results[0].formatted_address) {
					region = results[0].formatted_address + '<br/>';
				}

				if (info != '') {
					infowindow = new google.maps.InfoWindow({
						content: '<div style="width: 400px; height: 80px;">' + info + '</div>' ,
						maxWidth: 600
					});
					google.maps.event.addListener(marker, 'click', function() {
						// Calling the open method of the infoWindow 
						infowindow.open(map, marker);
					});
					infowindow.open(map, marker);
				}
			}
		});
	}

	jQuery(function() {
		jQuery('#address_list li a.viewmap').click(function(e) {
			e.preventDefault();
			var address = jQuery(this).html();
			var info = jQuery(this).parent().html();
			show_map(address, info);
		});
		map = new google.maps.Map(document.getElementById("google_map"), myOptions);
		geocoder = new google.maps.Geocoder();
		var _viewmap = jQuery('#address_list li a.viewmap');
		if (_viewmap.length > 0) {
			var address = jQuery(_viewmap[0]).html();
			var info = jQuery(_viewmap[0]).parent().parent().children().html();
			show_map(address, info);
		}

		//Hide all ul
		jQuery(".address_list_item ul").hide();

//		jQuery(".address_list_item ul:first").show();
		jQuery("a.province").click(function(e) {
			e.preventDefault();
			jQuery(".address_list_item ul").slideUp(300);
			jQuery(this).parent().parent().children("ul").slideDown(300);
		});

		jQuery("#d_region").change(function() {
			window.location = "<?=$this->getUrl("outlet")?>?region=" + jQuery(this).val();
		});
	});

</script>