<?php
    $_productCollection = $this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if (!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
    <div class="category-products products_grid">
        <h2 class="group_title">
            <span><?php echo Mage::getSingleton('catalog/layer')->getCurrentCategory()->getName() ?></span>
        </h2>
        <?php echo $this->getToolbarHtml() ?>
        <?php // Grid Mode ?>
        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <?php $i = 0;
            foreach ($_productCollection as $_product): ?>
            <?php
                $icon = strtolower($_product->getResource()->getAttribute('product_icon')->getFrontend()->getValue($_product));
                $normal_price = Mage::helper('core')->currency($_product->getPrice(), false, true);
				$special_price = Mage::helper('core')->currency($_product->getSpecialPrice(), false, true);
				$final_price = Mage::helper('core')->currency($_product->getFinalPrice(), false, true);
				$discount = $normal_price - $final_price;
        ?>
        <?php if ($i++ % $_columnCount == 0): ?>
            <div class="grid">
                <?php endif ?>
            <div
                class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                <div class="thumb">
                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
                    	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(185); ?>"
                            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    </a>
                </div>
                <h3 class="product-name">
                    <a href="<?php echo $_product->getProductUrl() ?>"
                        title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                </h3>
                
                <p class="sku"><?php echo substr($_product->getSku(), 0, 16); ?>...</p>
                
                <div class="actions">
                	<?php echo $this->getPriceHtml($_product, true) ?>
                    <?php if ($_product->isSaleable()): ?>
                        <div class="btn-qview button">
                            <a title="<?php echo $this->__('Quick View') ?>" href="JavaScript:void(0)">
                            	<span><?php echo $this->__('Quick View') ?></span>
                            </a>
                        </div>
                        <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-buy_now"
                            onclick="setLocation('<?php echo $this->getAddToCartUrl($_product); ?>')">
                            <span><span><?php echo $this->__('Buy Now') ?></span></span>
                        </button>
                    <?php else: ?>
                        <a class="icon-out-of-stock" href="<?php echo $_product->getProductUrl() ?>"></a>
                    <?php endif; ?>
                </div>
                <div class="clearfix"></div>
                <div class="add-to-links">
                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                    	<!--<a href="#" onclick="ajaxCompare('<?php echo $_compareUrl?>','<?php echo $_product->getId()?>'); return false;" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>-->
                        <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('So sánh') ?></a>
                        <?php endif; ?>
                </div>
                <?php if($icon == "new"):?>
				<div class="icon" id="icon_new"><span><?php echo $this->__('New')?></span></div>
				<?php else:?>
					<?php if($icon == "online"):?>
					<div class="icon" id="icon_online"><span><?php echo $this->__('Sale Online')?></span></div>
					<?php else:?>
						<?php if($icon == "hot"):?>
						<div class="icon" id="icon_hot"><span><?php echo $this->__('Hot')?></span></div>
						<?php else :?>
							<?php if($icon == "gift"):?>
							<div class="icon" id="icon_gift"></div>
							<?php else:?>
								<?php if($icon == "limited"):?>
								<div class="icon" id="icon_limited"></div>	
								<?php else:?>
									<?php if($icon=="same-price" && $special_price > 0):?>
									<div class="icon" id="icon_same_price">
										<span><?php echo round($special_price/1000,0)?>K</span>
									</div>
									<?php else : ?>
											<?php if ($discount > 0 || $icon == "discount" && $discount > 0): ?>
												<div class="icon" id="icon_discount">
													<span>- <?php echo round((($discount / $normal_price) * 100), 0) ?>%</span>
												</div>
											<?php endif; ?>
									<?php endif; ?>
								<?php endif;?>
							<?php endif;?>
						<?php endif;?>
					<?php endif ;?>
				<?php endif ;?>
            </div>
            <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
            </div>
            <?php endif ?>
        <?php endforeach ?>
    <script type="text/javascript">
        decorateGeneric($$('div.products-grid'), ['odd', 'even', 'first', 'last'])
    </script>
    <div class="clearfix"></div>
    <?php echo $this->getToolbarBlock()->setTemplate('catalog/product/list/toolbar_bottom.phtml')->toHtml(); ?>
</div>
<?php endif; ?>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".item").mouseenter(function () {
            var self = this;
            this.hoverAnimationTimeout = setTimeout(function () {
                jQuery(self).find(".price-box").transition({ left: 0, textAlign: 'left'});
                jQuery(self).find(".btn-buy_now").transition({ rotate: 360, opacity: 1, delay: 200 });
                jQuery(self).find(".btn-qview").transition({ left: '148px', opacity: 1, delay: 250 });
                }, 260);
        });

        jQuery(".item").mouseleave(function () {
            clearTimeout(this.hoverAnimationTimeout);
            jQuery(this).find(".btn-qview").transition({ left: '187px', opacity: 0});
            jQuery(this).find(".btn-buy_now").transition({ rotate: 0, opacity: 0, delay: 200 });
            jQuery(this).find(".price-box").transition({ left: '43px', textAlign: 'center', delay: 250 });
        });
    });
</script>
                