.itoris_groupedproductpromotions_button_create_rule {
    float: right;
}
.itoris_groupedproductpromotions_content {
    border: 1px solid #D6D6D6;
    padding: 0 10px;
}
.itoris_groupedproductpromotions_rule {
    background: none repeat scroll 0 0 #E7EFEF;
    border: 1px solid #CDDDDD;
    margin: 1.5em 0;
    padding: 1em;
}
.itoris_groupedproductpromotions_rule .title {
    width: 270px
}
.itoris_groupedproductpromotions_rule .position {
    width: 55px
}
.itoris_groupedproductpromotions_rule .status {
    width: 145px
}
.itoris_groupedproductpromotions_rule .action_from {
    width: 145px
}
.itoris_groupedproductpromotions_rule .action_to {
    width: 145px
}
.itoris_groupedproductpromotions_rule .in_set {
    padding-left: 14px;
    padding-right: 14px;
    width: 36px;
}
.itoris_groupedproductpromotions_rule .groups {
    padding-left: 10px;
}
.itoris_groupedproductpromotions_rule .qty, .itoris_groupedproductpromotions_rule .discount {
    width: 70px
}
.itoris_groupedproductpromotions_rule .date-trig {
    vertical-align: middle;
}
.itoris_groupedproductpromotions_associated_product input {
    width: 60px;
}
.itoris_groupedproductpromotions_groups {
    float: left;
}
.itoris_groupedproductpromotions_groups_box {
    float: right;
    width: 55%;
    margin-top: 10px;
}
.itoris_groupedproductpromotions_associated_product {
    margin-top: 10px;
}
.itoris_groupedproductpromotions_rule_hidden_box {
    display: none;
}
.itoris_groupedproductpromotions_rule_box .note {
    color: red;
    margin-top: 5px;
}

