<table id="shopping-cart-totals-table">
	<col />
	<col width="1" />
	<tfoot>
		<?php echo $this->renderTotals('footer'); ?>
	</tfoot>
	<tbody>
		<?php echo $this->getChildHtml('rewardpoints')?>
		<?php echo $this->renderTotals(); ?>
	</tbody>
</table>