body {
	color: #4D4D4D;
    font-family: Arial,Helvetica,sans-serif;	
	background: #351812;
    font-size: 14px;
	padding: 0;
	margin: 0;
}
header {
    /*background: url("http://datraco.com/img/bg_space.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background: #001a36;
    height: 80px;
    width: 100%;
    z-index: 999;
	position: fixed;
	top: 0;
	z-index: 10;
}
#hd {
    clear: both;
    height: 85px;
    margin: auto;
    position: relative;
    width: 940px;
}
.logo {
    float: left;
    margin: 5px 0 0 38px;
}
#hd .slogan {
    color: #fc5f1a;
    font-family: 'AvantGarde-DemiRegular';
    font-size: 20px;
    font-weight: bold;
    left: 280px;
    position: absolute;
    text-transform: uppercase;
    top: 6px;
}
.right-content-header {
    float: right;
    margin-right: 65px;
    margin-top: 5px;
    width: auto;
}
.center-content-header {
    float: right;
    margin-right: 35px;
    margin-top: 5px;
    width: auto;
}
.maincontain {
	position: relative;
	width: 100%;
	z-index: 5;
}
.slide {
	text-align: center;
	z-index: 6;

}
.popup_contain
{
	width:1024px;
}
.maincontain .slide a {
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	background: url(http://datraco.com/img/black-70.png);
	display: none;
	z-index: 500;
}
.popup .popup_contain {
	border: 2px solid #7b4222;
	border-radius: 2px;
	width: 750px;
	height: 400px;
	background: #fff;
	position: fixed;
	left: 20px;
	top: 20px;
	
}
.popup_contain .contain {
	overflow-x: hidden;
	overflow-y: auto;
}
.popup_contain .btclose {
	position: absolute;
	right: -15px;
	top: -15px;
	z-index: 501;
}