<?php 
	$_ruleProducts = Mage::getSingleton('promotionalgift/catalogrule');
	$productId = $this->getCurrentProduct()->getId();	
	//$_products= Mage::getModel('catalog/product');
	$freeGifts = $this->getIdFreeGifts($productId);
	$icon_image = Mage::helper('promotionalgift')->getPromotionalIcon();
	$iconUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'promotionalgift/giftlabel/' . $icon_image;
?>
<?php if($this->getRuleByPruduct($productId)):?>
<div id="divider"></div>
<?php 
	
	$ruleId = $this->getRuleByPruduct($productId)->getId();
	$_ruleProduct = $_ruleProducts->load($ruleId);
?>
	<div class="gift-tootip2"> 
		<div class="tootip-content">
			<div class="tootip-product-list2">
				<?php foreach ($freeGifts as $_freegift):?>
						<?php $_product = Mage::getModel('catalog/product')->load($_freegift);
						?>
						<a id="product_<?php echo $_product->getId()?>" href="<?php echo $_product->getProductUrl() ?>" 
						title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" 
						class="product-gift-image2">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(64); ?>"
								 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" 
							/>											
						</a>	
						<?php if(!$_product->isSalable()):?>
						<p><?php echo $this->__('Empty Stock');?></p>
						<?php endif?>
					<?php endforeach;?>
			</div>
		</div>
	</div>
<?php endif;?>



