<!--@subject {{var order.getStoreGroupName()}}: Creditmemo # {{var creditmemo.increment_id}} update @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <table cellspacing="0" cellpadding="0" border="0" width="650">
			<!-- [ header starts here] --> 
			<tr>
				<td valign="top">
					<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
				</td>
			</tr>
			<!-- [ middle starts here] -->
			<tr>
				<td valign="top">
					<p>
					  <strong>Xin chào {{var billing.getName()}}</strong>,<br/>
						Đơn hàng của bạn # {{var order.increment_id}} đã được cập nhậtvào<br/>
						<strong>{{var order.getStatusLabel()}}</strong>.
					</p>
					<p>{{var comment}}</p>
					<p>
						Nếu bạn có thắc mắc, xin vui lòng liên hệ với chúng tôi tại
						<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
						hoặc bằng điện thoại {{config path='general/store_information/phone'}}.
					</p>
				  <p>Chân thành cám ơn,<br/>
				  <strong>{{var order.getStoreGroupName()}}</strong></p>
				</td>
			</tr>
			<!-- [ footer starts here] -->
			<tr>
				<td valign="bottom" style="text-align: center;">
					<a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>