<!--@subject {{var order.getStoreGroupName()}}: Credit Memo # {{var creditmemo.increment_id}} for Order # {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <table cellspacing="0" cellpadding="0" border="0" width="650">
			<!-- [ header starts here] --> 
			<tr>
				<td valign="top">
					<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
				</td>
			</tr>
			<!-- [ middle starts here] -->
			<tr>
				<td valign="top">
					<p>
						<strong>Xin chào {{var order.getCustomerName()}}</strong>,<br/>
						Cảm ơn bạn đã đặt hàng của bạn từ {{var order.getStoreGroupName()}}.
						Bạn có thể kiểm tra tình trạng hàng của bạn bằng cách <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">đăng nhập vào tài khoản của bạn</a>.
					</p>
					<h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
						Credit Memo của bạn #{{var creditmemo.increment_id}} cho Đơn hàng #{{var order.increment_id}}
					</h3>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<thead>
						<tr>
							<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Billing Information:</th>
							<th width="3%"></th>
							<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Payment Method:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
								{{var order.billing_address.format('html')}}
							</td>
							<td>&nbsp;</td>
							<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
								{{var payment_html}}
							</td>
						</tr>
						</tbody>
					</table>
					<br/>
					{{depend order.getIsNotVirtual()}}
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<thead>
						<tr>
							<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Shipping Information:</th>
							<th width="3%"></th>
							<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Shipping Method:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
								{{var order.shipping_address.format('html')}}
							</td>
							<td>&nbsp;</td>
							<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
								{{var order.shipping_description}}
							</td>
						</tr>
						</tbody>
					</table>
					<br/>
					{{/depend}}

					{{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}

					<p>{{var comment}}</p>
					<p>
						Chân thành cám ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
					</p>
				</td>
			</tr>
			<!-- [ footer starts here] -->
			<tr>
				<td valign="bottom" style="text-align: center;">
					<a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>