<!--@subject Thông tin hóa đơn số {{var order.increment_id}} @-->


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <table cellspacing="0" cellpadding="0" border="0" width="650">
			<!-- [ header starts here] --> 
			<tr>
				<td valign="top">
					<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
				</td>
			</tr>
			<!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p><strong>Kính chào quý khách!</strong><br/>
                        Dưới đây là thông tin chi tiết hóa đơn số {{var order.increment_id}}</p>
						<h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        Số hóa đơn: {{var invoice.increment_id}} cho đơn hàng: {{var order.increment_id}}
                    </h3>
                    <!-- [Table: thong tin thanh toan va nhan hang] -->
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
							<!-- [Header] -->
							<thead>
								<tr>								
									<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Thông tin thanh toán:</th>
									<th width="3%"></th>
									<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Thông tin nhận hàng:</th>                          
								</tr>
							</thead>
							<!-- [Body] -->
							<tbody>
								<tr>
									<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">{{var order.getBillingAddress().format('html')}}
									</td>
									<td>&nbsp;</td>
									<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.getShippingAddress().format('html')}}
									</td>									
								</tr>
							</tbody>
						</table>
						<br/>
						<!-- [Table: Phuong thuc thanh toan va phuong thuc van chuyen] -->
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
							<!-- [Header] -->	
							<thead>
								<tr>								
									<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức thanh toán:</th>
									<th width="3%"></th>                          
									<th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức vận chuyển: </th>
								</tr>
							</thead>
							<!-- [Body] -->
							<tbody>
								<tr>
									<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
 {{var payment_html}}
									</td>
									<td>&nbsp;</td>
									<td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.getShippingDescription()}}
									</td>
								</tr>
							</tbody>
						</table>
						<br/>                    

                    {{layout area="frontend" handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
                    <p>{{var comment}}</p>    
                </td>
			</tr>
			<!-- [ footer starts here] -->
			<tr>
				<td valign="bottom" style="text-align: center;">
					<a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>