<!--@subject {{var order.getStoreGroupName()}}: Shipment # {{var shipment.increment_id}} for Order # {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <table cellspacing="0" cellpadding="0" border="0" width="650">
			<!-- [ header starts here] --> 
			<tr>
				<td valign="top">
					<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
				</td>
			</tr>
			<!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p>
                        <strong>Xin chào {{var order.getCustomerName()}}</strong>,<br/>
                        Cám ơn bạn đã đặt hàng tại hệ thống siêu thị trực tuyến {{var order.getStoreGroupName()}}.
                        Bạn có thể kiểm tra trạng thái của đơn hàng bằng cách <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">đăng nhập vào tài khoản</a>.</p>                            
					<p>
                        Thông tin đơn đặt hàng của bạn duoc975 xác nhận vó7i những thông tin sau:
                    </p>

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        Lô hàng của bạn #{{var shipment.increment_id}} cho đơn hàng #{{var order.increment_id}}
                    </h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin thanh to&aacute;n:</th>
                          <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c thanh to&aacute;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin nh&#7853;n h&agrave;ng:</th>
                          <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c v&#7853;n chuy&#7875;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_description}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}

                    <br/>
                    {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                    <p>{{var comment}}</p>
                    <p>
                        Chân thành cám ơn,<br/>
                        <strong>{{var order.getStoreGroupName()}}</strong>
					</p>
                </td>
			</tr>
			<!-- [ footer starts here] -->
			<tr>
				<td valign="bottom" style="text-align: center;">
					<a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>