.price-label {
  color: #373737;
  font-weight: bold;
}
.product_detail_left{float: left;}
.product_detail_left form{margin:0;}
#fancybox-content > div{width:auto !important;}
#fancybox-close:hover{
	background: url("../../../images/icon.png") no-repeat scroll -89px -236px transparent;
}
.group_title-1 {
    background: url("../../../images/pnj-bullet.png") no-repeat scroll left top #FFFFFF;
    color: #414141;
    padding: 0 20px 0 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.product_image {
    width: 440px;
    float: left;
    position: relative;
    z-index: 1;
    margin:5px;
}
.product_image #wrap {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    z-index: 1 !important;
}
.main_image {
    border-radius: 3px;
    border: 2px solid #ececec;    
}
.slide_image {
    position: relative;
    margin-bottom: 20px;
}
.product_detail_left .slide {
    padding: 10px 0;
    width: 362px;
    margin: 0 0 0 45px;
}
.product_detail_left .slide img {
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 0 2px;
}
.jcarousel-clip , .jcarousel-clip-horizontal{
    overflow: hidden;
}
.price-notice {
    display: none;
}
.options-list li .label{
    width: 40px;
}
.nav_prev,
.nav_next {
    width: 20px;
    height: 31px;
    background: url(../../../images/arrow-1.png) left top no-repeat;
    position: absolute;
    top: 18px;
    cursor: pointer;
}
.product_detail_left .slide_image{
    margin: 0 30px;
    width: 290px;
}
.product-image-thumbnail{
    text-align: center;
}
.product-image #image{
    margin: 0 auto;
    position: relative;
}
.quickview-main .jcarousel-next-horizontal {
    background-position: right top!important;
    right: -30px;
}
.quickview-main .jcarousel-prev-horizontal {
    left: -30px;
}
.quickview-main .jcarousel-prev-horizontal, .quickview-main .jcarousel-next-horizontal {
    background: url("../../../images/arrow-1.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 31px;
    position: absolute;
    top: 15px;
    width: 20px;
}
.nav_prev {
    left: 0px;
    position: absolute;
    top: 10px;
}
.nav_next {
    background-position: -20px 0;
    right: 0px;
    position: absolute;
    top: 10px;
}
.product_info h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 8px 0;
    color: #000;
}
.product_detail_left .product_info {
    display: inline-block;
    float: left;
    margin-left: 10px;
    max-width: 315px;
}
.product_info .label {
    background: none;
    color: #373737;
    text-shadow: none;
}
.product_desc .label {
    display: block;
}
.product_desc {
    padding: 8px 0;
}
.price .price-box .special-price .price, .special-price .price{
    color: #E40000 !important;
}
.product_price .price {
    font-weight: bold;
    font-size: 1.3em;
    color: #E40000;
}
.product_banner_adv {
    margin: 15px 0;
    max-width: 310px;
    max-height: 65px;
}
.product_banner_adv img{
    width: 100%;
}
.product_info .product_size .label {
    margin: 0;
    width: 63px;
    line-height: 30px;
    float: left;
}
.at16nc{
    border-radius: 3px !important;
}
.group-ul{
    padding: 15px;
    background: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #d9d7d7;
}
.group-ul a{
    color: #000;
    padding: 10px 0;
    line-height: 30px;
}
.hotline-pnj{
    margin-top: 10px;
    color: #000000;
}
.hotline{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 10px;
    color: #000000;
}
.hotline-line{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}
.product_info select {
    padding: 3px 3px;
    height: 25px;
    line-height: 18px;
    font-size: 1em;
    width: 92px;
    margin: 0;
    border-radius: 0px;
}
.margin-5px{
    margin: 10px 0;
}
.btn-out-of-stock, .btn-cart{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.btn-cart{
    background-image: url(../images/bt-shopnow1.png) !important;
    width: 130px;
    height: 33px;
    padding: 2px 0 0 25px;
}
.btn-out-of-stock{
    opacity: 0.5;
    cursor: not-allowed;
}
.product_detail_left {
    width: 775px;
    float: left;
}
.product_detail_commitment {
    width: 220px;
    float: right;
}
.in-stock, .out-of-stock {
    color: #373737;
    font-size: 13px;
}
.in-stock span, .out-of-stock span {
    color: #E40000;
    font-size: 15px;
}
.more-views {
    margin-bottom: 20px;
    margin-top: 6px;
}

.product_amount {
    margin: 10px 0;
}
.product_info button {
    background: 0;
    border: none;
}
.information-desc{
    width: 100%;
    margin-top: 20px;
}
.active-thumb{
    display: block;
}
.dis-enable-thumb{
    display: none;
}
.information-name-title{
    padding-top: 15px;
    background: #f0f0f2;
}
.information-title{
    padding-top: 15px;
    background: -webkit-gradient(#fefefe, #f0f0f0);
    background: -webkit-linear-gradient(#fefefe, #f0f0f0); /* For Safari */
    background: -o-linear-gradient(#fefefe, #f0f0f0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fefefe, #f0f0f0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fefefe, #f0f0f0); /* Standard syntax (must be last) */
}
.information-title td span{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.information-name-title td span{
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.information-title td{
    border-bottom: 1px solid #FAFAFA;
}
.information-desc tr th, .information-desc tr td{
    border: 1px solid #DDDDDD;
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
    width: 50%;
}
.information-desc .product_code{
    background: #F6F6F8;
}

.quickview-main .product-image-thumbnail .icon{
	background: url("../../../images/icon.png") no-repeat scroll -55px -43px transparent;
  	height: 45px;
 	padding: 3px 4px 0 0;
  	position: absolute;
  	right: 2px;
  	top: 7px;
  	width: 45px;
  	z-index: 999;
}

.quickview-main .product-image-thumbnail #icon_online{
	background-position: -279px -59px;
	height: 24px;
    left: 108px;
    top:0;
    width: 139px;
}

.quickview-main .product-image-thumbnail #icon_gift{
	background-position: -105px -43px;
}

.quickview-main .product-image-thumbnail #icon_limited{
	background-position: -5px -43px;
}

.quickview-main .product-image-thumbnail .icon span{
     color: #FFFFFF;
     display: block;
     font-weight: bold;
     line-height: 48px;
     text-transform: uppercase;
 }
 
.quickview-main .product-image-thumbnail #icon_online span{
    font-size: 0.9em;
    line-height: 24px;
}
.manual-do{
    color: #E40000;
    line-height: 30px;
}
.group_title_pnj{
    color: #000;
    font-size: 15px;
    bottom: 10px;
    position: relative;
    padding-top: 15px;
}
.buttons-set .button, .buttons-set #add_recipient_button{
    float: left;
}
.buttons-set .button{
    float: right;
    margin-right: 13px;
}
.nick-name-review{
    margin-right: 20px;
    width: 92px;
    font-weight: bold;
}
.content-review {
    border-left: 1px solid #E4E4E4;
    width: 540px;
    padding-left: 20px;
    text-align: justify;
}

.group-review {
    width: 100%;
    padding: 10px 0;
}

.box .mid1, .box .bottom1{
    top: 0px;
    position: relative;
}
.box .mid, .box .bottom{
    top: -20px;
    position: relative;
}
.mid .last dt{
    display: none;
}
.wide .input-box #sender_message, .required-entry, .review_field{
    width: 94%;
}
.product_size {
    position: relative;
}
.select_area .mid input {
    float: left;
    margin: 0 5px 0 11px;
}
.select_area1 {
    position: absolute;
    display: none;
    width: 220px;
    border: 1px solid  #E3E3E3;
    border-radius: 3px;
    padding: 5px 10px;
    background: #ffffff;
}
.select_area {
    position: absolute;
    display: none;
    width: 220px;
}
.select_area .mid label {
    width: 120px;
    float: left;
    font-size: 0.9em;
}
.product_amount span{
    float: left;
    line-height: 30px;
}
#bt_select_size{
    cursor: pointer;
    float: left;
}
#bt_select_size .last{
    margin-bottom: 0px;
    margin-top: 0px;
}
.product_amount .input-qty{
    width: 50px;
    margin-left: 10px;
    float: left;
}
#product-review-table{
    bottom: 10px;
    position: relative;
}
#product-review-table .first th{
    padding-right: 20px;
}
.error-msg, .validation-advice{
    padding: 8px 10px 8px 14px;
}
.old-price .price{
    color: #979797;
    font-size: 0.9em;
    text-decoration: line-through;
}
.stButton{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.stButton .chicklets{
    padding-right: 0px !important;
}
.quick_view_galary li{
    float: left;
    margin: 0 5px;
    border: 2px solid #e2e2e2;
}
.quickview-main .jcarousel-item{
    border: 2px solid #E2E2E2;
    margin: 0 5px;
    width: 59px !important;
}

#messages_product_view{
    display: none;
}

.clear {
    zoom: 1;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0px;
    visibility: hidden;
}
.content-review .a-left {
    float: none;
}
.content-review .short-item {
    max-height: 60px;
    overflow: hidden;
}