<?php $_product = $this->getProduct(); ?>
<?php $buttonAddCart = $this->__('Add to Cart'); ?>
<?php $buttonadd = $this->__('Add Cart'); ?>
<?php if($_product->isSaleable() && !$_product->getData('dbiz_preorder_product')): ?>
    <div class="product_amount clear">
        <?php if(!$_product->isGrouped()): ?>
            <span class="label" ><?php echo $this->__('Quantity purchase :') ?></span>
            <select name="qty" id="qty" class="input-text qty input-qty">
                <?php $i = 1; ?>
                <?php for($i; $i<=10; $i++): ?>
                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                <?php endfor; ?>
            </select>
        <?php endif; ?>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
	<div class="product_nav clear">
		<button type="button" title="<?php echo $buttonAddCart ?>" class="button btn-cart" onclick="checkOutOfStock(this);">
            <?php echo $this->__('Buy Now'); ?>
        </button>
	</div>
<?php else: ?>
    <i><?php echo $this->__('Buy product out of stock %', '(08) 399 59 332 (TP. HCM) - (04) 668 27 938 (Hà Nội)'); ?></i>
    <?php if (!$_product->getData('dbiz_preorder_product')): ?>
        <div class="product_nav clear">
            <button type="button" title="<?php echo $buttonAddCart ?>" class="button btn-cart btn-out-of-stock">
                <?php echo $this->__('Buy Now'); ?>
            </button>
        </div>
    <?php endif; ?>    
<?php endif; ?>

<script type="text/javascript">
    function checkOutOfStock(obj)
    {
        var manageStock = '<?php echo $_product->getStockItem()->getManageStock(); ?>';
        var qtyStock    = '<?php echo Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty(); ?>';
        qtyStock        = parseInt(qtyStock);
        
        if( parseInt(jQuery('#qty').val()) > qtyStock &&  manageStock == 1 ){
            alert("<?php echo $this->__('Not enough in stock %s', (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty()) ?>");
            return;
        }else{
            productAddToCartForm.submit(obj);    
        }                                    
    }
</script>