<?php $articles = $this->getProductArticles(); ?>

<div id="accordion">
    <?php if( count($articles) ): ?>
        <?php foreach( $articles as $article ): ?>
            <h3><span class="icon-chevron-right"></span> <?php echo $article['title']; ?></h3>
            <div><?php echo $article['post_content']; ?></div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>