<?php $customerReview = Mage::getModel('core/session')->getData('customerReview'); ?>

<?php if( !empty($customerReview) ): ?>
    <div id="popupCustomerReview" style="color: #468847; margin-top: 35px; text-align: center;">
         <?php echo $customerReview; ?>
    </div>
    <?php Mage::getModel('core/session')->unsetData('customerReview'); ?>
    
    <script type="text/javascript">
     jQuery(document).ready(function(){
        jQuery.fancybox.open('#popupCustomerReview');
     });
    </script>
<?php endif; ?>