
<?php 
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
?>

<!--<div id="messages_product_view"><?php //echo $this->getMessagesBlock()->getGroupedHtml() ?></div>-->
<div class="qview_content">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_qview_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
            <input type="hidden" name="related_product" id="related-products-field" value=""/>
        </div>
        
        <div class="qview_product_image">
            <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
                <p class="qview-image">
                    <?php
                        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(300).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
                        echo $_helper->productAttribute($_product, $_img, 'image');
                    ?>
                </p>
            <?php else: ?>
            <p class="qview_product_image">
                <?php
                    $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(300).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
                    echo $_helper->productAttribute($_product, $_img, 'image');
                ?>
            </p>
            <?php endif; ?>

        </div>
        
        <div class="qview_product_info">
            <h3 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h3>

            <div class="product_code"><span class="label">
                <?php echo $this->__('Mã sản phẩm : ') ?></span>
                <?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?>
            </div>
            <?php if ($_product->getShortDescription()): ?>
                <div class="product_desc"><span class="label">
                    <?php echo $this->__('Mô tả ngắn : ') ?></span>
                    <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                </div>
            <?php endif; ?>
            <div class="product_price">
                <span class="label"><?php echo $this->__('Giá bán :') ?></span>
                <span class="price">
                     <?php echo $this->getPriceHtml($_product, false) ?>
                </span>
            </div>
            
            <?php echo $this->getTierPriceHtml() ?>
            
            <div class="product_banner_adv  margin-5px">
                <?php
                    echo $_helper->productAttribute($_product, nl2br($_product->getProductBannerAdv()), 'product_banner_adv');
                ?>
            </div>
            
            <?php $categories = $_product->getCategoryIds(); ?>
            <?php foreach ($categories as $k => $_category_id): ?>
                <?php $_category = Mage::getModel('catalog/category')->load($_category_id) ?>
                <?php $category_name = $_category->getName() ?>
                <?php if ($category_name == 'Nhẫn'): ?>
                    <a class="a-left manual-do a-right"
                       href="<?php echo $this->getBaseUrl() ?>blog/huong-dan-do-ni"><span><?php echo $this->__('Hướng dẫn đo ni') ?></span></a>
                    <?php break; ?>
                <?php endif; ?>
            <?php endforeach; ?>
            
            <?php if($_product->isSaleable()): ?>
                <div class="product_amount clear">
                    <?php if(!$_product->isGrouped()): ?>
                        <span class="label" ><?php echo $this->__('Số lượng đặt mua:') ?></span>
                        <input style="width: 15px;" type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text qty input-qty" />
                    <?php endif; ?>
                </div>
                
                <div class="add-to-cart">
                    <input type="hidden" name="buynow" id="buynow" value="" />
                    <button type="button" class="button btn-cart" onclick="document.getElementById('buynow').value=1;productQviewForm.submit(this)"><img src="<?php echo $this->getSkinUrl(); ?>images/bt-shopnow1.png" title="Mua Ngay" alt="mua-ngay" /></button>
                    <button type="button" class="button btn-cart" onclick="productQviewForm.submit(this)"><img src="<?php echo $this->getSkinUrl(); ?>images/bt-addtocart.png" title="Thêm Vào" alt="them-vao" /></button>
                </div>
            <?php endif; ?>
            
           <!-- <div class="product_share">
                <span class="label">Chia sẻ :</span>
                <img src="<?php echo $this->getSkinUrl('images/product-share.png') ?>"/>
            </div>

            <a href="javascript: void(0)" onclick="
                jQuery(function($){
                    $('.scroll-tab').addClass('active');
                    $('#comments').addClass('active');
                    $('.scroll-tad-no').removeClass('active');
                    $('html, body').animate({ scrollTop:
                    $('.scroll-tab').offset().top }, 2000);
                }); ">
                Hãy là người nhận xét sản phầm này đầu tiên
            </a> -->    

            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif; ?>

        </div>

        <div class="clear"></div>
        
        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif; ?>
    </form>
    
    
    <script type="text/javascript">
        //<![CDATA[
        var productQviewForm = new VarienForm('product_qview_form');
        productQviewForm.submit = function (button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                    form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productQviewForm);

        productQviewForm.submitLight = function (button, url) {
            if (this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productQviewForm);
        //]]>
    </script>
</div> 
