#accordion .active .icon-chevron-right {
    background-position: -313px -119px;
}
#accordion h3 {
    font-size: 100%;
    padding: 0px 10px;
    border-top: 1px solid #dfdfdf;
    cursor: pointer;
    background-color: #f4f4f4;
}