.block{
	margin: 0 0 20px 0;
}
.block-account .block-title {
	float: none !important;
	background: url("../images/title.jpg") left bottom repeat-x;
}
.block-title span {
	background: url("../images/pnj-bullet.png") left 5px no-repeat scroll;
	color: #020E1E;
	display: inline-block;
	font-size: 1.2em;
	height: 38px;
	line-height: 38px;
	padding: 0 0 0 30px;
	text-transform: uppercase;	
}
.block-account ul {
	border: 1px solid #C8C8C8;
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
.block-account ul li{
	position: relative;	
	border-top: 1px solid #F4F4F4;
	line-height: 20px;
	background: url("../images/bullet.png") no-repeat scroll 10px 17px #FFFFFF;
	padding-left: 22px;
}
.block-account ul li a{
	color: #444444;
	font-size: 0.95em;
	padding: 8px 0;
	width: 210px;
	display: inline-block;
}
.box-account .box-head{
	border-bottom: 1px solid #bdbdbd;
	margin: 0 0 5px 0;
	height: 27px;
}
.box-account h2{
	font-size: 16px;
	line-height: 1.5em;
	font-weight: normal;
	margin: 0;
	float: left;
}
.dashboard .box-head a {
	float: right;
	margin: 5px 0 0 0;
}
.dashboard .box-head {
	height: 28px;
	padding: 5px 0 0 0;
}
.box-info .col2-set {
	clear:both;
	margin: 0 0 20px 0;
}
.box-info .col2-set .col-1,
.box-info .col2-set .col-2 {
	width: 48%;
}
.box-info .col2-set .col-1{
	float: left;
}
.box-info .col2-set .col-2{
	float: right;
}
.box-info .col2-set .box-title ,
.box-content  h4{
	border-bottom: 1px dashed #bdbdbd;	
	height: 33px;
}
.box-info .col2-set .box-title h3 {
	font-size: 1.1em;
	margin: 0;
	float: left;
}
.box-content h4 {
	margin: 10px 0;
	font-size: 1.1em;
	height: 20px;
}
.box-title a {
	float: right;
	margin: 10px 0 0 0;
}
.box-info .col2-set .box-content {
	clear: both;
}
.box-head a,.box-title a,.box-content a {
	color: #002b58;
	background: url(../images/icon-edit.png) left 3px no-repeat;
	padding: 0 0 0 20px;
	display: block;
	font-size: 0.9em;
}
ul.form-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}
ul.form-list li,div.field{
	clear: both;
}

ul.form-list li label em {
	color: red;
	margin: 0 5px 0 0;
}
ul.form-list li.control label {
	float: none;
	width: auto;
	white-space: nowrap;
	margin: 0 0 0 5px;
}
h2.legend {
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: 1px dotted #bdbdbd;
}
.no-display {
	display: none;
}
#dummy {
	display: none;
}
p.required,span.required {
	color: red;
}
#street_1 {
	width: 500px;
}
#street_2 {
	width: 420px;
}
.btn-primary {
	color: #fff !important;
}
.data-table {
	width: 100%;
	border: 1px solid #e3e3e3;
}
.data-table td,
.data-table th {
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}
.data-table td {
	padding: 4px;
}
.data-table thead th {
	background: url(../images/table-header-bg.jpg) repeat-x;
	height: 30px;
	line-height: 30px;
}
.pager .amount {
	float: left;
}
.pager .limiter {
	float: right;
}
.pager .limiter label {
	display: inline-block;
}
.pager .limiter select {
	width: 50px;
}
.my-account .title-buttons .btadd {
	background: url(../images/btadd.jpg) left center no-repeat;
	border: none;
	border-collapse: collapse;
	line-height: 24px;
	font-size: 1.1em;
	color: #6a6a6a;
	padding: 0 0 0 20px;
	cursor: pointer;
}
.my-account .addresses-primary {
	float: left;
	width: 360px;
}
.my-account .addresses-additional {
	float: right;
	width: 360px;
}
.my-account .addresses-primary ol,
.my-account .addresses-additional ol{
	padding: 0 0 0 20px;
}
.box-recent .data-table {
	margin: 10px 0;
}
.forgotpassword_form {
	width: 400px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 20px 0;
}
.forgotpassword_form ul.form-list li label {
	width: 150px;
}
.forgotpassword_form div.required {
	padding: 0 0 0 150px;
	color: red;
	margin: 0;
	margin-bottom: 20px;
}
.forgotpassword_form ul {
	margin: 0;
}
.forgotpassword_form .buttons-set
{
	padding-left: 150px;
}
.title-buttons button {
	float: right;
}
.addresses-list h2 {
	border-bottom: 1px dashed #ccc;
	font-size: 1.2em;
	font-weight: normal;
	padding: 0;
	line-height: 2em;
}
.addresses-list h3 {
	font-size: 1.2em;
	font-weight: normal;
	padding: 0;
	line-height: 2em;
	text-decoration: underline;
}
.back-link {
	margin: 20px 0;
}
.newsletter-manage-index .my-account form {
	background: url(../images/newsletter-bg.jpg) 15px center no-repeat;
	width: 215px;
	height: 160px;
	padding: 0 0 0 216px;
	border: 3px solid #f2f2f2;
	border-radius: 3px;
	margin: 0 auto;	
	margin-top: 20px;
}
.newsletter-manage-index .my-account form ul.form-list li.control, 
.newsletter-manage-index .my-account .buttons-set {
	padding-left: 0;
}
.sales-order-view .title-buttons .button-set {
	float: right;
	padding: 5px 0 0 0;
}
.sales-order-view .order-info-box .box-title h2,
.table-caption {
	font-size: 1.5em;
	font-weight: normal;
}
.sales-order-view .order-info-box .box {
	border-bottom: 1px solid #f1f1f1;
}
.sales-order-view .order-info {
	margin-bottom: 0;
} 
.sales-order-view .order-info dd,
.sales-order-view .order-info #order-info-tabs {
	margin: 0;
}
.sales-order-view h3.product-name {
	font-size: 1.1em;
}
.customer-account-forgotpassword form .fieldset{
	text-align: center;
}
.customer-account-forgotpassword form .form-list,
.customer-account-forgotpassword form .buttons-set {
	width: 260px;
	margin: 0 auto;
	padding: 0;
}
.customer-account-forgotpassword form .buttons-set {
	width: 286px;
	height: 40px;
}
.customer-account-forgotpassword form .buttons-set a {
	float: left;
	margin: 5px 0 0 5px;
	color: #979797;
}
.customer-account-forgotpassword form .buttons-set button {
	float: right;
}

.customer-account-forgotpassword form .form-list li label {
	display: block;
	float: none;
	text-align: left;
}
.customer-account-forgotpassword form .form-list li input {
	width: 260px;
}

.wishlist-index-index #wishlist-view-form #wishlist-table .product-name {
	font-size: 1.1em;
	font-weight: normal;
}
.pagination{
    margin: 0;
}
.pagination li{
    background-image: url("../images/pager_main.gif");
    background-repeat: repeat-x;
    background-position: center center;
    float: left;
}
.pages{
    float: left;
}

.my-account .customer-name .validation-advice {
	margin-left: 185px;
	width:170px;
}

.my-account .form-list .input-box .validation-advice{
	margin:0 0 10px;
}

.customer-account-forgotpassword .validation-advice,
.customer-account-resetpassword .validation-advice{
	margin-left:0;
}
input#change_password{float: left; margin-right: 5px;}