.cart form{margin:0;padding:0}
.s-cart{
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 1px;
    margin-top: 10px;
}

.cart-table{width:100%;}

.table-cart thead th{
    color:#4d4d4d;
    border-left:1px solid #f0f0f0;
    background: none repeat scroll 0 0 #EAEAEA;
}

.table-cart tbody td{
    border-left:1px solid #f0f0f0;
    color: #545454;
}
.old-price .price {
    color: #979797;
    font-size: 0.9em;
    text-decoration: line-through;
}
.table-cart tfoot td {
    background: none repeat scroll 0 0 #F7F7F7;
    height: 55px;
    width: 100%;
}

.table-cart thead th:first-child,
.table-cart tbody td:first-child{
    border-left:none;
}
.table-cart tbody td:first-child{
    border-right:1px solid #F0F0F0;
}
.table-cart tbody td.name-product{
    border-left: none;
}

.table-cart td {
	padding: 5px;
}

.table-cart .name-product h2 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
.table-cart .name-product a {
	color: #545454;
}

.table-cart .total-product .price{font-weight:bold}

.delete-product a {
	width: 22px;
	height: 22px;
	overflow: hidden;
	background: url(../images/icon-cart-delete.jpg) no-repeat; 
	display: block;
}
.delete-product a:hover {
	background-position: -22px 0;
}
.width-input{
    width: 30px;
    text-align: center;
}
.line-cart{
    border-bottom: 1px solid #f0f0f0;
}
.continue-shopping, .update-cart{
    padding: 10px 10px 0 10px;
}
.continue-shopping a span, 
.update-cart-2 a span, 
.delete-cart-2 a span, 
.continue-shopping-2 span, 
.social-twitter span, 
.social-facebook span, 
.social-google span{
    display: none;
}
.btn-continue{
    background: url("../images/continue-shopping.png") no-repeat scroll center center transparent;  
    width: 167px;
    height: 28px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    -moz-border-radius: 3px;;
}
.btn-update{
    padding-right: 10px;
    background: url("../images/update-cart.png") no-repeat;
    width: 103px;
    height: 25px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-position: -1px -1px;
}
#empty_cart_button {
    background: url("../images/delete-cart.png") no-repeat;
    background-position: 0 -1px;
    width: 112px;
    height: 25px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.code_discount{
    margin: 0 20px;
}
.cart-collaterals {
    padding-top: 20px;
}
.discount-code{
    border: 1px solid #C0C0C0;
    padding: 30px 20px;
    width: 64%;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-discount label,
.discount-form label {
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 0 !important;
}
.discount-submit,
.discount-form .discount-submit {
    background: url("../images/su-dung.png") no-repeat;
    width: 84px!important;
    height: 27px;
    display: block;
    border-radius: 3px;
    border: 1px solid #C0C0C0;
    background-position: 0 -1px;
}
.discount-form label,
.discount-form .input-box,
.discount-form .buttons-set {
	float: left;
}
.discount-form .input-box input {
    width: 250px !important;
    margin: 0 10px;
    padding-top: 8px !important;
    padding-bottom: 7px !important;
}
.discount-form > label {
	padding-right: 28px;
}
.discount{
    width: 100%;
}
.form-discount{
    margin:  0px auto;
    display: table;
}
.cart-collaterals .shipping {
	display: none;
}
.checkout-cart{
    background-image: url("../images/bg-checkout.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-color: #f2f2f2;
    border: 1px solid #C0C0C0;
    padding: 15px 20px 20px;
    width: 270px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.uppercase{
    text-transform: uppercase;
}

.checkout-cart tbody tr{
    line-height:30px;
}
.btn-proceed-checkout {
    background: url("../images/thanh-toan.png")no-repeat 0 0;
    width: 173px;
    height: 42px;
    margin: 10px auto;
	color: #fff;
	display: block;
	border: none;
	text-align: left;
	line-height: 40px;
	font-size: 1.2em;
}
.btn-proceed-checkout span {
	margin: 0 0 0 3px;
}
.btn-proceed-checkout {
	
}
.maincontain2{
    padding: 20px 0!important;
}
.login-cart-form {
    position: relative;
}
.continue-shopping-2{
    background: url("../images/continue-shopping.jpg")no-repeat 0 0;
    background: url("../images/continue-shopping.jpg")\9!important; /* IE 8 and below */
    *background: url("../images/continue-shopping.jpg")!important; /* IE 7 and below */
    _background: url("../images/continue-shopping.jpg")!important; /* IE 6 */
    width: 203px;
    height: 35px;
    background-position: -2px -2px;
    display: block;
}
.submit-form{
    background: url("../images/dang-nhap.jpg")no-repeat 0 0;
    background: url("../images/dang-nhap.jpg")\9!important; /* IE 8 and below */
    *background: url("../images/dang-nhap.jpg")!important; /* IE 7 and below */
    _background: url("../images/dang-nhap.jpg")!important; /* IE 6 */
    width: 115px!important;
    height: 28px;
    border: none;
}
.title-form-cart{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px!important;
}
.form-left, .form-right{
    width: 40%;
    position: relative;
    padding: 100px 40px;
}
.form-left div {
    position: relative;
    display: table;
    width: 60%;
    margin: auto;
}
.email-login{
    width: 235px;
}
#form-login-cart a{
    margin-left: 100px;
}
#form-login-cart{
    width: 350px;
}
#form-login-cart label{
    width: 100px;
}
.login-order span, .login-order a{
    margin-left: 5px;
    line-height: 28px;
}
.social-google{
    background: url("../images/google+.jpg")no-repeat 0 0;
    background: url("../images/google+.jpg")\9!important; /* IE 8 and below */
    *background: url("../images/google+.jpg")!important; /* IE 7 and below */
    _background: url("../images/google+.jpg")!important; /* IE 6 */
    width: 31px!important;
    height: 29px;
    border: none;
}
.social-facebook{
    background: url("../images/facebook.jpg")no-repeat 0 0;
    background: url("../images/facebook.jpg")\9!important; /* IE 8 and below */
    *background: url("../images/facebook.jpg")!important; /* IE 7 and below */
    _background: url("../images/facebook.jpg")!important; /* IE 6 */
    width: 31px!important;
    height: 29px;
    border: none;
}
.social-twitter{
    background: url("../images/twitter.jpg")no-repeat 0 0;
    background: url("../images/twitter.jpg")\9!important; /* IE 8 and below */
    *background: url("../images/twitter.jpg")!important; /* IE 7 and below */
    _background: url("../images/twitter.jpg")!important; /* IE 6 */
    width: 31px!important;
    height: 29px;
    border: none;
}
.clear {
    zoom: 1;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0px;
    visibility: hidden;
}
#shopping-cart-totals-table {
	width: 100%;
}
#shopping-cart-totals-table tfoot {
	border-top: 1px solid #c0c0c0;
}
.totals .checkout-types {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}
.totals .checkout-types li {
	text-align: center;
}
.cart-step {
	text-align: center;
	width: 360px;
	margin: 20px auto;
}
.cart-step .step {
	width: 41px;
}
.cart-step .step,
.cart-step .step-line {
	float: left;
	margin:  0 0 0 0;
	padding: 0;
}

.cart-step .step-number {
	width: 41px;
	height: 41px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/step.png) left top no-repeat;
	font-size: 1.2em;
	color: #fff;
	line-height: 41px;
}
.cart-step .step-line {
	width: 104px;
	height: 13px;
	background: url(../images/step-line.png) left top no-repeat;
	display: inline-block;
	margin-top: 15px;
}
.cart-step .step-line-active {
	background-position: 0 -13px;
}
.cart-step .step-active .step-number {
	background-position: -41px 0;
}
.cart-step .step-label {
	white-space: nowrap;
	text-align: center;
	margin-left: -56px;
	display: block;
	width: 150px;
	color: #c1c1c1;
}
.cart-step .step-active .step-label {
	color: #000;
}
.cart .line-cart .item-msg.notice{
    clear: both;
	display:none;
}