.page-title {
	margin: 20px 0;
}
.contact_info {
	width: 460px;
	float: left;
}
#contactForm {
	width: 460px;
	float: right;
}
#contactForm label {
	width: 70px;
	text-align: left;
}
#contactForm input {
	width: 350px;
}
#contactForm textarea {
	width: 350px;
	height: 70px;
}
#contactForm .field {
	margin: 8px 0;
}
.buttons-set {
	padding: 0 20px 0 0;
	text-align: right;
}
.buttons-set p {
	padding: 0 0 0 70px;
	text-align: left;
}
.buttons-set button {
	padding: 5px 40px;
}