.account-create {
	box-shadow: 0px 2px 4px #999;
	border-radius: 3px;
	padding: 10px 20px;
	background: url(../images/register-page-bg.jpg) right top no-repeat;
}
	
.account-create form {
	width: 440px;
	margin: 50px 0 0 150px;
}

.form-list {	
	list-style: none;
	padding: 0;
	margin: 0;
}

.form-list label {	
	width: 132px;
	float: left;
	line-height: 30px;
	font-weight: bold;
	font-size: 0.9em;
}

.form-list label em {
	color: red;	
	margin: 0 5px 0 0;
}

.input-box input,.input-box password, #firstname, #lastname {
	width: 294px;
}

li.fields {
	clear: both;
	margin: 10px 0;
}

div.field {
	margin: 10px 0;
}

.noiquy {
	height: 200px;
	overflow: auto;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	padding: 10px 20px;
	text-align: justify;
}

#is_subscribed {
	margin: 0 5px 0 0;
}

#is_subscribed,#is_agree {
	width: 10px;
}

li.control {clear: both;}

li.control .input-box {
	float: left;
	margin: 0 5px 0 0;
}
.buttons-set {clear: both;}

li.line {	
	clear: both;
	border-top: 1px solid #e9e9e9;
}

.form_nav {	padding: 10px 0;}
.form_nav pull-left {width: 50%;}
.form_nav .pull-left input,.form_nav .pull-left label {float: left;}
.btn {color: #fff !important;}