.licensekey,
.deal_filters,
.page-title {
	display: none;
}
.slidebanner {
	background: none;
	height: 339px !important;
	width: 673px;
	border-radius: 3px;
	padding: 0;
	float: left;
	box-shadow: 0 0 10px #999;
}
.right_banner {
	width: 325px;
	height: 340px;
	float: right;
	box-shadow: 0 0 7px #666;
}
.products-grid {
	clear: both;
	margin: 20px 0;
}
.products-grid .item {
	width: 326px;
	height: 510px;
	float: left;
	border-radius: 3px;
	overflow: hidden;
	margin: 20px 23px 0 0;
	text-align: center;
}
.products-grid .item .item-contain {
	width: 320px;
	height: 500px;
	border: 1px solid #f3f3f3;
	margin: 2px auto;
	border-radius: 3px;
}
.products-grid .item .item-hover {
	border: 3px solid #002a5a;
	margin: 0px auto;
}
.products-grid .first {
	clear: both;
}
.products-grid li.last {
	margin-right: 0;
}

.products-grid .item img {
	max-width: 280px;
	max-height: 280px;
	margin: 20px 0 0 0;
}
.products-grid .item h2 {
	font-size: 1.2em;
	font-weight: normal;
}
.products-grid .item h2 a {
	color: #757575;
	text-decoration: none;
}
.products-grid .price-box {
	border: 1px solid #e6e6e6;
	background: #f6f6f6;
	text-align: center;
	border-radius: 3px;
	margin: 0 10px;
	height: 37px;
	line-height: 37px;
}
.products-grid .price-box .old-price {
	float: left;
	width: 49%;
}
.old-price .price-label {
	display: none;
}
.products-grid .price-box .special-price {
	float: right;
	width: 50%;
	border-left: 1px solid #e6e6e6;
}
#second_grid {
	background: none;
	border: none;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}
#second_grid .special-price {
	float: none;
	background: none;
	width: 100%;
	height: auto;
	border: none;
}
.products-grid .special-price .price {
	color: red;
	font-weight: bold;
}
#second_grid .special-price .price {
	font-size: 1.2em;
	font-weight: normal;
}
.old-price {
	text-decoration: line-through;
}
.dealtimer_listpage {
	float: left;
	width: 50%;
}
.actions {
	float: right;
	margin: 0 10px 0 0;
}
.actions button {
	border: none;
	background: url(../images/bt-shopnow1.png) left top no-repeat;
	width: 130px;
	height: 33px;
	overflow: hidden;
	text-indent: 250px;
	white-space: nowrap;
}
.dealtimer_listpage_timer span {
	padding-right: 0;
}
.sorter {
	display: none;
}