/* reset */
h1 , h2 ,h3 ,h4 , h5 ,h6 {margin:0;padding:0}

/**********/

#maincontain {
	position: relative;
	padding: 0 0 0;
	width:1024px !important;
}
#maincontain .maintext {
	position: absolute;
	text-align: justify ;
	bottom: 0;
}

.product_grid ul, .products_grid ul li{
	float: left;
    margin: 0;
}

.products_grid .grid li{
	width:243px;
	margin-left:17px;
}

.products_grid .grid li.first{
	margin-left:0;
}

#home_exclusive_products .grid li{
	margin-right:17px;
	margin-left:0;
}

/*#home_exclusive_products .grid li.last{
	margin-right:0;
}*/



/*.products_grid ul li{
	float:left;
	width:245px !important;
}*/

.p_block_home{
    margin-top:33px;
/*    float:left;
    width:100%;*/
}
.p_block_home_top{
    margin-top:5px;
}

.cms-index-index .products_grid .grid .item{
    margin:10px 0 0;
}

.cms-index-index .products_grid .grid .item-online .icon{
    left:45px;
}

.cms-index-index .group_title{
    margin:0 0 10px;
}

.cms-index-index  .products_grid .jcarousel-clip{
	overflow: hidden;
}

.jcarousel-container .jcarousel-prev, .jcarousel-container .jcarousel-next{
	background: url("../images/arrow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 20px;
	top: -40px;
}

.jcarousel-container .jcarousel-prev{
	right: 30px; 
}

.jcarousel-container .jcarousel-next{
	background-position: -17px top;
    right: 10px;
}

.jcarousel-container .jcarousel-prev-disabled ,
.jcarousel-container .jcarousel-next-disabled{
	cursor: default;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

#home_exclusive_products .view_all,#home_new_products .view_all,
#home_bestseller_products .view_all,#home_promotion_products .view_all,
#home_featured_products .view_all,#home_promotion2_products .view_all{
    background: url("../images/icon_view_all.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #757575;
    float: right;
    height: 20px;
    padding-right: 21px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 0;
}

.maintext h1 {
    float: left;
    font-size: 1.2em;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px;
    text-transform: uppercase;
    width: 100%;
}