 .jcarousel-container {
}

 .jcarousel-direction-rtl {
	direction: rtl;
}
 .jcarousel-container-horizontal {
    padding: 0 40px;
}
 .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}
 .jcarousel-clip {
    overflow: hidden;
}
 .jcarousel-clip-horizontal {
    width:  100%;
}
 .jcarousel-clip-vertical {
    width:  100%;
}
 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 2px;
}
 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
 .jcarousel-item-vertical {
    margin-bottom: 10px;
}
 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/**
 *  Horizontal Buttons
 */
 .jcarousel-next-horizontal {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 10px;
    height: 20px;
    cursor: pointer;
    background: transparent url(../img/arrow.png) -10px 0 no-repeat;
}

 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

 .jcarousel-next-horizontal:hover,
 .jcarousel-next-horizontal:focus {
    background-position: -10px 0px;
}

 .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

 .jcarousel-next-disabled-horizontal,
 .jcarousel-next-disabled-horizontal:hover,
 .jcarousel-next-disabled-horizontal:focus,
 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

 .jcarousel-prev-horizontal {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 10px;
    height: 20px;
    cursor: pointer;
    background: transparent url(../img/arrow.png) 0 0px no-repeat;
}

 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

 .jcarousel-prev-horizontal:hover, 
 .jcarousel-prev-horizontal:focus {
    background-position: 0px 0px;
}

 .jcarousel-prev-horizontal:active {
    background-position: 0px 0;
}

 .jcarousel-prev-disabled-horizontal,
 .jcarousel-prev-disabled-horizontal:hover,
 .jcarousel-prev-disabled-horizontal:focus,
 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

/**
 *  Vertical Buttons
 */
 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

 .jcarousel-next-vertical:hover,
 .jcarousel-next-vertical:focus {
    background-position: 0 0px;
}

 .jcarousel-next-vertical:active {
    background-position: 0 0px;
}

 .jcarousel-next-disabled-vertical,
 .jcarousel-next-disabled-vertical:hover,
 .jcarousel-next-disabled-vertical:focus,
 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

 .jcarousel-prev-vertical:hover,
 .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

 .jcarousel-prev-disabled-vertical,
 .jcarousel-prev-disabled-vertical:hover,
 .jcarousel-prev-disabled-vertical:focus,
 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
