#order_tracking .order-details-quick h2.table-caption {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#order_tracking .order-details-quick #my-orders-table .product-name{
    font-size: 15px;
    font-weight: bold;
}
#order_tracking .order-details-quick #my-orders-table{
    margin: 10px 0px;
}
#order_tracking .order-view-notfound{
    padding: 50px;
    text-align: center;

}
#order_tracking .order-view-notfound .row{
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
#order_tracking .order-view-notfound .order_number,.order-view-notfound .tel{
    color: #c43c35;
}
.spinner {
    margin: 54px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
.lightbox_loading{
    padding: 80px 0px;
    text-align: center;
}
.

/* Toolbar */
.toolbar .pager {border-bottom:1px solid #d3eaef;}
.toolbar-bottom { /*display:none;*/ }
.pages strong{font-weight:normal;float:left;}
/* Data Table */
.table-caption { color: #444444; font-size: 15px; margin: 0 0 5px; padding: 5px 0;}
.table-caption a { color: #444444;font-size: 15px;}
#order_tracking .order-details-quick .data-table {width:100%;}
#order_tracking .order-details-quick .data-table thead th { padding: 1px 10px; color: #3C3737;font-weight:normal; font-weight: bold; white-space:nowrap; background: none;}
#order_tracking .order-details-quick .data-table tbody td, .data-table tbody th { padding:0px 10px!important;    line-height: normal !important; }
#order_tracking .order-details-quick .data-table thead { /* background:#00a0c5; */}
#order_tracking .order-details-quick .data-table tbody {}
#order_tracking .order-details-quick .data-table tfoot { background-color:#f6f6f6; }
#order_tracking .order-details-quick .data-table tfoot td {padding: 10px;color: #000000;}
#order_tracking .order-details-quick .data-table tfoot th { border:none; text-transform:none; }
#order_tracking .order-details-quick .data-table tr.first {}
#order_tracking .order-details-quick .data-table tr.last {}
#order_tracking .order-details-quick .data-table tr:last-child td,
#order_tracking .order-details-quick .data-table tr:last-child th {}
#order_tracking .order-details-quick .data-table tbody tr:nth-child(odd),
#order_tracking .order-details-quick .data-table tr.odd {}
#order_tracking .order-details-quick .data-table tbody tr:nth-child(even),
#order_tracking .order-details-quick .data-table tr.even {background-color: #F5F5F5;}
#order_tracking .order-details-quick .data-table tbody.odd {}
#order_tracking .order-details-quick .data-table tbody.odd td { border-width:0 1px; }
#order_tracking .order-details-quick .data-table tbody.even { background-color:#f5f5f5; }
#order_tracking .order-details-quick .data-table tbody.even td { border-width:0 1px; }
#order_tracking .order-details-quick .data-table tbody.odd tr.border td,
#order_tracking .order-details-quick .data-table tbody.even tr.border td { border-bottom-width:1px; }
#order_tracking .order-details-quick .data-table th .tax-flag { white-space:nowrap; font-weight:normal; }
#order_tracking .order-details-quick .data-table td.value { float:none !important; }
#order_tracking .order-details-quick .data-table .link-rss { display:block; }
#order_tracking .order-details-quick .data-table tbody tr td,.data-table tbody tr th{border-bottom:1px solid #e3e3e3;}
#order_tracking .order-details-quick .page-popup .data-table td,
#order_tracking .order-details-quick .page-popup .data-table th {/* border-bottom:1px solid #d9d9d9; */}
#order_tracking .order-details-quick .page-popup .buttons-set .button { float:right; }

/* Shopping cart total summary row expandable to details */
tr.summary-total { cursor:pointer; }
tr.summary-total td {}
tr.summary-total .summary-collapse { float:right; text-align:right; padding-left:20px; background:url(../images/bkg_collapse.gif) 0 4px no-repeat; cursor:pointer; }
tr.show-details .summary-collapse { background-position:0 -53px; }
tr.show-details td {}
tr.summary-details td { background-color:#ede9e6;  padding:5px !important; }
tr.summary-details-first td {}
tr.summary-details-excluded { font-style:italic; }

#order_tracking .order-details-quick .data-table {
    width: 100%;
    border: 1px solid #e3e3e3;
}
#order_tracking .order-details-quick .data-table td,
#order_tracking .order-details-quick .data-table th {
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
#order_tracking .order-details-quick .data-table td {
    padding: 4px;
}
#order_tracking .order-details-quick .data-table thead th {
    background: url(../images/table-header-bg.jpg) repeat-x;
    height: 31px;
    line-height: 16px;
}
/* Shopping cart tax info */
.cart-tax-info,
.cart-tax-info .cart-price { display:block; padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; background:url(../images/bkg_collapse.gif) 100% 3px no-repeat; cursor:pointer; }
.cart-tax-total-expanded { background-position:100% -54px; }
#order_tracking .a-right {
	float: none !important;
    text-align: right !important;
}
#order_tracking .order-details-quick #my-orders-table .item-options{
    margin: 0px;

    color: #777;
}
#order_tracking .order-details-quick #my-orders-table .item-options dt{
    display: inline-block;

}
#order_tracking .order-details-quick #my-orders-table .item-options dd{
    display: inline-block;

    margin: 0;
}
#order_tracking .order-details-quick .order-view-note{
    line-height: 22px;
    text-align: left;
 }
#order_tracking .order-details-quick .order-view-note h4{
    font-size: 13px;

}
#order_tracking .order-details-quick  .data-table tr th:first-child{
    width: 419px;
    
}

#order_tracking .order-details-quick td.qty span span {
	 display: none;
}
#order_tracking h3 {
	line-height: 20px;
}

#order_tracking .status_line {
	line-height: 25px;
}
