.col-main {
	width: 800px;
	margin: 0 auto;
}
.account-login {
	
}
.account-login .col-registerd-user {
	width: 360px;
	border-left: 1px solid #d3d3d3;
	padding: 30px 0 50px 85px;
}
.account-login .registered-users h1,
.new-user h2 {
	font-size: 1.3em;
	margin: 0 0 20px 0;
	font-weight: normal;
}
.new-user {
	margin: 40px 0 0 0;
}
.form-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.form-list label {
	font-size: 1em;
	float: left;
	width: 60px;
	padding: 5px 0 0 0;
}
.form-list input {
	width: 282px;
}
.form-list  li {
	clear: both;
}
.form-list .submit {
	text-align: right;
}
.form-list .submit a {
	margin: 0 0 0 65px;
	color: #8a8a8a;
}
.form-list button {
	background: url(../images/bt-login.png) no-repeat;
	width: 114px;
	height: 28px;
	line-height: 24px;
	border: none;
	font-size: 0.95em;
	text-transform: uppercase;
	color: #717171;
	margin:  0 0 0 50px;
}
.form-list button span:first-child {
	padding: 0 0 0 12px;
}
.new-user a {
	background: url(../images/bt-dangky.png) no-repeat;
	width: 176px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 20px 0 0;
	font-weight: bold;
}
.inchoo-socialconnect-login {
	float: right;
	width: 360px;
	border-left: 1px solid #D3D3D3;
	padding: 0 0 0px 85px;
}
.button_facebook,
.button_google,
.button_twitter {
	width: 29px;
	height: 29px;
	display: inline-block;
}
.button_facebook {
	background: url(../images/icon-facebook-small.png) no-repeat;
}
.button_google {
	background: url(../images/icon-google-small.png) no-repeat;
}
.button_twitter {
	background: url(../images/icon-twitter-small.png) no-repeat;
}
.inchoo-socialconnect-login {
	margin-top: 0 !important;
	height: 60px;
}
.inchoo-socialconnect-login * {
	float: left;
}
.inchoo-socialconnect-login span {
	line-height: 29px;
	margin: 0 5px 0 0;
}