#menu_area{
    position:relative;
    z-index: 20;
}
#menu_area .container {
    /*background: url(../images/menu-bg.png) left top repeat-x;*/
	background: #001a36;
	border-radius: 3px 3px 0 0 ;
}
#mainmenu {
	line-height: 40px;
	float: left;
	padding: 0 0 0 5px;
	z-index: 5000;
	position: relative;
}

#mainmenu ul li.homeitem {
    float:left;
}

#mainmenu ul li.level-0 {
	float: left;
	background: url(../images/menu-sep.png) left center no-repeat;
	position: relative;
}

#mainmenu ul li a {
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    padding: 0 8px;
}

#mainmenu ul li.level-0 > a{
    text-transform: uppercase;
}

#mainmenu ul li.level-0:hover > a {
    background: url("../images/menu-bg-active.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    border-left: 1px solid #00448E;
    border-right: 1px solid #00448E;
    border-top: 1px solid #00448E;
    height:39px;
    position: relative;
    z-index: 10001;
}

#mainmenu ul .level-0 .submenu ul.level-1{
    padding:10px 40px;
}

#mainmenu ul li.level-0 > a {
	border: 1px solid transparent;
	border-bottom: none;
    margin-bottom:-1px;
}

#mainmenu ul li.active > a {
    background: url("../images/menu-bg-active.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    border-left: 1px solid #00448E;
    border-right: 1px solid #00448E;
    border-top: 1px solid #00448E;
    height:39px;
}

#mainmenu li.level-0 .submenu {
    position: absolute;
    display:none;
    background: #002b58;
    box-shadow: 1px 2px 5px #000;
    border: 1px solid #00448E;
    border-radius: 0 0 3px 3px;
    margin: 0;
    top: 39px;
    width: 1022px;
}

#mainmenu .submenu.col-4 li.level-1 {
    float: left;
    margin-left: 10px;
    width: 220px;
}

#mainmenu .submenu.col-5 li.level-1 {
    float: left;
    margin-left: 10px;
    width: 178px;
}

#mainmenu .submenu li.level-1 span {
    text-transform: uppercase;
}
#mainmenu .submenu li.level-1 a {
    color: #8E97A6;
    font-size: 1em;
    line-height:2.1em;
    padding:0;
}#mainmenu .submenu li.level-1 ul li a {white-space:nowrap;}
#mainmenu .submenu .menu-banner a{
    border:none;
    width:1021px;
    padding:0;
}

#second_menu {
	float: right;
	margin: 12px 10px 0 0; 
            white-space: nowrap;
}
#second_menu a {
	color: #fdf400;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
}