.colleft {
	float: left;
	width: 235px;
}
.colright {
	float: right;
	width: 760px;
}
/*** Col-left  ****/
.colleft .block{
    float:left;
    width:100%;
}
.colleft .block .block-title{
    background: none repeat scroll 0 0 #002B5A;
    padding-left:8px;
    float:left;
    width:97%;
}
.colleft .block .block-title span{
    background: url("../images/icon-title.png") left center no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.2em;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 28px;
    text-transform: uppercase;
}
/* Block layered-nav */
.colleft .block-layered-nav .block-content{
    border: 1px solid #E3E3E3;
    border-radius: 0 0 3px 3px;
}
.colleft .block-layered-nav .block-content .currently{
    float:left;
    width:100%;
    margin-top:10px;
}
.colleft .block-layered-nav .block-content .currently .label{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #585858;
    text-shadow: none;
    margin-left:10px;
}
 .currently a.btn-remove{
    float: right;
    margin-right: 10px;
}
.colleft .block-layered-nav .block-content .actions {
    float:left;
    width:100%;
    margin-left:10px;
}
.block-layered-nav .block-content .menu_left{
	border-top: 1px solid #F1F1F1;
    padding-bottom:10px;
}
.block-layered-nav .block-content .menu_left:first-child{
    border-top:none;
}
.menu_left .group_title-2 span {
    background: url("../images/bullet.png") 10px 16px no-repeat;
    color: #585858;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
}
.menu_left .list_option {
    padding-left:15px;
}
.menu_left .list_option .item{
    margin-bottom:10px;
}
.menu_left .list_option a{
    font-size: 0.95em;
    color: #5F5F5F;
}
.menu_left .list_option a:hover{
    color: #8A8A8A;
    text-decoration:none;
}
/* Block BST */
.colleft .block_define{
    float: left;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.block_define .block_cats_content{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 3px 3px;
}
.block_define .block_cats_content .define_nav_menu{
    display:inline-block;
    width:100%;
}
.block_define .block_cats_content li.level0{
    border-top: 1px solid #F1F1F1;
    float:left;	width:100%;
}
.block_define .block_cats_content li.level0:first-child{
    border-top: none;
}
.block_define .block_cats_content li.level0 > a{
    background: url("../images/bullet.png") no-repeat 10px center;
    color: #2B2B2B;
    display: inline-block;
    font-size: 1.1em;
    padding: 10px 10px 10px 20px;
    width: 70%;
    float:left;
    text-decoration: none;    
}
.block_define .block_cats_content li.level0:hover > a{
    color: #606060;
}
.block_define .block_cats_content li span.arrow-right{
    background: url("../images/arrows.png") no-repeat left center;
    float: right;
    height: 10px;
    margin: 15px 5px;
    width: 8px;
    cursor: pointer;
}
.block_define .block_cats_content li.level0 ul{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #F1F1F1;
    float: left;
    width: 100%;
    display:none;
}
.block_define .block_cats_content li.level0 ul li{
    background: url("../images/bullet.png") no-repeat 10px 17px;
    border-top: 1px solid #F1F1F1;
    padding:10px 10px 10px 22px;
    margin-left:17px;
}
.block_define .block_cats_content li.level0 ul li:first-child{
    border-top: none;
}
.block_define .block_cats_content li.level0 ul li a{
    color: #5F5F5F;
    text-decoration: none;
}
.block_define .block_cats_content li.level0 ul li a:hover{	color: #8A8A8A;
}
/*** Col-right ***/
.colright .banner{
    margin-bottom: 25px;
    position: relative;
}
/*block Compare product*/
.block-compare{
	float: left;
    height: 55px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.block-compare .block-title{
	float: left;
    height: 53px;
    line-height: 53px;
    width: 16%;
    margin-left:70px;
}
.block-compare .block-content{}
.block-compare #compare-items{}
.block-compare #compare-items li.item {float:left;margin-left:10px;}
.block-compare #compare-items li.item a.btn-remove{
	background: url("../images/close_compare.png") left top no-repeat;
    height: 14px;
    position: absolute;
    right: -5px;
    text-indent: -999em;
    top: -5px;
    width: 14px;
}
.block-compare #compare-items li.item a.btn-remove:hover{
	background: url("../images/close_compare.png") top right no-repeat;
}
.block-compare #compare-items li.item p.product-name{
	border: 1px solid #E0E0E0;
    border-radius: 3px;
    height: 53px;
    margin:0;
    width: 53px;
}
.block-compare .actions{
	float:left;
	margin-left:20px;	text-align:center;
}
.block-compare .actions .btn_clear{
	float:left;
	width: 100%;
}
.block-compare .actions .btn_compare{
	background: url("../images/Untitled-1.jpg") 0 0 no-repeat;
    border: medium none;
    clear: both;
    float: left;
    height: 26px;
    width: 80px;
}
.block-compare .actions .btn_compare span{
	display:block;
	text-indent: -999em;
}
/******/
.category-products{float:left;width:100%;}
.category-products .page_nav {
    text-align: right;
}
.category-products .pages{
    float:left;
    width:100%;
}
.category-products .pagination {
    border-radius: 3px;
    display: inline-block;
    margin:20px 0 0;
   /*border:1px solid #DDDDDD; */
}
.category-products .pagination li {
    float:left;
    display:block;
    background: url("../images/pager_main.gif") center center repeat-x;
}
.category-products .pagination li:first-child a{
    border-left:none;
}
.pagination li a, .pagination li span {
    /*float: left;
    line-height: 1.42857;
    padding: 6px 12px;
    text-decoration: none;
    color: #333331;*/
    color: #333331;
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 6px 12px;
    text-decoration: none;
    border-left: 1px solid #DDDDDD;
}
.pagination li a img{
    vertical-align: inherit;
}
.pagination li a.i-previous {
    background: url("../images/pager_prev.gif") left center no-repeat;
}
.pagination li a.i-next {
    background: url("../images/pager_next.gif") right center no-repeat;
}
.pagination li:hover a,.pagination li.active span{
    background: none repeat scroll 0 0 #012b5b;
    color: #FFFFFF;
    border-left:1px solid #012b5b;
}
.pagination li:hover a.i-previous{
    border-radius: 3px 0 0 3px;
}
.pagination li:hover a.i-next{
    border-radius: 0 3px 3px 0;
}
.category-products .group_title{
    margin-top:5px;
}
.category-products .grid .item {
	width: 238px;
	height:325px;
}
.category-products .grid .item.first{
    margin-left:0;
}
.category-products .grid .item.last{
    margin-right:0;
}
.category-products .grid .item .actions .price-box{
	height: 40px;
    left: 40px;
    /*padding-left: 20px;*/
    position: absolute;
    width: 120px;
}
.category-products .grid .item .price-box .price-label{display:none;}
.category-products .grid .item .actions .btn-qview{
	background: url("../images/icon.png") -93px -6px no-repeat;
    border: medium none;
    opacity: 0;
    float: right;
    height: 40px;
    left: 187px;
    position: absolute;
    width: 40px;
}
.category-products .grid .item .actions .btn-qview a{
    display: block;
    height:43px;
    width: 43px;
}
.category-products .grid .item .actions .btn-qview:hover{
	background: url("../images/icon.png") -140px -5px no-repeat;
	height:37px;
}
.category-products .grid .item .actions .btn-buy_now{
	background: url("../images/icon.png") -192px -6px no-repeat;
    border: medium none;
    display: block;
    float: right;
    height: 43px;
    margin-right: 10px;
    opacity: 0;
    text-align: center;
    transform: rotate(0deg);
    width: 43px;
}
.category-products .grid .item .actions .btn-buy_now:hover{
	background: url("../images/icon.png") -238px -5px no-repeat;
}
.category-products .grid .item .actions .button span{
	display: inline-block;
    text-indent: -99em;
    overflow: hidden;
}
.category-products .grid .item .add-to-links{
    float: left;
    text-align: center;
    width: 100%;
}
.category-products .grid .item .compair input {
    padding: 0;
    margin: 0;
}
.category-products .grid .item .compair label {
    display: inline-block;
}
.grid-nav {
    width: 150px;
    background: #fff;
    text-align: right;
}
.grid-nav select {
    width: 140px;
}
.category-products .grid .item .actions{
    height: 35px;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
}
#product_comparison{
	border: 1px solid #E7E7E7;
    border-radius: 3px;
    display: block;
    float: left;
    width:100%;
}
#product_comparison thead th,
#product_comparison tbody th,
#product_comparison tfoot th{
	background-color: #FAFAFA;
	border-top: 1px solid #E7E7E7;
	padding:3px 5px;
}
#product_comparison tbody th span{
	margin-left:15px;
}
#product_comparison thead td,
#product_comparison tbody td,
#product_comparison tfoot td{
	border-left:1px solid #E7E7E7;
	border-top:1px solid #E7E7E7;
	padding: 3px 5px;
}
#product_comparison thead th,
#product_comparison thead td{	border-top:none;
}
#product_comparison thead td{
	text-align: center;
}
#product_comparison tboby td{
	text-align: justify;
}
#product_comparison .product-name {
	font-size: 1.1em;
    font-weight: normal;
    height: 40px;
    line-height: 1.3em;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
}
#product_comparison .product-name a{
	color: #757575;
	text-decoration: none;
}
#product_comparison .price-box .price-label{
	display:none;
}
#product_comparison .price-box .regular-price,
#product_comparison .price-box .old-price,
#product_comparison .price-box .special-price{
	color: #E40000;
    font-size: 15px;
	margin:0;
}
#product_comparison .price-box .old-price{
	text-decoration: line-through;
	color: #979797;
    font-size: 0.9em;
}
#product_comparison a.btn-remove{
	background: url("../images/icon-cart-delete.jpg") left top no-repeat;
    display: block;
    float: left;
    height: 22px;
    text-indent: -999em;
    width: 22px;
    margin-top:5px;
}
#product_comparison a.btn-remove:hover{
	background: url("../images/icon-cart-delete.jpg") right top no-repeat;
}
#product_comparison button.btn-buy_now{
	background: url("../images/bt-shopnow1.png") left top no-repeat;
    border: medium none;
    float: right;
    height: 33px;
    text-indent: -999em;
    width: 130px;
}
.main_compare .buttons-set{
	background: url("../images/icon_print.png") right center no-repeat;
    float: left;
    margin-bottom: 10px;
    padding-right: 25px;
    text-align: right;
    width: 97%;
}
.main_compare .buttons-set .link-print{
}
.colleft .sidebar_cat_bnn{background:#002b5a;float: left;padding-left: 9px;width: 97%;margin-bottom: 5px;white-space:nowrap;}
.colleft .sidebar_cat_bnn span{
 background:url("../images/icon-title.png") left center no-repeat;
 color: #ffffff;
 display: inline-block;
 font-size: 1.2em;
 height: 36px;
 line-height: 36px;
 padding: 0 0 0 28px; 
}
.colleft .banner_sidebar_detail a img{margin-bottom:5px;border:solid 1px #e5e5e5 !important;}