#top_hotline{white-space: nowrap;}
#right_top_nav{white-space: nowrap;}
.level-0>a{white-space: nowrap;}
.breadcrumbs a,.breadcrumbs span{white-space: nowrap;}
.cms-home .banner_top, .cms-page-view  .banner_top{height: auto ;overflow: hidden;line-height: 18px;}
.colleft .block .block-title span{font-size: 1.1em;}
.cms-home .banner_top a img, .cms-page-view .banner_top a img{position: static !important;}
#banner_top_bg button#close_top{top: 0;right: 0;}
#top_mid_nav p{margin-top: 0 !important;float: none !important;}
.btnmobile,.mobile{display: none;}
@media (min-width:992px) and (max-width:1200px){
    .product_detail_commitment,div#combo_promotion,.small_login .small_login_top, #top_nav{display: none !important;}
    body{min-width: 970px;}
    .container{ width: 970px !important; box-sizing:border-box;padding: 0;}
    #top_hotline,#right_top_nav{white-space: nowrap;}

    .header_container{width: 970px;box-sizing: border-box;}
    .slidebanner .container{padding: 0;}
    .nivo-controlNav{bottom: 25px;}

    #mainmenu ul li.level-0{position: inherit;}
    #mainmenu ul li a{white-space: nowrap;font-size: 12px;padding: 0 6px;}
    #mainmenu li.level-0 .submenu{width: 970px;box-sizing: border-box;}
    #submenu_1,#submenu_2,#submenu_3,#submenu_4,#submenu_5,#submenu_6,#submenu_7,#submenu_8{left: 0px !important;overflow: hidden;}
    #mainmenu ul .level-0 .submenu ul.level-1{padding: 10px 10px;}
    #mainmenu .submenu.col-5 li.level-1{width: 170px;}
    #second_menu{white-space: nowrap;}
    #second_menu a{font-size: 12px;}
    .header_middle_adv .item{width: 312px;}
    .colleft .block .block-title{width: 100%;box-sizing: border-box;}
    #maincontain{width: 970px !important;}
    .products_grid .grid li{width: 232px;margin-right: 13px;margin-left: 0;}
    .products_grid .grid .item{width: 100%;}

    /*DS SP*/
    .breadcrumbs{white-space: nowrap;}
    .colleft .block .block-title span{font-size: 1em;white-space: nowrap;}
    .colleft{width: 215px;}
    .container.col2-left-layout, .container.col1-layout{width: 970px !important;padding: 5px 0;}
    .colright{width: 740px;}
    .category-products .grid .item{width: 231px;}
    .currently a.btn-remove{float: left;padding-left: 10px;}

    /*DT SP*/
    .product_detail_left{width: 70%;}
    .product_image{width: 46%;margin-right: 15px;}
    .product_detail_left .product_info{width: 50%;float: left;}
    .a-right{float: none;}
    .product_info h1{line-height: 18px}
    #bt_rotate, #bt_rotate_no{background: url("../images/icon.png") no-repeat scroll -396px -282px #F4F4F4;padding: 0 0 0 35px;width: 100px;}
    #bt_zoom{background: url("../images/icon.png") no-repeat scroll -400px -345px #F4F4F4;width: 65px;padding: 0 0 0 15px;}
    #bt_zoom:hover{background: url("../images/icon.png") no-repeat scroll -400px -345px #002a5a !important;}
    .various{padding: 5px 5px 5px 20px;}
    #bt_video1{background: #f4f4f4 url(../images/icon.png) -400px -406px no-repeat;width: 80px;padding: 0 0 0 13px;}
    .various_no{padding: 8px 0 8px 30px !important;}
    .product-collateral .tabs{width: 69%;}
    #recentary_products{width: 100%;}
    .jcarousel-clip .more_view_grid1 li{border: none;}
    .more-views .jcarousel-prev-horizontal, .more-views .jcarousel-next-horizontal{top: 2px;}
    .more-views .jcarousel-list-horizontal{max-width: 282px !important;margin: 0 auto !important;}
    .more-views .jcarousel-prev-horizontal{left: -8px;}
    .more-views .jcarousel-next-horizontal{right: -8px;}
    #other_products{width: 30%;margin: 0;}

    .cms-chinh-sach-thu-doi .std{text-align: center;}
    .cms-huong-dan-mua-hang table,.cms-phuong-thuc-thanh-toan table,.cms-phuong-thuc-van-chuyen table,.cms-tu-van-su-dung table,.cms-phuong-thuc-bao-hanh table,.cms-phuong-phap-bao-quan table,.cms-phuong-thuc-thu-doi table,.blog-post-view table{max-width: 960px !important}
    .form_nav .pull-left label{white-space: nowrap;}
    .address_list{width: 30%;}
    .map{width: 68%;overflow: hidden;}

    /*PRODUCT COMPARE*/
    .catalog-product-compare-index{max-width: 970px;}
    .catalog-product-compare-index .header,.catalog-product-compare-index footer,.catalog-product-compare-index .breadcrumbs{display: none;}
    .catalog-product-compare-index .main_compare{min-height: .01%;overflow-x: auto;}
    .catalog-product-compare-index .compare-table{float: none;min-width: 600px;}

    /*LOGIN*/
    .small_login{width:250px;}
    .small_login_contain{margin-top: 10px;border: 1px solid #d6d6d6 !important;padding: 10px 13px;}
    .small_login .input input{width: 150px;}
    .small_login label{width: 61px;float: left;}
    .small_login .close{right: -15px;opacity: 0.6;top: 0;}
    /*FOOTER*/
    #footer_contain .list_items{width: 190px;}
    .product_image .product-image-thumbnail #icon_online{left: 86px;}
}

@media (min-width:768px) and (max-width:991px){
    .product_detail_commitment,div#combo_promotion,.small_login .small_login_top, #top_nav,#second_menu,#submenu_1,#submenu_2,#submenu_3,#submenu_4,#submenu_5,#submenu_6,#submenu_7,#submenu_8,.header_middle_adv .more,.category-products .grid .item.last,.category-products .grid .item .add-to-links{display: none !important;}
	body{min-width: 730px;}
    .container{ width: 730px !important; box-sizing:border-box;padding: 0 15px;}
    #top_hotline,#right_top_nav{white-space: nowrap;}

    .header_container{width: 730px;box-sizing: border-box;padding: 0 15px;}
    #header_bag{margin: 15px 0px 0 0;}
    #logo{margin: 8px 0px 0px;}
    #top_search,#top_mid_nav{left: 118px;}
    
    .nivo-controlNav{bottom: 12px;right: 30px;}

    #menu_area .container{background: none;}
    #mainmenu {padding: 0 0 0 0px;background: #001a36;width: 100%;border-radius: 4px 4px 0 0}
    #mainmenu ul li.level-0{position: inherit;}
    #mainmenu ul li a{white-space: nowrap;font-size: 10px;padding: 0 4px;}
    #mainmenu ul li.level-0 > a{margin-bottom: 0;}
    #mainmenu li.level-0 .submenu{width: 970px;box-sizing: border-box;}
    #mainmenu ul .level-0 .submenu ul.level-1{padding: 10px 10px;}
    #mainmenu .submenu.col-5 li.level-1{width: 170px;}

    .cms-home .std{display: none;position: relative;}
    .cms-home #maincontain .maintext{position: relative;margin-top: 20px;}
    .cms-home .maintext h1{margin: 0 0 5px;height: auto;}

    /*BANNER*/
    .header_middle_adv .item{width: 222px;}
    .header_middle_adv .item img{height: auto;}
    .header_middle_adv .item h2{;box-sizing: border-box;text-align: center;bottom: 42px;width: 100%;border-radius: 0 0 6px 6px;}
    .colleft .block .block-title{width: 100%;box-sizing: border-box;}
    #maincontain{width: 730px !important;padding: 0 15px;box-sizing: border-box;}
    .p_block_home .grid li,.p_block_home_top .grid li{width: 220px !important;margin-left: 0;margin-right: 13px;}
    .p_block_home_top .grid li img{max-width: 220px}
    .products_grid .grid li{width: 224px;margin-right: 13px;margin-left: 0;}
    .products_grid .grid .item{width: 100%;}
    .group_title{width: 90%;}
    #home_promotion_products .grid.odd li{margin-right: 0px;margin-left: 13px;}
    #home_promotion_products.products_grid .grid.odd li.first{margin-right: 0px;margin-left: 0px;}
    #home_promotion_products.products_grid .grid.odd li:nth-child(4n),#home_promotion_products.products_grid .grid.odd li.last{margin-left: 0;display: none;}
    
    #breadcrums{white-space: nowrap;}
    
    /*DS SP*/
    .banner_category{height: auto !important;position: relative;display: block;clear: both;}
    .banner_category img{position: relative !important;}
    .colleft .block .block-title span{font-size: 1em;white-space: nowrap;}
    .colleft{width: 215px;}
    .container.col2-left-layout, .container.col1-layout{width: 970px !important;padding: 5px 0;}
    .colright{width: 475px;}
    .banner_category{height: 127px;}
    .category-products .grid .item{width: 225px;height: auto;min-height: 358px;}
    .currently a.btn-remove{float: left;padding-left: 10px;}
    .products_grid .grid .item{margin-right:0;margin-left: 0;}
    .category-products .item.first{margin-right: 20px;margin-left: 0;}
    .category-products .grid .item .actions{height: auto;}
    .category-products .grid .item .actions .price-box{height: 40px;position: static;width: 100%;text-align: center !important;padding-left: 0 !important;}
    .category-products .grid .item .actions .btn-qview{border: medium none;opacity: 1 !important;float: none;height: 40px;left: 0 !important;position: relative;width: 40px;display: inline-block;}
    .category-products .grid .item .actions .btn-buy_now{border: medium none;display: inline-block;float: none;height: 43px;margin-right: 0;opacity:1 !important;text-align: center;width: 43px;margin-top: 10px;}
    .products_grid .grid .item .thumb img {max-width: 225px;max-height: 175px;}
    .account-create{background: none;}
    .account-create label{white-space: nowrap;}
    .cms-chinh-sach-thu-doi .std{text-align: center;}
    .cms-huong-dan-mua-hang table,.cms-phuong-thuc-thanh-toan table,.cms-phuong-thuc-van-chuyen table,.cms-tu-van-su-dung table,.cms-phuong-thuc-bao-hanh table,.cms-phuong-phap-bao-quan table,.cms-phuong-thuc-thu-doi table,.blog-post-view table{max-width: 710px !important}
    .form_nav .pull-left label{white-space: nowrap;}
    .address_list {float: left;width: 32%;}
    .map {float: right;width: 65%;}
    #google_map{width: 100% !important;}
    .contact_info {width: 30%;float: left;margin-top: 20px;}

    /*DT SP*/
    .product_detail_left{width: 100%;}
    .product_image{width: 46%;margin-right: 15px;}
    .product_detail_left .product_info{width: 50%;float: left;}
    .a-right{float: none;}
    .product_info h1{line-height: 18px}
    #bt_rotate, #bt_rotate_no{background: url("../images/icon.png") no-repeat scroll -396px -282px #F4F4F4;padding: 0 0 0 35px;width: 100px;}
    #bt_zoom{background: url("../images/icon.png") no-repeat scroll -400px -345px #F4F4F4;width: 65px;padding: 0 0 0 15px;}
    #bt_zoom:hover{background: url("../images/icon.png") no-repeat scroll -400px -345px #002a5a !important;}
    .various{padding: 5px 5px 5px 20px;}
    #bt_video1{background: #f4f4f4 url(../images/icon.png) -400px -406px no-repeat;width: 80px;padding: 0 0 0 13px;}
    .various_no{padding: 8px 0 8px 30px !important;}
    .product-collateral .tabs{width: 100%;}
    #recentary_products{width: 100%;}
    .jcarousel-clip .more_view_grid1 li{border: none;}
    .more-views .jcarousel-prev-horizontal, .more-views .jcarousel-next-horizontal{top: 2px;}
    .more-views .jcarousel-list-horizontal{max-width: 282px !important;margin: 0 auto !important;}
    .more-views .jcarousel-prev-horizontal{left: -8px;}
    .more-views .jcarousel-next-horizontal{right: -8px;}
    #other_products{width: 100%;margin: 0;}
    #other_products .item{width: 33%;float: left;box-sizing: border-box;border: none;clear: none;margin-bottom: 10px;}
    #other_products .product-details{width: 50%;}
    #other_products .item .thumb{width: 50%;height: 105px;float: left;margin: 0 0px 0 0;}
    /*CART*/
    .discount-code {border: 1px solid #C0C0C0;padding: 40px 10px;width: 55%;border-radius: 3px;-moz-border-radius: 3px;}
    .product-collateral ul li a{white-space: nowrap;}
    .checkout-cart{width: 231px;}
    .discount-form .input-box input{margin: 0 10px 0 0;}
     /*PRODUCT COMPARE*/
    .catalog-product-compare-index,.catalog-product-compare-index .container.col1-layout{max-width: 730px !important;margin: 0 auto;padding: 0;box-sizing: border-box;}
    .catalog-product-compare-index header,.catalog-product-compare-index footer,.catalog-product-compare-index .breadcrumbs{display: none;}
    .catalog-product-compare-index .main_compare{min-height: .01%;overflow-x: auto;}
    .catalog-product-compare-index .compare-table{float: none;min-width: 580px;box-sizing: border-box;}
    
    /*LOGIN*/
    .small_login{width:250px;}
    .small_login_contain{margin-top: 10px;border: 1px solid #d6d6d6 !important;padding: 10px 13px;}
    .small_login .input input{width: 150px;}
    .small_login label{width: 61px;float: left;}
    .small_login .close{right: -15px;opacity: 0.6;top: 0;}

    /*FOOTER*/
    #footer_contain .list_items{margin: 0 0px 0 0;padding: 0 0px 0 5px;width: 24%;box-sizing: border-box;height: 218px;}
    #footer_contain .list_items:first-child{padding: 0;}
    #footer_icon .affiliate,#footer_icon .newsletter{display: none;}
    #footer_icon {width: 170px;}
    #footer_icon .certificate .caption {height: auto;padding-bottom: 5px;}
    #footer_icon .certificate{margin: 0px 0;width: 100%;text-align: center;}
    #footer_icon .certificate2{margin-top: 10px;}
    .certificate2 .caption{margin: 0;}
    #footer_icon .certificate a{float: none;}
    #footer_icon .certificate a img{max-height: 80px;}
    .certificate2{margin-top: 12px;}
    footer .web_links{margin: 0;padding-top: 10px;width: 100%;text-align: right;border-top: 1px solid #003D7F;}
    #footer_contain h4{font-size: 12px;}
    footer .web_links .web_link_contain ul{text-align: left;}
    .products_grid .grid .item #icon_online{left: 40px;}
    .product_image .product-image-thumbnail #icon_online{left: 94px;}
}

@media (max-width:767px){
   .product_detail_commitment,div#combo_promotion,.small_login .small_login_top, #top_nav,#second_menu,#submenu_1,#submenu_2,#submenu_3,#submenu_4,#submenu_5,#submenu_6,#submenu_7,#submenu_8,.category-products .grid .item.last,.category-products .grid .item .add-to-links,#top_hotline,.homeitem,.jcarousel-container .jcarousel-next,.jcarousel-container .jcarousel-prev,.icon-look,#footer_icon .affiliate,#footer_icon .newsletter,#footer_icon,footer .web_links,.category-products .grid .item .actions .btn-qview,#bt_zoom,#recentary_products{display: none !important;}
   #top_search{left: 0; position:relative; bottom:8px; float:none; top:50px;}
   #top_search button{
	   float:right;
	   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004a9f+0,012754+100 */
background: #004a9f; /* Old browsers */
background: -moz-linear-gradient(top, #004a9f 0%, #012754 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004a9f), color-stop(100%,#012754)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #004a9f 0%,#012754 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #004a9f 0%,#012754 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #004a9f 0%,#012754 100%); /* IE10+ */
background: linear-gradient(to bottom, #004a9f 0%,#012754 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a9f', endColorstr='#012754',GradientType=0 ); /* IE6-9 */
width:15%;
   }
   .sbHolder{
	   width:25%;
   }
   #top_search #txt_search_value{
	   width:50%;
   }
   #top_search .sbHolder .sbSelector{
	   width:70%;
   }
   .form-search:after{
	   clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
   }
    body{min-width: 290px;}
    .container{ width: auto !important; box-sizing:border-box;padding: 0 15px;}
    #top_hotline,#right_top_nav{white-space: nowrap;}

    .header_container{width:auto;box-sizing: border-box;padding: 0 15px;text-align: center; height:200px;}
    #header_bag{margin: 15px 20px;float: none;display: inline-block;vertical-align: middle;}
    #logo{margin: 8px 20px 0;float: none;display: inline-block;}
    #top_mid_nav {left: 20%;position: absolute;text-align: left;top: 117px;width: 66%;box-sizing: border-box;padding-left: 15px;}
    #top_mid_nav p span{font-size: 14px !important;}
    .btnmobile{width: 100%;height: 35px;border: none;border-radius: 4px 4px 0 0;background: #001a36 url(icon/iconmobile.png) no-repeat right center;display: block;}
    .btnmobile:focus{outline: none}
    #mainmenu{display: none;}
    .nivoSlider{height: auto !important;}
    .nivo-controlNav{bottom: 0px;right: 15px;}

    #menu_area .container{background: none;}
    #mainmenu {padding: 0 0 0 0px;background: #01264f;width: 100%;border-radius: 0px 0px 0px 0px;overflow: hidden;}
    #mainmenu ul li.level-0{position: inherit;border-top: 1px solid #003976;background: none;float: none;}
    #mainmenu ul li a{white-space: nowrap;font-size: 14px;padding: 0 5px;display: block;border: none;}
    #mainmenu ul li.level-0 > a{border: none;}
    #mainmenu ul li.level-0:hover > a{border: none;height: auto;background-image:none;background-color: #003976;}
    #mainmenu ul li.level-0 > a{margin-bottom: 0;}
    #mainmenu li.level-0 .submenu{width: 970px;box-sizing: border-box;}
    #mainmenu ul .level-0 .submenu ul.level-1{padding: 10px 10px;}
    #mainmenu .submenu.col-5 li.level-1{width: 170px;}

    .header_middle_adv .item{width: 100%;height: auto;margin: 0 auto 15px !important;max-width: 330px;float: none;clear: both;}
    .header_middle_adv .item h2{font-size: 1em;width: 66%;box-sizing: border-box;}
    .header_middle_adv .item .more a{width: 34%;padding: 0 10px;font-size: 1em;box-sizing: border-box;}
    .cms-home .std{display: none;position: relative;}
    .cms-home #maincontain .maintext{position: relative;margin-top: 20px;}
    .cms-home .maintext h1{margin: 0 0 5px;height: auto;}

    .banner_category{height: auto !important;position: relative;display: block;clear: both;}
    .banner_category img{position: relative !important;}
    .products_grid .grid .item .thumb{width: 100%;display: block;text-align: center;margin: 0px 0 0 0;}
    #breadcrums a{white-space: nowrap;}
    .category-products .grid .item .actions{height: auto;}
    .category-products .grid .item .actions .price-box{height: 40px;position: static;width: 100%;text-align: center !important;padding-left: 0 !important;}
    .category-products .grid .item .actions .btn-qview{border: medium none;opacity: 1 !important;float: none;height: 40px;left: 0 !important;position: relative;width: 40px;display: inline-block;}
    .category-products .grid .item .actions .btn-buy_now{border: medium none;display: inline-block;float: none;height: 43px;margin-right: 0;opacity:1 !important;text-align: center;width: 43px;margin-top: 10px;}

    #maincontain{padding: 0 15px 0px;width: auto !important;box-sizing: border-box;}
    #maincontain .colleft{float: none;width: 100%;display: inline-block;}
    #maincontain .colright{float: none;width: 100%;}
    .colleft .block .block-title{width: 100%;box-sizing: border-box;}
    .colleft .block .block-title span{white-space: nowrap;}
    .category-products .pagination{margin: 0px 0 10px;}
    .products_grid .grid .item h3{height: auto;}

    .product_detail_left,.product_detail_left .product_info{width: 100%;float: none;}
    .product_image,.form-list,#sender_options .fields .field, #recipients_options .fields .field, .nickname_field, .summary_field,#comments form{width: 100%;float: none;box-sizing: border-box;}
    .product_info select{width: 70px;}
    #bt_video1{width: 115px;}
    .group_title{background: none;font-size: 1em;display: block;width: 100%;}
    .grid-nav{width: 100%;position: relative;}
    .grid-nav select{width: 100%;}
    .product-collateral {margin: 20px 0 0 0;width: 100%;float: none;}
    .product-collateral .tabs{margin: 20px 0 0 0;width: 100%;float: none;}
    .tabs .tab-content{padding: 10px;}
    .tabs ul.nav li{display: block;float: none;border: 1px solid #e3e3e3;margin: 0;box-sizing: border-box;}
    .tabs .scroll-tab1, .tabs .scroll-tab1 a, .tabs .scroll-tab1 a:hover, .tabs .scroll-tab1 a:focus,
    .tabs .scroll-tab2, .tabs .scroll-tab2 a, .tabs .scroll-tab2 a:hover, .tabs .scroll-tab2 a:focus,
    .tabs .scroll-tab3, .tabs .scroll-tab3 a, .tabs .scroll-tab3 a:hover, .tabs .scroll-tab3 a:focus{border-radius: 0 !important;}
    #product-review-table .first th{white-space: nowrap;}
    .buttons-set .button{margin-right: 0;}
    #recentary_products, #combo_promotion{float: none;margin: 20px 0 0 0;width: 100%;display: inline-block;}
    #other_products{width: 100%;}
    #other_products .item .thumb{width: 50%;height: auto;float: left;margin: 0 0px 0 0;}
    #other_products .product-details {width: 50%;}

    .jcarousel-container.jcarousel-container-horizontal,.grid.jcarousel-list.jcarousel-list-horizontal{max-width: 100%}
    .products_grid .grid li{width: 100%;margin-right: 0;margin-left: 0;}
    .products_grid .grid .item{width: 100%;box-sizing: border-box;height: auto;padding: 10px 0;margin: 0 0 10px !important;}
    #home_promotion_products .view_all{background: none;padding-right: 0;right: 0;}
    .mobile{width: 100%;padding: 15px;display: inline-block;background: #01264f;box-sizing: border-box;color: #fff;text-align: center;}
    .mobile a{color: #fff;}
    .mobile .pull-left{float: none;}
    #order_search{padding: 15px;box-sizing: border-box;height: 88px;}
    #order_search form{width: 100%;}
    #order_search form *{float: none;}
    #order_search form label{width: 100%;display: block !important;text-align: center;float: none;}
    #order_search form input{margin: 0;width: 138px;}
    .order_tracking{width: 100%;}
    #order_tracking .order-view-notfound{padding: 0;}
    .fancybox-wrap{width: 93% !important;left: 10px !important;}
    .fancybox-inner{width: 100% !important;}
    /**/
    .account-create{background: #efefef;box-shadow: none;border-radius: 0;padding: 10px;}
    .account-create form{width: 100%;margin: 0px 0 0 0px;}
    .account-create .form-list .fields input{width: 100% !important;box-sizing: border-box;margin: 0 !important;height: 34px !important;}
    .form-list label{width: 100%;}
    .form_nav .pull-left label{white-space: nowrap;}

    /*LOGIN*/
    .small_login{width:250px;}
    .small_login_contain{margin-top: 10px;border: 1px solid #d6d6d6 !important;padding: 10px 13px;}
    .small_login .input input{width: 150px;}
    .small_login label{width: 61px;float: left;}
    .small_login .close{right: -15px;opacity: 0.6;top: 0;}

     .cms-huong-dan-mua-hang table,.cms-phuong-thuc-thanh-toan table,.cms-phuong-thuc-van-chuyen table,.cms-tu-van-su-dung table,.cms-phuong-thuc-bao-hanh table,.cms-phuong-phap-bao-quan table,.cms-phuong-thuc-thu-doi table,.blog-post-view table{max-width: 280px !important}
     #store_page{margin:10px 0;}
    .address_list {float: none;width: 100%;}
    .map {float: none;width: 100%;overflow: hidden;}
    
    #footer_contain{padding: 20px 0 0;}
    #footer_contain .list_items{border-right: none;float: none;height: auto;margin: 0 0px 10px 0;padding: 0 0px 0 0;width: 100%;text-align: center;border-bottom: 1px solid #003976;}
    #footer_contain .list_items:nth-child(3){border-bottom: none;margin: 0;}
    #footer_contain .list_items ul{padding: 0 0 5px 0px;}
    #footer_contain .list_items ul li{margin: 0 0 3px 0;}
    #footer_icon .certificate{margin: 0px 0 20px;float: none;width: 120px;text-align: center;display: inline-block;}
    footer .web_links {float: none;clear: right;position: relative;margin: 0 0px 0 0;text-align: center;width: 100%;}
    .copyright .pull-left{float: none;text-align: center;word-spacing: 1px;}
    #footer_share {color: #fff;float: none;text-align: center;}
    .products_grid .grid .item #icon_online,.product_image .product-image-thumbnail #icon_online{left: 25%;}
}

@media (min-width:480px) and (max-width:767px){
    .products_grid .grid .item #icon_online,.product_image .product-image-thumbnail #icon_online{left: 37%;}
}
@media (max-width:480px){
	#top_search button{
		font-size:12px;
		line-height:15px;
	}
	.sbOptions{
		width:160px;
	}
	#top_mid_nav {left: 0; width:100%;}
	#top_mid_nav  img{width:100%;}
}