.box-head h3 {
	font-size: 1.1em;
	line-height: 16px;
}
h2.legend {
	font-size: 1.1em;
	line-height: 1.3em;
}
h2.legend #sharepoints_form_hide {
	float: right;
}
#siimage {
	margin-left: 185px;
}
.box-recent h3 {
	float: left;
}