#store_page {
	margin: 0 10px;
}
.page-title {
	border-bottom: 1px solid #BDBDBD;
    height: 27px;
    margin: 0 0 20px 0 ;
}
.page-title h1 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}
h2 {
	font-size: 1em;
	background: url(../images/store-title-bg.jpg) left bottom repeat-x;
	margin: 0;
	padding: 0;
	height: 22px;
	overflow: hidden;
	line-height: 22px;
	padding-left: 5px;
}
h2 a {
	background: url(../images/store-title-bullet.jpg) left bottom no-repeat;
	padding: 0 0 0 25px;
	color: #514f50;
}
.address_list {
	float: left;
	width: 325px;
}
.map {
	float: right;
}
.address_list ul {
	margin: 20px 0 0 0;
}
.address_list li {
	background: url(../images/icon-location.png) left top no-repeat;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}
.address_list li a {
	font-weight: bold;
	color: #5d5d5d;
}
.address_list li a.active {
	color: #012b5b;
	text-decoration: none;
}
#d_region {
	width: 180px;
}
.address_list_item {
	margin: 5px 0;
}