/* Base Superbox Styles */
#superbox-overlay{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;}
#superbox-wrapper{position:fixed;z-index:9999;top:0;display:table;width:100%;height:100%;}
#superbox-container{position:relative;display:table-cell;width:100%;height:100%;margin:0;padding:0;vertical-align:middle;}
#superbox{margin:0 auto;padding:0;}
#superbox-container .loading{margin:0;text-align:center;}

/* IE7 */
*:first-child+html #superbox-container{position:absolute;top:50%;display:block;height:auto;}
*:first-child+html #superbox{position:relative;top:-50%;display:block;}
/* IE6 - Thanks to Thickbox for IE expressions */
* html #superbox-container{position:absolute;top:50%;display:block;height:auto;}
* html #superbox{position:relative;top:-50%;display:block;}
* html #superbox-overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight + 'px' : document.body.offsetHeight + 'px');}
* html #superbox-wrapper{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}

/* Default Theme */
#superbox-overlay{background: none repeat scroll 0 0 #003064;filter:alpha(opacity=70)}
#superbox-container .loading{text-align:center;font-size:40px;color:#fff;}
#superbox{padding:10px;background:#fff;display:block;position:relative !important;}
#superbox-innerbox {display:table;width:100%;margin-bottom: 15px;}
#superbox.image{text-align:center;}
#superbox .close,
#superbox .nextprev{overflow:hidden;margin:0;}
#superbox .close{
    background-image: url("../images/icon.png");
    background-position: -89px -200px;
    background-repeat: no-repeat;
    float: right;
    height: 23px;
    opacity: 1;
    position: relative;
    right: -22px;
    text-indent: -999em;
    top: -22px;
    width: 23px;
}

#superbox .close:hover{
    background-position: -89px -236px;
}
#superbox .close a{display: block; cursor: pointer;}

/* Add them */

.rounded{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; border: 2px solid #9dafc3;}
.rounded form{margin:0;}
#superbox-container .qview_product_image{
	float:left;
	width:48%;
}

#superbox-container .qview_product_image .qview-image{
    text-align: center;
}

#superbox-container .qview_product_info{
	float:right;
	width:48%;
}

.qview_product_info .product-name{
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 8px;  
}

.qview_product_info .label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #373737;
    text-shadow: none;
}

.qview_product_info .product_desc {
    padding: 8px 0;
}
.qview_product_info .product_price{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.qview_product_info .product_price .price-label{
    display:none;
}

.qview_product_info .product_price .old-price{
    font-size: 1.1em;
    text-decoration: line-through;
    color:#767676;
}

.qview_product_info .product_price .special-price,
.qview_product_info .product_price .regular-price {
    font-size: 1.3em;
    font-weight: bold;
    color: #E40000;
}


.qview_product_info .product_banner_adv {
    margin: 15px 0;
}

.qview_product_info .product_size {
    position: relative;
}

.qview_product_info button {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0;
}


.qview_product_info .product_share {
    margin: 8px 0 0;
}
