<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');

$zoomWidth   = Mage::helper('quickview/quickview')->getZoomWidth();
$zoomHeight  = Mage::helper('quickview/quickview')->getZoomHeight();
$imgWidth  = Mage::helper('quickview/quickview')->getImageWidth();	
$imgHeight  = Mage::helper('quickview/quickview')->getImageHeight();	
$pHeight  = Mage::helper('quickview/quickview')->getPaginationHeight();	
$pWidth  = Mage::helper('quickview/quickview')->getPaginationWidth();
?>
<?php
$icon = strtolower($_product->getResource()->getAttribute('product_icon')->getFrontend()->getValue($_product));
$normal_price = Mage::helper('core')->currency($_product->getPrice(), false, true);
$special_price = Mage::helper('core')->currency($_product->getSpecialPrice(), false, true);
$final_price = Mage::helper('core')->currency($_product->getFinalPrice(), false, true);
$discount = $normal_price - $final_price;
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
    <div class="product-image-thumbnail fn-product-2 active-thumb">
        <?php if($icon == "new"):?>
		<div class="icon" id="icon_new"><span><?php echo $this->__('New')?></span></div>
		<?php else:?>
			<?php if($icon == "online"):?>
			<div class="icon" id="icon_online"><span><?php echo $this->__('Sale Online')?></span></div>
			<?php else:?>
				<?php if($icon == "hot"):?>
				<div class="icon" id="icon_hot"><span><?php echo $this->__('Hot')?></span></div>
				<?php else :?>
					<?php if($icon == "gift"):?>
					<div class="icon" id="icon_gift"></div>
					<?php else:?>
						<?php if($icon == "limited"):?>
						<div class="icon" id="icon_limited"></div>	
						<?php else:?>
							<?php if($icon=="same-price" && $special_price > 0):?>
							<div class="icon" id="icon_same_price">
								<span><?php echo round($special_price/1000,0)?>K</span>
							</div>
							<?php else:?>
								<?php if($discount > 0 ||$icon == "discount" && $discount > 0):?>
								<div class="icon" id="icon_discount">
									<span>- <?php echo round((($discount / $normal_price) * 100), 1) ?>%</span>
								</div>
								<?php endif ;?>
							<?php endif; ?>
						<?php endif;?>
					<?php endif;?>
				<?php endif;?>
			<?php endif ;?>
		<?php endif ;?>
        <a class="product-image cloud-zoom" id="zoom1"
        	href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($imgWidth*2 ,$imgHeight*2 ) ?>"
        	rel="zoomWidth:<?php echo $zoomWidth?>,zoomHeight:<?php echo $zoomHeight?>, adjustX: 10, adjustY:-1,showTitle:false,lensOpacity:0">
            <?php
            $_img = '<img id="image" src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($imgWidth,$imgHeight) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </a>

        <?php if (count($this->getGalleryImages()) > 0): ?>
            <div class="more-views">
                <div class="slide_image">
                    <?php if (count($this->getGalleryImages()) < 5): ?>
                        <ul class="quick_view_galary clear">
                            <?php foreach ($this->getGalleryImages() as $_image): ?>
                                <li class="a-left">
                                    <a class='cloud-zoom-gallery' title='Thumbnail 1'
										href='<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($imgWidth*2 ,$imgHeight*2 ); ?>'
                                       	rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($imgWidth,$imgHeight); ?>' ">
                                        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($pWidth,$pHeight); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php else: ?>
                        <ul class="quick_view_galary clear" id="qview_5">
                            <?php foreach ($this->getGalleryImages() as $_image): ?>
                                <li>
                                    <a href='<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($imgWidth*2 ,$imgHeight*2 ); ?>'
                                       class='cloud-zoom-gallery' title='Thumbnail 1'
                                       rel="useZoom: 'zoom1', smallImage: '<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($imgWidth,$imgHeight); ?>' ">
                                        <img
                                            src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($pWidth,$pHeight); ?>"
                                            alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php else: ?>
    <p class="product-image">
        <a class="cloud-zoom" id="zoom1" href='<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($imgWidth,$imgHeight) ?>' 
            rel="zoomWidth:<?php echo $zoomWidth?>,zoomHeight:<?php echo $zoomHeight?>, adjustX: 10, adjustY:-1">
            <?php
            $_img = '<img src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($imgWidth,$imgHeight) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </a>
    </p>
<?php endif; ?>
<script>
    jQuery(document).ready(function () {
            jQuery('#qview_5').jcarousel({
                scroll: 1,
                visible: 4,
                buttonNextEvent: 'click',
                buttonPrevEvent: 'click',
                itemFallbackDimension: 300,
            });            
            jQuery('.cloud-zoom, .cloud-zoom-gallery').CloudZoom({ showTitle: false, removeZoom:true }); 
    });
    function fnActive($c, $id) {
        $i = 1;
        for ($i; $i <= 3; $i++) {
            if ($i == $c) {
                jQuery('.fn-product-' + $i).removeClass('dis-enable-thumb');
                jQuery('.fn-product-' + $i).addClass('active-thumb');
            }
            else {
                jQuery('.fn-product-' + $i).addClass('dis-enable-thumb');
                jQuery('.fn-product-' + $i).removeClass('active-thumb');
            }
        }
    }
    function fnDisEnable() {
        jQuery('.fn-product-1').addClass('dis-enable-thumb');
        jQuery('.fn-product-1').removeClass('active-thumb');
        jQuery('.fn-product-2').removeClass('dis-enable-thumb');
        jQuery('.fn-product-2').addClass('active-thumb');
        jQuery('.fn-product-3').addClass('dis-enable-thumb');
        jQuery('.fn-product-3').removeClass('active-thumb');
    }

</script>