<div class="page-title">
    <span class="billing-bg"></span> <h2><?php echo $this->__('Billing Information') ?></h2>
    <div class="clear"></div>
</div>

    <?php $allow_guest = Mage::getStoreConfig('onestepcheckout/general/Allow_guest_checkout'); ?>

    <div class="col-1" style="display: none;">
        <!---if guest checkout is activated in admin-->
        <?php if (($allow_guest) && (!$this->isCustomerLoggedIn())): ?>
            <input type="hidden" name="checkout_method" value="guest" id="login:guest" checked="checked" class="radio" />
        <?php else: ?>
            <input type="hidden" name="checkout_method" id="login:register" value="register<?php $this->getQuote()->getCheckoutMethod() == Mage_Checkout_Model_Type_Onepage::METHOD_REGISTER; ?>" checked="checked" />
        <?php endif; ?>
    </div>      
        
    <ul class="form-list">
        <!-- start of Default Billing Address -->
        <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label  for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
        <?php endif; ?>
        <!-- End of Default Billing Address -->
        
        <!-- start of Billing fields -->
        <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
                <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
                <input type="hidden" name="qqq" value="" id="register_customer" />
                <div style="display: none;">
                    <input type="text" id="company_name" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" />
                    <input type="text" id="company_taxvat" value="" name="billing[taxvat]">
                    <input type="text" id="company_address" name="companyaddress" value="">
                </div>
                <ul>
                    <li class="fields cust_name">
                        <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    </li>
                    
                    <?php if (!$this->isCustomerLoggedIn()): ?>
                    <li class="fields">
                        <label for="billing:email" class="required"><?php echo $this->__('Email Address') ?><em>*</em></label>
                        <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                    </li>
                    <?php endif ?>
                    
                    <?php if (!$this->settings['display_telephone']): ?>
                    <li class="fields">
                        <div class="field">
                            <label for="billing:telephone" class="required"><?php echo $this->__('Mobile') ?><em>*</em></label>
                            <input maxlength="15" type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry validate-number" id="billing:telephone" />
                        </div>
                    </li>
                    <?php endif; ?>

                    <li class="fields " >
                        <label for="billing:street1" class="required"><?php echo $this->__('Address') ?><em>*</em></label>
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry"/>
                    </li>
                    <?php if (!$this->settings['display_state']): ?>
                    <li class="fields input-region-field">
                        <div class="fields">
                            <label for="billing:region_id" class="required region_id_default"><?php echo $this->__('State/Province')  ?><em>*</em></label>
                            <select onchange="loadDistrict(this, 'billing_city');" id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select ">
                                <option value="">Vui lòng chọn</option>
                            </select>
                            <script type="text/javascript">
                                //<![CDATA[
                                //$('billing:region_id').setAttribute('defaultValue',  "");
                                //]]>
                                //jQuery('.region_id_default').setAttribute('defaultValue',  "Vui lòng chọn");
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                        </div>
                    </li>
                    <?php endif; ?>

                    <?php if (!$this->settings['display_city']): ?>
                    <li class="fields input-city-field">
                        <label for="billing_city" class="required"><?php echo $this->__('City') ?><em>*</em></label>
                        <select id="billing_city" name="billing[city]" title="<?php echo $this->__('City') ?>" class="validate-select">
                            <option value="">Vui lòng chọn</option>
                        </select>
                    </li>
                    <?php endif; ?>
                    
                    <li class="fields">
                        <input type="hidden" name="billing[country_id]" id="billing:country_id" value="<?php echo $this->settings['default_country_id']; ?>" />
                    </li>

                    <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()): ?>
                    <li class="control">
                        <input type="hidden" name="billing[save_in_address_book]"  value="1"  />
                    </li>
                    <?php else: ?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                    <?php endif; ?>
                </ul>
        </li>
    </ul>
<!-- End of Billing fields -->
    
<script type="text/javascript">

//<![CDATA[
    var billing = new Billing('co-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-form');
    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    //]]>
    </script>
<?php if(!$this->settings['display_state']):?>
    <script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
    <script type="text/javascript">
        var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');
    </script>
<?php endif;?>

<script type="text/javascript">
document.observe('dom:loaded', function()
{
<?php if($this->isCustomerLoggedIn()): ?> 
        AjaxupdateShippingandPayment()
        <?php endif; ?>
<?php if($this->settings['enable_ajax_save_billing']):?>
var shipping_address_select = $('shipping-address-select');
var billing_address_select = $('billing-address-select');
var billing_region_id = $('billing:region_id');
var shipping_region_id = $('shipping:region_id');
<?php if($this->AjaxSaveBillingFields('country')){ ?>
$('billing:country_id').observe('change',function() { AjaxupdateShippingandPayment() });
<?php if($this->BillingAddressForShipping()){ ?>
$('shipping:country_id').observe('change', function() { AjaxupdateShippingandPayment() });
<?php if($this->isCustomerLoggedIn()){ ?>
if(shipping_address_select !== null)
{
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php }}} ?>

<?php if($this->AjaxSaveBillingFields('state/region')): ?>
if(billing_region_id != null){
$('billing:region_id').observe('change', function() { AjaxupdateShippingandPayment() });
$('billing:region').observe('change', function() { AjaxupdateShippingandPayment() });
}

<?php if($this->BillingAddressForShipping()): ?>
if(shipping_region_id != null){
$('shipping:region_id').observe('change',function() { AjaxupdateShippingandPayment() });
$('shipping:region').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php if($this->isCustomerLoggedIn()): ?>
if(shipping_address_select !== null) {
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->isCustomerLoggedIn()): ?>
if(billing_address_select !== null) {
Event.stopObserving('billing-address-select', 'change');
$('billing-address-select').observe('change',function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->AjaxSaveBillingFields('zip code / postal code')): ?>
if($('billing:postcode') != null){ 
    $('billing:postcode').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php if($this->BillingAddressForShipping()): ?>
if($('billing:postcode') != null){
    $('shipping:postcode').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php if($this->isCustomerLoggedIn()): ?>
if(shipping_address_select !== null) {
    Event.stopObserving('shipping-address-select', 'change');
    $('shipping-address-select').observe('change',function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->isCustomerLoggedIn()): ?>
if(billing_address_select !== null) {
    Event.stopObserving('billing-address-select', 'change');
    $('billing-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?> 
<?php if($this->AjaxSaveBillingFields('city')): ?> 
$('billing_city').observe('change',function() { AjaxupdateShippingandPayment() });

<?php if($this->BillingAddressForShipping()): ?>
$('shipping_city').observe('change', function() { AjaxupdateShippingandPayment() });
<?php if($this->isCustomerLoggedIn()): ?>
if(shipping_address_select !== null) {
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->isCustomerLoggedIn()): ?>
if(billing_address_select !== null) {
Event.stopObserving('billing-address-select', 'change');
$('billing-address-select').observe('change',function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
   function AjaxupdateShippingandPayment()
    {
             var shipment_methods = $('ajax-shipping-method');
             var payment_methods = $('ajax-payment-methods');
             var totals = $('checkout-review-load');
             var shipment_methods_found = false;
             var defaultvalut = 0;

        if(typeof shipment_methods != 'undefined'&& shipment_methods != null )
        {

            shipment_methods_found = true;
        }

        if(shipment_methods_found)
        {
            shipping.reloadReviewBlock();
            shipment_methods.update('<div class="loading-ajax">&nbsp;</div>');
        }

        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
        totals.update('<div class="loading-ajax">&nbsp;</div>');
        this.saveUrl ='<?php echo $this->getUrl('onestepcheckout/index/savebilling', array('_secure'=>true)); ?>'
        var request = new Ajax.Request(
            this.saveUrl,
            {
                method:'post',
                parameters: Form.serialize('co-form'),
                onSuccess: function(transport)
                {

                 if(transport.status == 200)
                 {

                var data = transport.responseText.evalJSON();
                if(shipment_methods_found)
                 {
                    shipping.reloadReviewBlock();
                    shipment_methods.update(data.shipping_method);
                 }

                payment_methods.update(data.payment_method);
                if(defaultvalut==0)
                {
                	payment.switchMethod(paymentMethod);
                	defaultvalut =1;
                }
                checkout.reloadReviewBlock();
               // totals.update(data.product_information);

                }
              }

            }
        );
            }
   <?php
   $enableGeoIp = Mage::getStoreConfig('onestepcheckout/general/enable_geoip');
	if($enableGeoIp == 1)
	{ ?>
   		AjaxupdateShippingandPayment();

	<?php } ?>
            <?php endif; ?>
  })

</script>

<script type="text/javascript">
    function loadDistrict(provinceObj, districtId){
        if( jQuery(provinceObj).val() == '' ){
            jQuery('#'+districtId).empty();
            return;  
        } 
        
        jQuery('#'+districtId).attr("disabled", true);
        
        jQuery.ajax({
            type: 'post',
            url: '<?php echo $this->getUrl('district/index/index', array('_secure'=>true)); ?>',
            data: 'province='+ jQuery(provinceObj).val(),
            success: function(option){
                jQuery('#'+districtId).empty().append(option);
                jQuery('#'+districtId).attr("disabled", false);
            }
        });   
    }
</script>