<div class="page-title">
  <span class="review-bg"></span>  <h2><?php echo $this->__('Order Review') ?></h2>
  <div class="clear"></div>
</div>

<div class="order-review" id="checkout-review-load"></div>

<div class="free_ship_note" id="free_ship_note" align="right"><a href="<?php echo $this->getUrl('mien-phi-van-chuyen-cho-don-hang-tren-200');?>" target="blank" title="Miễn phí vận chuyển và phí bảo hiểm cho đơn hàng trên 200.000đ">Miễn phí vận chuyển và phí bảo hiểm</br>cho đơn hàng trên 200.000đ</a></div>

<?php 
    $coupon_enabled=Mage::getStoreConfig('onestepcheckout/general/Activate_apptha_discount');
 if($coupon_enabled):
?>
<div class="onestepcheckout-coupons">
            <div id="coupon-notice" style="display: none;"></div>
            <?php $couponcode = $this->getQuote()->getCouponCode(); ?>
            <label style="font-weight:bold;"><?php echo $this->__('Coupon code:'); ?></label><br/>
            <input class="input-text" type="text" name="couponcode" id="couponcode" onfocus="coupon_code_focus();" value="<?php echo $couponcode; ?>" />
            <div id="coupon_err_msg" style="display:none;clear: both;"><?php echo $this->__('Please enter a coupon code.'); ?></div>
            <button  type="button" class="button btn" onclick="coupon_code()"><span><span><?php echo $this->__('Apply Coupon');
?></span></span></button>
            
            <button type="button" class="button" id="coupon_remove" onclick="couponremove();" style="<?php if($couponcode ==
'') { echo 'display: none;'; } ?>"><span><?php echo $this->__('Cancel Coupon'); ?></span></button>
            
            <script type="text/javascript">

               function coupon_code_focus()
               {
					$('coupon_err_msg').hide();
               }

                function coupon_code()
                {
                    var coupon = $('couponcode').getValue();
                    var couponMessage = $('coupon-notice');
                    couponMessage.hide();
                    if(coupon == '')
                    {
                       $('coupon_err_msg').show();
                      //  alert('<?php echo $this->__('Please enter a coupon code.'); ?>');
                        return;
                    }
					
                    var url = '<?php echo $this->getUrl('onestepcheckout/index/couponcode', array('_secure'=>true)); ?>';
                    var parameters = {code: coupon};
                    var summary = $('checkout-review-load');

                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport) {
                            if(transport.status == 200) {

                                var response = transport.responseText.evalJSON();

                                if(response.success) {
                                   // summary.update(response.summary);
                              //      checkout.reloadReviewBlock();
                                    couponMessage.update(response.message);
                                    couponMessage.removeClassName('error-msg');
                                    couponMessage.addClassName('success-msg');
                                    couponMessage.show();
                                    /* Show remove button */
                                    $('coupon_remove').show();
									//baotn
									var shipment_methods = $('ajax-shipping-method');
									 var payment_methods = $('ajax-payment-methods');
									 var totals = $('checkout-review-load');
									 var shipment_methods_found = false;
									 var defaultvalut = 0;

									if(typeof shipment_methods != 'undefined'&& shipment_methods != null )
									{

										shipment_methods_found = true;
									}

									if(shipment_methods_found)
									{
										shipping.reloadReviewBlock();
										shipment_methods.update('<div class="loading-ajax">&nbsp;</div>');
									}

									payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
									totals.update('<div class="loading-ajax">&nbsp;</div>');
									this.saveUrl ='https://shopping.pnj.com.vn/onestepcheckout/index/savebilling/'
									var request = new Ajax.Request(
										this.saveUrl,
										{
											method:'post',
											parameters: Form.serialize('co-form'),
											onSuccess: function(transport)
											{

											 if(transport.status == 200)
											 {

											var data = transport.responseText.evalJSON();
											if(shipment_methods_found)
											 {
												shipping.reloadReviewBlock();
												shipment_methods.update(data.shipping_method);
											 }

											payment_methods.update(data.payment_method);
											if(defaultvalut==0)
											{
												payment.switchMethod(paymentMethod);
												defaultvalut =1;
											}
											checkout.reloadReviewBlock();
										   // totals.update(data.product_information);

											}
										  }

										}
									);
									//end
                                }
                                else    {
                                    //summary.update(response.summary);
                                    checkout.reloadReviewBlock();
                                    couponMessage.update(response.message);
                                    couponMessage.removeClassName('success-msg');
                                    couponMessage.addClassName('error-msg');
                                    couponMessage.show();
                                    /* Hide remove button */
                                    $('coupon_remove').hide();
                                }
                            }
                        }

                });
				
				}

             function couponremove()
             {
                    var coupon = $('couponcode').getValue();
                    var couponNotice = $('coupon-notice');
                    couponNotice.hide();
                    var url = '<?php echo $this->getUrl('onestepcheckout/index/couponcode', array('_secure'=>true)); ?>';
                    var parameters = {code: coupon, remove: '1'};
                   var summary = $('checkout-review-load');

                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport)  {
                            if(transport.status == 200) {
                                var response = transport.responseText.evalJSON();

                                if(response.success){
                                    $('couponcode').setValue('')
                                    $('coupon_remove').hide();

                                }
                                var summary = $('checkout-review-load');

                             //  summary.hide();
                             //  summary.update(response.summary);
								//checkout.reloadReviewBlock();
                              // summary.show();
								//baotn
									var shipment_methods = $('ajax-shipping-method');
									 var payment_methods = $('ajax-payment-methods');
									 var totals = $('checkout-review-load');
									 var shipment_methods_found = false;
									 var defaultvalut = 0;

									if(typeof shipment_methods != 'undefined'&& shipment_methods != null )
									{

										shipment_methods_found = true;
									}

									if(shipment_methods_found)
									{
										shipping.reloadReviewBlock();
										shipment_methods.update('<div class="loading-ajax">&nbsp;</div>');
									}

									payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
									totals.update('<div class="loading-ajax">&nbsp;</div>');
									this.saveUrl ='https://shopping.pnj.com.vn/onestepcheckout/index/savebilling/'
									var request = new Ajax.Request(
										this.saveUrl,
										{
											method:'post',
											parameters: Form.serialize('co-form'),
											onSuccess: function(transport)
											{

											 if(transport.status == 200)
											 {

												var data = transport.responseText.evalJSON();
												if(shipment_methods_found)
											 {
												shipping.reloadReviewBlock();
												shipment_methods.update(data.shipping_method);
											 }

											payment_methods.update(data.payment_method);
											if(defaultvalut==0)
											{
												payment.switchMethod(paymentMethod);
												defaultvalut =1;
											}
											checkout.reloadReviewBlock();
										   // totals.update(data.product_information);

											}
										  }

										}
									);
									//end
                                couponNotice.hide();
                                couponNotice.update(response.message);
                                couponNotice.removeClassName('error-msg');
                                couponNotice.addClassName('success-msg');
                                couponNotice.show();
                            }
                        }
                   });
				   

             }
            </script>
        </div>
<?php endif; ?>


<?php
// Feed back drop down
if(Mage::getStoreConfig('onestepcheckout/feedback/enable_feedback')==1)
{
?>
            <?php
            $feedbackValues = unserialize(Mage::getStoreConfig('onestepcheckout/feedback/feedback_values'));
            ?>
            <div class="onestepcheckout-feedback" id="">
                <label for="id_feedback" style="padding-right: 45px;"><?php echo $this->__('How did you hear about us?'); ?></label>
                <div style="clear: both;"></div>
                <select style="" name="onestepcheckout_feedback" id="id_feedback" defaultvalue="">
                    <option value=""><?php echo $this->__('Please choose'); ?></option>
                    <?php foreach($feedbackValues as $value => $label):
                    ?>
                    <option value="<?php echo $label['value'];?>"><?php echo $label['value']?></option>
                    <?php endforeach;?>
                    <?php
                    // For other text
                    if(Mage::getStoreConfig('onestepcheckout/feedback/enable_feedback_freetext')==1)
                    {
                    ?>
                    <option value="freetext"><?php echo $this->__('Other'); ?></option>
                   <?php } ?>
               </select>
            </div>

<?php
}
?>


<?php
// For other text
if(Mage::getStoreConfig('onestepcheckout/feedback/enable_feedback_freetext')==1)
{
?>
               <script type="text/javascript">
                        $('id_feedback').observe('change', function (event){
                        if(this.getValue() == 'freetext'){
                            $('id_feedback_freetext_div').show();
                        } else {
                            $('id_feedback_freetext_div').hide();
                        }
                    });
                </script>
                <div id='id_feedback_freetext_div' class="onestepcheckout-feedback-freetext"  style="display:none;">
                    <label for="id_feedback_freetext"><?php echo $this->__('Please specify:'); ?></label><br/>
                    <textarea id="id_feedback_freetext" name="onestepcheckout_feedback_freetext"></textarea>
                </div>
<?php } ?>



<?php $comments_enable = Mage::getStoreConfig('onestepcheckout/display_option/display_comments');
if($comments_enable == 1):
?>
<div class="onestepcheckout-comments">
                <label for="id_comments"><?php echo $this->__('Comments:'); ?></label><br/>
                <textarea id="id_comments" name="onestepcheckout_comments"><?php if(isset($_POST['onestepcheckout_comments'])) { echo $_POST['onestepcheckout_comments']; } ?></textarea>
</div>
<?php endif; ?>

 <?php 
 $terms_enable = Mage::getStoreConfig('onestepcheckout/terms/enable_terms');
 $terms_title = Mage::getStoreConfig('onestepcheckout/terms/terms_title');
 $terms_contents = Mage::getStoreConfig('onestepcheckout/terms/terms_contents');
 if($terms_enable == 1): ?>
            <div class="onestepcheckout-enable-terms">
               <input class="required-entry" type="checkbox" id="id_accept_terms" name="accept_terms" value="1" />
                <label for="id_accept_terms"><?php echo $this->__('I accept the') ?> <a href="javascript:lightboxAction('terms-condition')" id="lightboxLink" title="<?php echo $this->__('Terms and Conditions'); ?>"><?php echo $this->__('Terms and Conditions'); ?></a></label> <em>*</em>
            </div>
        <?php endif; ?>
        
<div id="checkout-review-submit">
    <?php echo $this->getChildHtml('agreements'); ?>
    <div class="button-set" id="review-buttons-container">
    <button type="button" id="review-btn" title="Hoàn tất dơn hàng" class="button btn-checkout" onclick="review.save();"><span>Hoàn tất dơn hàng</span></button>
   <div class="wait" id="review-please"  >
         
        </div>
    </div>

</div>
<!---End of order information -->
<script type="text/javascript">
    //<![CDATA[
      //var review;
        //shipping.reloadReviewBlock();
       var review = new Review('co-form','<?php echo $this->getUrl('onestepcheckout/index/saveOrder', array('_secure'=>true)) ?>','<?php echo $this->getUrl('checkout/onepage/success', array('_secure'=>true)) ?>', $('checkout-agreements'));
    //]]>
    </script>
<div id="product-details"></div>

<?php if($terms_enable == 1): ?>
<div id="terms-condition" >

    <div class="onestepcheckout-terms-popup">
        <div class="onestepcheckout-popup-wrapper-inner">
        <p class="close"><a href="javascript:closeLink()"><img src="<?php echo $this->getSkinUrl('onestepcheckout/images/btn_window_close.gif') ?>" alt="<?php echo $this->__('Close') ?>" width="16" height="16" title="<?php echo $this->__('close') ?>" /></a></p>
            <h1><?php echo $terms_title; ?></h1>
            <div class="onestepcheckout-toc-terms">
                <?php echo $terms_contents; ?>
            </div>
        </div>
    </div>
    <div class="onestepcheckout-popup-footer">&nbsp;</div>
</div>
<?php endif; ?>
<script type="text/javascript">
var test1;
function lightboxAction(Id)
{
    test1 = new Lightbox_apptha(Id);
    test1.open();
}

function closeLink()
{  
    test1.close();
}
</script>