<?php 
$apikey = Mage::getStoreConfig('onestepcheckout/general/Apply_apptha_licensekey');
$onestepapikey = $this->helper('onestepcheckout')->onestepApiKey();
$shippingmethod = Mage::getStoreConfig('onestepcheckout/general/default_shipping_method');
$_shippingRateGroups = $this->getShippingRates();
?>

<?php if (!($_shippingRateGroups)): ?>
    <strong><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>  
<div>
    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <strong><?php //echo $this->getCarrierName($code). ':' ;?> </strong>
        <?php foreach ($_rates as $_rate): ?>
            <input style="display: none;" checked="checked" name="shipping_method" type="radio" class="validate-one-required-by-name" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" />
            <label for="s_method_<?php echo $_rate->getCode() ?>" style="display: inline;">
                <strong>
                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                
                <?php //echo $_excl; ?>
                
                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                <?php endif; ?>
                </strong>
            </label>
        <?php endforeach; ?>
    <?php endforeach; ?>
</div>
• <span style="color: #E40000;">Miễn phí</span> vận chuyển và phí bảo hiểm cho đơn hàng trên 200.000 đ<br/>
• Thời gian giao hàng: <br/>
&nbsp;&nbsp;&nbsp;- Tối đa 2 ngày trong khu vực nội thành TP.HCM, Hà Nội, Đà Nẵng.<br/>
&nbsp;&nbsp;&nbsp;- Từ 2 - 4 ngày cho các <a target="_blank" href="http://shopping.pnj.com.vn/phi-van-chuyen">Tỉnh Thành khác</a>.

<?php endif; ?>