<!---Title  of the page -->
<div class="page-title">
  <span class="shipping-method-bg"></span>  <h2><?php echo $this->__('Shipping Methods') ?></h2>
  <div class="clear"></div>
</div>
<!---End of Title -->
<div id="ajax-shipping-method">
<?php echo $this->getChildHtml('ship_method'); ?>
</div>