/*** Reset ***/
ul,ol {margin:0;padding:0}
ul li{list-style: none;}

.f-left{float:left;}
.f-right{float:right;}

.a-center{text-align: center;}
.a-right,.a-right.last{text-align: right;}
.a-left{text-align: left;}

/****************/
body {
    font: 13px Arial;
    position:relative;
    min-width:1024px;
    margin: 0;
    padding: 0;
    color: #787878;
}
.container {
    width: 1024px !important;
    position:relative;
}
.container.col2-left-layout, .container.col1-layout{
    padding: 5px;
    width: 1014px !important;
}
/* header */

.page {
#	background: #fff url(../images/bg-tet.png) left top no-repeat;
}

header {
    color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    position:relative;
    z-index:20;
}
header a {
    color: #fff;
    text-decoration: none;
}
header a:active,
header a:focus,
header a:hover {
    color: #fff;
    text-decoration: none;
}
.top {
    background: #000;
    line-height: 26px;
    position:relative;
    z-index:100;
}
.top, .top a {
    color: #bebebe;
}
#top_nav {
    margin-left: 106px;
    text-transform: uppercase;
}

a.login_down {
    background: url(../images/login_down.jpg) right top no-repeat;
    padding: 0 20px 0 0;
    display: inline-block;
}

.header_container{
    margin: 0 auto;
    position: relative;
    width: 1024px;
    z-index: 50;
}

#logo {
    margin: 8px 170px -4px 35px;
}
#top_mid_nav {
    left: 269px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 514px;
}
#top_mid_nav a {
    display: inline-block;
    line-height: 22px;
}
#top_mid_nav a.gift {
    background: url(../images/header-gift.png) left top no-repeat;
    padding: 0 0 0 20px;
    margin: 0 40px 0 0;
}
#top_mid_nav a.program-12  {
    background: url(../images/icon-header-clock.png) left 2px no-repeat;
    padding: 0 0 0 25px;
    margin: 0 40px 0 0;
}
#top_mid_nav a.happydate  {
    background: url(../images/icon-header-diamon.png) left 3px no-repeat;
    padding: 0 0 0 25px;
}
#header_bag {
    text-align: center;
    font-size: 0.9em;
    width: 55px;
    margin: 15px 35px 0 0;
}

#header_bag span{color:#7f7f7f;}

#header_bag span.num {
    width: 40px;
    height: 50px;
    display: table-cell;
    color:#FFFFFF;
    text-align: center;
    vertical-align: middle;
    background: url(../images/icon-bag.png) 7px top no-repeat;
    padding: 10px 0 0 10px;
    font-size: 1.2em;
}
#top_search {
    border: 2px solid #22608D;
    border-radius: 3px;
    bottom: 35px;
    float: left;
    left: 269px;
    position: absolute;
}
#top_search #txt_search_value {
    width: 280px;   
    float: left;
    border-radius:0;
    margin: 0;
    height: 30px;
    padding: 0 8px;
    border: 0;
    box-shadow:none;
}

#top_search form {
    margin: 0;
    padding: 0;
}
#top_search #cbo_category {
    width: 130px;
    float: left;
    border-radius: 0;
    margin: 0;
}
#top_search .sbHolder .sbSelector{width:130px}
#top_search .sbHolder .sbOptions a{
    border-bottom: none;
    border-top:1px dotted #515151;
}

#top_search .sbHolder .sbOptions li:first-child a{
    border-top:none;
}

#top_search button {
    width: 82px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: url(../images/button-search.png) left top no-repeat;
    border: none;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
}

/* slider banner */
.slidebanner {
    position:relative;
    z-index: 10;
}
.slidebanner .container {
    position: relative;
}
.nivoSlider {
    border-radius: 0 0 3px 3px !important;
    height: 358px !important;
    overflow: hidden;
}
.nivo-controlNav {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5000;
    padding: 0 !important;
    margin: 0;
}
.nivo-controlNav a {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../images/banner-slide-item-nav.png) left top no-repeat;
    content: '';
    margin: 0 3px;
    text-indent: 30px;
}
.nivo-controlNav a.active {
    background-position: 0 -16px;
}
.header_middle_adv {
    /*background-color: #fff;*/
    padding: 17px 0 17px;
}
.header_middle_adv .item {
    position: relative;
    width: 330px;
    height: 237px;
    overflow: hidden;
    border-radius: 3px;
    float: left;
    margin: 0 0 0 17px;
}
.header_middle_adv .item:first-child {
    margin-left:0;
}
.header_middle_adv .item img {
    width: 330px;
    height: 237px;
}
.header_middle_adv .item h2 {
    width: 190px;
    background: url(../images/dark-bg.png);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.15em;
    margin: 0;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.header_middle_adv .item .more a {
    width: 121px;
    padding: 0;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.15em;
}
.header_middle_adv .wedding-item .more a {
    background: #002b5a;
}
.header_middle_adv .wedding-item .more a.active {
    background: #003d80;
}
.header_middle_adv .silver-item .more a {
    background: #9b1888;
}
.header_middle_adv .silver-item .more a.active {
    background: #b00797;
}
.header_middle_adv .silver-item h2 {
    background: url(../images/pink.png);
}
.header_middle_adv .watch-item .more a {
    background: #002b5a;
    width: 169px;
}
.header_middle_adv .watch-item .more a.active {
    background: #003d80;
}
.header_middle_adv .watch-item h2 {
    width: 160px;
}

/** maincontain **/
#maincontain {
	line-height: 1.6em;
#	margin-top:10px;
	z-index:10;
	background: #fff;
}
.group_title {
    background: url(../images/group-title-line.png) left center no-repeat;
    height: 22px;
    line-height: 22px;
    margin:15px 0 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
}
.group_title span,
.group_title a {
    background: #fff url(../images/pnj-bullet.png) left top no-repeat;
    padding: 0 20px 0 30px;
    color: #414141;
}
.products_grid {
    position: relative;
}
.products_grid .grid .item {
    width: 240px;
    height: 290px;
    float: left;
    position: relative;
    padding: 10px 0 0 0;
    margin: 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #DCDBDB;
}
.products_grid .grid .item h3 {
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: normal;
    height: 40px;
    overflow: hidden;
    padding:0 15px;
    margin: 5px 0 0;
    text-align: center;
}
.products_grid .grid .item h3 a {
    color: #757575;
}
.products_grid .grid .item .thumb {
    width: 240px;
    height: 190px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 20px 0 0 0;
}
.products_grid .grid .item .thumb img {
    max-width: 230px;
    max-height: 185px;
}

.products_grid .grid .item .price-box {
    text-align: center;
    padding: 0 0 0 10px;
}

.products_grid .grid .item .price-box .price-label{display:none;}
tfoot .price{color: #e40000;}
.products_grid .grid .item .price-box .regular-price,
.products_grid .grid .item .price-box .special-price {
    color: #e40000;
    font-size:15px;
    margin:0;
}

.products_grid .grid .item .price-box .regular-price{
    display: block;
    margin-top:10px;
}
.products_grid .grid .item .price-box .old-price {
    color: #767676;
    text-decoration:line-through;
    font-size:0.9em;
    margin:0;
}
.products_grid .grid .item-new .icon,
.products_grid .grid .item-hot .icon,
.products_grid .grid .item-discount .icon{
    background: url("../images/icon.png") no-repeat scroll -55px -43px rgba(0, 0, 0, 0);
    height: 45px;
    position: absolute;
    padding:2px 3px 0 0;
    right: 0;
    top: 0;
    width: 45px;
}

.products_grid .grid .item-gift .icon {
    background: url("../images/icon.png") no-repeat scroll -105px -43px rgba(0, 0, 0, 0);
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
}

.products_grid .grid .item-limited .icon {
    background: url("../images/icon.png") no-repeat scroll -6px -43px rgba(0, 0, 0, 0);
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
}

.products_grid .grid .item-online .icon {
    background: url("../images/icon.png") no-repeat scroll -279px -59px rgba(0, 0, 0, 0);
    height: 24px;
    left: 49px;
    position: absolute;
    top: -6px;
    width: 139px;
}

.products_grid .grid .item-new .icon span,
.products_grid .grid .item-hot .icon span{
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
}

.products_grid .grid .item-discount .icon span{
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
}

.products_grid .grid .item-online .icon span{
    color: #FFFFFF;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.products_grid .grid .item-hover {
    box-shadow: 1px 2px 5px #dcdbdb;
}

.icon-look{
    background: url("../images/icon.png") no-repeat scroll -94px -3px rgba(0, 0, 0, 0);
    bottom: 16px;
    cursor: pointer;
    /*display: inline-block;*/
    display: block;
    height: 40px;
    margin-top: 0;
    position: absolute;
    right: 14px;
    text-indent: -999em;
    width: 40px;
}

.icon-look:hover{
    background: url("../images/icon.png") no-repeat scroll -141px -2px rgba(0, 0, 0, 0);
}
.icon-look a{
    display: block;
    height: 40px;
}

#order_search {
    background: #001f3e;
    text-align: center;
    padding: 20px 0;
}

#order_search form {
    width: 382px;
    margin: 0 auto;
    color: #fff;
}
#order_search form * {
    font-size: 0.9em;
    float: left;
    height: 24px;
    line-height: 24px;
}
#order_search form label{font-size:1.2em;}
#order_search form input {
    padding: 0 5px;
    margin: 0 0 0 10px;
    border-radius: 3px 0px 0 3px ;
    width: 150px;
}
#order_search form button {
    background: url(../images/button-search-1.png) repeat-x;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 70px;
    height:26px;
    font-size: 1em;
    border-radius: 0px 3px 3px 0px ;
}
#commitment {
    margin: 25px 0 0;
    float:left;
    width: 100%
}
#commitment img {
    float: left;
    margin: 0;
}
#commitment ul {
    padding: 35px 0 0;
    list-style: none;
}
#commitment ul li {
    float: left;
    background: url(../images/commitment-item-bg.png) left top no-repeat;
    margin: 0;
}
#commitment ul li.hover {
    background-position: 0 -39px;
}
#commitment ul li {
    width: 292px;
    height: 39px;
    display: inline-block;
    text-align: center;
    line-height: 39px;
}
#commitment ul li a {
    color: #767676;
    text-decoration: none;
    font-size: 1.2em;
    width: 292px;
    height: 39px;
    display: inline-block;
}
#commitment ul li.item-1 a {
    background: url(../images/icon-doi-hang.png) 70px center no-repeat;
}
#commitment ul li.item-2 a {
    background: url(../images/icon-giao-hang.png) 75px center no-repeat;
}
#commitment ul li.item-3 a {
    background: url(../images/icon-thanh-toan.png) 47px center no-repeat;
}

footer{
	margin-top:25px;
}

#footer_contain {
    background: #012b5b url(../images/footer-bg.png) repeat-x;
    padding: 20px 0;
}
#footer_contain,
#footer_contain a {
    color: #cfcfcf;
}
#footer_contain h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
#footer_contain .list_items ul {
    padding: 0 0 0 10px;
    margin: 0;
}
#footer_contain .list_items ul li {
    margin: 0 0 7px 0;
}
#footer_contain .list_items ul li a {
    font-size: 0.9em;
}
#footer_contain .list_items {
    border-right: 1px solid #003D7F;
    float: left;
    height: 225px;
    margin: 0 20px 0 0;
    padding: 0 10px 0 0;
    width: 210px;
}
#footer_icon {
    float: right;
    width: 300px;
}
#footer_icon .newsletter {
    background: url(../images/footer-icon-sep.png) no-repeat;
    width: 140px;
    height: 28px;
    line-height: 28px;
    float: left;
}
#footer_icon .newsletter a {
    background: url(../images/icon-mail.png) 4px 4px no-repeat;
    padding: 0 0 0 40px;
    display: inline-block;
}

#sub_newletters{
    display: inline-block;
    padding: 0 35px;
}

#sub_newletters label{
    color:#585858;
    font-weight:bold;
    font-size:20px;
    margin-bottom:20px;
}

#sub_newletters .input-box{float:left;width:300px}
#sub_newletters .actions{float:right;}

#sub_newletters .input-box input{
    margin-bottom: 0;
    color:#999999;    
}

#sub_newletters .actions .btn-primary{
    height: 30px;
    line-height: 30px;
}

#footer_icon .affiliate {
    background: url(../images/footer-icon-sep.png) no-repeat;
    width: 140px;
    height: 28px;
    line-height: 28px;
    float: left;
    margin-left: 10px;
}
#footer_icon .affiliate a {
    background: url(../images/icon-hand.png) 4px 7px no-repeat;
    padding: 0 0 0 40px;
    display: inline-block;
}
#footer_icon .certificate {
    margin: 20px 0;
    float: left;
    width: 145px;
}

#footer_icon .certificate a{
    text-align:center;
    width:100%;
    float:left;
}
#footer_icon .certificate .caption {
    height: 40px;
}
.certificate2 .caption {
    margin: 0 0 20px 0;
}

footer .web_links {
    float: right;
    clear: right;
    position: relative;
    margin: 0 45px 0 0;
}
footer .web_links span.web_links_item {
	cursor: pointer;
	background: url("../images/sp-pnj.png") right 5px no-repeat;
	padding: 0 25px 0 0;
	width: 230px;
	display: inline-block;
}
footer .web_links .web_link_contain {
	position: absolute;
	bottom: 20px;
	right: 0;
	background: #fff;
	padding: 0;
	border-radius: 3px;
	border: 2px solid #9DAFC3;
}
footer #footer_contain .web_links .web_link_contain a {
	white-space: nowrap;
	display: inline-block;
	padding: 5px 10px;
	width: 180px;
	color: #757575;
}
footer #footer_contain .web_links .web_link_contain a:hover {
	background: #2264a8;
	color: #fff;
	text-decoration: none;
}

#fancybox-wrap #update_function{
	background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/Page_Under_Construction.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100%;
}

.copyright {
    background: #000;
    line-height: 30px;
    font-size: 0.9em;
    padding: 5px 0;
}
#footer_share {
    color: #fff;
}

.ab_support {
    position: fixed;
    bottom: 20px;
    right: 5px;
}
.jcarousel-prev,
.jcarousel-next
{
    display: none;
}
.jcarousel-container-horizontal {
    padding: 0 !important;
}
.grid-nav {
    position: absolute;
    right: 0;
    top: 0px;
    width: 50px;
}
.grid-nav .grid-nav-prev,
.grid-nav .grid-nav-next {
    width: 20px;
    height: 32px;
    background: url(../images/arrow.png) left top no-repeat;
    display: inline-block;	
}
.grid-nav .grid-nav-next {
    background-position: -20px 0; 
}

#breadcrums {
    color: #afafaf;
    margin-bottom:10px;
    margin-top: 10px;
}
#breadcrums a {
    color: #002c5d;
    float:left;
}

#breadcrums .no-br{
    background: url("../images/arrows.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    width: 5px;
    margin: 0 5px;
}
.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}
.error-msg,
.validation-advice {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.success-msg {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

#right_top_nav {
    position: relative;
}

#right_top_nav span:first-child{
    display:none; 
}

.small_login {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 11000;
    display: none;
    width: 213px;
    font-size: 0.9em;
}
.small_login,
.small_login a,
.small_login a:hover,
.small_login .btn {
    color: #787878 !important;
    margin: 0;
}
.small_login .small_login_top {
    height: 16px;
    overflow: hidden;
    background: url(../images/small-login-top.png) no-repeat;
}
.small_login_contain {
    border: 1px solid #d6d6d6;
    background: #fff;
    padding: 0px 13px;
    border-radius: 0 0 3px 3px;
    border-top: 0;

}
.small_login .submit {
    text-align: right;
}
.small_login .input input {
    width: 170px;
}
.small_login .other_login {
    text-align: center;
    margin: 20px 0 0 0;
}
.page-title {
    border-bottom: 1px solid #BDBDBD;
    height: 27px;
    margin: 0 0 10px;
}
.page-title h1 {
    float: left;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}
#onepageSucess .box1{
    background-color: #EAF7FD;
    padding: 15px;
    border: 1px solid #e3e3e3;
}
#onepageSucess .box2 {
    background-color: #FFFBE7;
    border: 1px solid #FE5558;
    line-height: 26px;
    margin-top: 15px;
    padding: 15px;
}
#onepageSucess legend{
    background-color: #fff;
    border: 1px solid #FE5558;
    display: inline;
    font-size: 16px;
    margin: 0;
    padding: 0 5px;
    width: auto;
}
#onepageSucess .note {
    background-image: url("../images/tick.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 45px;
}
.rounded{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.small_login .btn{
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.btn {
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
}
.btn-primary {
	background: #01356f;
	background-image: linear-gradient(to bottom, #014085, #002955);
	font-size: 1em;
	text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary.active, 
.btn-primary.disabled, .btn-primary[disabled] {
 background: #002955 !important;
}
.clear{ clear: both;}
.cart-step {
	text-align: center;
	width: 360px;
	margin: 20px auto;
}
.cart-step .step {
	width: 41px;
}
.cart-step .step,
.cart-step .step-line {
	float: left;
	margin:  0 0 0 0;
	padding: 0;
}

.cart-step .step-number {
	width: 41px;
	height: 41px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/step.png) left top no-repeat;
	font-size: 1.2em;
	color: #fff;
	line-height: 41px;
}
.cart-step .step-line {
	width: 104px;
	height: 13px;
	background: url(../images/step-line.png) left top no-repeat;
	display: inline-block;
	margin-top: 15px;
}
.cart-step .step-line-active {
	background-position: 0 -13px;
}
.cart-step .step-line-active-full {
	background-position: 0 -26px;
}
.cart-step .step-active .step-number {
	background-position: -41px 0;
}
.cart-step .step-label {
	white-space: nowrap;
	text-align: center;
	margin-left: -56px;
	display: block;
	width: 150px;
	color: #c1c1c1;
}
.cart-step .step-active .step-label {
	color: #000;
}