<?php
/**
 * Created by Nick Howard, Magento Developer.
 */
?>
<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons"><?php echo $this->getButtonsHtml() ?></td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>
<div style="font-weight: bolder;float: right;">
    Tổng số tiền:&nbsp;&nbsp;&nbsp;<span style="color: #ff0000"><?php echo $this->getFormatTotalPrice();?></span>&nbsp;VND
</div>
