<style>
    #container_payment_method_baokim .icon{
        display: inline;
        width: 35px;
    }
    #payment_form_baokim .li-method .info{
        display: none;
        /*border: 1px solid #cccccc;*/
        /*padding: 5px;*/
    }
    #payment_form_baokim .atm_online .info,#payment_form_baokim .atm_banktransfer .info {
        float: left;
        border: 1px solid #cccccc;
        padding: 5px;
    }
    #payment_form_baokim li.active  .info {
        display: block;
    }

    #container_payment_method_baokim .li-method{
        clear: both;
    }
    #container_payment_method_baokim .li-method label{
        list-style: none outside none;
        margin: 0 0 10px;
        display: block !important;

    }
    #container_payment_method_baokim .bank_list li {
        list-style-position: outside;
        list-style-type: none;
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 2px;
        text-align: center;
        width: 88px;

    }
    #container_payment_method_baokim .bank_list li label {
        clear: both;
        display: block !important;
        float: none;
        text-align: center;
        width: 80px;
        height: 34px;
        border: 1px solid white;
    }
    #container_payment_method_baokim .bank_list label:hover, #container_payment_method_baokim .bank_list label.active{
        border:1px solid red;
    }
    #container_payment_method_baokim .bank_list input {display:none}

</style>
<?php
$bank_payment_methods = $this->baokimGetSellerInfo();
$dir_skin = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);
?>
<input type="hidden" class="validate-bank-logo-bk validate-radio-bk"  name="baokim-radio" >
<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <li class="li-method" id="2">
        <label>
            <input type="radio" value="VISA" name="payment[option_payment]" class="option_payment validate-one-required-by-name">
             <!--<div class="icon"><img src="<?php echo $dir_skin . 'frontend/pnj/default/onestepcheckout/images/creditcard.png' ?>" border="0" /></div>-->
            <span class="title">Thanh toán trực tuyến bằng thẻ quốc tế</span>
        </label>
        <div class="info">

            <div class="bank_list">
                <ul id="b_l">
                    <?php
                    foreach ($bank_payment_methods as $k => $v) {
                        if ($v['payment_method_type'] == 2) {
                            ?>
                            <li> <label for="<?php echo $v['id'] ?>">
                                    <input type="radio" value="<?php echo $v['id'] ?>"  name="payment[bankcode]" id="<?php echo $v['id'] ?>">
                                    <img class="img-bank" width="50px" height="34px" id="<?php echo $v['id'] ?>" src="<?php echo $v['logo_url'] ?>" title="<?php echo $v['name'] ?>" />

                                </label> 
                            </li>
                            <?php
                        }
                    }
                    ?>

                </ul>
                <div class="clr"></div>
            </div>
        </div>
        <div class="check_box"></div>
    </li>
    <li class="li-method atm_online" id="3">
        <label>
            <input type="radio" value="ATM_BANKTRANFER" name="payment[option_payment]" selected="true" class="option_payment validate-one-required-by-name">
            <span class="title">Thanh toán trực tuyến bằng thẻ ATM</span>
        </label>
        <div class="info">



            <div class="bank_list">
                <ul id="b_l">						
                    <?php
                    foreach ($bank_payment_methods as $k => $v) {
                        if ($v['payment_method_type'] == 3) {
                            ?>
                            <li><label for="<?php echo $v['id'] ?>">
                                    <input type="radio" value="<?php echo $v['id'] ?>"  name="payment[bankcode]" id="<?php echo $v['id'] ?>">
                                    <img class="img-bank" width="50px" height="34px" id="<?php echo $v['id'] ?>" src="<?php echo $v['logo_url'] ?>" title="<?php echo $v['name'] ?>" />

                                </label>
                            </li>

                            <?php
                        }
                    }
                    ?>
                </ul>
            </div>
        </div>
        <div class="check_box"></div>
    </li>
    <li class="li-method atm_banktransfer" id="1">
        <label>
            <input type="radio" value="ATM_ONLINE" name="payment[option_payment]" selected="true" class="option_payment validate-one-required-by-name">
            <span class="title">Chuyển khoản InternetBanking</span>
        </label>
        <div class="info">
            <div class="bank_list">
                <ul id="b_l">
                    <?php
                    foreach ($bank_payment_methods as $k => $v) {
                        if ($v['payment_method_type'] == 1) {
                            ?>
                            <li>
                                <label for="<?php echo $v['id'] ?>">
                                    <input type="radio" value="<?php echo $v['id'] ?>"  name="payment[bankcode]" id="<?php echo $v['id'] ?>">
                                    <img class="img-bank" width="50px" height="34px" id="<?php echo $v['id'] ?>" src="<?php echo $v['logo_url'] ?>" title="<?php echo $v['name'] ?>" />

                                </label>
                            </li>  
                            <?php
                        }
                    }
                    ?>

                </ul>
                <div class="clr"></div>
            </div>
        </div>
        <div class="check_box"></div>
    </li>
</ul>

<script language="javascript">
//<![CDATA[
    var $j = jQuery.noConflict();
    $j('input[name="payment[option_payment]"]').bind('click', function() {
        $j('#payment_form_baokim li').removeClass('active');
        $j(this).parent().parent('li').addClass('active');
    });

    $j('#container_payment_method_baokim .bank_list label').bind('click', function() {
        $j('#container_payment_method_baokim .bank_list label').removeClass('active');
        $j(this).addClass('active');
        $j(this).next().prop("checked", true);
        $j('.validate-radio-bk').attr('value', 'baokim');
    });
    
    var theForm = new VarienForm('payment_form_baokim', true);
	Validation.add('validate-bank-logo-bk', '<?php echo Mage::helper('payment')->__('Please select banking before Place Order.') ?>', function(the_field_value) {
		if (the_field_value === 'baokim' || $j('input[name="payment[option_payment]"]').val() !==='baokim')
		{
			return true;
		}
		return false;
	});
    //]]>	
</script> 