<?php $_code = $this->getMethodCode() ?>
<style>
    ul.bankList {
        clear: both;
        height: 202px;
        width: 100%;
    }
    ul.bankList li {
        list-style-position: outside;
        list-style-type: none;
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 2px;
        text-align: center !important;
        width: 90px !important;
    }
    .list-content li {
        list-style: none outside none;
        margin: 0 0 10px;
    }
    .list-content li label{width:100% !important;display:block;clear:both;text-align:left !important;float:none !important;}
    .list-content li .boxContent {
        display: none;
        /* width: 100%; */
        border: 1px solid #cccccc;
        padding: 5px;
    }
    .list-content li.active .boxContent {
        display: block;
    }
    .list-content li .boxContent ul {
        /* height: 280px; */
    }
    i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB, i.NAB, i.BAB {
        width: 80px;
        height: 30px;
        display: block;
        background: url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;
    }
    i.MASTE {
        background-position: 0px -31px
    }
    i.AMREX {
        background-position: 0px -62px
    }
    i.JCB {
        background-position: 0px -93px;
    }
    i.VCB {
        background-position: 0px -124px;
    }
    i.TCB {
        background-position: 0px -155px;
    }
    i.MB {
        background-position: 0px -186px;
    }
    i.VIB {
        background-position: 0px -217px;
    }
    i.ICB {
        background-position: 0px -248px;
    }
    i.EXB {
        background-position: 0px -279px;
    }
    i.ACB {
        background-position: 0px -310px;
    }
    i.HDB {
        background-position: 0px -341px;
    }
    i.MSB {
        background-position: 0px -372px;
    }
    i.NVB {
        background-position: 0px -403px;
    }
    i.DAB {
        background-position: 0px -434px;
    }
    i.SHB {
        background-position: 0px -465px;
    }
    i.OJB {
        background-position: 0px -496px;
    }
    i.SEA {
        background-position: 0px -527px;
    }
    i.TPB {
        background-position: 0px -558px;
    }
    i.PGB {
        background-position: 0px -589px;
    }
    i.BIDV {
        background-position: 0px -620px;
    }
    i.AGB {
        background-position: 0px -651px;
    }
    i.SCB {
        background-position: 0px -682px;
    }
    i.VPB {
        background-position: 0px -713px;
    }
    i.VAB {
        background-position: 0px -744px;
    }
    i.GPB {
        background-position: 0px -775px;
    }
    i.SGB {
        background-position: 0px -806px;
    }
    i.NAB {
        background-position: 0px -837px;
    }
    i.BAB {
        background-position: 0px -868px;
    }
    ul.cardList li {
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 4px;
        text-align: center !important;
        /* width: 90px !important; */
    }
    ul.cardList li label{width:80px !important;}
    ul.cardList li input[type=radio]{
        margin-left:35px;
    }
    .bank-online-methods i{
        border:1px solid white;
    }
    .bank-online-methods i:hover, .bank-online-methods i.active{
        border:1px solid red;
    }
    .bank-online-methods input {display:none}
</style>
<?php if ($this->getMethod()->getMailingAddress()): ?>
    <ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
        <li>
            <?php if ($this->getMethod()->getMailingAddress()): ?>
                <ul class="list-content">
                    <?php if ($this->getMethod()->getVi() == '1'): ?>
                        <li>
                            <label>
                                <input onclick="payment.switchMethod('nganluong');" type="radio" value="NL" name="payment[option_payment]" selected="true" class="option_payment validate-one-required-by-name" id="<?php echo $_code ?>_option_payment">
                                Thanh toán bằng Ví điện tử NgânLượng</label>
                            <div class="boxContent">
                                <p> Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                                    Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê <br/>
                                    Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a></p>
                            </div>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->getMethod()->getAtm() == '1'): ?>
                        <li>
                            <label>
                                <input onclick="payment.switchMethod('nganluong');" type="radio" value="ATM_ONLINE" name="payment[option_payment]" class="option_payment validate-one-required-by-name">
                                Thanh toán online bằng thẻ ngân hàng nội địa</label>
                            <div class="boxContent">
                                <p><i> <span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</i></p>
                                <ul class="cardList clearfix">
                                    <li class="bank-online-methods">
                                        <label for="bidv_ck_on"> <i class="BIDV" title="Ngân hàng Đầu tư &amp; Phát triển Việt Nam"></i>
                                            <input type="radio" value="BIDV"  name="payment[bankcode]" id="bidv_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="vcb_ck_on"> <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                            <input type="radio" value="VCB"  name="payment[bankcode]" id="vcb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="vnbc_ck_on"> <i class="DAB" title="Ngân hàng Đông Á"></i>
                                            <input type="radio" value="DAB"  name="payment[bankcode]" id="vnbc_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="tcb_ck_on"> <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                            <input type="radio" value="TCB"  name="payment[bankcode]" id="tcb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_mb_ck_on"> <i class="MB" title="Ngân hàng Quân Đội"></i>
                                            <input type="radio" value="MB"  name="payment[bankcode]" id="sml_atm_mb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="shb_ck_on"> <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                            <input type="radio" value="SHB"  name="payment[bankcode]" id="shb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_vib_ck_on"> <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                            <input type="radio" value="VIB"  name="payment[bankcode]" id="sml_atm_vib_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_vtb_ck_on"> <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                            <input type="radio" value="ICB"  name="payment[bankcode]" id="sml_atm_vtb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_exb_ck_on"> <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                            <input type="radio" value="ICB"  name="payment[bankcode]" id="sml_atm_exb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_acb_ck_on"> <i class="ACB" title="Ngân hàng Á Châu"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_acb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_hdb_ck_on"> <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_hdb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_msb_ck_on"> <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_msb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_nvb_ck_on"> <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_nvb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_vab_ck_on"> <i class="VAB" title="Ngân hàng Việt Á"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_vab_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_vpb_ck_on"> <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_vpb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_scb_ck_on"> <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_scb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="ojb_ck_on"> <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="ojb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="bnt_atm_pgb_ck_on"> <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="bnt_atm_pgb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="bnt_atm_gpb_ck_on"> <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="bnt_atm_gpb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="bnt_atm_agb_ck_on"> <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="bnt_atm_agb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="bnt_atm_sgb_ck_on"> <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="bnt_atm_sgb_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="bnt_atm_nab_ck_on"> <i class="NAB" title="Ngân hàng Nam Á"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="bnt_atm_nab_ck_on">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="sml_atm_bab_ck_on"> <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                            <input type="radio" value="ACB"  name="payment[bankcode]" id="sml_atm_bab_ck_on">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->getMethod()->getVisa() == '1'): ?>
                        <li style="clear:both">
                            <label>
                                <input type="radio" value="VISA" name="payment[option_payment]" selected="true" class="option_payment validate-one-required-by-name">
                                Thanh toán bằng thẻ Visa hoặc MasterCard</label>
                            <div class="boxContent">
                                <ul class="cardList clearfix">
                                    <li class="bank-online-methods">
                                        <label for="visa"> <i class="VISA" title="Thanh toán Visa"></i>
                                            <input id="visa" onclick="payment.switchMethod('nganluong');" type="radio" value="VISA" name="payment[bankcode]" >
                                        </label>
                                    </li>
                                    <li class="bank-online-methods">
                                        <label for="master"> <i class="MASTE" title="Thanh toán Mastercard"></i>
                                            <input onclick="payment.switchMethod('nganluong');" type="radio" value="MASTER"  name="payment[bankcode]" id="master">
                                        </label>
                                    </li>
                                </ul>
                                <p><span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>:Giảm thêm 5% khi thanh toán bằng thẻ Visa <span style="color:red;">từ 05/09/2014 - 31/12/2014</span> (Không áp dụng cho nữ trang vàng 24K, dây chuyền tay và nữ trang Kim Cương trên 4 ly).</p>
                            </div>
                        </li>
                    <?php endif; ?>
                </ul>

            <?php endif; ?>
        </li> 
    </ul>
<?php endif; ?>
<script language="javascript">
//<![CDATA[
    var $j = jQuery.noConflict();
    $j('input[name="payment[option_payment]"]').bind('click', function() {
        $j('.list-content li').removeClass('active');
        $j(this).parent().parent('li').addClass('active');
        if ($j(this).val() === 'VISA') { 
            var temp =  $j(this).parent().parent().find('.boxContent i.VISA')[0];
                $j(temp).trigger('click');
                $j('input[id="visa"]').trigger( "click" );
        }
    });

    $j('.bank-online-methods i').bind('click', function() {
        $j('.bank-online-methods i').removeClass('active');
        $j(this).addClass('active');
      //  $j(this).next().prop("checked", true);
    });
    //]]>	
</script> 