
.list{
	display: none !important;
}

.srule-title{
	border-bottom: 1px solid #A6A6A6;
	margin-top: 10px;
}

 .crule-title{
	border-bottom: 1px solid #A6A6A6;
 }
 
 .srule-title h1, .crule-title h1{
	height: 30px;
}

.srule-list{
	margin-left: 20px;
	margin-bottom: 35px;
}

.gift-icon{
	top: 0;
	right: 0;
	position: absolute;
}

.gift-image{
	position: relative;
}

.gift-tootip {
	background: #FFFFFF;
    width: 240px;
	/* border: 1px solid #D7D7D7; */
	border: 1px solid rgb(199, 203, 204);
	border-radius: 7px;
	box-shadow: 2px 4px 17px rgb(179, 184, 183);
}
.gift-tootip-icon {
	padding: 20px 0 0 20px;
	float: left;
}

.tootip-head {
	float: left;	
	padding: 20px 0 0 20px;
	width: 60%
}

.tootip-title{
	float: left;
	width: 100%;
	padding-bottom: 10px; 
	border-bottom: 1px dashed #A2A2A2;
}

.tootip-content{
	float: left;
	clear: both;
	width: 100%;
	margin-left: 4px;
	/* margin-top: 10px;
	margin-bottom: 10px;
	text-align: center; */
}

.tootip-product-list{
	padding: 5px;
}

.tootip-content-img {
	padding: 5px;
	margin-bottom: 3px;
	border: 1px solid #D4D4D4;
}

.promotional-srule{
	width: 100%;
	display: block;
	border: 1px solid #C5C4C4;	
	margin-bottom: 25px; 
	margin-top: 20px;
}

.promotional-title{
	padding: 10px;	
    background: #FFFFFF;    
    border-bottom: 1px dashed #C5C4C4;	
    color: #0A263C;
    font-size: 12px;
    padding: 10px;
    /* width: 879px; */
}

.promotional-title-hide {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #0A263C;
	font-size: 12px;
	padding: 10px;
}

.promotional-title .main-title{
	background: url('../../images/promotionalgift/promotionalgift-scart.png') no-repeat scroll 0 0 transparent;
	display: block;
    padding: 0 0 0 28px;
}

.promotional-title-hide .main-title{
	background: url('../../images/promotionalgift/promotionalgift-scart.png') no-repeat scroll 0 0 transparent;
	display: block;
    padding: 0 0 0 28px;
}

.promotional-title .child-title{
	margin-left: 20px;
	margin-top: 10px;
}

#promotional-shoppingcart{	
    padding: 22px 25px 12px 33px;
    background: none repeat scroll 0 0 #FFFFFF;      
    height: 191px;   
    overflow: hidden;
    padding: 20px 15px 20px 25px;
    position: relative;
    text-align: center;   
}

/* #promotional-shoppingcart-table ul li{
	float: left;
	padding: 10px 12px 2px 12px;
	width: 17%;
} */

#promotional-shoppingcart-table{
	height: 190px;
}

#promotional-shoppingcart-table ul li .item{
	width: 98%;
}
#promotional-shoppingcart-table ul li .product-name{
	color: #203548;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
}

#promotional-shoppingcart-table .product-checkbox{
	bottom: 12px;
	text-align: center;
    /* position: absolute; */
}	

#promotional-shoppingcart-table .price-box{
	text-align: center !important;
}

#promotional-shoppingcart-table .price{
	/* text-decoration: line-through; */
}

.promotional-image{
	text-align: center;
}

.promotional-image img { 
border: 1px solid #D7D7D7;
}

.promotional-srule-container {
    background: none repeat scroll 0 0 #EFF5EA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 1px #446423;
    color: #3D6611;
    font-size: 18px;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.promotional-button{
	height: 30px;
}

.addgift{
	float: left;
	margin-left: 45px !important;
}

.stootip-head {
	float: left;	
	padding: 20px 0 0 20px;
	font-weight: bold !important;
	width: 100%;
}

.stootip-title{
	float: left;
	width: 100%;
	padding-bottom: 10px; 	
}

.stootip-content{
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.sgift-tootip{
	width: 250px;
	background-color: #FFFFFF;
    border: 1px solid #C5C4C4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px 1px #C5C4C4;
    color: #2F2F2F;
}

.stootip-product-name{
	font-size: 15px !important;
	margin-left: 20px;
	font-weight: bold;	
	width: 85%
}

.stootip-rule-name{
	margin-left: 20px;
	margin-top: 15px;
	font-size: 15px !important;
	width: 85%;
}

.stootip-product-qty{
	margin-left: 20px;
	margin-top: 15px;
	font-size: 15px !important;
	width: 85%;
}

.stootip-head-title{
	width: 85%;
	font-style: italic;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px dotted #959595;
	padding-bottom: 10px;
}
