<div id="menu_area">
    <div class="container">
		<button type="button" class="btnmobile"></button>
        <div id="mainmenu">
            <ul>
                <li class="homeitem">
					<a href="<?= $this->getBaseUrl() ?>">
						<img alt="<?= $this->__('Trang chủ') ?>" src="<?= $this->getBaseUrl() ?>media/wysiwyg/Menu/icon-home.png"/>&nbsp;
                    </a>
				</li>
                <?php
                $items = $this->getMenus(0);
                if (count($items) > 0):
                    $main_num = 0;
                    foreach ($items as $item):
                        $main_num += 1;
                        $item_url = $this->formatItemUrl($item->getUrl());
                        ?>
                        <li class="level-0">
                            <a data-menu="submenu_<?= $main_num ?>" href="<?= $item_url ?>">
                                <?= $item->getName() ?>
                                <?php
                                $icon = $item->getImage();
                                if (!empty($icon)):
                                    ?>
                                    <img src="<?= $this->getBaseUrl() . 'media/menu_icon/' . $icon ?>"/>
                                <?php
                                endif;
                                ?>
                            </a>
                            <?php
                            $second_items = $this->getMenus($item->getId());
                            if (count($second_items) > 0):
                                ?>
                                <ul id="submenu_<?= $main_num ?>" class="submenu col-5">
                                    <li>
                                        <ul class="level-1">
                                            <?php
                                            foreach ($second_items as $_s_item):
                                                ?>
                                                <li class="level-1">
                                                    <span><?= $_s_item->getName() ?></span>
                                                    <?php
                                                    $_third_items = $this->getMenus($_s_item->getId());
                                                    if (count($_third_items) > 0):
                                                        ?>
                                                        <ul>
                                                            <?php
                                                            foreach ($_third_items as $_t_item):
                                                                ?>
                                                                <li>
                                                                    <a href="<?= $this->formatItemUrl($_t_item->getUrl()); ?>"><?= $_t_item->getName() ?></a>
                                                                </li>
                                                            <?php
                                                            endforeach;
                                                            ?>
                                                        </ul>
                                                    <?php
                                                    endif;
                                                    ?>
                                                </li>
                                            <?php
                                            endforeach;
                                            ?>
                                        </ul>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="menu-banner">
                                            <?php
                                            $banner = $item->getBanner();
                                            if (!empty($banner)):
                                                ?>
                                                <a href="<?= $item->getBannerUrl() ?>"><img
                                                        src="<?= $this->getBaseUrl() . 'media/menu_banner/' . $banner ?>"/></a>
                                            <?php
                                            else:
                                                ?>
                                                <a href="#">&nbsp; </a>
                                            <?php
                                            endif;
                                            ?>
                                        </div>
                                    </li>
                                </ul>
                            <?php
                            endif;
                            ?>
                        </li>
                    <?php
                    endforeach;
                endif;
                ?>
            </ul>
        </div>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('second_menu')->toHtml() ?>
    </div>
</div>