<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Customer */   ?>

<select name="<?php echo $this->prepareFieldName("customer"); ?>">
    <option value=""><?php echo $this->__("Chọn") ?></option>
    <option <?php echo $this->getCustomer() == "client_maxbuytime" ? "selected=\"selected\"":"";  ?> value="client_maxbuytime"><?php echo $this->__("== KHÁCH HÀNG CÓ SỐ LẦN MUA NHIỀU NHẤT ==") ?></option>
    <option <?php echo $this->getCustomer() == "client_maxbuymoney" ? "selected=\"selected\"":"";  ?> value="client_maxbuymoney"><?php echo $this->__("== KHÁCH HÀNG CÓ TỔNG GIÁ TRỊ ĐƠN HÀNG NHIỀU NHẤT ==") ?></option>
    <?php foreach($this->getCustomerCollection() as $cus): ?>
        <option <?php echo $cus->getId() == $this->getCustomer() ? "selected=\"selected\"":""; ?> value="<?php echo $cus->getId() ?>"><?php echo $cus->getFirstname(); ?></option>
    <?php endforeach; ?>
</select>