<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Location */  ?>
<select name="<?php echo $this->prepareFieldName("location"); ?>">
    <option value=""><?php echo $this->__("Chọn"); ?></option>
    <?php foreach($this->getLocationArray() as $key=>$locate):?>
    <option <?php echo $locate == $this->getLocation() ? "selected=\"selected\"":""; ?> value="<?php echo $locate; ?>"><?php echo $locate ?></option>
    <?php endforeach; ?>
</select>