<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Payment */ ?>
<?php $request = $this->getParamExportconditionadvanced('exportcondition', 'payment');?>
<select name="<?php echo $this->prepareFieldName("payment"); ?>" id="payment">
    <option id="" onclick="payment.choosePayment();"  value=""><?php echo $this->__("Chọn"); ?></option>
    <?php foreach ($this->getPaymentRate() as $key => $payment): ?>
    <option 
            id="[<?php  echo $key;?>]"  <?php echo $this->getParamExportconditionadvanced('exportcondition', 'payment') == $key ? "SELECTED=SELECTED" : ""; ?>
            value="<?php echo $key ?>" >
            <?php echo $payment ?> 
	</option>
    <?php endforeach; ?>
</select>

