<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Product */  ?>

<select name="<?php echo $this->prepareFieldName("product"); ?>">
    <option value=""><?php echo $this->__("Chọn") ?></option>
    <?php foreach($this->getProductCollection() as $pro): ?>
        <option <?php echo $pro->getId() == $this->getProduct() ? "selected=\"selected\"":""; ?> value="<?php echo $pro->getId() ?>"><?php echo $pro->getName(); ?></option>
    <?php endforeach; ?>
</select>