<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Program */ ?>
<?php $request = $this->getParamExportconditionadvanced('exportcondition', 'program');?>
<select name="<?php echo $this->prepareFieldName("program") ?>" id="program">
    <option id="" value=""><?php echo $this->__("Chọn"); ?></option>
    <?php foreach ($this->getProgramArray() as $key => $locate): ?>
        <option id="[<?php echo $key ?>]" <?php echo $this->getParamExportconditionadvanced('exportcondition', 'program') == $key ? "SELECTED=SELECTED" : ""; ?>
                value="<?php echo $key ?>">
        <?php echo $locate ?>
        </option>
<?php endforeach; ?> 
</select>
