<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Shipping */ ?>
<?php if ($data = $this->getShippingRate()): ?>
<?php $request = $this->getParamExportconditionadvanced('exportcondition', 'shipping'); ?>
<select  name="<?php echo $this->prepareFieldName("shipping"); ?>" id="shipping">
        <option id=""  value=""><?php echo $this->__("Chọn"); ?></option>
        <?php foreach ($data as $key => $locate): ?>
            <option id="[<?php  echo $key;?>]" <?php echo $this->getParamExportconditionadvanced('exportcondition', 'shipping') == $key ? "SELECTED=SELECTED" : ""; ?>  value="<?php echo $key ?>">
                <?php echo $locate ?>
            </option>
        <?php endforeach; ?>
    <?php endif; ?>
</select>