<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Status */  ?>
<?php foreach ($this->getOrderInvoiceStatus() as $key => $status): ?>
	<span class="ds_status" id="ds_status_<?php echo $key ?>">
		<input type="checkbox" <?php echo in_array($key,$this->getStatus())?"checked=\"checked\"":"";?> value="<?php echo $key ?>" name="<?php echo $this->prepareFieldName("status","[$key]"); ?>">
		<label for="<?php echo $this->prepareFieldName("status","[$key]"); ?>"><?php echo $status ?></label>
	</span>
<?php endforeach; ?>