<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Time */  ?>
<?php echo $this->__("Từ Ngày"); ?>&nbsp;&nbsp;
<input type="text" name="<?php echo $this->prepareFieldName($this->getName()."_from") ?>" id="from_date" value="<?php echo $this->getTimeFrom() ?>" />
<img title="Select date" id="fromdate_trig" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/grid-cal.gif'; ?>"  class="v-middle"/>
&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;
<?php echo $this->__("Đến Ngày"); ?>&nbsp;&nbsp;
<input type="text" name="<?php echo $this->prepareFieldName($this->getName()."_to") ?>" id="to_date" value="<?php echo $this->getTimeTo() ?>" />
<img title="Select date" id="todate_trig" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/grid-cal.gif'; ?>"  class="v-middle"/>
<script type="text/javascript">// <![CDATA[
    Calendar.setup({
        inputField : 'from_date',
        ifFormat : '%m/%e/%Y',
        button : 'fromdate_trig',
        align : 'Bl',
        singleClick : true
    });

    Calendar.setup({
        inputField : 'to_date',
        ifFormat : '%m/%e/%Y',
        button : 'todate_trig',
        align : 'Bl',
        singleClick : true
    });
    // ]]>
</script>