<?php /* @var $this King_Extreport_Block_Adminhtml_Report_Condition_Timeinterval */  ?>

<select name="<?php echo $this->prepareFieldName("timeinterval"); ?>">
    <option value=""><?php echo $this->__("Chọn") ?></option>
    <?php foreach($this->getIntervalArray() as $key=>$item): ?>
    <option <?php echo $key == $this->getTimeinterval() ? "selected=\"selected\"":""; ?> value="<?php echo $key ?>"><?php echo $item ?></option>
    <?php endforeach; ?>
</select>