.a-right{
    float: right;
}
.a-left, #footer_share a{
    float: left;
}
.category-item{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.category-news{
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
}
.news-item{
    padding-bottom: 20px;
}
.line-downup{
    margin: 0 0 20px 0;
}
.thumb-item{
    border: 1px solid #C0C0C0;
    float: left;
    margin-right: 10px;
    padding: 2px;
    width: 210px;
}
.thumb-item_img{
    width: 100%;
}
.title-item{
    float: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    width: 77%;
}
.desc-item{
    width: 790px;
    margin-left: 15px;
}
.header_middle_adv{
     display: none;
 }
.breadcrumbs ul li{
    float: left;
    color: #AFAFAF;
}
.aw-blog-read-more{
    float: right;
    color: #C0C0C0;
}
.container{
    position: relative;
}
#commitment{
    border-top: 1px solid #C0C0C0;
    bottom: 0;
    margin-bottom: 0;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}
.col-main{
    padding-bottom: 100px;
}
.postDetails{
    float: right;
}
.group-page{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.back-page{
    width: 45%;
    float: left;
    text-align: right;
}
.next-page{
    width: 45%;
    float: right;
    text-align: left;
}
.page{
    position: relative;
}


.clear {
    zoom: 1;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0px;
    visibility: hidden;
}