
/**************Invector*************/

#p-invector{}
	#invector{}
		#invector .copy{
			width:900px;
			position:  absolute;
			left: 50%;
			margin-left: -429px;
			margin-top:155px;
		}

		/*#invector .copy .aboutLink{
			font-family: 'AvantGarde-DemiRegular';
			position:absolute;
			right:0;
			top:55px;
			background:url(../images/ico_list_news.png) no-repeat right center;
			padding-right:10px;
			text-decoration:underline;
			font-size:14px;
			}*/
			.chrome #invector .copy .aboutLink{
				word-spacing:-8px;
			}
	#invector h2{
		font-size:30px;
		font-weight:normal;
		color:#c61615;
		margin-bottom:20px;
		text-transform: uppercase;
	}
	.chrome #invector h2,
	.chrome #sec-news #newsList .copy .content_bt h2,
	.chrome #sec-news #newsList .copy .content_bt h4{word-spacing:-15px;}
	.chrome #analytic h4 {word-spacing:-10px;}
	#invector h4{
		font-size:16px;
		color:#c61615;
		margin-bottom:20px;
		text-transform:uppercase;
		font-weight:normal;
		margin-bottom:30px;
	}
	.chrome #invector h4{word-spacing:-10px;}
	#invector .content select{
		float:right;
		margin:0;
		border:1px solid #e0e0e0;
		background:#ececec;
		padding:5px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width:177px;
		color:#626262;
	}
	#invector .content #listEvents ul li a{background:none; padding:0;}
	#invector .content{
		margin-top:20px;
		width:900px;
	}
		#invector .content ul{margin-bottom:20px;}

				#invector .content .listIn{
					display:inline-block;
					/*background:url(../images/icoPdf.png) no-repeat left top;
					padding-left:30px;*/
					color:#626262;
					font-size:12px;
					padding-left:20px;
					background-repeat: no-repeat;
					background-position: left center;
				}
				#invector .content table{margin-bottom:20px;}
					#invector .content table td{text-align:left;padding:4px 10px;/*border-right:1px solid #CCC;*/font-size:12px;}
						#invector .content table td strong{color:#c41e19;}
					#invector .content table th{font-size:12px; font-weight:700;color:#808080; text-align:left;padding:5px 10px; border-bottom:1px solid #cd2016;}
						#invector .content table th strong {color:#cd2016;
							font-family: 'AvantGarde-DemiRegular';
							text-transform:uppercase;
							font-size:14px;
							font-weight:normal;
						}
						.chrome #invector .content table th strong{word-spacing:-7px;}
						#invector .content table th:last-child{border-right:none;}
						#invector .content table td:last-child{border-right:none;}
				#invector .content .listIn:hover{color:#c61615; text-decoration:none;}

				#invector .content .ct_l_tb{width:435px; float:left; padding-top:41px;}
				#invector .content .ct_r_tb{width:435px; float:right;padding-top:10px;}
	#eventTL{
		height: 655px;
	}
	#eventTL .content{
		width:100%;
		margin-top:10px;
	}
		#eventTL .copy{
			width:940px;
			position: absolute;
			left: 50%;
			margin-left: -470px;
			margin-top:155px;
			padding-bottom:100px;
		}
		#eventTL .copy .aboutLink{
			font-family: 'AvantGarde-DemiRegular';
			position:absolute;
			right:0;
			top:55px;
			background:url(../images/ico_list_news.png) no-repeat right center;
			padding-right:10px;
			text-decoration:underline;
			font-size:14px;
			}
			.chrome #eventTL .copy .aboutLink{
				word-spacing:-8px;
			}

	#eventTL .copy2{
		width:100%;
		position: absolute;
		margin-top:200px;
		padding-bottom:0;
	}
	#eventTL h2{
		font-size: 40px;
		color: #C61615;
		margin-bottom: 20px;
		font-weight: normal;
		text-transform: uppercase;
	}
	#eventTL .content h2{
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:400;
		color:#444;
	}
	#invector .tabs{clear:both; overflow:hidden;position:relative;}
		#invector .tabs a{
			background:#ebebeb;
			padding:10px 30px;
			font-size:12px;
			text-transform:uppercase;
			border-right:1px solid #FFF;
			display:block;
			float:left;
			color:#626262;
			margin-top:30px;
		}
		#invector .tabs a:hover{background:#dedcdc;color:#333;}
		#invector .tabs a.active{
			border-top:3px solid #ca3534;
			background:url(../images/tabs_rp.jpg) repeat-x #FFF;
			color:#ca3534;
			position:relative;
			z-index:120;
		}
	#invector .copy .ct_iv{
		background:url(../images/bg_tb_iv.png) no-repeat;
		margin-top:-3px;
		position:relative;
		z-index:100;
		padding:30px 0 0;
	}
	#invector .years{ }
		#invector .years tr th {
			background:#d61616;
			padding:7px 0;
			text-align: center;
			font-size:16px;
			text-transform:uppercase;
			color:#FFF;
			font-weight:bold;
			border-right:1px solid #FFF;
		}
	#invector .ct_tb_inv{
		width:868px;
	}
		#invector .ct_tb_inv_hd tr th {
			background:#ebebeb;
			padding:10px 0;
			text-align: center;
			font-size:12px;
			text-transform:uppercase;
			color:#000;
			font-weight:bold;
		}
		#invector .ct_tb_inv tr td {
			font-size:12px;
			text-align:center;
			padding:10px 0;
			color:#000;
		}
			#invector .ct_tb_inv tr td.g_c {color:#626262;}
			#invector .ct_tb_inv tr td.b_g{
				font-size:14px;
				color:#ca3534;
				text-transform:uppercase;
				text-align:left;
				padding-left:10px;
				font-weight:bold;
			}

#p-analytic{}
	#analytic{}
		#analytic .copy{
			width:940px;
			position: absolute;
			left: 50%;
			margin-left: -470px;
			margin-top: 155px;
			padding-bottom:0;
			font-size:13px;
			line-height:18px;
		}

		#jobs .copy .aboutLink,
		#jobsChnn .copy .aboutLink,
		#eventTL .copy .aboutLink,
		#invector .copy .aboutLink,
		#analytic .copy .aboutLink{
			font-family: 'AvantGarde-DemiRegular';
			position:absolute;
			right:0;
			top:55px;
			background:#AE1314;
			/*background:url(../images/ico_list_news.png) no-repeat right center;*/
			text-decoration:none;
			color:#ffffff;
			font-size:16px;
			font-weight:400;
			text-transform:uppercase;
			padding:8px 20px 8px 20px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			box-shadow:2px 2px 2px rgba(0,0,0,.3);
			}
				#jobs .copy .aboutLink,
				#jobsChnn .copy .aboutLink,
				#eventTL .copy .aboutLink:hover,
				#invector .copy .aboutLink:hover,
				#analytic .copy .aboutLink:hover{
					text-decoration:none;
					background:#ae1314;
					box-shadow:1px 1px 1px rgba(0,0,0,.3);
					margin:0 0 -1px 1px;
				}
			.chrome #analytic .copy .aboutLink{word-spacing:-8px;}
			.chrome #analytic .copy .aboutLink{word-spacing:-8px;}

		.en-US #jobs .copy .aboutLink,
		.en-US #jobsChnn .copy .aboutLink,
		.en-US #eventTL .copy .aboutLink,
		.en-US #invector .copy .aboutLink,
		.en-US #analytic .copy .aboutLink{ top:5px;}

		#analytic h2{
			font-size:30px;
			color:#c61615;
			margin-bottom:20px;
			font-weight:normal;
			text-transform: uppercase;
		}
		#analytic h4{
			font-size:15px;
			color:#c61615;
			margin-bottom:20px;
			text-transform:uppercase;
			font-weight:normal;
		}
		#analytic .left{
			width:460px;
			float:left;
			margin-top:50px;
			overflow: hidden;
		}
			#analytic .left .content{
				height:430px;
				width:460px;
				clear:both;
				overflow:hidden;
			}
			#analytic .left .content .box{
				width:1200px;
			}
			#analytic .left .content .year{
				float:left;
				width:320px;
				font-family:arial;
				margin-right:50px;
				border-right:1px solid  #999;
			}
			#analytic .left .content .year h6,
			#analytic .left .content .name h6{margin-bottom:15px;}
			#analytic .left .content .year p{margin-bottom:10px;min-height:35px;}
			#analytic .left .content .year h5{
				text-align:center;
				color:#F00;
				padding:10px;
				font-size:18px;
			}
			#analytic .left .content .name{
				float:left;
				width:130px;
				padding:73px 0 0 10px;
				font-family:arial;
			}
				#analytic .left .content .name p{line-height:16px;margin-bottom:10px;min-height:35px;}
			#analytic .left .content .year .quy{
				float:left;
				width:80px;
			}
			#analytic .left .content .jspHorizontalBar .jspDrag{background:url(../images/dragV.png) no-repeat 0 0;width:58px !important; }
			#analytic .left ul{
				font-size:12px;
				font-family:arial;
				margin-bottom:50px;
			}
			#analytic .left ul li{
				border-bottom:1px solid #CCC;
				padding-bottom:10px;
				margin-bottom:10px;
			}
			#analytic .left ul li em{display:inline-block; width:200px; font-style:normal;}
			#analytic .left ul li span{
				font-weight: 700;
				color: red;
				display:inline-block;
				text-align: left;
				font-size: 18px;
				line-height: 14px;
			}
			#analytic .left table{
				font-size:12px;
				font-family:arial;
			}
			#analytic .left table th span{
			}
			#analytic .left table th{
				padding:5px 0;
				font-weight:700;
				min-width:90px;
				height:30px;
				background:#eee;
				border-right:1px solid #CCC;

				width: 90px;
				max-width: 90px;
			}
			#analytic .left .fht-fixed-column table th{
				/*background: #e00c18;
				background: -moz-linear-gradient(top,  #e00c18 0%, #bc1b14 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00c18), color-stop(100%,#bc1b14));
				background: -webkit-linear-gradient(top,  #e00c18 0%,#bc1b14 100%);
				background: -o-linear-gradient(top,  #e00c18 0%,#bc1b14 100%);
				background: -ms-linear-gradient(top,  #e00c18 0%,#bc1b14 100%);
				background: linear-gradient(to bottom,  #e00c18 0%,#bc1b14 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00c18', endColorstr='#bc1b14',GradientType=0 );*/
				background:transparent;

			}
			#analytic .left table td{
				padding:10px 0;
				text-align:center;
				background:#fff;
				border-right:1px solid #CCC;
				vertical-align:middle;
				height:48px;
				width: 90px;
				}
				#analytic .left table tr:nth-child(odd) td{
					background:#f5f5f5;
				}
			#analytic .left .fht-fixed-column table td{
				text-align:left;
				font-weight:700;
				font-size:10px;
				border-right:none;
				height: 48px;
			}
				#analytic .left table td#group{text-align:center; font-size:12px;color:#F00;text-transform:uppercase; padding-right:20px;border-top:1px solid #CCC;border-bottom:1px solid #CCC; padding-bottom:11px;}
				#analytic .left table td.empty{border-top:1px solid #CCC;border-bottom:1px solid #CCC;}
			#analytic .left table .years th{
				background: #e00c18; /* Old browsers */
				background: -moz-linear-gradient(top,  #e00c18 0%, #bc1b14 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00c18), color-stop(100%,#bc1b14)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #e00c18 0%,#bc1b14 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #e00c18 0%,#bc1b14 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #e00c18 0%,#bc1b14 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #e00c18 0%,#bc1b14 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00c18', endColorstr='#bc1b14',GradientType=0 ); /* IE6-9 */
				color:#fff;
				font-size:18px;
				text-align: center;
				width: 100%;
			}
			.fht-fixed-column .fht-thead{
				height:81px;
				background:#fff;
				position:absolute;
				top:0;
				left:0;
			}
			.fht-tbody::-webkit-scrollbar {
				width: 6px;
				height:6px;
			}
			.fht-tbody::-webkit-scrollbar-track {
				border-radius: 6px;
				border:1px solid #E2E2E2;
				background:#E2E2E2;
			}
			.fht-tbody::-webkit-scrollbar-thumb {
				border-radius: 6px;
				background:#C01915 url(../images/scroll_drag_bg.gif) no-repeat center center;
			}



		#analytic .right{
			width:460px;
			float:right;
			margin-top:50px;
		}
		#analytic .right .content{
			width:470px;
			height:220px;
			margin:20px 0 ;
		}
		#analytic .right table{
			width:100%;
			font-size:12px;
			font-family:arial;
		}
		#analytic .right table th{
			text-align:left;
			font-size:14px;
			font-weight:700;
		}
		#analytic .right table td{
			padding:10px 0;
			text-align:left;
			border-bottom:1px solid #CCC;
		}


#p-annoucement{}
	#annoucement{}
		#annoucement .copy{
			width:940px;
			position: absolute;
			left: 50%;
			margin-left: -470px;
			margin-top:190px;
			padding-bottom:100px;
		}
		#annoucement .copy .aboutLink{
			font-family: 'AvantGarde-DemiRegular';
			position:absolute;
			right:0;
			top:65px;
			background:url(../images/ico_list_news.png) no-repeat right center;
			padding-right:10px;
			text-decoration:underline;
			font-size:14px;
			}
			.chrome #annoucement .copy .aboutLink{
				word-spacing:-8px;
			}
	#annoucement h2{
		font-size:40px;
		color:#c61615;
		margin-bottom:20px;
		font-weight:normal;
	}
	#annoucement h4{
		font-size:16px;
		color:#c61615;
		margin-bottom:20px;
		text-transform:uppercase;
		font-weight:normal;
		margin-bottom:30px;
	}
	#annoucement .check{
		margin:20px auto;
		width:840px;
		clear:both;
		overflow:hidden;
		height:40px;
	}
		#annoucement .check li{
			margin-right:20px;
			float:left;
		}
			#annoucement .check li input[type="checkbox"]{
				float:left;
			}
			#annoucement .check li p{
				float:left;
				margin:0 0 0 10px;
				text-transform:uppercase;
				font-size:14px;
			}
				#annoucement .check li p span{color:#c61615;}
				#annoucement .check li p span.gray{color:#626262;}
				#annoucement .check li p span.green{color:#5aa330;}
				#annoucement .check li p span.yellow{color:#faa910;}

	#annoucement .timeline{
		margin-top:50px;
		width:840px;
		position:relative;
	}
	#annoucement .timeline .bgTimeline{
		margin-bottom:50px;
	}
	#annoucement .timeline .point{
		position:absolute;
		width:340px;
		height:80px;
		top:0;
		left:175px;
	}
		#annoucement .timeline .point1{
		top:225px;
		left:270px;
		}
		.investorDetail{
			background:#FFF;
			padding:40px;
			width:800px;
			height:320px;
			box-shadow:0 2px 10px #666;
		}
			.investorDetail .contain{
				height:300px;

			}
			.investorDetail .contain h2{margin-bottom:30px;font-size:30px;color:#c11915;}
			.investorDetail .contain p{font-size:14px;	margin-bottom:20px;}

		#annoucement .timeline .jspHorizontalBar .jspDrag{background:url(../images/dragV.png) no-repeat 0 0;width:58px !important; }
	.investorMess{}
	.investorMess .contain{width:940px;font-size:13px;line-height:18px;}
		.investorMess .contain table{float:left; margin:0 20px 20px 0;padding:0 ;}
		.investorMess .contain p{margin-bottom:20px;line-height:20px;}

/**************Partner*************/
#p-partner{}
		#partner .copy{
			width:900px;
			position: absolute;
			left: 50%;
			margin-left: -429px;
			margin-top:155px;
			padding-bottom:10px;
			font-size:13px;
			line-height:18px;
		}
			#partner .copy h2{
				font-size:30px;
				color:#c61615;
				margin-bottom:20px;
				float:left;
				text-transform:uppercase;
				font-weight:normal;
			}
			#partner .copy .breadcrumb{
				width:448px;
				float:right;
				margin-top:10px;
			}
			#partner .copy .ctTop{
				clear:both;
				overflow:hidden;
				margin-bottom:0;
			}
				#partner .copy .banner{
					float:left;
					text-align:left;
					width:365px;
				}
				#partner .copy .ctRight{
					float:left;
					width:525px;
				}
					#partner .copy .ctRight p{
						margin-bottom:5px;
					}
				#partner .copy .ctleft{
					float:left;
					width:314px;
					border-right: 1px solid #e5e5e5;
					text-align: justify;
					padding-right: 25px;
					margin-right: 25px;
				}
					#partner .copy .ctRight ul{overflow:hidden;clear:both;width:500px;}
					#partner .copy .ctRight ul li{
						/*border-right:1px solid #e5e5e5;*/
						width:230px;
						float:left;
						padding: 15px 10px 0px 0;
						margin:0;
						line-height: 1.5;
						font-size: 11px;
					}
					#partner .copy .ctRight ul li p{margin-bottom:0;}
					#partner .copy .ctRight ul li p span{
						color:#c61615;
						font-weight:700;
					}
					#partner .copy .ctleft p{
						margin-bottom:5px;
					}
					#partner .copy .ctleft p strong{
						font-size: 11px;
					}
				#partner .copy .login{
					float:left;
					width:355px;
					margin-left:50px;
				}
					#partner .copy .login h4{
						font-size:16px;
						color:#c61615;
						margin-bottom:10px;
						text-transform:uppercase;
						line-height:30px;
						font-weight:normal;
					}
					#partner .copy .login label{
						width:100px;
						float:left;
						font-size:12px;
						margin-top:5px;
						line-height: 20px;
					}
						#partner .copy .login input{
							border-radius:10px;
							background:#FFF;
							box-shadow:2px 3px 10px 0 #b7b7b7 inset;
							line-height:20px;
							padding:5px 10px;
							border:none;
							margin-bottom:10px;
							color:#626262;
						}
						#partner .copy .login .btnSubmit_vn,
						#partner .copy .login .btnSubmit_en{
							background:url(../images/btnSubmit_2.png) no-repeat left center;
							width:117px;
							height:44px;
							border:none;
							text-indent:-20000px;
							box-shadow:none;
							margin-top:10px;
							float: left;
							border-radius:0;
							-webkit-border-radius:0;
							-moz-border-radius:0;
						}
						#partner .copy .login .btnSubmit_en{
							background-image:url(../images/btnSubmit.png);
						}
						#partner .copy .login .link{
							font-size:11px;
							color:#c61615;
							text-decoration:underline;
							line-height: 64px;
							padding-left: 10px;
						}
						#partner .copy .login .link:hover{text-decoration:none;}


/**************Contact*************/
#p-contact{}
	#contact{}
		#contact .copy{
			width:900px;
			position: absolute;
			left: 50%;
			margin-left: -429px;
			margin-top:190px;
			padding-bottom:100px;

		}
			#contact .copy h2{
				font-size:40px;
				color:#c61615;
				margin-bottom:20px;
				text-transform:uppercase;
				font-weight:normal;
			}
			#contact .copy .left{
				width:290px;
				float:left;
				font-family:arial;
				font-size:12px;
				line-height:20px;
			}
			#contact .copy .left p{
				padding-bottom:30px;
			}
			#contact .copy .right{
				width:460px;
				float:left;
				border-left:1px solid #e9e9e9;
				margin-left:40px;
				padding-left:40px;
				font-family:arial;
				font-size:12px;
			}
			#contact .copy .right p{margin-bottom:30px;}
			#contact .copy .right label{
				width:100px;
				float:left;
				margin-top:7px;
				clear:left;
			}
			#contact .copy .right input{
				border-radius:10px;
				background:#FFF;
				box-shadow:1px 1px 5px 0 #b7b7b7 inset;
				line-height:20px;
				padding:5px 10px;
				border:none;
				margin-bottom:10px;
				color:#626262;
			}
			#contact .copy .right textarea{
				border-radius:10px;
				background:#FFF;
				box-shadow:1px 1px 5px 0 #b7b7b7 inset;
				line-height:20px;
				padding:5px 10px;
				border:none;
				color:#626262;
				float:left;
				height:70px;
				resize:none;
			}
				#contact .copy .right input[type=text]:hover,
				#contact .copy .right textarea:hover{
					background:#f7f7f7;
				}
				#contact .copy .right input[type=text]:focus,
				#contact .copy .right textarea:focus{
					background:#eee;
				}

			#contact .copy .right .control{
				float:left;
				width:330px;
				margin-bottom:10px;
			}
			#contact .copy .right .ct_sl{
				border-radius:10px;
				box-shadow:1px 1px 5px 0 #b7b7b7 inset;
				line-height:20px;
				padding:5px 0;
				border:none;
				margin-bottom:10px;
				color:#626262;
				float:left;
				overflow:hidden;
				width:320px;
			}
			#contact .copy .right .ct_sl select{
				background:none;
				border:none;
				width:300px;
				margin-left: 5px;
				color: #626262;
				font-size: 11px;
			}
			#contact .copy .right .btn_scrollDown{
				background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
				color:#ffffff;
				font-size:16px;
				font-weight:400;
				text-transform:uppercase;
				line-height:42px;
				padding:8px 50px 8px 30px;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				border-radius:2px;
				box-shadow:2px 2px 2px rgba(0,0,0,.3);
				border:none;
				margin:10px 0 0 100px;
				display:block;
				line-height:1.4;
				}
				#contact .copy .right .btn_scrollDown:hover{
					text-decoration:none;
					background-color:#ae1314;
					box-shadow:1px 1px 1px rgba(0,0,0,.3);
					margin:10px 0 -1px 101px;
				}


			#contact #map{
				position:relative;
			}
			#contact #map img{
				position:absolute;
				left:15px;
				top:25px;
				z-index:1;
				display:none;
			}



/**************Jobs*************/

#p-jobs{}
	#jobs{}
		#jobs .copy{
			width:900px;
			position: absolute;
			left: 50%;
			margin-left: -429px;
			margin-top:155px;
			padding-bottom:80px;
			font-size:12px;
			font-family:arial;
		}
		#jobs .copy .ct_outside,
		#jobsChnn .copy .ct_outside,
		#invector .copy .ct_outside{
			height:340px;
			width:100%;
			margin-top:30px;
		}
		#invector .copy .ct_outside{
			width:95%;
		}
		#jobs .copy .ct_ouside{
			height:300px;
			width:100%;
			margin-top:30px;
		}
		#jobsChnn .copy .ct_outside .scrolled .g-scrollbar{width:8px;}
		#jobs .copy p{margin-bottom:20px;font:arial; line-height:18px;}
		#jobs .copy h2{
			font-size:30px;
			color:#c61615;
			margin-bottom:20px;
			text-transform:uppercase;
			font-weight:normal;
		}
		.chrome #jobs .copy h2{word-spacing:-15px;}
		#jobs .copy .post_ans{ padding-top:48px;}
		#jobs .copy .post_ans .control{}
		#jobs .copy .post_ans .require{
			font-size: 10px;
			text-transform: uppercase;
		}
			.post_ans .l_pa{width:50%; float:left;}
			.post_ans .r_pa{width:47%; float:right;}
			#jobs .copy .post_ans .control label{
				float:left;
				width:115px;
				font-size:12px;
				font-weight:700;
				text-transform:uppercase;
				padding-top:6px;
				color: #626262;
			}
			#jobs .copy .post_ans .control input,
			#jobs .copy .post_ans .control textarea{
				background: none repeat scroll 0 0 #FFFFFF;
				border: medium none;
				border-radius: 10px 10px 10px 10px;
				box-shadow: 2px 3px 10px 0 #B7B7B7 inset;
				color: #626262;
				line-height: 20px;
				padding: 5px 10px;
				width:280px;
				resize:none;
			}
			#jobs .copy .post_ans .control input#captcha{
				width: 70px;
				text-align: center;
			}
			#jobs .copy .post_ans .control textarea{
				height: 70px;
			}
			#jobs .copy .post_ans .control select{
				width:180px;
				border:1px solid #E0E0E0;
				background:#ECECEC;
				border-radius: 10px 10px 10px 10px;
				box-shadow: 2px 3px 10px 0 #B7B7B7 inset;
				color: #626262;
				line-height: 20px;
				padding: 5px 10px;
				margin: 0;
			}
		/*#jobs .copy .aboutLink{
			font-family: 'AvantGarde-DemiRegular';
			position:absolute;
			right:0;
			top:65px;
			background:url(../images/ico_list_news.png) no-repeat right center;
			padding-right:10px;
			text-decoration:underline;
			font-size:14px;
			}*/
			.chrome #jobs .copy .aboutLink{
				word-spacing:-8px;
			}
		#jobs .copy .left {
			float:left;
			width:470px;
			margin:50px 50px 0 0;
		}
		#jobs .copy .right {
			float:left;
			width:365px;
			margin-top:50px;
		}
			#jobs .copy .right h4{
				font-size:16px;
				color:#c61615;
				font-weight:normal;
				margin-top:5px;
			}
			.chrome #jobs .copy .right h4,
			.chrome #jobs .training h6,
			.chrome #partner .copy .login h4{word-spacing:-10px;}
		#jobs .copy .bottom {
			clear:both;
			overflow:hidden;
		}
			#jobs .copy .bottom ul{margin-bottom:20px;}
			#jobs .copy .bottom li{
				background:url(../images/icoList.png) no-repeat left 3px;
				padding-left:20px;
				margin-bottom:5px;
				font-weight:700;
			}

		#jobs .training{margin-top:50px;}
			#jobs .training .left{
				float:left;
				width:470px;
				margin-top:0;
			}
			#jobs .training .right{
				float:left;
				width:345px;
				margin-top:0;
			}
			#jobs .training ul{margin-bottom:20px;}
			#jobs .training h5{
				font-size:14px;
				font-weight:bold;
				margin-bottom:20px;
			}
			#jobs .training h6{
				font-size:18px;
				font-weight:bold;
				margin-bottom:5px;
				color:#C61615;
				text-transform:uppercase;
				font-weight:normal;
				margin-bottom:30px;
			}

				#jobs .btn_red{
					background-image:url(../images/icon_arrow_right.gif);
					margin-top: 6px;
				}

/*			.chrome #jobs .training h6{
				word-spacing:-8px;
			}*/
/**************Cơ hội nghề nghiệp*************/

#p-jobsChnn{}
	#jobsChnn{}
		#jobsChnn .copy{
			width:900px;
			position: absolute;
			left: 50%;
			margin-left: -429px;
			margin-top:156px;
			font-size:12px;
			line-height:18px;

		}
		#jobsChnn .copy p{margin-bottom:20px;font:arial;}
		#jobsChnn .copy h2{
			font-size:30px;
			color:#c61615;
			margin-bottom:20px;
			text-transform:uppercase;
			font-weight:normal;
		}
		/*#jobsChnn .copy .aboutLink{
			font-family: 'AvantGarde-DemiRegular';
			position:absolute;
			right:0;
			top:65px;
			background:url(../images/ico_list_news.png) no-repeat right center;
			padding-right:10px;
			text-decoration:underline;
			font-size:14px;
			}*/
			.chrome #jobsChnn .copy .aboutLink{
				word-spacing:-8px;
			}
		#jobsChnn .copy .left {
			float:left;
			width:400px;
			margin:20px 50px 0 0;
		}
		#jobsChnn .copy .right {
			float:left;
			width:400px;
			margin-top:49px;
			line-height:1.5;
		}
		#jobsChnn .copy .choice{
			clear:both;
			overflow:hidden;
			padding-top:10px;
		}
			#jobsChnn .copy .choice span{
				text-transform:uppercase;
				font-weight:700;
				font-size:14px;
				font-family: 'AvantGarde-DemiRegular';
			}
			#jobsChnn .copy .choice select{
				margin:0 10px;
				border:1px solid #e0e0e0;
				background:#ececec;
				padding:5px;
				border-radius:5px;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				width:177px;
				color:#626262;
			}
		#jobsChnn .copy table{}
		#jobsChnn .copy table th{
			padding:5px 10px;
			font-size:14px;
			color:#cb1416;
			text-align:left;
			text-transform:uppercase;
		}
		.clickable{cursor:pointer;}
			#jobsChnn .copy table th em{display:inline-block; float:left; width:auto;}
			#jobsChnn h4 {margin-top:30px; color:#c61615;}
			.sorted-asc span,
			.sorted-desc span{
				cursor:pointer;
				width:10px;
				height:10px;
				display:block;
				float:left;
				margin-left:4px;
			}
			.job_expr{background:url(../images/bg_rp_rb.gif) repeat;}
				.job_expr a{color:#CCC;}
			.row_alt{background:#e8e8e8;}
			.sorted-desc span{display:inline-block; float:left; width:15px;height:15px;background:url(../images/mt_u.png) no-repeat 5px 4px;}
			.sorted-asc span{display:inline-block; float:left; width:15px;height:15px;background:url(../images/mt_d.png) no-repeat 5px 4px;}
		#jobsChnn .copy table td{
			border-top:1px solid #cfcfcf;
			padding:5px 10px;
		}
		#jobsChnn .copy table td span{color:#cb1416;text-transform:uppercase; font-weight:700;}
		#jobsChnn .copy .detail{
			overflow:hidden;
			clear:both;
		}
			#jobsChnn .copy .detail h4{
				font-size:14px;
				font-family: 'AvantGarde-DemiRegular';
				color:#666;
				float:left;
			}
			.chrome #jobsChnn .copy .detail h4{
				word-spacing: -8px;
			}
			#jobsChnn .copy .detail .icon{
				float:right;
			}
				#jobsChnn .copy .detail .icon .print{
					display:block;
					float:left;
					background:url(../images/icoPrint.png) no-repeat;
					height:21px;width:77px;
					margin-right:20px;
				}
				#jobsChnn .copy .detail .icon .print:hover{background-position:left bottom;}
				#jobsChnn .copy .detail .icon .email{
					display:block;
					float:left;
					background:url(../images/icoEmail.png) no-repeat;
					height:21px;width:57px;
				}
				#jobsChnn .copy .detail .icon .email:hover{background-position:left bottom;}
			#jobsChnn .copy .detail table{
				clear:both;
				overflow:hidden;
			}
			#jobsChnn .copy .detail table tr{}
				#jobsChnn .copy .detail table td{border-bottom:1px solid #CCC; padding:20px 0;}
				#jobsChnn .copy .detail table td.last{border-bottom:none; padding:20px 0;}
				#jobsChnn .copy .detail table td p{margin-bottom:5px;}

			#jobsChnn .btn_scrollDown{
				background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
				color:#ffffff;
				font-size:16px;
				font-weight:400;
				text-transform:uppercase;
				line-height:42px;
				padding:8px 50px 8px 30px;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				border-radius:4px;
				text-shadow:1px 0 1px #000;
				margin:20px 0 0 210px;
				border:none;
				}
					#jobsChnn .btn_scrollDown:hover{
						text-decoration:none;
						background-color:#ae1314;
						margin:20px 0 -1px 211px;
					}
			#jobsChnn .copy .detail label{
				width:100px;
				float:left;
				display:inline-block;
				line-height:27px;
			}
			#jobsChnn .copy .detail input[type="text"]{
				border-radius:10px;
				background:#FFF;
				box-shadow:1px 1px 5px 0 #b7b7b7 inset;
				line-height:20px;
				padding:5px 10px;
				border:none;
				margin-bottom:10px;
				color:#626262;
				display:block;
				float:left;
			}
			#jobsChnn .copy .detail select{
				border-radius:10px;
				background:#FFF;
				box-shadow:1px 1px 5px 0 #b7b7b7 inset;
				line-height:20px;
				padding:5px 10px;
				border:1px solid #ddd;
				margin:0 5px 10px 0;
				color:#626262;
				font-size:12px;
			}
			#jobsChnn .copy textarea{
				border-radius:10px;
				background:#FFF;
				box-shadow:1px 1px 5px 0 #b7b7b7 inset;
				line-height:20px;
				padding:5px 10px;
				border:none;
				margin-bottom:10px;
				color:#626262;
				float:left;
				height:70px;
				resize:none;
				width:820px;
			}
				#jobsChnn .copy .detail input.confirm{
					background:#F00;
				}
			.formL{
				float:left;
				width:360px;
			}
			.formR{
				width:360px;
				border-left:1px solid #e4e4e4;
				margin-left:40px;
				padding-left:40px;
				float:left;
			}
			.formR select{margin-right:0!important;}
			#jobsChnn .boxAround{border-bottom:1px solid #E4E4E4;clear:both;overflow:hidden; margin-bottom: 10px; padding-bottom: 10px}
				#jobsChnn .boxAround span{margin-bottom:5px;display:block;clear:both;}
				#jobsChnn .boxAround .btn_scrollDown{
					margin: 0 0 0 194px;
					clear: both;
					float: left;
				}
			#jobsChnn .copy .note{
				font-style:italic;
				color:#999;
			}

	.qaa{margin-top:0px;}
		.qaa li{
			width:100%;
			float:left;
			border-bottom:1px solid #CCC;
			margin-bottom:20px;
			padding:0 35px 0 0 ;
			overflow:hidden;
		}
			.qaa li .box_l{width:48%;float:left;}
			.qaa li .box_l:nth-child(2){ float:right;}
			.qaa li .q{
				background:url(../images/icoQ.png) no-repeat 0 0;
				padding-left:30px;
				font-weight:bold;
				margin-bottom:20px;
				min-height:30px;
			}
			.qaa li .a{
				background:url(../images/icoA.png) no-repeat 0 0;
				padding-left:30px;
				min-height:30px;
			}

		.qaa .question_comingsoon{
			text-align: center;
			padding: 50px 0;
			color:#aaa;
		}




/**************Breadcrumb*************/
.breadcrumb{}
	.breadcrumb a{
		font-family: 'AvantGarde-DemiRegular';
		font-size:14px;
		color:#8c8c8c;
		padding-right:16px;
		margin-right:6px;
		background:url(../images/breadcrumb_arrow.gif) no-repeat right center;
		text-transform:uppercase;
	}
	.chrome .breadcrumb a{
		word-spacing:-8px;
	}
	.breadcrumb a:last-child{background:none;}
	.breadcrumb a:hover{
		color:#666;
		text-decoration:none;
	}
	.breadcrumb a.active{color:#c61615;}

		#libraryDetail{
			background:#FFF;
			width:535px;
			box-shadow:0 5px 10px #999;
			padding:20px;
			font-family:arial;
			top:30%;
		}
		#libraryDetail img{
			float:left;
			width:238px;
			margin-bottom:20px;
		}
		#libraryDetail .data{
			float:right;
			width:280px;
		}
			#libraryDetail .data h6{
				color: #C61615;
				font-size: 12px;
				font-weight: 700;
			}
			#libraryDetail .data span{
				color: #535353;
				display: block;
				font-size: 10px;
				font-style: italic;
				margin-bottom: 10px;
			}
			#libraryDetail .data strong{
				color: #535353;
				display: block;
				font-size: 14px;
				font-weight:700;
			}
			#libraryDetail .content{
				height:130px;
				clear:both;
				font-size:12px;
				padding-right:20px;
				width:515px;
			}
		#libraryDetailStory{
			background:#FFF;
			width:535px;
			padding:20px;
			font-family:arial;
			font-size:12px;
		}
		#libraryDetail .data,
		#libraryDetailStory .data{
			margin:10px 0;
		}
			#libraryDetail .data h6,
			#libraryDetailStory .data h6
			{
				color: #C61615;
				font-size: 12px;
				font-weight: 700;
			}
			#libraryDetail .data span,
			#libraryDetailStory .data span{
				color: #535353;
				display: block;
				font-size: 10px;
				font-style: italic;
				margin-bottom: 10px;
			}
			#libraryDetail .data strong,
			#libraryDetailStory .data strong{
				color: #535353;
				display: block;
				font-size: 14px;
				font-weight:700;
			}
			#libraryDetail .content,
			#libraryDetailStory .content{
				height:130px;
				clear:both;
				font-size:12px;
				padding-right:20px;
				width:515px;
			}
			#libraryDetailStory .content{height:auto;}


/********************LOGIN**************************/
#login{
	/*width:475px;
	position:relative;
	height:340px;*/
}
	#login .tab{
		/*height:39px;*/
		position:absolute;
		z-index:1;
		left:0;
		top:0;
	}
		#login .tab span{
			float:left;
			display:block;
			padding:0 10px;
			line-height:35px;
			color:#c01a17;
			border-radius:8px;
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border:1px solid #e1e1e1;
			font-size:12px;
			font-family:arial;
			height:40px;
			position:absolute;
			top:0;
			background:#FFF;
			cursor:pointer;
			text-align: center;
		}
		#login .tab span:hover,
		#login .tab span.active{
			background:#c01a17;
			color:#FFF;
			text-decoration:none;
			border:1px solid #c01a17;
		}
		#login .tab span.first{
			left:0;
			z-index:10;
			width:150px;
			}
		#login .tab span.first:hover,
		#login .tab span.active.first{
			left:0;
			z-index:10;
			}
		#login .tab span.last{
			left:160px;
			z-index:2;
			padding-left:20px;
			width:100px;
		}
		#login .tab span.last:hover,
		#login .tab span.active.last{
			z-index:10;
			padding-left:10px;
		}
	#login .copy{
		top:49px;
		position:absolute;
		z-index:100;
		font-family:arial;
		font-size:12px;
		margin-left: -450px !important;
	}
	#login #partnerForget{
		height:236px;
	}
		#login .copy h2{
			font-size:25px;
			color:#c61615;
			margin-bottom:30px;
			font-weight:normal;
			text-transform:uppercase;
		}
		.chrome #login .copy h2,
		.chrome #signup .copy h2{word-spacing:-15px;}
		#login .copy label{
			width:104px;
			float:left;
			margin-top:5px;
			font-size: 16px;
		}
		#login .copy input{
			border-radius:10px;
			background:#FFF;
			box-shadow:1px 1px 2px 0 #b7b7b7 inset;
			line-height:20px;
			padding:8px 10px;
			border:none;
			margin-bottom:20px;
			color:#626262;
			width:380px;
		}
		#login .copy input#captcha{
			width:138px; margin-right:10px; float:left;
		}
		#login .copy input#mem_emailforget{float:left;clear:right;}
		#login #memberForget input.btnforget{margin-left:10px;}
		#login .copy span.sending_email{font-style:14px;color:#c61615;}
		#login .copy input.btnLogin{
			background:#ca1e1a url(../images/icon_arrow_right2.png) no-repeat center right;
			width:160px;
			height:44px;
			line-height: 44px;
			display:block;
			border:none;
			box-shadow:none;
			border-radius:0;
			margin:15px 0 0;
			color:#FFF;
			font-family:'AvantGarde-DemiRegular';
			text-transform:uppercase;
			font-size:18px;
			border-radius:6px;
			-moz-border-radius:6px;
			-webkit-border-radius:6px;
			padding:0;
			float:left;
			}
			#login .copy input.btnLogin:hover{
				color:#FF0;
				background:#ca1e1a url(../images/icon_arrow_right2Hv.png) no-repeat center right;
			}
			.chrome #login .copy input.btnLogin{
				word-spacing:-8px;
			}
		#login .copy p{float:left;
			width:141px;
			margin-left:10px;
		}
		#login .copy p.els{
			width:auto;
			margin-top: 0;
			padding-top: 23px;
			font-size: 16px;
		}
		#login .copy ul li{
			clear: both;
		}
		#login .copy .notSignup{
			font-size: 16px;
			margin: 5px 0 0 104px;
			padding: 0;
			text-align: left;
			width:auto;
		}
		#login .copy a:hover{
			text-decoration: underline;
		}

/********************SIGNUP**************************/
#signup{
	width:445px;
	overflow:hidden;
	clear:both;
}
	#signup .copy{
		border:1px solid #e1e1e1;
		padding:20px 30px;
		background:#FFF;
		font-family:arial;
		font-size:12px;
	}
		#signup .copy h2{
			font-size:25px;
			color:#c61615;
			margin-bottom:20px;
			font-weight:normal;
			text-transform:uppercase;
		}
		#signup .copy label{
			width:110px;
			float:left;
			margin-top:4px;
		}
		#signup .copy input{
			border-radius:10px;
			background:#FFF;
			box-shadow:1px 1px 2px 0 #b7b7b7 inset;
			line-height:20px;
			padding:5px 10px;
			border:none;
			margin-bottom:10px;
			color:#626262;
			width:230px;
		}
		#signup .copy select{
			border-radius:10px;
			background:#FFF;
			box-shadow:1px 1px 2px 0 #b7b7b7 inset;
			line-height:20px;
			padding:5px 10px;
			border:1px solid #CCC;
			margin:0 5px 20px 0;
			color:#626262;
			width:85px;
		}
		#signup .copy input.btnLogin{
			background:#ca1e1a url(../images/icon_arrow_right2.png) no-repeat center right;
			width:106px;
			height:37px;
			display:block;
			border:none;
			box-shadow:none;
			border-radius:0;
			margin-left:110px;
			margin-bottom:0;
			color:#FFF;
			font-family:'AvantGarde-DemiRegular';
			text-transform:uppercase;
			font-size:13px;
			border-radius:4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			padding:0;
			}
			.chrome #signup .copy input.btnLogin{
				word-spacing:-8px;
			}
			#signup .copy input.btnLogin:hover{
				color:#FF0;
				background:#ca1e1a url(../images/icon_arrow_right2Hv.png) no-repeat center right;
			}
		#signup .copy p{float:left;
			width:114px;
			margin-left:10px;
		}
		#signup .copy .checkbox{
			width:auto;
			float:left;
			margin-top:12px;
			margin-right:10px;
			margin-bottom:0;
		}
		#signup .copy .label_3{
			width:150px;
			margin-bottom:10px;
		}
		#signup .copy .clearfix{
			height: 1px;
			width: 100%;
		}



#uploadKk{
	width:413px;
	position:relative;
}
	#uploadKk .copy{
		position:relative;
		border:1px solid #e1e1e1;
		padding:20px 30px;
		background:#FFF;
		font-family:arial;
		font-size:12px;
		overflow:hidden;
		clear:both;

	}
		#uploadKk .copy h2{
			font-size:25px;
			color:#c61615;
			margin-bottom:20px;
			font-weight:normal;
			text-transform:uppercase;
		}
		.chrome #uploadKk .copy h2{word-spacing:-15px;}
		#uploadKk .copy label{
			width:110px;
			float:left;
			margin-top:5px;
			clear:left;
		}
		#uploadKk .copy input{
			border-radius:10px;
			background:#FFF;
			box-shadow:1px 1px 5px 0 #b7b7b7 inset;
			line-height:20px;
			padding:5px 10px;
			border:none;
			margin-bottom:10px;
			color:#626262;
			width:210px;
		}
		#uploadKk .copy textarea{
			border-radius:10px;
			background:#FFF;
			box-shadow:1px 1px 5px 0 #b7b7b7 inset;
			line-height:20px;
			padding:5px 10px;
			border:none;
			margin:10px 0 20px 0;
			color:#626262;
			width:320px;
			height:100px;
			resize:none;
			clear:both;
		}
		#uploadKk .copy select{
			border-radius:10px;
			background:#FFF;
			box-shadow:1px 1px 2px 0 #b7b7b7 inset;
			line-height:20px;
			padding:5px 10px;
			border:none;
			margin-bottom:20px;
			color:#626262;
			width:75px;
		}
		#uploadKk .copy input.btnLogin{
			background:#ca1e1a url(../images/icon_arrow_right2.png) no-repeat center right;
			width:125px;
			height:37px;
			display:block;
			border:none;
			box-shadow:none;
			border-radius:0;
			margin-left:110px;
			margin-bottom:0;
			color:#FFF;
			text-transform:uppercase;
			font-size:13px;
			border-radius:4px;
				-moz-border-radius:4px;
				-webkit-border-radius:4px;
			padding:0;
			}
			#uploadKk .copy input.btnLogin:hover{
				color:#FF0;
				background:#ca1e1a url(../images/icon_arrow_right2Hv.png) no-repeat center right;
			}

		#uploadKk .copy p{float:left;
			width:114px;
			margin-left:10px;
		}

.upload { overflow: hidden; position: relative;background:url(../images/upload_en.png) no-repeat; text-align: center; }
.vi-VN .upload{
 	background:url(../images/upload_vn.png)
}
.upload, .upload_file { width: 241px; height: 24px; cursor: pointer;float:left;margin-bottom:10px; }
.upload_file { opacity: 0; filter: alpha(opacity=0); position: absolute; right: 0px; top: 0; font-size: 40px;  }
.upload span {line-height: 2em; display:block; padding-left:10px; text-align:left;}


.popUp .copy{
	padding:20px 30px;
	font-family:arial;
	font-size:13px;
	line-height:18px;
	clear:both;
	position:relative;
}
	.popUp .copy h2{
		font-size:28px;
		color:#c61615;
		font-weight:normal;
		text-transform:uppercase;
		margin-bottom:20px;
		line-height:normal;
	}
	.popUp .copy span{
		display:block;
		margin-bottom:20px;
		color:#c61615;
	}
	.popUp .copy .content{/*height:250px;*/padding-right:10px;font-size:13px; line-height:18px;}
	.popUp .copy .content p{margin-bottom:20px;}
	.popUp .copy .content i{
		font-style: italic;
	}
	.popUp .copy .btnclose{
		display:block;
		position:absolute;
		right:-25px;
		top:-25px;
		background:url(../../../kinhdo_brandsite/html/images/btnClose.png) no-repeat left  top;
		width:51px;
		height:52px;
	}
	.popUp .copy .btnclose:hover{background-position:left bottom;}

#comprehensiveDetail3{
	width:850px;
	height:425px;
	overflow:hidden;
	position:relative;
}

#comprehensiveDetail,
#comprehensiveDetail2{
	width:800px;
	height:350px;
	overflow:hidden;
	position:relative;
}
	#comprehensiveDetail2 .copy .scrolled,
	#comprehensiveDetail .copy .scrolled,{
		/*height:238px;*/
		width:730px;
		height:185px;
		padding-bottom:20px;
	}
	#comprehensiveDetail2 .copy .scrolled .g-viewport,
	#comprehensiveDetail .copy .scrolled .g-viewport {
		height:238px;
	}
	#comprehensiveDetail3 .copy .scrolled .g-viewport{height:300px;}

#comprehensiveDetail{
	height:390px;
}
#comprehensiveDetail h6{
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 3px;
}

#chinhsach #comprehensiveDetail{height:200px;}
#camket #comprehensiveDetail{height:210px;}
	#camket #comprehensiveDetail .content{height:100px;}
	#camket #comprehensiveDetail .copy .scrolled .g-viewport{height:125px;}

#way{
	width:490px;
	position:relative;
}
#way .copy h2{
		font-family: 'GothamRoundedBold';
		font-size:60px;
		margin-bottom:0;
	}
.point{
	position:absolute;
	left:570px;
	top:45px;
	height:380px;
}
.p1993{
	width:140px;
	height:100px;
	position:absolute;
	left:25px;
}
.p1994{
	width:200px;
	height:120px;
	position:absolute;
	left:715px;
	top:125px;
}
.p1995{
	width:115px;
	height:50px;
	position:absolute;
	left:565px;
	top:40px;
}
.p1996{
	display:block;
	width:190px;
	height:100px;
	position:absolute;
	left:720px;
	top:140px;
}
.p1997{
	display:block;
	width:140px;
	height:100px;
	position:absolute;
	left:1080px;
}
.p1998{
	display:block;
	width:185px;
	height:160px;
	position:absolute;
	left:1225px;
	top:140px;
}
.p1999{
	display:block;
	width:140px;
	height:100px;
	position:absolute;
	left:1805px;
}
.p2000{
	display:block;
	width:190px;
	height:100px;
	position:absolute;
	left:2090px;
	top:140px;
}
.p2001{
	display:block;
	width:210px;
	height:100px;
	position:absolute;
	left:2365px;
	top:-30px;
}
.p2002{
	display:block;
	width:200px;
	height:100px;
	position:absolute;
	left:2625px;
	top:140px;
}
.p2003{
	display:block;
	width:170px;
	height:100px;
	position:absolute;
	left:3040px;
	top:-30px;
}
.p2004{
	display:block;
	width:220px;
	height:100px;
	position:absolute;
	left:3215px;
	top:140px;
}
.p2005{
	display:block;
	width:140px;
	height:100px;
	position:absolute;
	left:3510px;
}
.p2006{
	display:block;
	width:185px;
	height:100px;
	position:absolute;
	left:3763px;
	top:140px;
}
.p2007{
	display:block;
	width:180px;
	height:100px;
	position:absolute;
	left:3945px;
	top:-30px;
}
.p2008{
	display:block;
	width:220px;
	height:100px;
	position:absolute;
	left:4214px;
	top:140px;
}
.p2009{
	display:block;
	width:140px;
	height:100px;
	position:absolute;
	left:4325px;
}
.p2010{
	display:block;
	width:220px;
	height:120px;
	position:absolute;
	left:4625px;
	top:140px;
}
.p2011{
	display:block;
	width:170px;
	height:130px;
	position:absolute;
	left:4750px;
	top:-30px;
}
.p2012{
	display:block;
	width:240px;
	height:140px;
	position:absolute;
	left:5025px;
	top:140px;
}
.now{
	display:block;
	width:280px;
	height:180px;
	position:absolute;
	left:5645px;
}
.userLogin{
	position:absolute;
	right:-5px;
	top:26px;
	font:12px arial;
	display:none;
	}
	.userLogin a:hover{
		color:#C61615;
		text-decoration:underline;
	}
	.userLogin .signLink a{
		color:#575757;
		padding: 0 5px 0 7px;
		border-left:1px solid #cccccc;
	}
	.userLogin .signLink a:first-child{
		border:none;
	}
	.userLogin .signLink a:hover{
		color: #000;
		text-decoration: none;
	}
#jobs .btn_scrollDown{
	clear:both;
	background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
	color:#ffffff;
	font-size:16px;
	font-weight:400;
	text-transform:uppercase;
	line-height:42px;
	padding:1px 50px 1px 30px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	box-shadow:2px 2px 2px rgba(0,0,0,.3);
	border:none;
	margin:12px 0 0 0;
	display:inline-block;
}
#jobs .btn_scrollDown:hover{
	text-decoration:none;
	background-color:#ae1314;
	box-shadow:1px 1px 1px rgba(0,0,0,.3);
	margin:10px 0 -1px 1px;
}
#login .copy input.btnforget{
			background:#ca1e1a url(../images/icon_arrow_right2.png) no-repeat center right;
			width:120px;
			height:37px;
			display:block;
			border:none;
			box-shadow:none;
			border-radius:0;
			margin-left:70px;
			margin-bottom:0;
			color:#FFF;
			font-family:'AvantGarde-DemiRegular';
			text-transform:uppercase;
			font-size:13px;
			border-radius:4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			padding:0;
			float:left;
			}
			#login .copy input.btnforget:hover{
				color:#FF0;
				background:#ca1e1a url(../images/icon_arrow_right2Hv.png) no-repeat center right;
			}
			.chrome #login .copy input.btnLogin{
				word-spacing:-8px;
			}


.captchaImg{float:left; margin-right:10px;}
.popUp .scrolled{
	/*width:730px;*/
	width:100%;
	height:300px;
}


#timeline_prev{
	display: none;
}
.job_expr td,
.job_expr td a{color:#666;}
#listjob-content{
	clear:both;
	width:100%;
	margin-top: 30px;
}

#baocaophantich{clear:both;
overflow:hidden;}
	#baocaophantich .left{
		float:left;
		width:240px;
		margin-right:30px;
	}
	#baocaophantich .left ul li {
		padding-bottom:10px;
		margin-bottom:10px;
		border-bottom:1px solid #CCC;
		font-size:12px;
	}
		#baocaophantich .left ul li span {
			font-weight:bold;
			color:#c51716;
			float:right;
			display:inline-block;
			width:100px;
			font-size:18px;
		}
	#baocaophantich .right{
		float:left;
		width:630px;
	}
	#baocaophantich .right .ct_bctc{height:200px; width:100%;}
	#baocaophantich .right table tr th{
		font-weight:bold;
		font-size:14px;
		padding:0 0 10px 0;
		text-align:left;
	}
	#baocaophantich .right table tr td{
		padding:5px 0;
		border-bottom:1px solid #CCC;
		font-size:12px;
	}
	#bieudophantich .ctpt{
		text-align:center;
	}

	.r_pa .btn_red{line-height:18px;}


/*1-4-2013*/
.fgpass{
	width:340px;
	height:180px;
	border-radius:5px;
	background:#FFF;
	padding:20px;
}
	.fgpass h2{font-size: 16px;color: #c61615; text-transform:uppercase; margin-bottom:20px;}
	.chrome .fgpass h2{word-spacing:-10px;}
	.fgpass p{margin-bottom:10px;}
	.fgpass label{display:inline-block; width:110px;font-size:12px;}
	.fgpass .text{display:inline-block; width:200px; background: #FFF;
box-shadow: 2px 3px 10px 0 #b7b7b7 inset;
line-height: 20px;
padding: 5px 10px;
border-radius:10px;
border:none;}

.fgpass .btn_scrollDown{
	clear:both;
	background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
	color:#ffffff;
	font-size:16px;
	font-weight:400;
	text-transform:uppercase;
	line-height:30px;
	padding:1px 50px 1px 30px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	box-shadow:2px 2px 2px rgba(0,0,0,.3);
	border:none;
	margin:12px 0 0 105px;
	display:inline-block;
}
.fgpass .btn_scrollDown:hover{
	text-decoration:none;
	background-color:#ae1314;
	box-shadow:1px 1px 1px rgba(0,0,0,.3);
}


#thuctap .scrolled{
	width: 92%;
	height: 350px;
}