/*
 CSS of plugins:
 	- jQueryloader 2.0

 	- ColorBox
	- jscrollpane

	- jSlider
	- Tinyscroll
	- Trace debug

	- fixedheadertable
 */






/* jQueryloader */
#qLpercentage{
	font-family: 'utm_neo_sans_intelregular';
	font-size:11px;
	font-weight:700;
	color:#3594d1;
	text-align:center;
}
#animateLoadingIcon{
	width:76px;
	height:76px;
	/*background:url(../images/pre_loading.gif) no-repeat center center;*/
	position:fixed;
	left:50%;
	top:50%;
	margin:-38px 0 0 -38px;
	-webkit-animation-name: animateLoadingIcon;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-transition-timing-function: linear;
	-moz-animation-name: animateLoadingIcon;
	-moz-animation-duration: 5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-transition-timing-function: linear;
	-o-animation-name: animateLoadingIcon;
	-o-animation-duration: 5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-o-animation-iteration-count: infinite;
	-o-transition-timing-function: linear;
	}
	@-webkit-keyframes animateLoadingIcon{
		0%{-webkit-transform: rotate(0deg);}
		100%{-webkit-transform: rotate(360deg);}
	}
	@-moz-keyframes animateLoadingIcon{
		0%{-moz-transform: rotate(0deg);}
		100%{-moz-transform: rotate(360deg);}
	}









/*
    ColorBox Core Style:
*/
#cboxOverlay{background:rgba(255,255,255,0.7)}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

#cboxOverlay{}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; }
    #cboxTopRight{width:21px; height:21px; }
    #cboxBottomLeft{width:21px; height:21px; }
    #cboxBottomRight{width:21px; height:21px; }
    #cboxMiddleLeft{width:21px; }
    #cboxMiddleRight{width:21px; }
    #cboxTopCenter{height:21px; }
    #cboxBottomCenter{height:21px; }
    #cboxContent{/*overflow:hidden;*/
		background:#fff url(../images/cb_bg.gif) repeat-x;
		box-shadow:0px 5px 6px rgba(0,0,0,.3);
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
	}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{}
        #cboxNext{position:absolute; bottom:0; left:27px; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{}
        #cboxLoadingOverlay{}
        #cboxLoadingGraphic{}
        #cboxClose{position:absolute; top:-23px; right:-24px; width:54px; height:54px; text-indent:-9999px;background:url(../images/btn_close_r.png) no-repeat left top; /*box-shadow:5px 5px 6px rgba(0,0,0,.1);*/
			}
			#cboxClose:hover{
				/*right:-22px;
				top:-18px;
				box-shadow:2px 2px 3px rgba(0,0,0,.1);*/
			}
        #cboxClose:hover{background-position:left bottom;}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/*  The following provides PNG transparency support for IE6 */
.cboxIE6 #cboxTopLeft{}
.cboxIE6 #cboxTopCenter{}
.cboxIE6 #cboxTopRight{}
.cboxIE6 #cboxBottomLeft{}
.cboxIE6 #cboxBottomCenter{}
.cboxIE6 #cboxBottomRight{}
.cboxIE6 #cboxMiddleLeft{}
.cboxIE6 #cboxMiddleRight{}
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}








/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 */
.jspContainer{ overflow: hidden; position: relative; }
.jspPane{ position: absolute; }
.jspVerticalBar{ position: absolute; top: 0; right: 0; width: 6px; height: 100%; }
.jspHorizontalBar{ position: absolute; bottom: 0; left: 0; width: 100%; height: 6px;}
.jspVerticalBar *,
.jspHorizontalBar *{ margin: 0;	padding: 0;}
.jspCap{ display: none;}
.jspHorizontalBar .jspCap{ float: left;}
.jspTrack{	background: #e2e2e2; position: relative;}
.jspDrag{ background: url(../images/drag.png) no-repeat left top;	position: relative;	top: 0;	left: 0; cursor: pointer;}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{	float: left; height: 100%;}
.jspArrow{	background: #50506d; text-indent: -20000px;	display: block;	cursor: pointer;}
.jspArrow.jspDisabled{ cursor: default;	background: #80808d;}
.jspVerticalBar .jspArrow{ height: 6px;}
.jspHorizontalBar .jspArrow{ width: 6px; float: left; height: 100%;}
.jspVerticalBar .jspArrow:focus{ outline: none;}
.jspCorner{	background: #eeeef4; float: left; height: 100%;}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner{	margin: 0 -3px 0 0; }













.jslider .jslider-bg i,
.jslider .jslider-pointer { }

.jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
.jslider table { width: 100%; border-collapse: collapse; border: 0; }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

.jslider table,
.jslider table tr,
.jslider table tr td { width: 100%; vertical-align: top; }

.jslider .jslider-bg { position: relative; }
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0; }
.jslider .jslider-bg .l { width: 50%; background-position: 0 0; left: 0; }
.jslider .jslider-bg .r { width: 50%; left: 50%; background-position: right 0; }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-position: 0 -20px; }

.jslider .jslider-pointer { width: 24px; height: 24px; position: absolute; left: 20%; top: 0; margin-left: -12px; cursor: pointer; cursor: hand; background:url(../images/jslider_drag.png) no-repeat 0 0; }
.jslider .jslider-pointer-hover { }
.jslider .jslider-pointer-to { left: 80%; }

.jslider .jslider-label { display:none; font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
.jslider .jslider-label-to { display:none; visibility:hidden; left: auto; right: 0; }

.jslider .jslider-value { display:none; font-size: 9px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -19px; left: 20%; background: white; line-height: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.jslider .jslider-value-to { left: 80%; }

.jslider .jslider-label small,
.jslider .jslider-value small { position: relative; top: -0.4em; }

.jslider .jslider-scale { position: relative; top: 9px; }
.jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
.jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label { display: none; }











/*
 	Tiny Scrollbar
 */
.scrolled { width: 400px; height:208px;}
.scrolled .g-viewport { height: 100%; overflow: hidden; position: relative; }
.scrolled .g-overview { list-style: none; position: absolute; left: 0; top: 0; padding:0; width:98%; overflow:hidden;}
.scrolled .g-thumb .end,
.scrolled .g-thumb { background: #c01915 url(../images/scroll_drag_bg.gif) no-repeat center center; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.scrolled .g-scrollbar { position: relative; float: right; width: 6px; }
.scrolled .g-track { background-color: #e2e2e2; height: 100%; width:6px; position: relative; padding: 0 1px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
.scrolled .g-thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.scrolled .g-thumb .end { overflow: hidden; height: 5px; width: 6px; }
.scrolled .g-disable{ display: none; }
.g-noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }








/*
	Trace debug
 */
#log{ z-index:999999; width:80%; height:100px; font-family: 'Courier'; font-size:11px; background-color:rgba(0,0,0,.7); color:#FFF; overflow-y:auto; position:fixed; bottom:0; left:10%; }











.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 674px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 634px;
    height: 65px;
	margin-left:40px;
}
.jcarousel-skin-tango .jcarousel-item {
    width: 80px;
    height: 65px;
	text-align:center;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: transparent;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 19px;
    right: -38px;
    width: 30px;
    height: 30px;
    cursor: pointer;
	background: url(../images/btn_next.gif) no-repeat left top;
	}
	.jcarousel-skin-tango .jcarousel-next-horizontal:hover{
		background-position:0 bottom;
	}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 19px;
    left: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
	background: url(../images/btn_back.gif) no-repeat left top;
	}
	.jcarousel-skin-tango .jcarousel-prev-horizontal:hover{
		background-position:0 bottom;
	}
.jcarousel-skin-tango .jcarousel-prev-disabled,
.jcarousel-skin-tango .jcarousel-next-disabled{
	/*opacity:0.3;
	cursor:default;*/
	display: none;
}







.jcarousel-gift .jcarousel-container {
}
.jcarousel-gift .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-gift .jcarousel-container-horizontal {
    width: 900px;
}
.jcarousel-gift .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-gift .jcarousel-clip-horizontal {
	width: 800px;
    height: 240px;
	margin-left:50px;
}
.jcarousel-gift .jcarousel-item {
    width: 800px;
    height: 240px;
	text-align:center;
}
.jcarousel-gift .jcarousel-item-horizontal {
	margin-left: 0;
}
.jcarousel-gift .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-right: 0;
}
.jcarousel-gift .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-gift .jcarousel-next-horizontal {
    position: absolute;
    top: 70px;
    right: 0;
    width: 30px;
    height: 57px;
    cursor: pointer;
	background: url(../images/page_arrow_next.png) no-repeat left top;
	}
	.jcarousel-gift .jcarousel-next-horizontal:hover{
		background-position:0 bottom;
	}

.jcarousel-gift .jcarousel-prev-horizontal {
    position: absolute;
    top: 70px;
    left: 4px;
    width: 30px;
    height: 57px;
    cursor: pointer;
	background: url(../images/page_arrow_prev.png) no-repeat left top;
	}
	.jcarousel-gift .jcarousel-prev-horizontal:hover{
		background-position:0 bottom;
	}
.jcarousel-gift .jcarousel-prev-disabled,
.jcarousel-gift .jcarousel-next-disabled{
	opacity:0.4;
	cursor:default;
}
















/*!
* jquery.fixedHeaderTable. The jQuery fixedHeaderTable plugin
*
* Copyright (c) 2011 Mark Malek
* http://fixedheadertable.com
*
* Licensed under MIT
* http://www.opensource.org/licenses/mit-license.php
*
* http://docs.jquery.com/Plugins/Authoring
* jQuery authoring guidelines
*
* Launch  : October 2009
* Version : 1.3
* Released: May 9th, 2011
*
*
* all CSS sizing (width,height) is done in pixels (px)
*/

/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
	/* position */
    margin: 0;

    /* size */
	padding: 0;

	/* text */
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	}

.fht-table {
	/* appearance */
    border-collapse: collapse;
    border-spacing: 0;
	}

/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	/* appearance */
	overflow: hidden;

	/* position */
	position: relative;
	}

	.fht-table-wrapper .fht-fixed-body .fht-tbody,
	.fht-table-wrapper .fht-tbody {
		/* appearance */
	    overflow: auto;
		}

		.fht-table-wrapper .fht-table .fht-cell {
			/* appearance */
			overflow: hidden;

			/* size */
		    height: 1px;
			}

	.fht-table-wrapper .fht-fixed-column,
	.fht-table-wrapper .fht-fixed-body {
	    /* position */
	    top: 0;
	    left: 0;
	    position: absolute;
	    }

	.fht-table-wrapper .fht-fixed-column {
	    /* position */
	    z-index: 1;
	    }

/* @end */




/* ------------------------------------------------------------------------
	This you can customize
------------------------------------------------------------------------- */

	label.checkbox span.holder {
		height: 61px; /* Total height of your checkbox image */
		background: url(../images/prettyCheckboxes/checkbox.gif) 0 -1px no-repeat; /* Path to your checkbox image */
	}
	
	label.radio span.holder {
		height: 61px; /* Total height of your radio buttons image */
		background: url(../images/prettyCheckboxes/radio.gif) 0 -1px no-repeat; /* Path to your radio button image */
	}
	
	label.checkbox:hover span.holder,
	label.radio:hover span.holder { top: -21px !important; } /* Background position on mouseover */
	
	label.checked span.holder,
	label.checked span.holder,
	label.checked:hover span.holder,
	label.checked:hover span.holder { top: -42px !important; } /* Background position when checked */


/* ------------------------------------------------------------------------
	Customize at your own risk
------------------------------------------------------------------------- */
	
		input.hiddenCheckbox {
			position: absolute; left: -10000px; /* Hide the input */
		}
	
		label.prettyCheckbox span.holderWrap {
			display: block;
			position: relative;
			overflow: hidden;
			width:63px!important;
		}
		
		label.prettyCheckbox span.holder {
			display: block;
			position: relative;
			top: 0; left: 25px;
		}
		#allBrands .copy .filter div p{padding-top:10px; text-align:center; font-size:11px;cursor:pointer;}