header,
h2,
.breadcrumb,
.aboutLink,
#jobsChnn img.left,
div.right,
.btn_scrollDown,
.detail .icon,
footer{
	display: none;
}

#jobsChnn .copy{
	width: 100%;
	position: static;
	margin: 0;
	padding-bottom: 0;
}