/*
 * CSS framework Bica.
 * Version 1.1
 */
/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,table,tbody,tfoot,thead{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100.01%;font-family:inherit;vertical-align:baseline;}

input,textarea{margin:0;padding:0 0 0 1px;font-weight:inherit;font-style:inherit;font-size:11px;font-family:arial;}
textarea{padding-left:1px; overflow:auto; vertical-align:top;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box; padding:0;}
input[type="search"]{-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{ -webkit-appearance:button; cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0; padding:0;}

table{border-collapse:collapse;border-spacing:0;}
table,td,th{/*border-style:solid;border-width:1px;border-color:#a5acb2*/}
caption,th,td{font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"""";}
q:before,q:after{content:'';}
q{quotes: "\201C" "\201D" "\2018" "\2019";}
img{border:none;}
ul,li{list-style-type:none}
abbr[title]{border-bottom:1px dotted;}
dfn{font-style:italic;}
mark{background:#ff0; color:#000;}
code,kbd,pre,samp{font-family:monospace,serif; font-size:1em;}
pre{white-space:pre; white-space:pre-wrap; word-wrap: break-word;}
small{font-size:80%;}
sub,sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block; *display:inline; *zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
img{border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;}
legend{border:0; padding:0;}

/* Font */
html{ -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%;} /* Prevents iOS text size adjust after orientation change, without disabling user zoom. */
body{font-size:62.5%;font-family:Arial/*, Tahoma, Verdana*/;} /* 1em 10px */

/* Layout */
#hd,#ft{clear:both}
#bd:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/*#bd{zoom:1;}*/ /* validation */

/* Common elements */
.l{float:left}
.r{float:right}
.o{overflow:hidden}
.h{display:none}
.m0{margin:0}
.p0{padding:0}
.last{ margin-right:0; padding-right:0}
.cl,.clf{clear:both}
.clf{float:left}
hr{border:none;border-top:1px solid #ccc;height:1px;clear:both}
a		{text-decoration:none}
a:hover	{text-decoration:underline}
a:focus, a:active, a:hover, :focus,a,* {outline: 0;}
h1,h2,h3,h4,h5,h6{font-weight:700;} /* 62.5% standar size */
h1{font-size:1.8em;}
h2{font-size:1.3em; line-height:30px;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
h6{font-size:0.9em;}
ul.ul-h{clear:both;}
ul.ul-h li{float:left}
ol li{list-style:decimal inside;}

/* easy clearing */
.clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden;font-size:0}
.clearfix{display:inline-block; position:relative;}
/*\*/
.clearfix{display:block;}
* html .clearfix             {zoom:1;} /* IE6 */
*:first-child+html .clearfix {zoom:1;} /* IE7 */


@media print {
    *{background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important;}
    a,a:visited{text-decoration:underline;}
    a[href]:after{content: " (" attr(href) ")";}
    abbr[title]:after{content: " (" attr(title) ")";}
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:"";}
    pre,blockquote{border:#999 solid 1px; page-break-inside:avoid;}
    thead{display:table-header-group;}
    tr,img{page-break-inside: avoid;}
    img{max-width: 100% !important;}
    @page{margin: 0.5cm;}
    p,h2,h3{orphans:3; widows:3;}
    h2,h3{page-break-after:avoid;}
}


/*** 	Pattern 	 ***/

/*
#ANIMATION_NAME{
	-webkit-animation-name: ANIMATION_NAME;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 0% 0%;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: ANIMATION_NAME;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 0% 0%;
	-moz-animation-iteration-count: infinite;
	-o-animation-name: ANIMATION_NAME;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 0% 0%;
	-o-animation-iteration-count: infinite;
}
@-webkit-keyframes ANIMATION_NAME{
	0%{-webkit-transform: translate(1px,1px) rotate(0deg);}
	100%{-webkit-transform: translate(1px,1px) rotate(0deg);}
}
@-moz-keyframes ANIMATION_NAME{
	0%{-moz-transform: translate(1px,1px) rotate(0deg);}
	100%{-moz-transform: translate(1px,1px) rotate(0deg);}
}
*/

/*::selection
{
background:transparent
}
::-moz-selection
{
background:transparent
}
*/

@font-face {
    font-family: 'AvantGarde-DemiRegular';
    src: url('../font/avantgd_0-webfont.eot');
    src: url('../font/avantgd_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/avantgd_0-webfont.woff') format('woff'),
         url('../font/avantgd_0-webfont.ttf') format('truetype'),
         url('../font/avantgd_0-webfont.svg#AvantGarde-DemiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'GothamRoundedLight';
	src: url('../font/gothamrnd-light_c.eot');
	src: url('../font/gothamrnd-light_c.eot?#iefix') format('embedded-opentype'),
			 url('../font/gothamrnd-light_c.woff') format('woff'),
			 url('../font/gothamrnd-light_c.ttf') format('truetype'),
			 url('../font/gothamrnd-light_c.svg#gothamrnd-light_c') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamRoundedBold';
	src: url('../font/gothamrnd-bold.eot');
	src: url('../font/gothamrnd-bold.eot?#iefix') format('embedded-opentype'),
			 url('../font/gothamrnd-bold.woff') format('woff'),
			 url('../font/gothamrnd-bold.ttf') format('truetype'),
			 url('../font/gothamrnd-bold.svg#gothamrnd-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}




/***	Style	 ***/


body{
	color:#4d4d4d;
	font-size:14px;
	/*font-family: 'GothamRoundedLight';*/
	font-family:Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6{ font-family: 'AvantGarde-DemiRegular'; }
	.chrome h2{ font-family: 'AvantGarde-DemiRegular';}
p,
.copy{
	font-family:Arial, Helvetica, sans-serif;
}
body a{color:#c61615;}
	a:hover{text-decoration:none;}
header{
	width:100%;
	height:80px;
	position:fixed;
	left:0;
	top:0;
	z-index:999;
	background:url(http://datraco.com/img/bg_space.png);
}
.left-content-header {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    width: 20%;
}
.right-content-header {
    float: right;
    margin-right: 65px;
	margin-top: 5px;
    width: auto;
}
.center-content-header {
    float: right;
    margin-right: 35px;
	margin-top: 5px;
    width: auto;
}
#hd{
	width:940px;
	height:85px;
	clear:both;
	margin:auto;
	position:relative;
	}
	.logo{
		float:left;
		margin:5px 0 0 38px;
	}
	#hd .slogan{
		position:absolute;
		top:27px;
		left:220px;
		font-size:18px;
		text-transform:uppercase;
		color:#c61615;
		font-family:'AvantGarde-DemiRegular';
	}
	.chrome #hd .slogan{word-spacing:-10px;}
	.hd-r{
		float:right;
		padding:50px 0 0 0;
		}
		.hd-r .lang{
			position:absolute;
			right:0;
			top:0;
			padding-left:20px;
			padding-top:4px;
			}
			.hd-r .lang a{
				font-size:12px;
				color:#575757;
				padding-left:28px;
				background-position:0 center;
				background-repeat:no-repeat;
			}
			.hd-r a.lang-en{
				background-image:url(../images/lang_en.gif);
			}
			.hd-r a.lang-vn{
				background-image:url(../images/lang_vn.png);
			}
		.hd-r .links a{
			font-size:14px;
			color:#575757;
			font-weight:bold;
		}
		.hd-r .links a.active {
			font-weight:bold;
			color: #C61615;
		}

		.hd-r .search{
			width:231px;
			height:23px;
			float:right;
			background:url(../images/hd_search_bg.gif) no-repeat;
			}
			.hd-r .search input.txf{
				border:none;
				background:none;
				padding:5px 12px;
				width:172px;
				float:left;
				color:#666;
			}
			.hd-r .search input.btn{
				width:24px;
				height:24px;
				background:url(../images/hd_search_btn.gif) no-repeat 5px center;
				float:right;
				border:none;
				margin-right:4px;
				display:block;
			}

		.hd-r .links{
			float:right;
			overflow:hidden;
			}
			.hd-r .links a{
				padding:0 11px;
				line-height:24px;
				border-left:1px solid #cccccc;
				margin-left:-1px;
			}

		.hd-r a:hover{
			text-decoration:none;
			color:#000;
		}


nav{
	height:46px;
	background:#e10c18 url(../images/nav_bg.gif) repeat-x;
	overflow:hidden;
	position:relative;
	}
	#nav{
		width:940px;
		margin:auto;
	}
	#nav > li{
		float:left;
		position:relative;
	}
	#nav li > a span,
	#nav li > a em{
		font-family: 'AvantGarde-DemiRegular';
		float:left;
		line-height:46px;
		color:#fff;
		font-size:14px;
		font-weight:700;
		font-style:normal;
		text-transform:uppercase;
		padding:0 42px;
		border-right:1px solid #d94a4c;
		border-left:1px solid #b32024;
		text-shadow:0 1px 1px #840605;
		clear:both;
		cursor:pointer;
		text-decoration:none;
	}
	.chrome #nav li > a span,
	.chrome #nav li > a em{
		word-spacing:-8px;
		padding:0 40px;
	}
	.safari #nav li > a span,
	.safari #nav li > a em{
		word-spacing:0px;
		padding:0 40px;
	}
	#nav li > a em{
		background:url(../images/nav_act_bg.gif) repeat-x;
	}
	#nav li:first-child a span,
	#nav li:first-child a em{
		border-left:none;
	}
	#nav li:last-child a span,
	#nav li:first-child a em{
		border-right:none;
	}
	#nav li > a.active span,
	#nav li > a.active em{
		color:#fcd62b;
	}

	.safari #nav li > a span,
	.safari #nav li > a em{
		padding: 0 39px;
	}


footer{
	width:100%;
	height:35px;
	line-height:35px;
	background:url(../images/ft_bg.gif) repeat-x;
	position:fixed;
	left:0;
	bottom:0;
	border-top:1px solid #a6a6a6;
	z-index:1000;
	}
	#ft{
		width:940px;
		margin:auto;
		font-weight:bold;
	}
	#ft .links{
		float:right;
		}
		#ft .links a{
			font-size:12px;
			padding-right:15px;
			color:#fff;
			text-transform:capitalize;
		}
	#ft .copyright{
		float:left;
		color:#fff;
		font-size: 12px;
		margin-left: 40px;
	}



/*body, html, #main, .page{ width:100%; height:100%}*/
section{
	float:left;
	clear:both;
	overflow:hidden;
	position:relative;
}
section h1{
	position:absolute;
	left:0;
	top:5%;
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	text-indent:-9999px;
}
section .breadcrumb{
	position:absolute;
	top:150px;
	left:50%;
	z-index:9;
	margin-left:-427px;
	}
	section .breadcrumb a{
		font-family: 'AvantGarde-DemiRegular';
		font-size: 14px;
		color: #8c8c8c;
		padding-right: 18px;
		margin-right: 6px;
		background: url(../images/breadcrumb_arrow.gif) no-repeat right center;
		text-transform: uppercase;
		font-weight: 400;
	}
	.chrome section .breadcrumb a{
		word-spacing:-8px;
	}
	section .breadcrumb a:last-child{
		background:none;
	}
	section .breadcrumb a:hover{
		color:#666;
		text-decoration:none;
	}
	section .breadcrumb a.active{
		color:#c61615;
	}

.sectionCover{
	position:absolute;
	left:0;
	top:0;
}

aside{
	float:left;
	position:relative;
}


/* HOME */
#p-home{}


	/* SECTION HOME */
	#sec-home{
		width:100%;
		height:100%;
		position:relative;
		overflow:hidden;
		}
		#sec-home .rotateItem{
			width:100%;
			height:100%;
			position:absolute;
			left:0;
			top:0;
		}
		#sec-home .copy{
			width:940px;
			margin:auto;
			z-index:2;
			position:absolute;
			left:100px;
			top:45%;
		}
		#sec-home .copyCover{
			margin-top:-150px;
			position:absolute;
			top:50%;
			}
			#sec-home .copyCover h2{
				color:#c61615;
				font-weight:400;
				text-transform:uppercase;
			}
			#sec-home .copyCover h2 span{
				display:block;
			}
			#sec-home .copyCover p{
				font-size:16px;
				color:#4d4d4d;
				line-height:17px;
				padding-bottom:12px;
			}
			#sec-home .copyCover .share{
				position:relative;
				left:180px;
				top:260px;
			}
		#sec-home .btn_scrollDown{
			background:#c11818 url(../images/icon_arrow_scrolldown.gif) no-repeat right center;
			color:#ffffff;
			font-size:16px;
			font-weight:400;
			text-transform:uppercase;
			line-height:42px;
			padding:8px 50px 8px 30px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			box-shadow:2px 2px 2px rgba(0,0,0,.3);
			}
			#sec-home .btn_scrollDown:hover{
				text-decoration:none;
				background-color:#ae1314;
				box-shadow:1px 1px 1px rgba(0,0,0,.3);
				margin:0 0 -1px 1px;
			}


	#sec-home .paging{
		width:14px;
		height:auto;
		padding:5px;
		position:absolute;
		right:3%;
		top:40%;
		z-index:20;
		background: #ffffff;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #ffffff 0%, #e4e4e4 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));
		background: -webkit-linear-gradient(left,  #ffffff 0%,#e4e4e4 100%);
		background: -o-linear-gradient(left,  #ffffff 0%,#e4e4e4 100%);
		background: -ms-linear-gradient(left,  #ffffff 0%,#e4e4e4 100%);
		background: linear-gradient(to right,  #ffffff 0%,#e4e4e4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=1 );
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
		border-radius:12px;
		-webkit-box-shadow:-1px 3px 10px rgba(0,0,0,.5);
		-moz-box-shadow:-1px 3px 10px rgba(0,0,0,.5);
		box-shadow:-1px 3px 10px rgba(0,0,0,.5);
		}
		#sec-home .paging span{
			float:left;
			width:14px;
			height:14px;
			clear:both;
			cursor:pointer;
			background:#cecece;
			margin:7px 0;
			-webkit-border-radius:7px;
			-moz-border-radius:7px;
			border-radius:7px;
		}
		#sec-home .paging span:hover{
			background:#aaa;
		}
		#sec-home .paging span.active{
			background:#d11217;
		}


			.port_view_all {
				width:100%;
				height:100%;
				position: relative;
				overflow: hidden;
			}
			.port_slideshow {
				width:100%;
				height:100%;
				position: absolute;
				overflow: hidden;
			}
			.disableLayer{
				background:url(../images/b.gif) repeat;
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				z-index:99;
				display:none;
			}


		#sec-home .page_prev{
			display:block;
		}



	/* SECTION ABOUT */
	#sec-about{}
		#sec-about p{font-size:14px;}
		#sec-about #about{}
			#sec-about #about .copy{
				width:450px;
				position:absolute;
				left:50%;
				top:50%;
				margin-top:-100px;
				margin-left:-427px;
				line-height:18px;
			}
			#sec-about #about .copy .ct_ab{width:450px;}
			#sec-about #about .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c61615;
				padding-bottom:10px;
				line-height:35px;
			}
			.chrome #sec-about #about .copy h2,
			.chrome #sec-about #story .copy h2,
			.chrome #sec-about #respon .copy h2,
			.chrome #brand .copy h2,
			.chrome #brandIntro .copy h2,
			.chrome #brand_ttnl .copy h2,
			.chrome #brand_mav .copy h2,
			.chrome #allBrands .allBrandsDetail .des h2,
			.chrome #brand_hvnl .copy h2,
			.chrome #brand_tphn .copy h2,
			.chrome #sec-moment .copy h2,
			.chrome #sec-moment .copy_out h2,
			.chrome .popUp .copy h2,
			.chrome #sec-about #comprehensive .copy h2,
			.chrome #sec-about #vision .copy h2,
			.chrome #sec-about #mission .copy h2,
			.chrome #sec-about #timeline .copy h2{word-spacing:-15px;}



			#sec-about #about .copy h3{
				font-size:18px;
				font-weight:400;
				color:#c61615;
				padding-bottom:10px;
			}
			#sec-about #about .copy p{
				color:#4d4d4d;
				padding-bottom: 16px;
			}
			#sec-about #about .copy i{
				font-style: italic;
			}

			#sec-about #brandsList .copy{
				width:400px;
				position:absolute;
				right:10%;
				top:50%;
				margin-top:-100px;
			}


		#sec-about #story{}
			#sec-about #story .copy{
				width:480px;
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-427px;
				margin-top:-100px;
				/*line-height:18px;*/
			}
			#sec-about #story .copy .scrolled{
				height:164px;
				line-height:1.3;
			}
			#sec-about #story .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c11915;
				text-transform:uppercase;
				margin-left:-2px;
				margin-bottom:10px;
			}
			#sec-about #story .copy h3{
				font-weight:400;
				font-size:20px;
				color:#555555;
				margin-bottom:20px;
				text-transform:uppercase;
			}
			#sec-about #story .copy p{
				color:#4d4d4d;
				padding:0 0 16px 0;
			}
			#sec-about #story .copy i{
				font-style: italic;
			}
			#sec-about #story .copy p.red{ color:#c11915 }

		#sec-about #comprehensive {}
			#sec-about #comprehensive .copy{
				width:480px;
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-427px;
				margin-top:-100px;
			}
			#sec-about #comprehensive .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c11915;
				text-transform:uppercase;
				padding-bottom:10px;
			}
			#sec-about #comprehensive .copy .scrolled{
				height:164px;
				line-height:1.3;
				margin-bottom:10px;
			}
			#sec-about #comprehensive .popUp .copy .scrolled{
				height:250px;
			}
			#sec-about #comprehensive .copy p{
				color:#4d4d4d;
				padding:0 0 16px 0;
			}
			#sec-about #comprehensive .btn_scrollDown,
			#sec-about #mission .btn_scrollDown{
				background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
				color:#ffffff;
				font-size:16px;
				font-weight:400;
				text-transform:uppercase;
				line-height:42px;
				padding:8px 50px 8px 30px;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				border-radius:2px;
				box-shadow:2px 2px 2px rgba(0,0,0,.3);
				}
				#sec-about #comprehensive .btn_scrollDown:hover,
				#sec-about #mission .btn_scrollDown:hover{
					text-decoration:none;
					background-color:#ae1314;
					box-shadow:1px 1px 1px rgba(0,0,0,.3);
					margin:0 0 -1px 1px;
				}

	#sec-about #vision {}
			#sec-about #vision .copy{
				width:480px;
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-427px;
				margin-top:-100px;
			}
			#sec-about #vision .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c11915;
				text-transform:uppercase;
				padding-bottom:10px;
			}
			#sec-about #vision .copy h2 span{
				color:#d5ac07;
				font-size:28px;
				display:block;
			}

			#sec-about #vision .copy p{
				color:#4d4d4d;
				padding:0 50px 16px 0;
			}
			#sec-about #vision .copy i{
				font-style: italic;
			}

	#sec-about #mission {}
			#sec-about #mission .copy{
				width:480px;
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-427px;
				margin-top:-100px;
			}
			#sec-about #mission .copy .scrolled{
				height:180px;
			}
			#sec-about #mission .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c11915;
				text-transform:uppercase;
				padding-bottom:10px;
			}

			#sec-about #mission .copy p{
				color:#4d4d4d;
				padding:0 0 16px 0;
				line-height:1.3;
			}
			#sec-about #mission .copy i{
				font-style: italic;
			}

	#sec-about #timeline {overflow:hidden;}

			#sec-about #timeline .copy{
				width:480px;
				position:absolute;
				left:2.8%;
				top:40%;
			}
			#sec-about #timeline .copy .scrolled{
				height:164px;
				margin-top:10px;
			}
			#sec-about #timeline .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c11915;
				text-transform:uppercase;
				margin-bottom:10px;
			}
			#sec-about #timeline .copy p{
				color:#4d4d4d;
				padding:0 0 16px 0;
				line-height:1.3;
			}
			#sec-about #timeline .copy i{
				font-style: italic;
			}

			#sec-about #timeline .copy .srcoll-tl{
				position:absolute;
				left:450px;
				top:-45px;
				height:380px;
			}

				#timeline .point a{
					display: block;
					/*background:url(../images/b.gif) repeat;*/
					transition: 500ms;
						-moz-transition: 500ms;
						-webkit-transition: 500ms;
				}
				#timeline .point a:hover{
					-webkit-transform:scale(1.2);
						-moz-transform:scale(1.2);
						transform:scale(1.2);
				}

	.scroll_bt{
		clear:both;
		border-radius:5px 5px 0 0;
		moz-border-radius:5px 5px 0 0;
		webkit-border-radius:5px 5px 0 0;
		background:#000;
		height:35px;
		width:808px;
		margin:0 auto;
		background:url(../images/bg-sr-bt.png) repeat-x left top;
		overflow:hidden;
	}
			.scroll_bt ul {
				width:850px;
			}
			.scroll_bt li{
				display:block;
				height:35px;
				float:left;
				margin-left:-17px;
				width:223px;
			}
			.scroll_bt li:first-child {
				margin-left:-17px;
			}
			.scroll_bt li a{
				display:block;
				height:35px;
				font-size:16px;
				color:#FFF;
				line-height:35px;
				text-align:center;
				text-decoration:none;
				cursor:pointer;
			}
			.scroll_bt li a span{
				height:35px;
				float:left;
				display:block;
				width:209px;
				font-weight: 700;
			}
			.scroll_bt li a span.label{
					background:url(../images/bg-sr-r.png) no-repeat left top;
					width:14px;
					height:35px;
					float:right;
					display:block;
				}
			.scroll_bt li a:hover span,
			.scroll_bt li a.active span{
					background:url(../images/bg-sr-bt-active.png) no-repeat;
					color:#FCD62B;
				}
			.scroll_bt li a:hover span.label,
			.scroll_bt li a.active span.label{
					background:url(../images/bg-sr-bt-active.png) no-repeat -248px 0;
					color:#FCD62B;
				}

		#sec-about #founder{}
			#sec-about #founder .copy{
				width:1000px;
				height:416px;
				position:absolute;
				left:50%;
				bottom:36px;
				margin-left:-500px;
				z-index:2;
				}
				#sec-about #founder .copy li{
					width:252px;
					height:416px;
					position:absolute;
					left:-10px;
					bottom:0;
					z-index:1;
				}
				#sec-about #founder .copy li.f1{
					left:190px;
					z-index:0;
				}
				#sec-about #founder .copy li.f2{
					left:380px;
				}
				#sec-about #founder .copy li.f3{
					left:570px;
					z-index:0;
				}
				#sec-about #founder .copy li.f4{
					left:760px;
				}
				#sec-about #founder .copy li .name{
					position: absolute;
					width: 75%;
					top: 340px;
					padding: 10px 0;
					text-align: center;
					text-transform: uppercase;
					text-shadow: 0px 0px 4px black;
					left: 33px;
				}
				#sec-about #founder .copy li .name h3{
				}
				#sec-about #founder .copy li .name h3 a{
					font-family: 'AvantGarde-DemiRegular';
					font-size:15px;
					color:#c61615;
					padding-bottom:4px;
					display:block;
					}
					.chrome #sec-about #founder .copy li .name h3{
						word-spacing:-8px;
					}
				#sec-about #founder .copy a{
					text-decoration:none;
				}
				#sec-about #founder .copy li .name h3 span{
					font-size:11px;
					color:#fff;
				}
				#sec-about #founder .copy li .name p{
					font-size:11px;
					color:#fff;
					padding:0 0;
				}
				#sec-about #founder .copy li .name p a{
					color:#fff;
				}
				#sec-about #founder .copy li.blur{
					opacity:0.8;
				}
				#sec-about #founder .copy li img{
					height: 95%;
					position: absolute;
					bottom: 0;
				}

			.founderDetail{
				width:850px;
				color:#4d4d4d;
				}
				.founderDetail > img{
					position: absolute;
					left: 30px;
					bottom: 0;
					height:88%;
				}
				.founderDetail .detailCopy{
					float: right;
					width: 520px;
					height:380px;
					overflow:hidden;
					margin-top: 25px;
					margin-right: 30px;
					margin-bottom: 20px;
				}
				.founderDetail .detailCopy h4{
					color:#c61615;
					font-size:13px;
					text-transform:uppercase;
					margin-top:8px;
				}
				.founderDetail .detailCopy h3{
					color:#c61615;
					text-transform:uppercase;
					font-size:31px;
					font-weight:400;
					margin-bottom:15px;
					font-family:'AvantGarde-DemiRegular';
				}
				.founderDetail .detailCopy h3 span{
					color:#575757;
					font-size:20px;
				}
				.chrome .founderDetail .detailCopy h3 {word-spacing:-25px;}
				.founderDetail .detailCopy q{
					font-size:13px;
					font-style:italic;
					color:#4d4d4d;
					margin-bottom:15px;
					display:block;
					line-height:18px;
				}
				.founderDetail .detailCopy p{
					font-size:13px;
					color:#4d4d4d;
					margin-bottom:15px;
					line-height:18px;
				}
				.founderDetail .detailCopy i{
					font-style: italic;
				}

					.founderDetail .detail .btn_close{
						width:54px;
						height:54px;
						background:url(../images/btn_close_r.png) no-repeat 0 0;
						position: absolute;
						right: 0;
						top: 64px;
					}
					.founderDetail .detail .btn_close:hover{
						background-position:0 bottom;
					}

					.dimmer{
						width: 100%;
						height: 150px;
						position: absolute;
						left: 0;
						bottom: 0;
						z-index: 0;
						background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
						background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
						background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
						background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
						background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

					}


		#sec-about #management{}
			#sec-about #management .copy{
				position:absolute;
				height:420px;
				width:1000px;
				position:absolute;
				left:50%;
				top:50%;
				margin:-125px 0 0 -500px;
			}
				#sec-about #management .copy li .name{
					position:absolute;
					width:100%;
					top:110px;
					left:0;
					padding:10px 0;
					text-align:center;
					text-transform:uppercase;
					text-shadow:0px 0px 10px #fff;
				}
				#sec-about #management .copy li a{
					text-decoration:none;
				}
				#sec-about #management .copy li .name h3 a{
					font-family: 'AvantGarde-DemiRegular';
					font-size:15px;
					color:#c61615;
					padding-bottom:4px;
					display:block;
					}
					.chrome #sec-about #management .copy li .name h3{
						word-spacing:-10px;
					}
				#sec-about #management .copy li .name h3 span{
					font-size:11px;
					color:#909090;
				}
				#sec-about #management .copy li .name p a{
					font-size:11px;
					color:#909090;
					padding:2px 0;
				}
				#sec-about #management .copy li {
					float:left;
					width:200px;
					height:185px;
					position:relative;
					text-align:center;
					margin-bottom:25px;
				}
				#sec-about #management .copy li.first {
					margin-left:90px;
				}

			#sec-about #management .detail{
				position:absolute;
				width:900px;
				left:50%;
				bottom:36px;
				margin-left:-427px;
				color:#4d4d4d;
				}
				#sec-about #management .detail div > img{
					position:absolute;
					bottom:0;
					height:90%;
				}
				#sec-about #management .detailCopy{
					float:right;
					width:475px;
					margin-top:65px;
					margin-right:66px;
					height: 380px;
					overflow: auto;
				}
				#sec-about #management .detailCopy .scrolled{
					width:460px;
				}
				#sec-about #management .detailCopy h4{
					color:#c61615;
					font-size:13px;
					text-transform:uppercase;
				}
				#sec-about #management .detailCopy h3{
					color:#c61615;
					text-transform:uppercase;
					font-size:36px;
					font-weight:400;
					margin-bottom:15px;
				}
				#sec-about #management .detailCopy h3 span{
					color:#575757;
					font-size:22px;
				}
				#sec-about #management .detailCopy q{
					font-size:14px;
					font-style:italic;
					color:#4d4d4d;
					margin-bottom:15px;
					display:block;
				}
				#sec-about #management .detailCopy p{
					font-size:14px;
					color:#4d4d4d;
					margin-bottom:15px;
				}

					#sec-about #management .detail .btn_close{
						width:54px;
						height:54px;
						background:url(../images/btn_close_r.png) no-repeat 0 0;
						position: absolute;
						right: 0;
						top: 64px;
					}
					#sec-about #management .detail .btn_close:hover{
						background-position:0 bottom;
					}

		#sec-about #directors{}
			#sec-about #directors .copy,
			#sec-about #directors2 .copy{
				position:absolute;
				width:940px;
				height:420px;
				position:absolute;
				left:50%;
				top:50%;
				margin:-125px 0 0 -470px;
			}
				#sec-about #directors .copy li .name,
				#sec-about #directors2 .copy li .name{
					position:absolute;
					width:100%;
					top:115px;
					left:0;
					padding:14px 0;
					text-align:center;
					text-transform:uppercase;
					text-shadow:0px 0px 10px #fff;
				}
				#sec-about #directors .copy li a,
				#sec-about #directors .copy li a:hover,
				#sec-about #directors2 .copy li a,
				#sec-about #directors2 .copy li a:hover{
					text-decoration:none;
				}
				#sec-about #directors .copy li .name h3 a,
				#sec-about #directors2 .copy li .name h3 a{
					font-family: 'AvantGarde-DemiRegular';
					font-size:15px;
					color:#c61615;
					padding-bottom:1px;
					display:block;
					font-weight:normal;
					}
					.chrome #sec-about #directors .copy li .name h3 a,
					.chrome #sec-about #directors2 .copy li .name h3 a{
						word-spacing:-8px;
					}
				#sec-about #directors .copy li .name h3 span,
				#sec-about #directors2 .copy li .name h3 span{
					font-size:11px;
					color:#909090;
				}
				#sec-about #directors .copy li .name p a,
				#sec-about #directors2 .copy li .name p a{
					font-size:11px;
					color:#909090;
					padding:2px 0;
				}
				#sec-about #directors .copy li,
				#sec-about #directors2 .copy li {
					float:left;
					width:235px;
					height:185px;
					position:relative;
					text-align:center;
					margin-bottom:25px;
				}

			#sec-about #directors .detail,
			#sec-about #directors2 .detail{
				position:absolute;
				width:802px;
				left:50%;
				bottom:36px;
				margin-left:-401px;
				color:#4d4d4d;
				}
				#sec-about #directors .detail div > img,
				#sec-about #directors2 .detail div > img{
					position:absolute;
					bottom:0;
					height:90%;
				}
				#sec-about #directors .detailCopy,
				#sec-about #directors2 .detailCopy{
					float:right;
					width:415px;
					margin-top:65px;
					margin-right:66px;
					height: 380px;
					overflow: auto;
				}
				#sec-about #directors .detailCopy h4,
				#sec-about #directors2 .detailCopy h4{
					color:#c61615;
					font-size:13px;
					text-transform:uppercase;
				}
				#sec-about #directors .detailCopy h3,
				#sec-about #directors2 .detailCopy h3{
					color:#c61615;
					text-transform:uppercase;
					font-size:31px;
					font-weight:400;
					margin-bottom:15px;
				}
				#sec-about #directors .detailCopy h3 span,
				#sec-about #directors2 .detailCopy h3 span{
					color:#575757;
					font-size:20px;
				}
				#sec-about #directors .detailCopy q,
				#sec-about #directors2 .detailCopy q{
					font-size:14px;
					font-style:italic;
					color:#4d4d4d;
					margin-bottom:15px;
					display:block;
				}
				#sec-about #directors .detailCopy p,
				#sec-about #directors2 .detailCopy p{
					font-size:14px;
					color:#4d4d4d;
					margin-bottom:15px;
				}
				#sec-about #directors .detailCopy i,
				#sec-about #directors2 .detailCopy i{
					font-style: italic;
				}

					#sec-about #directors .detail .btn_close,
					#sec-about #directors2 .detail .btn_close{
						width:54px;
						height:54px;
						background:url(../images/btn_close_r.png) no-repeat 0 0;
						position: absolute;
						right: 0;
						top: 64px;
					}
					#sec-about #directors .detail .btn_close:hover,
					#sec-about #directors2 .detail .btn_close:hover{
						background-position:0 bottom;
					}


				.paging_dot{
					clear: both;
					text-align: center;
					position: absolute;
					bottom: 2%;
					width: 100%;
				}
				.paging_dot img{
					margin: 0 2px;
				}
				.paging_dot a,
				.paging_dot span{
					color: #535353;
					font-size: 12px;
					padding: 0 6px;
					text-decoration: none;
					line-height: 18px;
					display: inline-block;
					margin: 0 3px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
				}
				.paging_dot a:hover{
					background: #ccc;
				}
				.paging_dot span{
					background-color: #d22216;
					color: #FFF;
					cursor: default;
				}




		#sec-about #respon{}
			#sec-about #respon .copy{
				width:475px;
				position:absolute;
				left:50%;
				top:30%;
				margin-left:-427px;
			}
			#sec-about #respon .copy .scrolled{
				height:160px;
				/*margin-bottom:10px;*/
			}
			#sec-about #respon .copy h2{
				font-size:25px;
				font-weight:400;
				color:#c61615;
				text-transform:uppercase;
				padding-bottom:10px;
			}
			#sec-about #respon .copy p{
				color:#4d4d4d;
				margin-bottom:16px;
				line-height:1.3;
			}

			#sec-about #respon .tabs{
				width:954px;
				height:190px;
				position:absolute;
				left:50%;
				bottom:7px;
				margin-left:-477px;
				}
				#sec-about #respon .tabs li{
					float:left;
					width:190px;
					text-align:center;
				}
				#sec-about #respon .tabs li h3{
					font-size:12px;
					font-weight:700;
					color:#4d4d4d;
					text-transform:uppercase;
					font-family:Arial, Helvetica, sans-serif;

				}
				#sec-about #respon .tabs li p a{
					font-size:12px;
					font-weight:700;
					color:#cf211b;
					background:url(../images/icon_red_arrow.gif) no-repeat right center;
					padding-right:7px;
				}

			#sec-about #respon .detail{
				display:none;
				width:550px;
				height:250px;
				padding:14px 55px;
				background:#fff;
				position:absolute;
				left:50%;
				top:50%;
				margin:-109px 0 0 -320px;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				border-radius:2px;
				-webkit-box-shadow:0px 2px 5px rgba(0,0,0,.3);
				-moz-box-shadow:0px 2px 5px rgba(0,0,0,.3);
				box-shadow:0px 2px 5px rgba(0,0,0,.3);
				}
				#sec-about #respon .detail h3{
					font-size:30px;
					font-weight:400;
					color:#c11915;
					margin-bottom:20px;
				}
				#sec-about #respon .detail p{
					font-size:16px;
					color:#4d4d4d;
					margin-bottom:16px;
				}
				#sec-about #respon .detail p strong{
					font-weight:400;
					color:#4d4d4d;
				}

				#sec-about #respon .btn_close{
					position:absolute;
					right:-24px;
					top:-24px;
					box-shadow:5px 5px 6px rgba(0,0,0,.1);
					}
					#sec-about #respon .btn_close:hover{
						right:-26px;
						top:-22px;
						box-shadow:2px 2px 3px rgba(0,0,0,.1);
					}

				#sec-about #respon .ResponeCt{
					width:550px;
					height:195px;
				}

.page_prev,
.page_prev_brand,
.page_prev_jobs{
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.page_next,
.page_next_jobs{
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

.page_prev,
.page_next,
.page_prev_brand,
.page_prev_jobs,
.page_next_jobs{
	display:block;
	width:40px;
	height:100px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-50px;
	z-index:9;
	background:rgba(84,84,84,0.2);
	padding:10px;
}
.page_next,
.page_next_jobs{
	left:auto;
	right:0;
}
.page_prev{
	display:none;
}
.page_prev span,
.page_next span,
.page_prev_brand span,
.page_prev_jobs span,
.page_next_jobs span{
	display:block;
	width:30px;
	height:100%;
	background:url(../images/page_arrow_prev.png) no-repeat;
	margin-left:0;
	position:absolute;
	left:10px;
	top:30px;

}
.page_next span,
.page_next_jobs span{
	background:url(../images/page_arrow_next.png) no-repeat center center;
	margin:0 0 0 0;
	right:10px;
	left:auto;
	top:0;
}
	.page_next:hover,
	.page_prev:hover,
	.page_prev_brand:hover,
	.page_prev_jobs:hover,
	.page_next_jobs:hover{
		background-color:rgba(84,84,84,0.5);
	}
	.page_prev:hover span,
	#page_prev_brand,
	.page_prev_jobs:hover span,
	.page_next_jobs:hover span{
		-webkit-animation-name: page_prev;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-transform-origin: 0% 0%;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: page_prev;
		-moz-animation-duration: 1s;
		-moz-animation-iteration-count: 1;
		-moz-transform-origin: 0% 0%;
		-moz-animation-iteration-count: infinite;
		-o-animation-name: page_prev;
		-o-animation-duration: 1s;
		-o-animation-iteration-count: 1;
		-o-transform-origin: 0% 0%;
		-o-animation-iteration-count: infinite;
		}
		@-webkit-keyframes page_prev{
			0%{-webkit-transform: translate(0px,0px);}
			50%{-webkit-transform: translate(-10px,0px);}
			100%{-webkit-transform: translate(0px,0px);}
		}
		@-moz-keyframes page_prev{
			0%{-moz-transform: translate(0px,0px);}
			50%{-moz-transform: translate(-10px,0px);}
			100%{-moz-transform: translate(0px,0px);}
		}
	.page_next:hover span,
	.page_next_jobs:hover span{
		-webkit-animation-name: page_next;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-transform-origin: 0% 0%;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: page_next;
		-moz-animation-duration: 1s;
		-moz-animation-iteration-count: 1;
		-moz-transform-origin: 0% 0%;
		-moz-animation-iteration-count: infinite;
		-o-animation-name: page_next;
		-o-animation-duration: 1s;
		-o-animation-iteration-count: 1;
		-o-transform-origin: 0% 0%;
		-o-animation-iteration-count: infinite;
		}
		@-webkit-keyframes page_next{
			0%{-webkit-transform: translate(0px,0px);}
			50%{-webkit-transform: translate(10px,0px);}
			100%{-webkit-transform: translate(0px,0px);}
		}
		@-moz-keyframes page_next{
			0%{-moz-transform: translate(0px,0px);}
			50%{-moz-transform: translate(10px,0px);}
			100%{-moz-transform: translate(0px,0px);}
		}




.red{
	color:#c11915;
}


.btn_red{
	background:#c11818 url(../images/icon_arrow_scrolldown.gif) no-repeat right center;
	color:#ffffff;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	line-height:42px;
	padding:8px 50px 8px 30px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	box-shadow:2px 2px 2px rgba(0,0,0,.3);
	border:none;
	}
	.btn_red:hover{
		text-decoration:none;
		background-color:#ae1314;
		box-shadow:1px 1px 1px rgba(0,0,0,.3);
		margin:0 0 -1px 1px;
	}





	/* SECTION NEWS */
	#sec-news{
		background:url(../images/sec_news/bg_news.png) repeat-x left bottom;
		}

		#sec-news #newsList{}

			#sec-news #newsList .copy{
				width: 940px;
				height: 440px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -427px;
				margin-top: -176px;
			}
			#sec-news #newsList .copy p{line-height:18px; font-size: 12px;}
				#sec-news #newsList .copy .l_ns{
					height:195px;
					overflow:hidden;
				}
					#sec-news #newsList .copy .l_ns li{
						background:url(../images/ico_list_news.png) no-repeat left 4px;
						padding-left:20px;
						margin-bottom:6px !important;
						max-height:32px;
						overflow:hidden;
						padding-bottom: 2px;
					}
					#sec-news #newsList .copy .l_ns li a:hover{color:#770706;}
				#sec-news #newsList .copy .news{
					overflow: hidden;
					position: relative;
					width: 600px;
					height: 465px;
					top:40px;
				}

					#sec-news #newsList .copy .news li{
						position:absolute;
					}

					#sec-news #newsList .copy .news li a{
						font-size:12px;
						color:#cf211b;
						line-height:18px;
					}
						#sec-news #newsList .copy .news li.news_1{
							width:100%;
							height:205px;
							left:0;
							top:0px;
						}
						#sec-news #newsList .copy .news li.news_2{
							width:195px;
							left:0;
							top:247px;
						}
						#sec-news #newsList .copy .news li {}
						#sec-news #newsList .copy .news li.news_1 img{/*width:214px;*/}
						#sec-news #newsList .copy .news li.news_2 img{/*width:164px;*/}
						#sec-news #newsList .copy .news li.news_3 img{/*width:248px;*/}
						#sec-news #newsList .copy .news li.news_4 img{/*width:248px;*/}
						#sec-news #newsList .copy .news li.news_5 img{/*width:131px;*/}
						#sec-news #newsList .copy .news li.news_6 img{/*width:119px;*/}
						#sec-news #newsList .copy .news li.news_3{
							width:195px;
							left:202px;
							top:247px;
						}
						#sec-news #newsList .copy .news li.news_4{
							width:195px;
							right:0;
							top:247px;
						}
						/*#sec-news #newsList .copy .news li.news_5{
							width:131px;
							left:35px;
							bottom:41px;
							overflow:hidden;
						}
						#sec-news #newsList .copy .news li.news_6{
							width:119px;
							left:434px;
							bottom:41px;
						}*/

						#sec-news #newsList .copy .news li a{
							/*display:block;
							position:relative;
							width:100%;
							height:141px;*/
						}

					#currentDate{
						color:#6a6a6a;
					}

					#sec-news #newsList .copy .news li span{
						display:block;
						height:135px;
						overflow:hidden;
						/*border:1px solid  #d2d2d2;*/
						text-align:center;
						background:#FFF url(../images/news_thumb_default.jpg) no-repeat center center;
					}
					#sec-news #newsList .copy .news li.news_2 span img,
					#sec-news #newsList .copy .news li.news_3 span img,
					#sec-news #newsList .copy .news li.news_4 span img{ height: 135px; }
					#sec-news #newsList .copy .news li.news_1 span{ width:310px; height:205px; overflow:hidden; width:310px; float:left; border:none;}
					#sec-news #newsList .copy .news li.news_1 span img{
						width: 310px;
					}
					#sec-news #newsList .copy .news li.news_1 .data{
						float:right;
						width:270px;
						padding:0;
						font-size:18px;
						height:auto;
					}
						#sec-news #newsList .copy .news li:hover.news_1 .data{
							background:none;
							color:#c92016;
							padding:0;

						}
						#sec-news #newsList .copy .news li.news_1 .data h4{height:40px;overflow:hidden;}
						#sec-news #newsList .copy .news li.news_1 .data h4 a{
							font-size: 18px;
							height: 40px;
							font-family: arial;
							line-height: 22px;
							font-weight: normal;
							display: block;
							text-transform: none;
						}

						#sec-news #newsList .copy .news li.news_1 .data em{
							font-size: 12px;
							font-style: italic;
							color: #6a6a6a;
							margin: 8px 0;
							display: block;
						}
						#sec-news #newsList .copy .news li.news_1 .data p{
							font-size: 14px;
							color: #000;
							height: 100px;
							line-height: 20px;
							overflow: hidden;
						}
						#sec-news #newsList .copy .news li.news_1 .data .more{
							font-size: 14px;
							text-decoration: underline;
							text-transform: lowercase;
						}
							#sec-news #newsList .copy .news li.news_1 .data h4 a:hover,
							#sec-news #newsList .copy .news li.news_1 .data .more:hover{color:#900;}

							#sec-news .breadcrumb{
								margin-left: 210px;
								top: 50%;
								margin-top: -185px;
							}


					#sec-news #newsList .copy .news li .data{
						padding:10px 0 0;
						display: block;
						height: 35px;
						overflow: hidden;
						color:#c92016;
						/*text-shadow:0px 0px 3px #fff;*/
					}
						#sec-news #newsList .copy .news li:hover{
							border-color:#c92016;
						}
						#sec-news #newsList .copy .news li:hover .data{
							background:#c92016;
							color:#fff;
							padding:10px 10px 5px;
						}

					#sec-news #newsList .copy .summary {
						position: absolute;
						right: 20px;
						top: 39px;
						width: 280px;
						}
						#sec-news #newsList .copy .tabnews{
							left: 0;
							top: -7px;
							position: absolute;
						}
						#sec-news #newsList .copy .summary ul{
							margin-bottom:0;
							}
							#sec-news #newsList .copy .summary ul li{
								display:block;
								/*margin:0 ;*/
								position:relative;
								font-size:14px;
								color:#626262;
							}

						#sec-news #newsList .copy .summary h2{
							font-size:30px;
							font-weight:normal;
							color:#c61615;
							text-transform:uppercase;
							margin-bottom:0;
						}
						#sec-news #newsList .copy .summary .newsCate{
							padding-bottom:25px;
							margin-left:-6px;
							}
							#newsList .newsCate a{
								font-size:14px;
								color:#626262;
								text-transform:uppercase;
								padding:0 6px;
								font-weight:700;
							}
							#newsList .newsCate a:hover,
							#newsList .newsCate a.active{
								color:#cc1f1b;
								text-decoration:none;
							}
						#sec-news #newsList .copy .summary p {
							font-size:16px;
							line-height:18px;
							color:#4d4d4d;
							margin-bottom:20px;
						}
						#sec-news #newsList .copy .content_bt{
							position:absolute;
							right:25px;
							top:280px;
							background:#d63122;
							border:3px solid #fbdd2f;
							padding:10px 20px;
							color:#FFF;
							/*min-width:230px;*/
							width:230px;
							height:110px;
							overflow: hidden;
						}
							#sec-news #newsList .copy .content_bt h2{
								font-family: "arial";
								font-size: 22px;
								line-height: 20px;
								font-weight: normal;
								text-transform: uppercase;
								margin-top: 10px;
								}
								.en-US #sec-news #newsList .copy .content_bt h2{
									font-size: 20px;
								}
							#sec-news #newsList .copy .content_bt h4{
								font-family: "arial";
								font-size:44px;
								line-height:40px;
								font-weight:normal;
								}
								.en-US #sec-news #newsList .copy .content_bt h4{
									font-size: 36px;
								}
							#sec-news #newsList .copy .content_bt span{
								font-family: "arial";
								font-size:20px;
								text-transform:uppercase;
								color:#c61615;
							}
							#sec-news #newsList .copy .content_bt p{
								font-size:17px;
								color:#FFF;
								line-height:18px;
								margin-top:20px;
							}
		#newsDetail{
			width: 900px;
			height: 480px;
			overflow:hidden;
		}
			#newsDetail .copy{
				padding: 25px;
				/*position:absolute;
				left:50%;
				top:50%;
				margin:-180px 0 0 -429px;*/
			}

				#newsDetail .copy cite {
					padding: 20px 22px 0 26px;
				    display: block;
				}
				#newsDetail .copy cite:before {
				    display: block;
				    float: left;
				    margin: 18px 0 0 -31px;
				    font-size: 67px;
					content: open-quote;
				    color: #c61615;
				    text-shadow: 0 1px 1px #909090;
				}
				#newsDetail .copy cite:after {
				    float: right;
				    margin: 18px -14px 0 0 ;
				    font-size: 67px;
					content: close-quote;
				    color: #c61615;
				    text-shadow: 0 1px 1px #909090;
				}


				#newsDetail .copy .ct_scroll {
					/*width:545px;
					height:333px;*/
					width: 100%;
					float:left;
					position:relative;
					padding-bottom: 18px;
				}
				#newsDetail .copy .ct_scroll img{
					max-width: 100% !important;
					height: auto !important;
				}
				#newsDetail .copy .ct_scroll .jspHorizontalBar{display:none;}
				#newsDetail .copy .postWrapper{
					width:525px;
					height:430px;
					float:left;
					padding-right:20px;
				}
					#newsDetail .copy .btn_close{
						width:26px;
						height:31px;
						position:absolute;
						left: 516px;
						top: -16px;
						}

						#newsDetail .copy .btn_close a{
							background:url(../images/btn_close_r.png) no-repeat;
							width:54px;
							height:54px;
							display:block;
							}
							#newsDetail .copy .btn_close a:hover,
							#sec-brand .product_detail .btn_close a:hover{
								background-position:0 bottom;
							}
					#newsDetail .copy .postWrapper h4{
						font-size:20px;
						color:#c61615;
						font-weight:normal;
						margin-bottom:10px;
						padding-right:20px;
						text-transform:uppercase;
					}
					.chrome #newsDetail .copy .postWrapper h4{word-spacing:-15px;}
					#newsDetail .copy .postWrapper p{
						padding-bottom:20px;
						font-size:13px;
						color:#4d4d4d;
						line-height:18px;
						clear: both;
					}
					#newsDetail .copy .postWrapper i{
						font-style: italic;
					}
					#newsDetail .copy .postWrapper p.author{
						font-size:13px;
						color:#4d4d4d;
						font-style:italic;
						color:#4d4d4d;
					}

				#newsDetail .copy .slidebarNews{
					width:257px;
					float:right;
				}
					#newsDetail .copy .slidebarNews .title{
						font-size:17px;
						text-transform:uppercase;
						color:#4d4d4d;
						margin-bottom:15px;
						font-weight:700;
					}
					#newsDetail .copy .slidebarNews ul {
						border-bottom:1px solid #e6e6e6;
						margin-bottom:15px ;
						padding-bottom:5px;
						}

					#newsDetail .copy .slidebarNews ul li{
						margin-bottom:8px;
						}
					#newsDetail .copy .slidebarNews ul li.last{
						border-bottom:1px solid #e6e6e6;
						padding:15px 0;
					}
						#newsDetail .copy .slidebarNews ul li img{
							float:left;
						}
						#newsDetail .copy .slidebarNews ul li .data{
							float:right;
							width:150px;
						}
							#newsDetail .copy .slidebarNews ul li .data h4{line-height:18px;}
							#newsDetail .copy .slidebarNews ul li .data h4 a{
								font-weight:normal;
								font-size:13px;
								color:#c61615;
								margin-bottom:10px;4d4d4d;
								margin-bottom:5px;
								font-family:Arial, Helvetica, sans-serif;
								word-spacing:0;
							}
							#newsDetail .copy .slidebarNews ul li .data span{
								font-size:11px;
								color:#4d4d4d;
								font-style:italic;
								}
					#newsDetail .copy .slidebarNews ul.list {}
					#newsDetail .copy .slidebarNews ul.list li{
						background:url(../images/icon_red_arrow.gif) no-repeat 0 7px;
						padding-left:10px;
						margin-bottom:8px;
						}
					#newsDetail .copy .slidebarNews ul.list li.last{
					}
					#newsDetail .copy .slidebarNews ul.list li a{
						font-size:13px;
						color:#c61615;
					}

					#newsDetail .copy .content_bt{
						margin-top:20px;
						}
							#newsDetail .copy .content_bt h4{
								font-size:50px;
								color:#c61615;
								line-height:40px;
								font-weight:normal;
							}
							#newsDetail .copy .content_bt span{
								font-size:22px;
								text-transform:uppercase;
								color:#c61615;
							}
							#newsDetail .copy .content_bt p{
								font-size:16px;
								color:#4d4d4d;
								line-height:18px;
								margin-top:15px;
							}

				#sec-news .paging{
					float: left;
					width: 100%;
					text-align: center;
					position:relative;
					z-index:9999;
				}
				#sec-news .paging strong,
				#sec-news .paging a{
					display:inline-block;
					float:none;
				}


	/* SECTION BRAND */
	#sec-brand{}
		sec-brand p {font-size:14px;}
		#brand .copy,
		#brandIntro .copy{
			width:450px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-427px;
			margin-top:-100px;
			font-size:14px;
			line-height:18px;
		}
		#brand .copy .scrolled{
			height:164px;
		}
		#brandIntro .copy .scrolled{
			height:130px;
		}
		#brand .copy h2,
		#brandIntro .copy h2{
			color:#c61615;
			font-size:25px;
			font-weight:400;
			padding-bottom:10px;
			text-transform:uppercase;
			margin-left:-2px;
		}
		#brand .copy p,
		#brandIntro .copy p{
			padding-bottom:16px;
			line-height:1.3;
		}
		#brand .copy p strong,
		#brandIntro .copy p strong{
			color:#c61615;
			font-weight:400;
		}
		#brand .icon_play{
			position:absolute;
			right:25%;
			top:45%;
			}
			#brand a:hover .icon_play{
				opacity:0.9;
			}

		#allBrands{
			/*position: absolute;
			left: 0;
			top: 0;
			z-index: 1;*/
			}
			#allBrands .copy{
				width:930px;
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-465px;
				margin-top:-120px;
			}
			#allBrands .copy .brandsList{margin-left:30px;}
				#allBrands .copy .brandsList li{
					width:90px;
					float:left;
					margin:0 0 45px 30px;
					text-align: center;
				}
					#allBrands .copy .brandsList li img{
						transition: 500ms;
						-moz-transition: 500ms;
						-webkit-transition: 500ms;
					}
					#allBrands .copy .brandsList li img:hover{
						-webkit-transform:scale(1.2);
						-moz-transform:scale(1.2);
						transform:scale(1.2);
					}
			#allBrands .copy .filter{
				margin:10px 0 0 50px;
				background:url(../images/bgft_b.png) no-repeat left top;
				width: 100%;
				height:44px;
				clear:both;
				overflow:hidden;
				padding:5px 10px;
				/*padding-top:20px;*/
			}
				#allBrands .copy .filter .btn_prev_brand,
				#allBrands .copy .filter .btn_next_brand{
					width:38px; height:39px;
					background:url(../images/btn_prev_brand.png) no-repeat left top;
					display:block;	
					float:left;
					cursor:pointer;
				}
				#allBrands .copy .filter .btn_next_brand{background:url(../images/btn_next_brand.png) no-repeat left top;}
				#allBrands .copy .filter .btn_prev_brand:hover,
				#allBrands .copy .filter .btn_next_brand:hover{background-position: left bottom;}
				
				#allBrands .copy .filter .show_brand_list{
					width:734px;
					overflow:hidden;
					float:left;
					padding:0px; 
					position:relative;
					height:45px;
				}
					#allBrands .copy .filter .show_brand_list .list{
						width:1680px;
						position:absolute;
						top:0; left:0;
					}
				
				#allBrands .copy .filter .show_brand_list .list div{
					display:block;
					width:100px;
					text-align:center;
					float:left;
					border-radius:20px;
					-webkit-border-radius:20px;
					-moz-border-radius:20px;
					padding:5px 10px;
				}
				#allBrands .copy .filter span label{cursor:pointer; display: block; font-size: 11px; padding:0 5px; }
				#allBrands .copy .filter span.active label{
					color:#c61615;
				}
				#allBrands .allBrandsDetail{clear:both;overflow:hidden; min-height:260px;}
				#allBrands .allBrandsDetail .des{
					float:left;
					width:320px;
					padding-left:10px;
				}
					#allBrands .allBrandsDetail .des .scrolled{width:300px;}
				#allBrands .allBrandsDetail .list{
					/*width:600px;*/
					width:100%;
					float:left;
				}
					#allBrands .allBrandsDetail .list li{
						float:left;
						text-align:center;

						/*width:170px;
						margin:0 0 10px 30px;
						height:75px;*/

						width: 300px;
						margin: 10px 0 0 0;
						height: 90px;
					}
					#allBrands .allBrandsDetail .list li img{
						transition: 500ms;
						-moz-transition: 500ms;
						-webkit-transition: 500ms;
					}
					#allBrands .allBrandsDetail .list li img:hover{
						-webkit-transform:scale(1.2);
						-moz-transform:scale(1.2);
						transform:scale(1.2);
					}

		#sec-brand .btn_scrollDown{
			background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
			color:#ffffff;
			font-size:16px;
			font-weight:400;
			text-transform:uppercase;
			line-height:42px;
			padding:8px 50px 8px 30px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			box-shadow:2px 2px 2px rgba(0,0,0,.3);
			}
			#sec-brand .btn_scrollDown:hover{
				text-decoration:none;
				background-color:#ae1314;
				box-shadow:1px 1px 1px rgba(0,0,0,.3);
				margin:0 0 -1px 1px;
			}


		#sec-brand #allBrands .btn_scrollDown{
			position: absolute;
			right: 50%;
			top: 145px;
			z-index: 10;
			padding: 0 10px 0 20px;
			line-height: 30px;
			background-image: url(../images/icon_arrow_back.gif);
			background-repeat: no-repeat ;
			background-position: 10px center;
			margin-right: -502px;
		}
		#btn_backBrandIntro{
			display: none;
		}



	#sec-brand_mav{}
		#brand_mav .copy{
			width:940px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-427px;
			margin-top:-100px;
		}
		#brand_mav .copy .scrolled{
			height:164px;
			width:400px;
		}
		#brand_mav .copy h2,
		#allBrands .allBrandsDetail .des h2{
			color:#c61615;
			font-size:25px;
			font-weight:400;
			margin-bottom:10px;
			text-transform:uppercase;
		}
		#brand_mav .copy p{
			padding-bottom:16px;
			line-height:1.3;
			font-size:14px;
			line-height:18px;
		}
		#brand_mav .copy p strong{
			color:#c61615;
			font-weight:400;
		}
		#brand_mav .copy i{
			font-style: italic;
		}

		#sec-brand .selectProducts{
			position:absolute;
			right:30px;
			top:173px;
			width:210px;
			height:45px;
		}
			#sec-brand .selectProducts h6{
				margin-bottom:2px;
				font-weight:normal;
			}
			#sec-brand .selectProducts select{
				width:170px;
				color:#cc3433;
				font-size:11px;
				font-weight:700;
				border:1px solid #d2d2d2;
				box-shadow:inset 2px 2px 4px #d1d1d1;
				padding:2px 2px 2px 5px;
			}


	#sec-brand_hvnl{}
		#brand_hvnl .copy{
			width:940px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-427px;
			margin-top:-100px;
		}
		#brand_hvnl .copy h2{
			color:#c61615;
			font-size:25px;
			font-weight:400;
			margin-bottom:10px;
			text-transform:uppercase;
			/*text-shadow:0px 0px 20px #000;*/
		}
		#brand_hvnl .copy p{
			padding-bottom:16px;
			line-height:1.3;
			font-size:14px;
		}
		#brand_hvnl .copy i{
			font-style: italic;
		}
		#brand_hvnl .copy p strong{
			color:#c61615;
			font-weight:400;
		}
		#brand_hvnl .copy .scrolled{
			height:164px;
			width:440px;
		}


	#sec-brand_tphn{}
		#brand_tphn .copy{
			width:940px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-427px;
			margin-top:-100px;
			font-size:14px;
			line-height:18px;
		}
		#brand_tphn .copy .scroll{
			width:530px;
			height:210px;
		}
		#brand_tphn .copy h2{
			color:#c61615;
			font-size:25px;
			font-weight:400;
			margin-bottom:10px;
			text-transform:uppercase;
		}
		#brand_tphn .copy p{
			padding-bottom:16px;
			line-height:1.3;
			font-size:14px;
		}

		/* 14/06 Re-format copy content as Kinh Do request */
		#brand_tphn .copy p strong{
			/*color:#c61615;
			font-weight:400;*/
		}
		#brand_tphn .copy .srcolled{
			height:164px;
		}


	#sec-moment{}
		#sec-moment .copy_out,
		#sec-moment .copy{
			position:absolute;
			left:50%;
			top:150px;
			width:900px;
			margin-left:-427px !important;
			/*margin-top:-180px;*/
			padding-bottom:100px;
			font-size:14px;
			line-height:18px;
		}
		#sec-moment .copy_out{top:50%; margin-top:-130px;}
		#sec-moment .copy h2,
		#sec-moment .copy_out h2{
			color:#c61615;
			font-size:25px;
			font-weight:400;
			margin-bottom:15px;
			text-transform:uppercase;
		}
		#sec-moment .copy p{
			margin-bottom:16px;
			/*padding-right:100px;*/
			line-height:1.4;
		}
		#sec-moment .copy p.required_login{
			line-height: 1.4;
			text-align: center;
			font-size: 21px;
			padding-top: 100px;
			text-transform: uppercase;
		}
		#sec-moment .copy_out .left{
			width:445px;
			float:left;
			padding-top:15px;
		}
			#sec-moment .copy_out .left p{
				padding-bottom:15px;
			}
		#sec-moment .copy_out .right{
			width:415px;
			float:right;
		}
			#sec-moment .copy_out .right ul{
				margin-left:-15px;
				overflow:hidden;
				clear:both;
				width:430px;
			}
			#sec-moment .copy_out .right ul li{
				float:left;
				width:77px;
				height:45px;
				margin:15px 10px 8px 15px;
				text-align:center;
			}
			#sec-moment .copy_out .right ul li img{ }

		#sec-moment #gifts{}
			#gifts .secHome_bg{
				position:fixed;
				z-index:-1;
			}
			#sec-moment .breadcrumb{
				left:0;
				top:60px;
			}
			#gifts h4{
				font-size:18px;
				border-bottom:1px solid #dcdcdc;
				padding-bottom:5px;
				margin:50px 0 20px 0;
				text-transform:uppercase;
			}
			.chrome #gifts h4 {word-spacing:-10px;}
			#gifts h4 span{color:#c61615;}
			#gifts h4 a{text-transform:uppercase; margin:0 15px;color:#626262; font-size:14px;}
			#gifts h4 a:hover,#gifts h4 a.active{color:#c61615;}
			#gifts h4 em{float:right;font-size:12px; text-transform:none;}
			#gifts p{margin-bottom:20px;}
			#gifts .prBottom{
				position:relative;
				height:220px;
				margin-top:50px;
			}
			#gifts .show{
				width:900px;
				position:absolute;
				margin-left:-476px;
				left:50%;
				clear:both;
				overflow:hidden;
			}
				#gifts .show img{width:320px;float:left;}
				#gifts .show .data{
					width:460px;
					float:left;
					margin-left:20px;
					padding-top:20px;
				}
					#gifts .show .data h6{
						font-size:15px;
						margin-bottom:20px;
						text-transform:uppercase;
						font-weight:normal;
					}
					.chrome #gifts .show .data h6{word-spacing:-8px;}
					#gifts .show .data h6 span{color:#c61615;}
					#gifts .show .data p{font-size:12px;margin-bottom:5px;}
					#gifts .show .data p strong{color:#c61615;}
					#gifts .show .data a{
						float:left;
						margin:30px 10px 0 0;
						padding:0 40px;
					}
					#gifts a.back{
						position:absolute;
						top:50%;
						margin-top:-47px;
						left:0;
					}
					#gifts a.next{
						position:absolute;
						top:50%;
						margin-top:-47px;
						right:0;
					}

					#gifts ul li{
						width: 800px;
						height: 240px;
						float:left;
					}


		#sec-moment #library{}
			#library .secHome_bg{
				position:fixed;
				z-index:-1;
			}
			#library copy{}
			#library h4{
				font-size:18px;
				border-bottom:1px solid #dcdcdc;
				padding-bottom:15px;
				margin:100px 0 20px 0;
				font-weight:normal;
				clear:both;
				overflow:hidden;
			}
			#listmonth{float:left;}
			#library h4 span{color:#c61615;}
			#library h4 a{text-transform:uppercase; margin:0 30px 0 0;color:#626262; font-size:14px;}
			#library h4 a:hover{
				text-decoration: none;
				color:#000;
			}
			#library h4 a.active{
				color:#C61615;
			}
			#library h4 em{float:right}
			#library h4 em select{
				float:left;
				margin:0 10px 0 0;
				border:1px solid #e0e0e0;
				background:#ececec;
				padding:5px;
				border-radius:5px;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				width:177px;
			}
				#library h4 .search{
					float:right;
					background:url(../images/bgS.png) no-repeat;
					width:177px;
					height:23px;
					padding:3px;
				}
				#library h4 .search input[type="text"]{
					border:none;
					background:none;
					float:left;
					width:140px;
					padding:3px;
					font-size:11px;
					font-weight:normal;
					margin-right:10px;
				}
				#library h4 .bntS{
					float:left;
					background:url(../images/icoS.png) no-repeat left top;
					width:16px;
					height:17px;
					margin:0;
					border:none;
					text-indent:-20000px;
				}
				#library h4 .bntS:hover{background-position:left bottom;}
				#library  h5{
					text-transform:uppercase;
					color:#626262;
					margin-bottom:30px;
				}
				#library  h6,
				#libraryDetailStory h6,
				#libraryDetail h6{
					font-weight:700;
					color:#c61615;
					font-size:12px;
					width:45%;
					float:left;
				}
				#libraryDetailStory .like,
				#library  .like,
				#libraryDetail .like{
					float:right;
					width:50%;
					text-align:right;
				}
					#libraryDetailStory .like .btnLike,
					#library  .like .btnLike,
					#libraryDetail  .like .btnLike{
						display:inline-block;
						width:33px;
						height:20px;
						background:url(../images/btn_like.png) no-repeat left top;
						float:right;
					}
						#libraryDetailStory .like .btnLike:hover,
						#library  .like .btnLike:hover,
						#libraryDetail  .like .btnLike:hover{background-position: left bottom;}
					#libraryDetailStory .like p,
					#library .like p,
					#libraryDetail .like p{float:right;font-size:11px;margin-left:5px;}
					#libraryDetailStory .like em,
					#library  .like em,
					#libraryDetail  .like em {
						display:inline-block;
						background:#efefef;
						border:1px solid #c1c1c1;
						text-align:center;
						height:16px;
						padding:0 5px 0 5px;
						line-height:16px;
						float:left;
						border-left:none;
					}
					#libraryDetailStory .like span,
					#library  .like span,
					#libraryDetail  .like span {
						display:inline-block;
						background:url(../images/sttl.png) no-repeat left center;
						width:6px;
						height:18px;
						float:left;
					}
				#library  .time{
					display:block;
					font-size:10px;
					font-style:italic;
					margin-bottom:10px;
					color:#535353;
					clear:both;
					overflow:hidden;
				}
				#library p{
					color:#535353;
					font-size:12px;
					margin-bottom:0 !important;
				}
				#library .vireMore{
					background:url(../images/viewMore.png) no-repeat 80px center;
					padding-right:20px;
					font-size:12px;
					color:#c61615;
					display:block;
					margin-top:10px;
				}
				#library ul{}
				#library ul li{
					margin-bottom:50px;
					clear:both;
					overflow:hidden;
					height: 123px;
				}
				#library .no-story-item{
					line-height: 123px;
					color: #aaa;
				}
				#library .storys{
					width:400px;
					float:left;
				}
				#library .pictures{
					width:450px;
					float:right;
				}
				#library .pictures img{
						width:185px;
						float:left;
					}
					#library .pictures .data{
						width:245px;
						float:right;
					}
					#library .pictures .data p{margin-bottom:0;}
					#library .full{}
						#library .full ul{margin-left:-65px;}
						#library .full ul li{
							width:400px;
							float:left;
							clear:none;
							margin:0 0 50px 65px;
						}
					#library .fullPictures{}
						#library .fullPictures ul{margin-left:-15px;}
						#library .fullPictures ul li{
							width:420px;
							float:left;
							clear:none;
							margin:0 0 50px 15px;
						}
						#library .fullPictures ul li img {
							float: left;
							width: 185px;
						}
						#library .fullPictures ul li .data{
							float: right;
							width: 220px;
						}
						#library .fullPictures ul li .data p{
							margin-bottom:0;
						}


		#sec-moment #member{}
			#member .secHome_bg{
				position:fixed;
				z-index:-1;
			}
			#member copy{}
			#member h4{
				font-size:18px;
				border-bottom:1px solid #dcdcdc;
				padding-bottom:15px;
				margin:100px 0 20px 0;
				font-weight:normal;
			}
			#member h4 span{color:#c61615;}
			#member h4 a{text-transform:uppercase; margin:0 30px 0 0;color:#626262; font-size:14px;}
				#member h4 a:hover{ text-decoration: none; color:#000;}
				#member h4 a.active{color:#C61615;}
			#member h4 em{float:right}
			#member h4 em select{
				float:left;
				margin:0 10px 0 0;
				border:1px solid #e0e0e0;
				background:#ececec;
				padding:5px;
				border-radius:5px;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				width:177px;
				color:#626262;
			}
				#member h4 .search{
					float:right;
					background:url(../images/bgS.png) no-repeat;
					width:177px;
					height:23px;
					padding:3px;
				}
				#member h4 .search input[type="text"]{
					border:none;
					background:none;
					float:left;
					width:140px;
					padding:3px;
					font-size:11px;
					font-weight:normal;
					margin-right:10px;
					color:#aeaeae;
				}
				#member h4 .bntS{
					float:left;
					background:url(../images/icoS.png) no-repeat left top;
					width:16px;
					height:17px;
					margin:0;
					border:none;
					text-indent:-20000px;
				}
				#member h4 .bntS:hover{background-position:left bottom;}

			#member .gifts{
				float:left;
				width:330px;
			}
			#member .gifts img{
				margin-bottom:20px;
			}
			#member .gifts h5{
				text-transform:uppercase;
				color:#626262;
				font-weight:normal;
				margin-bottom:20px;
			}
			#member .gifts h5 span{
				display:block;
				color:#c61615;
			}
			#member .gifts p{
				font-size:12px;
				color:#626262;
				margin-bottom:5px;
			}
			#member .gifts p strong{color:#d22216;}
			#member .memberList{
				width:100%;
			}
			#member .memberList ul{margin-left:-10px;}
			#member .memberList ul li{
				width:270px;
				float:left;
				margin:0 10px 40px 0;
			}
				#member .memberList ul li img{
					float:left;
					width:81px;
				}
				#member .memberList ul li .data{
					width:175px;
					float:right;
				}
				#member .memberList ul li .data h6{
					font-family: "Arial";
					font-size:12px;
					font-weight:700;
					color:#c61615;
				}
				#member .memberList ul li .data span{
					font-style:italic;
					font-size:10px;
					margin-bottom:10px;
					display:block;

				}
				#member .memberList ul li .data p{
					font-size:12px;
				}
				#member .memberList ul li .data p strong{
					color:#c61615;
					font-size:14px;
				}
		#sec-moment .btn_scrollDown{
				background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
				color:#ffffff;
				font-size:14px;
				font-weight:400;
				text-transform:uppercase;
				line-height:42px;
				padding:8px 50px 8px 30px;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				border-radius:2px;
				box-shadow:2px 2px 2px rgba(0,0,0,.3);
				margin-top:10px;
				}
				#sec-moment .btn_scrollDown:hover{
					text-decoration:none;
					background-color:#ae1314;
					box-shadow:1px 1px 1px rgba(0,0,0,.3);
					margin:0 0 -1px 1px;
				}


	#sec-brand_ttnl{}
		#brand_ttnl .copy{
			width:365px;
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-427px;
			margin-top:-100px;
			font-size:14px;
			line-height:18px;
		}
		#brand_ttnl .copy h2{
			color:#c61615;
			font-size:25px;
			font-weight:400;
			margin-bottom:10px;
			text-transform:uppercase;
		}
		#brand_ttnl .copy p{
			padding-bottom:16px;
			line-height:1.3;
		}
		#brand_ttnl .copy i{
			font-weight: 700;
		}
		#brand_ttnl .copy p strong{
			/*color:#c61615;
			font-weight:400;*/
		}
		#brand_ttnl .copy .scrolled{
			height:184px;
		}



	#sec-product_detail{}
		#sec-brand .product_detail{
			position:absolute;
			left:0;
			top:0;
			display:none;
		}
		.product_detail .copy{
			/*position: absolute;
			left: 50%;
			top: 50%;
			width: 900px;
			height:370px;*/
			padding:30px;
			font-size:13px;
			/*box-shadow:3px 3px 10px #000;
			margin: -130px 0 0 -427px;*/
		}
		.product_detail .copy i{
			font-style: italic;
		}
		.product_detail .copy .left{
			width:340px;
			float:left;
			margin-left:20px;
		}
		.product_detail .copy .left .scroll{
			height:164px;
			overflow:hidden;
		}
		.product_detail .copy .left .content{
			width:340px;
			height:295px;
			line-height:1.3;
			margin-top: 10px;
		}
		.product_detail .copy .left .link,
		.product_detail .copy .left .link_tvc{
			float: right;
			width:141px;
			height:31px;
			background: url(../images/pl_tvc.png) no-repeat left top;
			margin-top: 14px;
			display:inline-block;
			}
			.product_detail .copy .left .link:hover,
			.product_detail .copy .left .link_tvc:hover{background-position: left bottom;}

			.product_detail .copy .left .link_tvc span{
				display:none;
			}
			.product_detail .copy .left .link{
				margin-top:5px;
				background: url(../images/pl_w.png) no-repeat left top;
			}
		.product_detail .copy .righ{
			width:500px;
			float:right;
			position:relative;
			text-align:center;
			}
			.product_detail .copy .righ .rotateCopy{
				position:absolute;
				left:0;
				top:0;
				display:none;
			}
		.product_detail .copy img{
			margin-bottom:4px;
		}
		.product_detail .copy h2{
			color:#c61615;
			font-size:22px;
			font-weight:400;
			margin-bottom:10px;
			text-transform:uppercase;
			padding-left:120px;
		}
		.product_detail .copy p{
			padding-bottom:4px;
			clear:both;
			overflow:hidden;
		}
		.product_detail .copy p a{float:left;display:block;}
		.product_detail .copy .content p a{float:none;display:inline;}
		.product_detail .copy .content p{
			padding-bottom: 10px;
		}
		.product_detail .brand_detailpage .copy p strong{font-weight:700; color:#4d4d4d; float:none;}
			.product_detail  .copy ul li{list-style:disc; margin-left:16px;}
			.product_detail  .copy ul ul li{list-style:circle; margin-left:30px;}
		.product_detail .copy p strong{
			color:#c61615;
			float:right;
			margin-top:40px;
		}
			.product_detail .copy p strong a,
			.product_detail .copy p strong a:visited{
				color:#c61615;
				border-bottom:1px solid #c61615;
				text-decoration:none;
			}
		.product_detail .copy .logo_product{
			position:absolute;
			left:0;
			top:0;
		}
		.product_detail .selectProducts{
			position:absolute;
			right:175px;
			top:18.7%;
			width:210px;
			height:45px;
		}
		.product_detail .btn_scrollDown{
			background:#c11818 url(../images/icon_arrow_right.gif) no-repeat right center;
			color:#ffffff;
			font-size:16px;
			font-weight:400;
			text-transform:uppercase;
			line-height:42px;
			padding:8px 50px 8px 30px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			box-shadow:2px 2px 2px rgba(0,0,0,.3);
			text-shadow:1px 0 1px #000;
			}
				.product_detail .btn_scrollDown:hover{
					text-decoration:none;
					background-color:#ae1314;
					box-shadow:1px 1px 1px rgba(0,0,0,.3);
					margin:0 0 -1px 1px;
				}

			.product_detail .icon_play{
				position:absolute;
				right:18%;
				top:38%;
				display:none;
				}
				.product_detail a:hover .icon_play{
					opacity:0.9;
				}
		.product_detail .paging{
			height:16px;
			position:absolute;
			left:50%;
			top:80%;
			z-index:20;
			margin-left:-127px;
			text-align:center;
			}
			.product_detail .paging span{
				width:10px;
				height:10px;
				cursor:pointer;
				background:#cecece;
				margin:0 2px;
				text-indent:-9999px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius:5px;
				display:inline-block;
			}
			.product_detail .paging span:hover{
				background:#aaa;
			}
			.product_detail .paging span.active{
				background:#d11217;
			}

		.product_detail .logo-brand{
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			border:5px solid #ffd52c;
			background:url(../images/bg_pr_dt.png) repeat-x;
			width:730px;
			height:49px;
			position:absolute;
			bottom:20%;
			left:50%;
			margin-left:-365px;
			display:block;
			text-align:center;
			padding-top:5px;
		}
			.product_detail .logo-brand img{
				margin-right:10px;
			}
		.product_detail .cover{
			width:920px;
			height:275px;
			background:#FFF;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-473px;
			margin-top:-110px;
			box-shadow:0 5px 10px #abaaaa;
			padding:10px;
			display:none;
			background: white url(../images/cb_bg.gif) repeat-x;
			box-shadow: 0px 5px 6px rgba(0, 0, 0, .3);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		.product_detail .cover .btnClose{
			display:block;
			position:absolute;
			right:0;
			top:0;
			background:url(../images/btn_close.gif) no-repeat left top;
			height:52px;
		}
		.product_detail .cover .btnClose:hover{background-position:left bottom;}
		.product_detail .cover .jspDrag{ background: url(../images/dragV.png) no-repeat left top;	position: relative;	top: 0;	left: 0; cursor: pointer;}
		.product_detail .cover .logoBarnd{padding-left:20px;}
			.product_detail .cover .content{width:920px; height:200px; overflow:hidden;}
			.product_detail .cover  ul{width:10000px;padding-bottom:50px; clear:both;overflow:hidden;}
			.product_detail .cover  ul li{
				width:290px;
				float:left;
				margin-right:20px;
			}
			.product_detail .cover ul li img{
				float:left;
				width:103px;
			}
			.product_detail .cover ul li .data{
				float:right;
				width:170px;
				padding-top:20px;
			}
				.product_detail .cover ul li .data h4{
					font-size:13px;
					color:#f07c00;
					margin-bottom:10px;
				}
				.product_detail .cover ul li .data h4 span{font-size:16px;display:block;}
				.product_detail .cover ul li .data p {font-size:12px;}

	#sec-brand .product_detail .btn_close{
		display: block;
		width: 54px;
		height: 54px;
		background: url(../images/btn_close_r.png) no-repeat 0 0;
		position: absolute;
		left:50%;
		top:50%;
		margin-top: -141px;
		margin-left: -29px;
		}

	#sec-brand .product_detail #productlist_items_detail .btn_close{
		right: -27px;
		top: -27px;
		margin: 0;
		left: auto;
	}

		#sec-brand .product_detail .btn_close:hover{
			background-position:0 bottom;
			box-shadow:none;
			left:50%;
			top:50%;
			margin-top: -141px;
			margin-left: -29px;
		}

	#sec-brand #productlist_items_detail .btn_close{
		right:-25px;
		top:-25px;
		left:auto;
	}

		.brand_breadcrumb{
			width:716px;
			height:55px;
			display: none;
			}
			.brand_breadcrumb a{
				display:block;
				float:left;
				text-indent:-9999px;
				height:60px;
			}
			.brand_breadcrumb a.brand_barnav1{
				width:182px;
				background:url(../images/brand_breadcrumb.gif) no-repeat left top;
			}
			.brand_breadcrumb a.brand_barnav1:hover,
			.brand_breadcrumb a.brand_barnav1.active,
			.brand_breadcrumb a.brand_barnav1.hover{background:url(../images/brand_breadcrumb.gif) no-repeat left bottom;}

			.brand_breadcrumb a.brand_barnav2{
				width:187px;
				background:url(../images/brand_breadcrumb.gif) no-repeat -182px top;
			}
			.brand_breadcrumb a.brand_barnav2:hover,
			.brand_breadcrumb a.brand_barnav2.active,
			.brand_breadcrumb a.brand_barnav2.hover{background:url(../images/brand_breadcrumb.gif) no-repeat -182px bottom;}

			.brand_breadcrumb a.brand_barnav3{
				width:177px;
				background:url(../images/brand_breadcrumb.gif) no-repeat -369px top;
			}
			.brand_breadcrumb a.brand_barnav3:hover,
			.brand_breadcrumb a.brand_barnav3.active,
			.brand_breadcrumb a.brand_barnav3.hover{background:url(../images/brand_breadcrumb.gif) no-repeat -369px bottom;}

			.brand_breadcrumb a.brand_barnav4{
				width:170px;
				background:url(../images/brand_breadcrumb.gif) no-repeat -546px top;
			}
			.brand_breadcrumb a.brand_barnav4:hover,
			.brand_breadcrumb a.brand_barnav4.active,
			.brand_breadcrumb a.brand_barnav4.hover{background:url(../images/brand_breadcrumb.gif) no-repeat -546px bottom;}

			.listBand{
				width:716px;
				height:67px;
				background:url(../images/bgListBand.png) no-repeat left top;
				position:absolute
;				display:none;
			}
				.listBand ul{margin:10px 0 0 20px;height:65px;padding:0 20px; width:674px;overflow:hidden;}
					.listBand ul li{float:left;margin:0 13px;}
					.listBand ul li img{
						height:35px;
						margin-top:16px;
						transition: 500ms;
						-moz-transition: 500ms;
						-webkit-transition: 500ms;
					}
					.listBand ul li a:hover img{
						-webkit-transform:scale(1.2);
						-moz-transform:scale(1.2);
						transform:scale(1.2);
					}
					/*.listBand a.btnBack,
					.listBand a.btnNext{
						position:absolute;
						float:left;
						display:block;
						left:15px;
						top:22px;
						margin-top:0;
						background:url(../images/btnBack.png) no-repeat left top;
						width:10px;
						height:12px;
					}
					.listBand a.btnNext{
						left:auto;
						right:15px;
						background:url(../images/btnNext.png) no-repeat left top;
					}
					.listBand a.btnBack:hover, .listBand a.btnNext:hover{background-position:left bottom;}*/
		.sliderCover{
			background:url(../images/jslider_bg.png) no-repeat;
			width:940px;
			height:45px;
			clear:both;
		}
		.layout-slider{
			width:900px;
			margin: 0 0 0 19px;
		}
		.paging{
			width:255px;
			margin:10px auto;
			overflow:hidden	;
		}
		.paging a,.paging strong{
			cursor: default;
			color: #535353;
			font-size: 12px;
			padding: 0 6px;
			text-decoration: none;
			line-height:18px;
			display:block;
			float:left;
			margin:0 3px;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
		}
		.paging a{
			cursor: pointer;
		}
		.paging .prev{
			background: url(../images/paging_prev.gif) no-repeat center center;
			padding: 0 10px;
			text-indent: -9999px;
		}
		.paging .next{
			background: url(../images/paging_next.gif) no-repeat center center;
			padding: 0 10px;
			text-indent: -9999px;
		}
		.paging .first{
			background: url(../images/paging_first.gif) no-repeat center center;
			padding: 0 10px;
			text-indent: -9999px;
		}
		.paging .last{
			background: url(../images/paging_last.gif) no-repeat center center;
			padding: 0 10px;
			text-indent: -9999px;
		}
		.elementBottom{
			position:absolute;
			width:940px;
			left:50%;
			bottom:36px;
			z-index:100;
			margin-left:-470px;

			height:35px;
			overflow:hidden;
			display:none;
		}
		/*.paging a span.back{
			background:url(../images/pageBntprev.png) no-repeat left top;
			width:5px;
			height:14px;
			display:block;
		}
		.paging a:hover span.back{background-position:left bottom;}
		.paging a span.next{
			background:url(../images/pageBntnext.png) no-repeat left top;
			width:5px;
			height:14px;
			display:block;
		}
		.paging a:hover span.next{background-position:left bottom;}*/
		.paging a.active, .paging strong{
			background-color:#d22216;
			color:#FFF;
		}
		.paging a:hover{
			background-color:#ccc;
		}
	.aroundTimeLine{
		position:absolute;
		left:50%;
		top:50%;
		width:7500px;
		min-height:700px;
		margin-top:-400px;
	}
	.brandElement{
		bottom:21px;
		height:80px; /*height:70px;*/
		position:absolute;
		left:50%;
		margin-left:-358px;
		width:716px;
		z-index:99;
		display: none;
		}
		.brandElement.active{
			height:120px;
		}
	#sec-brand .elementBottom{
		display:none;
		bottom:6px;
		height:75px;
		visibility:hidden;
		margin-left:-99999px;
	}







.blur{
	-webkit-filter: blur(1px);
}



#productlist_items_detail .scrolled .g-scrollbar{
	height:10px;
	top:274px;
	position:absolute;
}
#productlist_items_detail .scrolled .g-thumb{
	height:10px;
}
#productlist_items_detail .scrolled .g-viewport {
	height: 176px;
}










.myAcc{
	clear:both;
	padding-top:35px;
	color:#626262;
	}
	.myAcc .l{
		width:440px;
		min-height:380px;
		float:left;
		padding-right:25px;
		border-right:1px solid #d5d5d5;
		}
		.myAcc h3{
			text-transform:uppercase;
			font-size:18px;
			font-weight:400;
			padding-bottom:15px;
		}
		.myAcc .l ul{
			width:340px;
			padding-left:12px;
			font-size:12px;
		}
		.myAcc .l li{
			padding:8px 0;
			clear:both;
			width:100%;
		}
		.myAcc .l .edit{
			background:url(../images/icon_pencil.gif) no-repeat;
			padding-left:22px;
			font-size:10px;
			font-style:italic;
			float:right;
			color:#626262;
			margin-right:-75px;
		}
		.myAcc .l span{

		}
		.myAcc .l .totalPoint{
			border-top:1px solid #d5d5d5;
			padding:20px 8px 0 12px;
			margin-top:15px;
		}
		.myAcc .l .totalPoint strong{
			color:#db2119;
		}
		.myAcc .l .totalPoint a{
			float:right;
			color:#db2119;
			margin-right:10px;
			padding-right:8px;
			background:url(../images/bullet_red_arrow.gif) no-repeat right center;
		}

		.myAcc .l .editForm{
			display:none;
			float:right;
			margin-right:-75px;
			}
			.myAcc .l .editForm .txf{
				width:250px;
				float:right;
				border:none;
				border-bottom:1px dashed #d5d5d5;
				color:#626262;
				font-size:12px;
			}
			.myAcc .l .editForm select.txf{
				border-top:none;
				border-left:none;
				border-right:none;
				width:84px;
			}
			.myAcc .l .editForm input.btn{
				float:right;
				/*width:20px;*/
				background:#999;
				color:#fff;
				border:none;
				text-align:center;
				padding:1px;
				text-transform:uppercase;
				cursor:pointer;
				margin:0 5px;
				padding:1px 10px;
			}
			.myAcc .l .editForm a{
				float:right;
			}

	.myAcc .r{
		width:400px;
		}
		.myAcc .r ul{
			padding-left:12px;
		}
		.myAcc .r li{
			border-bottom:1px solid #d5d5d5;
			padding-bottom:14px;
			margin-bottom:14px;
			overflow:hidden;
			clear:both;
		}
		.myAcc .r .date{
			color:#535353;
			font-size:10px;
			font-style:italic;
			margin-bottom:0;
			padding-bottom:10px;
		}
		.myAcc .r h6{
			font-size:12px;
			margin:0;
			padding:0;
		}
		#sec-moment .copy .myAcc .r p{
			padding-bottom:10px;
			margin:0;
		}
		.myAcc .r a.viewmore{
			font-size:12px;
			color:#db2119;
			margin-right:10px;
			padding-right:8px;
			background:url(../images/bullet_red_arrow.gif) no-repeat right center;
		}
		.myAcc .r .thumb{
			float:left;
			margin-right:20px;
			margin-bottom:5px;
		}


.myacc_required p {
	padding-top:30px;
	text-align:center;
	color:#C61615;
}

#brandsList{

}


#brandList{
	min-height: 260px;
}
.product_detail{
	width: 940px;
	height: 430px;
}
.pointDetail{
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
	background:url(../images/pup.jpg)> repeat-x left top #FFF;
	width:345px;
	height:365px;
}
	.pointDetail .copy,
	.giftDetail .copy{
		padding:30px;
	}
	.pointDetail .copy h2,
	.giftDetail .copy h2 {font-size:21px; color:#db2119; margin-bottom:20px;text-transform:uppercase;}
	.pointDetail .copy h4,
	.giftDetail .copy h4{font-size:15px; color:#db2119; margin-bottom:20px;text-transform:uppercase;}
	.pointDetail .copy p,
	.giftDetail .copy p{font-size:15px; color:#4d4d4d; margin-bottom:20px;}
		.pointDetail .copy p span,
		.giftDetail .copy p span{color:#db2119;font-weight:700;}

.giftDetail{
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
	background:url(../images/pup.jpg)> repeat-x left top #FFF;
	width:504px;
	height:555px;
}
	.giftDetail .pr{
		border-bottom:1px solid #d5d5d5;
		border-top:1px solid #d5d5d5;
		padding:30px 0;
		text-align:center;
		margin:20px 0;
	}
/*css function search api google*/
#searchcontrol { width:930px; }
.gsc-control { width:930px; }
/* the width of the search results box; no height value = nice auto look  */
.gsc-results { width:930px; }
/* the width of the search input */
.gsc-input { width:20px; }
/* hide "powered by google" (optional) */
.gsc-branding { display:none; }
.gs-title a { color:orange; font-weight:bold; }
#searchcontrol a { color:#c61615;font-size:15px; font-weight:normal; text-decoration:none; }
	#searchcontrol a:hover { color:#c61615;}
	#searchcontrol .gsc-control { width:930px; }
	#searchcontrol .gs-result .gs-title,
	#searchcontrol .gs-result .gs-title *{ color:#c61615; text-decoration:none;font-size:15px; font-weight:normal;}
	#searchcontrol .gs-result a.gs-visibleUrl,
	#searchcontrol .gs-result .gs-visibleUrl{color:#626262; font-weight:bold; font-size:13px;}
	#searchcontrol .gs-result .gs-snippet{font-size:13px;}
	#searchcontrol .gsc-webResult .gsc-result {border-bottom:1px dotted #a4a4a4; padding:20px 0;}
	#searchcontrol .gsc-results .gsc-cursor-box {margin-top:20px;}
	#searchcontrol .gsc-results .gsc-cursor-box .gsc-cursor-page {display:inline-block; padding: 0 5px; text-decoration:none; font-size:11px; color:#626262; float:left;}
	#searchcontrol .gsc-results .gsc-cursor-box .gsc-cursor-current-page {background:#c92016;border-radius:3px;color:#FFF; font-family:arial; font-weight:normal;font-size:11px;}
	#searchcontrol input.gsc-input {padding:7px 10px;width:97%;}
	#searchcontrol .gsc-tabHeader.gsc-tabhActive{position:absolute; left:-99999px;}
	#searchcontrol input.gsc-search-button {background:#F00; border-radius:3px; border:none;padding:7px 10px; color:#FFF;}
	#searchcontrol .gsc-above-wrapper-area {border-bottom:1px solid #a4a4a4;}


/* BRAND - TVC PLAYER */
#tvcLayer{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 99999;
	width: 100%;
	height: 100%;
	display: none;
	}
	#tvcPlayer,
	#tvcbtn{
		width: 530px;
		height: 330px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -165px 0 0 -265px;
		background: #000;
		box-shadow:0px 0px 50px #000;
	}
	#tvcbtn{
		background: none;
		box-shadow:none;
		width: 54px;
		height: 54px;
		right: 50%;
		top: 50%;
		left: auto;
		margin-right: -265px;
	}
	#tvcbtn .btn_close{
		position:absolute;
		right: -27px;
		top: -27px;
		width:54px;
		height:54px;
		background:url(../images/btn_close_r.png) no-repeat left top;
	}
		#tvcLayer .btn_close:hover{background-position: left bottom;}


#tvcPlayer_logo{
	position: absolute;
	left: -9999px;
	display: none;
}

.happiness_comingsoon{
	text-align:center;
	color:#900;
	margin-top:50px;
}
.secbrand_thumbs{position:absolute;z-index:99; right:12%; top:50%; margin-top:-92px;}
#brand_tphn .secbrand_thumbs{margin-top:-155px; right:20%;}
#brand_hvnl .secbrand_thumbs{right:7%;}


.home_linkeffect{
	cursor: pointer;
}








/* Brand list filter */
/*label.prettyCheckbox span.holderWrap{
	visibility: hidden;
}*/
#brandFilter input{
	position: absolute;
	left: -9999px;
}
#allBrands .copy .filter div p{
	font-size: 15px !important;
	padding: 0 !important;
	line-height:15px;
}
#allBrands .copy .filter div p.else{
	line-height:50px;	
}
/*#allBrands .copy .filter div{
	width: 74px;
	height: 40px;
	padding: 5px 27px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}*/
#allBrands .copy .filter div.active{
	background:#e72624;
	color:#fff;
}