.timeline-container{
	width:100%;
	height:318px;
	clear:both;
	float: left;
}

.timeline-wrapper{
	position:absolute;
	width:100%;
	height:316px;
	overflow:hidden;
	clear:both;
	margin-top: 0px;
	left: 0;
	top: 0;
}
	.timeline-wrapper::-webkit-scrollbar {
		width: 0px;
		height:0px;
	}
	.timeline-wrapper::-webkit-scrollbar-track {
		border-radius: 6px;
		border:1px solid #E2E2E2;
		background:#E2E2E2;
	}
	.timeline-wrapper::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background:#C01915 url(../images/scroll_drag_bg.gif) no-repeat center center;
	}

.timeline-core{
	position:absolute;
	width:100%;
	height:1px;
	top:180px;

}

.timeline-line{
	position:absolute;
	width:3000px;
	height:1px;
	background:#c61615;
	top:179px;
}


.timeline-year{
	position:absolute;
}

.timeline-year span{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:50px;
	font-weight:bolder;
	color:red;
	top:-60px;
	margin-left:-50px;
}

.timeline-year div{
	position:absolute;
	top:-7px;
	background: #fff;
    width: 12px;
    height: 12px;
	border-width:1px;
    border-radius: 50%;
	border-style:solid;
	border-color:#f00;
}

.timeline-month{
	position:absolute;
}

.timeline-month span{
	width:200px;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:red;
	top:15px;
	margin-left:-20px;

}

.timeline-month div{
	position:absolute;
	top:-4px;
	margin-left:3px;
	background: #f00;
    width: 8px;
    height: 8px;
    border-radius: 50%;
	border-color:#f00;
}


.timeline-item{
	position:absolute;

}

.timeline-item .item-dot{
	position:absolute;

	top:-3px;
	left:-3px;
	background: #f00;
    width: 8px;
    height: 8px;
    border-radius: 50%;
	border-style:solid;
	border-color:#f00;
}

.timeline-item .item-line{
	position:absolute;
	height:126px;
	width:1px;
	background: #f00;
}

.timeline-item-up .item-line{
	top:-126px;
}

.timeline-item-up .item-dot{
	top:-126px;
}

.timeline-item-down .item-dot{
	top:126px;
}



.timeline-item span{
	width:250px;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:20px;
}

.timeline-item h1{
	font-family: Arial;
	font-size:15px;
	word-spacing: 0;
	color:red;
	margin-bottom:10px;
}


#invector .timeline-item h2{
	color:#333;
	font-size:12px;
	margin-top:-5px;
}


.timeline-item-up span{
	top:-120px;

}


.timeline-item-down span{
	top:70px;

}

.timeline-filter{
	width:995px;
	margin:auto;
	position: relative;
	z-index: 999;
}

.timeline-filter li{
	display:block;
	float:left;
	background:url(../images/timeline/box.png) no-repeat;
	width:190px;
	margin-left:27px;
	cursor:pointer;
}



.timeline-filter img{
	float:left;
	width:22px;
	margin:4px 0 0 4px;

}

.timeline-filter span{
	display:block;
	left:30px;
	float:left;
	width:150px;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
}






.dropdown{
	color: #555;
	margin: 3px -40px 0 0;
	width: 143px;
	height: 17px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	float: right;
	position: absolute;
	clip: both;
	left: 50%;
	top: 0;
	z-index: 99;
	left: 50%;
	top: 12px;
	z-index: 99;
	margin-left: 394px;
}
.submenu{
	background: white;
	position: absolute;
	top: 16px;
	left: -20px;
	z-index: 100;
	width: 70px;
	display: none;
	margin-left: 10px;
	padding: 10px 0;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
	}
	.ie7 .submenu,
	.ie8 .submenu{
		border:1px solid #ddd;
	}
.dropdown li a {
	color: #555555;
	display: block;
	font-family: arial;
	font-weight: bold;
	padding: 2px 15px;
	cursor: pointer;
	text-decoration:none;
	text-align: center;
	font-size: 12px;
}

.dropdown li a:hover{
	background:red;
	color: #FFFFFF;
	text-decoration: none;
}

.dropdown select{
	float: left;
	margin: -13px 0 0;
	border: 1px solid #e0e0e0;
	background: #ececec;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 75px;
	color: #626262;
}

a.account {
	width: 70px;
	font-size: 12px;
	line-height: 24px;
	color: #555;
	position: absolute;
	z-index: 110;
	padding: 0;
	height: 24px;
	margin: -11px 0 0 -10px;
	text-decoration: none;
	background: url(icons/arrow.png) 116px 17px no-repeat;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #CCC;
}
.root{
	list-style:none;
	margin:0px;
	padding:0px;
	font-size: 11px;
	padding: 0;
}

.sliderCover{
	position:relative;
	left:50%;
	margin-left:-470px;
	top: 288px;
}




