<?php 
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();
	$icon = strtolower($_product->getResource()->getAttribute('product_icon')->getFrontend()->getValue($_product)); 
	$special_price = Mage::helper('core')->currency($_product->getSpecialPrice(), false, true);
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product_detail_left">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
              id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                <input type="hidden" name="related_product" id="related-products-field" value=""/>
            </div>
            <div class="product_image">
                <?php echo $this->getChildHtml('media') ?>
            </div>
            <div class="product_info">
                <h1 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>

                <div class="product_code"><span class="label">
                    <?php echo $this->__('Mã sản phẩm : ') ?></span>
                    <?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?>
                </div>
                <?php if ($_product->getShortDescription()): ?>
                    <div class="product_desc margin-5px"><span class="label">
                        <?php echo $this->__('Mô tả ngắn : ') ?></span>
                        <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                    </div>
                <?php endif; ?>
                <div class="product_price margin-5px">
                    <?php if((int)$_product->getPrice() != (int)$_product->getFinalPrice()):?>
                    	<?php echo $this->getPriceHtml($_product, true, false);?>
                    <?php else:?>
                    	<span class="label"><?php echo $this->__('Giá bán:')?></span>
                    	<?php if($_product->getPrice() == 0):?>
                    		<?php echo $this->__('Contact for Pricing.');?>
                    	<?php else:?>
                    		<span class="price"><?php echo strip_tags( $this->getPriceHtml($_product, true, false) )?></span>
                    	<?php endif;?>
                    <?php endif;?>
                </div>
                <?php echo $this->getTierPriceHtml() ?>

                <div class="product_banner_adv  margin-5px">
                    <?php //echo $ratingSum; ?>
                    <?php
                        echo $_helper->productAttribute($_product, nl2br($_product->getProductBannerAdv()), 'product_banner_adv');
                    ?>
                </div>
                <div class="product_size margin-5px clear">
                    <?php $categories = $_product->getCategoryIds(); ?>
                    <?php foreach ($categories as $k => $_category_id): ?>
                        <?php $_category = Mage::getModel('catalog/category')->load($_category_id) ?>
                        <?php $category_name = $_category->getName() ?>
                        <?php if ($category_name == 'Nhẫn'): ?>
                            <a class="a-left manual-do a-right"
                               href="<?php echo $this->getBaseUrl() ?>huong-dan-do-ni" target="_blank"><span><?php echo $this->__('Hướng dẫn đo ni') ?></span></a>
                            <?php break; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                        <span class="label a-left"><?php echo $this->__('Chọn size :') ?></span>
                        <div id="bt_select_size" class="a-left">
                            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="margin-5px">
                    <?php echo $this->getChildHtml('addtocart') ?>
                </div>
            </div>
            <div class="clear"></div>

        </form>
        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function (button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;
                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function (button, url) {
                if (this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
            //]]>
        </script>
    </div>
</div>