<div class="order-view-notfound">
    <div class="row">Mã đơn hàng: <b class="order_number"><?php echo $this->getOrderNumber(); ?></b> không đúng. Quý khách vui lòng kiểm tra lại</div>
    <div class="row">Mọi thông tin hỗ trợ liên hệ: <b class="tel">(08) 3995 332 – (08) 3995 336</b></div>
</div>