<div class="order-items order-details order-details-quick">
    <?php if ($this->helper('giftmessage/message')->getIsMessagesAvailable('items', $this->getOrder())): ?>
        <script type="text/javascript">
            //<![CDATA[
            function giftMessageToogle(giftMessageIdentifier) {
                var link = $('order-item-gift-message-link-' + giftMessageIdentifier);
                var container = $('order-item-gift-message-' + giftMessageIdentifier);
                var row = $('order-item-row-' + giftMessageIdentifier);
                if (link.expanded) {
                    link.expanded = false;
                    link.removeClassName('expanded');
                    if (container.hasClassName('last')) {
                        row.addClassName('last');
                    }
                    container.hide();
                } else {
                    link.expanded = true;
                    link.addClassName('expanded');
                    if (container.hasClassName('last')) {
                        row.removeClassName('last');
                    }
                    container.show();
                }

                return false;
            }
            //]]>
        </script>
    <?php endif; ?>
    <?php $_order = $this->getOrder(); ?>
    <?php 
        $connection = Mage::getSingleton('core/resource')->getConnection('core_read');
        $sql        = "select label from sales_order_status where status='".$_order->getStatus()."'";
        $statusName = $connection->fetchOne($sql);
    ?>
    <h2 class="table-caption">THEO DÕI ĐƠN HÀNG </h2>
    <div class="status_line">Tình trạng đơn hàng <b><?php echo $_order->getIncrementId() ?></b>: <?php echo $statusName; ?></div>
	<div class="status_line">Ghi chú: <?php echo  Mage::helper('king_orderinfo')->getCommentSubject($this->getOrder()->getNoteShipping(),'description');?></div>
	<div class="status_line">Ngày đặt hàng: <b><?php echo date('d/m/Y', strtotime($_order->getCreatedAt())) ?></b> </div>

    <?php echo $this->getChildHtml('order_items') ?>

    <?php if ($this->helper('giftmessage/message')->getIsMessagesAvailable('order', $_order) && $_order->getGiftMessageId()): ?>
        <div class="order-additional order-gift-message">
            <h2 class="sub-title"><?php echo $this->__('Gift Message for This Order') ?></h2>
            <?php $_giftMessage = $this->helper('giftmessage/message')->getGiftMessageForEntity($_order); ?>
            <dl class="gift-message">
                <dt>
                    <strong><?php echo $this->__('From:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getSender()) ?>
                </dt>
                <dt>
                    <strong><?php echo $this->__('To:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getRecipient()) ?>
                </dt>
                <dd><?php echo $this->helper('giftmessage/message')->getEscapedGiftMessage($_order) ?></dd>
            </dl>
        </div>
    <?php endif; ?>
    <?php $_history = $this->getOrder()->getVisibleStatusHistory() ?>
    <?php if (count($_history)): ?>
        <div class="order-additional order-comments">
            <h2 class="sub-title"><?php echo $this->__('About Your Order') ?></h2>
            <dl class="order-about">
                <?php foreach ($_history as $_historyItem): ?>
                    <dt><?php echo $this->formatDate($_historyItem->getCreatedAtStoreDate(), 'medium', true) ?></dt>
                    <dd><?php echo $this->escapeHtml($_historyItem->getComment()) ?></dd>
                <?php endforeach; ?>
            </dl>
        </div>
    <?php endif; ?>
    <div class="order-view-note">
        <h4>Mọi chi tiết xin liên hệ:</h4>

        <p>
            Hotline: (08) 3995 332 – (08) 3995 336<br/>
            Địa chỉ: 170E Phan Đăng Lưu, Q. Phú Nhuận, TP. Hồ Chí Minh.<br/>
            Email: shopping@pnj.com.vn
        </p>

    </div>
</div>
<style>

</style>