

<div class="category-news"></div>
<hr class="line-downup">


<?php $posts = $this->getPosts(); ?>
<?php foreach ($posts as $post): ?>
<div class="postWrapper clear">
    <div class="postContent clear">
        <div class="title-item">
           <a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle();?></a>
            <!-- <h3><?php echo $post->getCreatedTime(); ?></h3>-->
        </div>

        <?php echo $post->getPostContent(); ?>
    </div>
	
	<?php echo $this->getBookmarkHtml($post) ?>
	<div class="tags"><?php echo $this->getTagsHtml($post) ?></div>

</div>
<?php endforeach; ?> 
<?php $this->getPages(); ?>


