<?php $posts = $this->getPosts(); ?>
<?php $title_view = ''; ?>
<div class="clear group-title-news">
    <?php foreach ($posts as $post): ?>
        <?php $postCats = $post->getCats(); ?>
        <?php foreach ($postCats as $title => $url): ?>
            <?php if ($title != $title_view): ?>
                <?php $title_view = $title; ?>
                <div class="category-news a-left"><?php echo $title_view; ?></div>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endforeach; ?>
</div>
<hr class="line-downup">

<div class="promotion">
<div class="row">
    <?php if (count($posts)): ?>
        <?php foreach ($posts as $post): ?>
            <div class="span5">
                <div class="row">
                    <div class="span2">
                        <div class="thumb-item">
                            <img class="thumb-item_img" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $post->getImage();?>" alt="<?php echo $post->getTitle(); ?>">
                        </div>
                    </div>
                    <div class="span3">
                        <div class="title-item">
                            <h2><a href="<?php echo $post->getAddress(); ?>"><?php echo Mage::helper('core/string')->truncate($post->getTitle(), 34); ?></a></h2>
                            <div class="text-promo">
                                <?php echo Mage::helper('core/string')->truncate( strip_tags($post->getShortContent()), 220); ?>            
                            </div>
                            <a href="<?php echo $post->getAddress(); ?>" class="seemore"><?php echo $this->__('Read More'); ?></a>
                        </div>
                    </div>
                </div>
                <?php //echo $this->getBookmarkHtml($post) ?>
                <!--<div class="tags"><?php //echo Mage::getBlockSingleton('blog/blog')->getTagsHtml($post) ?></div>-->
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <?php echo Mage::helper('blog')->__('No Posts in this Category.'); ?>
    <?php endif; ?>
    <?php $this->getPages(); ?>
</div>
</div>