<?php
$cart = Mage::getSingleton('checkout/cart')->getItemsCount();
$title = Mage::getStoreConfig('onestepcheckout/general/checkout_title');
$description = Mage::getStoreConfig('onestepcheckout/general/checkout_description');
$apikey = Mage::getStoreConfig('onestepcheckout/general/Apply_apptha_licensekey');
$onestepapikey = $this->helper('onestepcheckout')->onestepApiKey();
$activateIn = Mage::getStoreConfig('onestepcheckout/general/Activate_apptha_onestepcheckout_cart');
$activateOnestep = Mage::getStoreConfig('onestepcheckout/general/Activate_apptha_onestepcheckout');
?>

<?php if ($activateOnestep == 1): ?>
	<?php if ($cart != ""): ?>
		<div id="scroll" class="rounded">
			<div class="onepage-page-title">
				<h1><?php echo $title; ?></h1>
				<?php if ($description): ?>
					<p> <?php echo $this->__($description); ?> </p>
				<?php endif; ?>
			</div>

			<div class="cart-step">
				<a class="step step-active" href="<?= $this->getUrl('checkout/cart') ?>"><span class="step-number">1</span><br/><span class="step-label"><?= $this->__('Giỏ hàng') ?></span></a>
				<span class="step-line step-line-active-full"></span>
				<a class="step step-active" href="<?=$this->getUrl('onestepcheckout')?>"><span class="step-number">2</span><br/><span class="step-label"><?= $this->__('Thanh toán') ?></span></a>
				<span class="step-line step-line-active"></span>
				<span class="step"><span class="step-number">3</span><br/><span class="step-label"><?= $this->__('Thành công') ?></span></span>
				<div class="clearfix"></div>
			</div>

			<!---start of onestepcheckout-form -->
			<form id="co-form" action="" method="post" autocomplete="off">
				<ol class="onepage" id="checkoutSteps">
					<li id="column-1" class="firecheckout-section">
						<ul>
							<li id="onepage-billing">
								<?php echo $this->getChildHtml('billing'); ?>
								<?php echo $this->getLayout()->createBlock('checkinvoice/checkinvoice')->setTemplate('checkinvoice/index.phtml')->toHtml(); ?>
							</li>
							<?php if (!$this->getVirtual()): ?>
								<li id="onepage-shipping">
									<?php echo $this->getChildHtml('shipping'); ?>
								</li>
							<?php endif; ?>

							<li id="onepage-vat" class="control">
								<input type="checkbox" id="checkinvoice" class="checkbox" name="checkinvoice" style="margin: 0;">
								<label for="checkinvoice" style="display: inline; font-size: 12px;">Xuất hóa đơn công ty</label>
								<a href="#box-invoice" id="a_checkinvoice" style="color: #787878; text-decoration: none;">&nbsp;</a>
							</li>
						</ul>
					</li>

					<li id="column-2" class="firecheckout-section">
						<ul>
							<?php if (!$this->getVirtual()): ?>
								<li id="onepage-shipping_method">
									<?php echo $this->getChildHtml('shipping_method'); ?>
								</li>
							<?php endif; ?>
							<li id="onepage-payment">
								<?php echo $this->getChildHtml('payment'); ?>
							</li>
						</ul>
					</li>

					<li id="column-3" class="firecheckout-section">
						<ul>
							<li id="onepage-review">
								<?php echo $this->getChildHtml('review'); ?>
							</li>
						</ul>
					</li>
				</ol>
			</form>
			<!---End of onestepcheckout-form -->

			<div class="authentication" id="checkout-paypaliframe-load" style="display:none;"> </div>

			<script type="text/javascript">
				var shipment_methods = $('ajax-shipping-method');
				var checkout = new Checkout({
					review: '<?php echo $this->getUrl('onestepcheckout/index/play', array('_secure' => true)) ?>',
					saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveBilling', array('_secure' => true)) ?>',
					failure: '<?php echo $this->getUrl('onestepcheckout', array('_secure' => true)) ?>'}
				);

				if (typeof shipment_methods != 'undefined' && shipment_methods != null)
				{
					shipping.reloadReviewBlock();
				}

				payment.reloadReviewBlock();

				// Check VAT
				gFlag = 0;
				jQuery("#a_checkinvoice").fancybox({
					'overlayColor': '#003064',
					'onClosed': function() {
						if (gFlag == 0) // unckeck checkbox
						{
							jQuery('#company_name').val('');
							jQuery('#company_address').val('');
							jQuery('#company_taxvat').val('');

							jQuery('#checkinvoice').attr('checked', false); // Unchecks it
						}
						gFlag = 0;
					}
				});

				jQuery('#checkinvoice').click(function() {
					if (jQuery(this).is(':checked'))
					{
						jQuery('#a_checkinvoice').click();
					}
				});
			</script>

			<script type="text/javascript">
				Translator.add('processing', '<?php echo $this->__('Processing, please wait. Do not click the refresh or back button or this transaction may be interrupted or terminated.'); ?>');
			</script>  

		</div>
	<?php endif; ?>
<?php endif; ?>
