.box-itoris-product-promotions .itoris_groupedproductpromotions_title {
    font-weight: bold;
    font-size: 16px;
}
.itoris_groupedproductpromotions_price {
    font-weight: bold;
    color: red;
}
.box-itoris-product-promotions a {
    color: black;
}
.itoris_groupedproductpromotions_product {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 7px;
}
.itoris_groupedproductpromotions_discount {
    display: block;
    color: #6A5ACD;
    font-weight: bold;
}
.itoris_groupedproductpromotions_discount.cart {
    font-size: 11px;
    color: #FF0000;
    white-space: nowrap;
}
.itoris_groupedproductpromotions_plus {
    font-size: 25px;
    font-weight: bold;
    margin: 41px 10px 0 7px;
    vertical-align: middle;
    width: 15px;
    display: inline-block;
}
.cart .box-itoris-product-promotions {
    margin-top: 10px;
}
.data-table tbody td.itoris_promotions_row_products td, .data-table tbody td.itoris_promotions_row_products th {
    border: none;
}
.itoris_promotions_row_products .item-options {display: inline-block;}

.itoris_promotions_row_products .itoris_groupedproductpromotions_discount, .itoris_promotions_row_products .itoris_groupedproductpromotions_price {
    font-size: 11px;
    white-space: nowrap;
}
.itoris_promotions_row_products .itoris_groupedproductpromotions_product {
    width: 86px;
    padding: 0;
    line-height: 119%;
}
.itoris_promotions_row_products a {
    color: black;
    text-decoration: none;
}
.itoris_promotions_row_products .itoris_groupedproductpromotions_plus {
    margin: 21px 10px 0 0;
}