<div class="partial_payment_is_not_optional">
	<a onmouseout="hidePartialPaymentHelp();" onmouseover="showPartialPaymentHelp();" onclick="return false;" href="#">
    This product is available on Partial Payments. <img width="16px;" height="15px;" title="Help" src="http://indieswebs.in/demo2/skin/frontend/indies/indies/partialpayment/images/help.jpg" class="partialpayment-help" alt="Help">
    </a>
    <?php if( in_array($this->getPartialPaymentOptions(), array('2_installments', 'fixed_installments')) && $this->getPartialPaymentOptional() ):?>
    <select class="required-entry" name="allow_partial_payment" id="allow_partial_payment">
		<option value="" selected="selected">Please Select</option>
		<option value="0">Full Payment</option>
		<option value="1">Installment</option>
	</select>
	<?php else:?>
    <input type="hidden" value="1" name="allow_partial_payment" id="allow_partial_payment">
	<?php endif?>
</div>