<!--@subject Khách hàng đăng ký mới tại {{var store.getName()}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
					 <!-- [ header starts here] --> 
					<tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
						</td>
                    </tr>
					<!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <p>
								Khách hàng đăng ký mới {{var store.getName()}}.<br />
								Tên: {{var customer.getName()}}<br />
								Email: {{var customer.getEmail()}}
							</p>

							<p>
								Để kích hoạt cho khách hàng, làm ơn click vào đây <a href="{{store url="adminhtml/customer"}}">Quản trị Admin</a> và chọn
								Customers &gt; Manage Customers &gt; {{var customer.getName()}} &gt; Account Information và kích hoạt tài khoản dó lên.
							</p>

                        </td>
                    </tr>
					<!-- [ footer starts here] -->
					<tr>
                        <td valign="bottom" style="text-align: center;">
                            <a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
