<!--@subject Tài khoản của bạn đã được kích hoạt, {{var customer.getName()}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                
                <table cellspacing="0" cellpadding="0" border="0" width="650">
					<!-- [ header starts here] --> 
					<tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
						</td>
                    </tr>
					<!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <p>
								<strong>Xin chào {{var customer.name}}</strong>,<br/>
								Tài khoản của bạn đã được kích hoạt<br/>
								Để đăng nhập vào website của chúng tôi,mời bạn click vào <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Đăng nhập</a> hoặc
								<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Tài khoản của tôi</a> tại mỗi trang,và điền địa chỉ e-mail và mật khẩu của bạn.
                            </p>

                            <p>Nếu bạn có bất kỳ câu hỏi nào về tài khoản của bạn, làm ơn liên hệ với chúng tôi tại <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> hoặc bằng điện thoại {{config path='general/store_information/phone'}}.</p>
                            <p>Chân thành cám ơn</p>
                        </td>
                    </tr>
					<!-- [ footer starts here] -->
					<tr>
                        <td valign="bottom" style="text-align: center;">
                            <a href="{{store url=""}}"><img src="{{media url="email/footer/footer_email.gif" }}" alt="{{var logo_alt}}" border="0"/></a>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
