<?php

$products = Mage::getResourceModel('catalog/product_collection');
$product_id = Mage::registry('current_product')->getId();
$voteRating = '';
foreach ($products as $product)
{
    $summary = Mage::getModel('review/review_summary')
        ->setStoreId(Mage::app()->getStore()->getId())
        ->load($product->getId());
     if($product_id == $product->getId()){
         if ($summary->getId())
         {
             $voteRating = $summary->getRatingSummary() ;
         }
     }
}
?>

<div class="form-add">
    <?php if ($this->getAllowWriteReviewFlag()): ?>
        <form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
            <fieldset>
                <?php echo $this->getChildHtml('form_fields_before') ?>
                <?php if ($this->getRatings() && $this->getRatings()->getSize()): ?>
                    <span id="input-message-box"></span>

                    <!------ ###########################  script star ###########################-->
                    <script src='<?php echo $this->getSkinUrl('rating'); ?>/jquery.MetaData.js' type="text/javascript"
                            language="javascript"></script>
                    <script src='<?php echo $this->getSkinUrl('rating'); ?>/jquery.rating.js' type="text/javascript"
                            language="javascript"></script>
                    <link href='<?php echo $this->getSkinUrl('rating'); ?>/jquery.rating.css' type="text/css"
                          rel="stylesheet"/>
                    <!------ ###########################  script star ###########################-->

                    <table class="data-table" id="product-review-table">
                        <tbody>
                        <?php foreach ($this->getRatings() as $_rating): ?>
                            <tr>
                                <th style="border-bottom: 0; padding-left: 0 !important;"><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                                <?php $int = 1; ?>
                                <?php foreach ($_rating->getOptions() as $_option): ?>
                                    <td class="value">
                                        <input class="star" type="radio" name="ratings[<?php echo $_rating->getId() ?>]"
                                               <?php
                                                    if($voteRating <= 20){
                                                        if($int ==1){ echo 'checked';}
                                                    }
                                                    elseif($voteRating >20 &&$voteRating <=40 ){
                                                        if($int == 2) echo 'checked';
                                                    }elseif($voteRating >40 &&$voteRating <=60){
                                                        if($int == 3) echo 'checked';
                                                    }elseif($voteRating >60 &&$voteRating <=80){
                                                        if($int == 4) echo 'checked';
                                                    }elseif($voteRating >80 &&$voteRating <=100){
                                                        if($int == 5) echo 'checked';
                                                    }
                                               ?>
                                               id="select_<?php echo $_option->getValue() ?>"
                                               value="<?php echo $_option->getId() ?>" class="radio"/>
                                        <?php $int++; ?>
                                    </td>
                                <?php endforeach; ?>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <input type="hidden" name="validate_rating" class="validate-rating" value=""/>
                    <script type="text/javascript">decorateTable('product-review-table')</script>
                <?php endif; ?>
                <ul class="form-list">
                    <li class="nickname_field">
                        <label for="nickname_field" class="required"><?php echo $this->__('Họ Tên') ?></label>

                        <div class="input-box">
                            <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getNickname()) ?>"/>
                        </div>
                    </li>
                    <li class="summary_field">
                        <label for="summary_field" class="required"><?php echo $this->__('Email') ?></label>

                        <div class="input-box">
                            <input type="text" name="title" id="summary_field" class="input-text validate-email required-entry"
                                   value="<?php echo $this->escapeHtml($data->getEmail()) ?>""/>
                        </div>
                    </li>
                    <li>
                        <label for="review_field" class="required"><?php echo $this->__('Nội dung nhận xét') ?></label>

                        <div class="input-box">
                            <textarea name="detail" id="review_field" cols="5" rows="7"
                                      class="required-entry"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
                        </div>
                    </li>
                </ul>
            </fieldset>
            <div class="buttons-set">
                <button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="button btn">
                    <span><span><?php echo $this->__('Gửi') ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var dataForm = new VarienForm('review-form');
            Validation.addAllThese(
                [
                    ['validate-rating', '<?php echo $this->__('Please select one of each of the ratings above') ?>', function (v) {
                        var trs = $('product-review-table').select('tr');
                        var inputs;
                        var error = 1;

                        for (var j = 0; j < trs.length; j++) {
                            var tr = trs[j];
                            if (j > 0) {
                                inputs = tr.select('input');

                                for (i in inputs) {
                                    if (inputs[i].checked == true) {
                                        error = 0;
                                    }
                                }

                                if (error == 1) {
                                    return false;
                                } else {
                                    error = 1;
                                }
                            }
                        }
                        return true;
                    }]
                ]
            );
            //]]>
        </script>
    <?php else: ?>
        <p class="review-nologged" id="review-form">
            <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
        </p>
    <?php endif ?>
</div>

