
.list{
	display: none !important;
}

.srule-title{
	border-bottom: 1px solid #A6A6A6;
	margin-top: 10px;
}

 .crule-title{
	border-bottom: 1px solid #A6A6A6;
 }
 
 .srule-title h1, .crule-title h1{
	height: 30px;
}

.srule-list{
	margin-left: 20px;
	margin-bottom: 35px;
}

.gift-icon{
	top: 0;
	right: 0;
	position: absolute;
}

.gift-image{
	position: relative;
}

.gift-tootip {
	background: url('../../images/promotionalgift/gift_03.gif') #FFFFFF no-repeat scroll 0 0;  
    min-width: 150px;  
	height: 107px;
	/* border: 1px solid #D7D7D7; */
	border: 1px solid rgb(199, 203, 204);
	border-radius: 7px;
	box-shadow: 2px 4px 17px rgb(179, 184, 183);
	z-index:20; 
}
.gift-tootip-icon {
	padding: 20px 0 0 20px;
	float: left;
}

.tootip-head {
	float: left;	
	padding: 20px 0 0 20px;
	width: 60%
}

.tootip-title{
	float: left;
	width: 100%;
	padding-bottom: 10px; 
	border-bottom: 1px dashed #A2A2A2;
}

.tootip-content{
	left: 20px;
	clear: both;
	width: 100%;
	margin-left: 50px;
    margin-top: 30px; 
	/* margin-top: 10px;
	margin-bottom: 10px;
	text-align: center; */
}
.tootip-content2{
	margin-left: 50px;
	width: 100%;
}
.tootip-product-list2{
	padding-top: 34px;
}

.tootip-content-img {
	padding: 3px;
	border: 1px solid #D4D4D4; 
}

.promotional-srule{
	width: 100%;
	display: block;
	border: 1px solid #C5C4C4;	
	margin-bottom: 25px; 
	margin-top: 20px;
    padding-bottom: 10px;
}

.promotional-title{
	padding: 10px;	
    margin-bottom: 10px;
    background: #FFFFFF;    
    border-bottom: 1px dashed #C5C4C4;	
    color: #0A263C;
    font-size: 12px;
    padding: 10px;
    /* width: 879px; */
}

.promotional-title-hide {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #0A263C;
	font-size: 12px;
	padding: 10px;
}

.promotional-title .main-title{
	background-image: url('../../images/promotionalgift/promotionalgift-scart.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
	display: block;
    padding: 0 0 0 28px;
    font-size: 26px;
    font-weight: normal;
}

.promotional-title-hide .main-title{
	background-image: url('../../images/promotionalgift/promotionalgift-scart.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
	display: block;
    padding: 0 0 0 28px;
}

.promotional-title .child-title{
	margin-left: 20px;
	margin-top: 10px;
    font-weight: normal;
}

#promotional-shoppingcart{	
    padding: 22px 25px 12px 33px;
    background: none repeat scroll 0 0 #FFFFFF;      
    height: 191px;   
    overflow: hidden;
    padding: 20px 15px 20px 25px;
    position: relative;
    text-align: center;   
}
#promotional-shoppingcart-table{
	margin-bottom: 10px;
}

#promotional-shoppingcart-table ul li .item{
	width: 98%;
}
#promotional-shoppingcart-table ul li .product-name{
	color: #203548;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
}

#promotional-shoppingcart-table .product-checkbox{
	bottom: 12px;
	text-align: center;
    /* position: absolute; */
}	

#promotional-shoppingcart-table .price-box{
	text-align: center !important;
}

#promotional-shoppingcart-table .price{
	/* text-decoration: line-through; */
}

.promotional-image{
	text-align: center;
}

.promotional-image img { 
border: 1px solid #D7D7D7;
}

.promotional-srule-container {
    background: none repeat scroll 0 0 #EFF5EA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 1px #446423;
    color: #3D6611;
    font-size: 18px;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
.addgift{
	margin-left: 22px !important;
}

.stootip-head {
	float: left;	
	padding: 20px 0 0 20px;
	font-weight: bold !important;
	width: 100%;
}

.stootip-title{
	float: left;
	width: 100%;
	padding-bottom: 10px; 	
}

.stootip-content{
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.sgift-tootip{
	width: 250px;
	background-color: #FFFFFF;
    border: 1px solid #C5C4C4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px 1px #C5C4C4;
    color: #2F2F2F;
}

.stootip-product-name{
	font-size: 15px !important;
	margin-left: 20px;
	font-weight: bold;	
	width: 85%
}

.stootip-rule-name{
	margin-left: 20px;
	margin-top: 15px;
	font-size: 15px !important;
	width: 85%;
}

.stootip-product-qty{
	margin-left: 20px;
	margin-top: 15px;
	font-size: 15px !important;
	width: 85%;
}

.stootip-head-title{
	width: 85%;
	font-style: italic;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px dotted #959595;
	padding-bottom: 10px;
}
/************detail*********/
.product-options{
	position: inherit !important;
}

.freegift{
	width: 330px;
	display: inline-block;
	margin:10px 0;		
	border: 1px solid #e4e4e4;	
}

.product-tootip-title{
	border-bottom: 1px dashed #A2A2A2;
	float: left;
	padding-bottom: 10px;
	width: 100%;
}

.product-tootip-head{
	width: 100%;
	float:left;
}

#label-freegift{
	float: left;
	padding: 10px 0 0 10px;
}

.rule-name{
	float: left;
	padding: 20px 0 0 20px;
	width: 60%;
}	

.product-rule-description{
	float: left;
	clear: both;
	padding: 0 0 0 80px;
}

.product-tootip-content{
	clear: both;
	float: left;
	margin-left: 4px;
	width: 100%;
}

.product-tootip-gift-list{
	padding: 5px;
}

.product-gift-image{
	width: auto !important;
	height: auto !important;
	text-decoration: none !important;
}

.product-gift-image img{
	border: 1px solid #D4D4D4;
	margin-bottom: 5px;
	padding: 10px;
}
.product-gift-image2 img{
	border: 1px solid #D4D4D4;
}

/* .gift-tootip{
	background-color: #ffffff;
	border-radius: 7px;
	box-shadow: 2px 4px 17px rgb(179, 184, 183);
	border: 1px solid rgb(199, 203, 204);
	padding: 10px;
	width: 160px;
} */

.tootip-title{
	border-bottom: 1px dotted #959595;
	color: #2F2F2F;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0 0 5px;
}

.label-product{
	font-size: 14px; 
	font-weight: bold; 
	font-style:italic;
}
.gift-tootip2 {
	background: url('../../images/promotionalgift/gift_03.gif') #FFFFFF no-repeat scroll 0 0;  
    width: 310px;  
	height: 120px;
}
