<?php $controllerName = Mage::app()->getRequest()->getControllerName(); ?>
<?php if ('sales_order' == $controllerName) : ?>
<?php if($this->getIsInvoice()): ?>
<tr><td colspan="2"><hr/></td></tr>
<tr>
    <td class="label"><label>Company Name</label></td>
    <td class="value"><?php echo $this->getCompanyname();?></td>
</tr>
<tr>
    <td class="label"><label>Company Address</label></td>
    <td class="value"><?php echo $this->getCompanyAddress();?></td>
</tr>
<tr>
    <td class="label"><label>Tax/VAT Number</label></td>
    <td class="value"><?php echo $this->getCustomertaxvat();?></td>
</tr>
<?php endif; ?>
<?php endif; ?>