.product_detail_left {

	width: 775px;

	float: left;

}

.product_detail_commitment {

	width: 220px;

	float: right;

}

.tabs ul.nav li {

	display: inline-block;

	float: left;

	border: 1px solid #e3e3e3;

	margin: 0 -1px -1px 0;

}

.tabs ul.nav li a {

	background: url(../images/tab-header-bg.png) left -1px repeat-x;

    padding: 0 30px;

    height: 30px;

    line-height: 30px;

    color: #7e7e7e;

    border: 1px solid #fff;

    border-bottom: none;

    margin: 0;

}

.tabs ul.nav li.active {

	border-radius: none;

	border-bottom: 1px solid #fff;

}

.tabs ul.nav li.active a {

	background: #fff;

	border-bottom: 1px solid #fff;

}

.nav-tabs > .active > a, 

.nav-tabs > .active > a:hover, 

.nav-tabs > .active > a:focus {

	border-top-left-radius: 0;

	border-top-right-radius: 0;

	border: 1px solid #fff;

}

.tabs .scroll-tab1,

.tabs .scroll-tab1 a,

.tabs .scroll-tab1 a:hover,

.tabs .scroll-tab1 a:focus {

	border-top-left-radius: 5px;

}

.tabs .scroll-tab3,

.tabs .scroll-tab3 a,

.tabs .scroll-tab3 a:hover,

.tabs .scroll-tab3 a:focus {

	border-top-right-radius: 5px;

}

#fancybox-content{

    height: 360px !important;

}

.group_title-1 {

    background: url("../images/pnj-bullet.png") no-repeat scroll left top #FFFFFF;

    color: #414141;

    padding: 0 20px 0 30px;

    font-size: 1.2em;

    text-transform: uppercase;

    margin: 0 0 10px 0;

}

.tabs .tab-content {

    border: 1px solid #e3e3e3;

    border-top: none;

    padding: 20px;

    border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;

}

.tabs .nav {

    margin: 0;

}

.product_image {

	width: 440px;

	float: left;

    position: relative;

    z-index: 1;

}

.main_image {

	border-radius: 3px;

	border: 2px solid #ececec;	

}

.slide_image {

	position: relative;

    margin-bottom: 20px;

}

.product_detail_left .slide {

	padding: 10px 0;

	width: 362px;

	margin: 0 0 0 45px;

}

.product_detail_left .slide img {

	border: 1px solid #ececec;

	border-radius: 3px;

	margin: 0 2px;

}

.jcarousel-clip , .jcarousel-clip-horizontal{

    overflow: hidden;

}

.price-notice {

	display: none;

}

.options-list li .label{

	width: 40px;

}

.nav_prev,

.nav_next {

	width: 20px;

	height: 31px;

	background: url(../images/arrow-1.png) left top no-repeat;

	position: absolute;

	top: 18px;

    cursor: pointer;

}

.product_detail_left .slide_image{

    margin: 0 30px;

    width: 380px;

}

.product-image-thumbnail{

    text-align: center;

}

.product-image #image{

    margin: 0 auto;

    position: relative;

}

.jcarousel-next-horizontal {

    background-position: right top!important;

    right: -30px;

}

.jcarousel-prev-horizontal {

    left: -30px;

}

.jcarousel-prev-horizontal, .jcarousel-next-horizontal {

    background: url("../images/arrow-1.png") no-repeat scroll left top rgba(0, 0, 0, 0);

    cursor: pointer;

    height: 31px;

    position: absolute;

    top: 15px;

    width: 20px;

}

.nav_prev {

	left: 0px;

    position: absolute;

    top: 10px;

}

.nav_next {

	background-position: -20px 0;

	right: 0px;

    position: absolute;

    top: 10px;

}

.product_info h1 {

	font-size: 1.5em;

	font-weight: normal;

	margin: 0 0 8px 0;

    color: #000;

}

.product_detail_left .product_info {

	width: 313px;

	float: right;

}

.product_info .label {

	background: none;

	color: #373737;

	text-shadow: none;

}

.product_desc .label {

	display: block;

}

.product_desc {

	padding: 8px 0;

}

.price .price-box .special-price .price, .special-price .price{

    color: #E40000 !important;

}

.product_price .price {

	font-weight: bold;

	font-size: 1.3em;

}

.product_banner_adv {

	margin: 15px 0;

    max-width: 310px;

    max-height: 65px;

}

.product_banner_adv img{

    width: 100%;

}

.product_info .product_size .label {

	margin: 0;

    width: 63px;

    line-height: 30px;

}

.at16nc{

    border-radius: 3px !important;

}

.group-ul{

    padding: 15px;

    background: #f0f0f0;

    border-radius: 3px;

    border: 1px solid #d9d7d7;

}

.group-ul a{

    color: #000;

    padding: 10px 0;

    line-height: 30px;

}

.hotline-pnj{

    margin-top: 10px;

    color: #000000;

}

.hotline{

    font-size: 19px;

    font-weight: bold;

    line-height: 40px;

    margin-left: 10px;

    color: #000000;

}

.hotline-line{

    color: #000000;

    font-size: 13px;



    font-weight: bold;

    line-height: 40px;

}

.product_info select {

	padding: 3px 3px;

	height: 25px;

	line-height: 18px;

	font-size: 1em;

	width: 92px;

	margin: 0;

	border-radius: 0px;

}

.margin-5px{

    margin: 10px 0;

}

.button.btn-cart {

    padding: 0 5px;

}

.more-views {

    margin-bottom: 20px;

    margin-top: 6px;

}



.product_amount {

	margin: 10px 0;

}

.product_info button {

	padding: 0;

	background: 0;

	border: none;

}

.nav-tabs li a{

    border-radius: 0px;

}

.product_share {

	margin: 15px 0;

}

.image_nav {

	text-align: center;

	padding: 10px 0 0 0;

    margin: 0 auto;

    display: table;

}

.rating-cancel{

    display: none !important;

}

.image_nav .button {

	border: 1px solid #d4d4d4;

	width: 130px;

	height: 30px;

	border-radius: 3px;

	margin: 0 2px;

	color: #8c8c8c;

}

#review_field{

    width: 95%!important;

}

.video_anchor{

    color: #8C8C8C;

    position: relative;

    top: 5px;

    width: 0;

}

.various{

    color: #8C8C8C;

    position: relative;

    top: 5px;

    padding: 5px 48px;

}

.various_no{

    color: #8C8C8C!important;

    position: relative!important;

    top: 5px !important;

    padding: 8px 48px !important;

}

.various:hover, .various_active, .video_anchor:hover, .video_anchor_active{

    text-decoration: none;

    color: #ffffff;

}



.information-desc{

    width: 100%;

    margin-top: 20px;

}

.active-thumb{

    display: block;

}

.dis-enable-thumb{

    display: none;

}

.information-name-title{

    padding-top: 15px;

    background: #f0f0f2;

}

.information-title{

    padding-top: 15px;

    background: -webkit-gradient(#fefefe, #f0f0f0);

    background: -webkit-linear-gradient(#fefefe, #f0f0f0); /* For Safari */

    background: -o-linear-gradient(#fefefe, #f0f0f0); /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(#fefefe, #f0f0f0); /* For Firefox 3.6 to 15 */

    background: linear-gradient(#fefefe, #f0f0f0); /* Standard syntax (must be last) */

}

.information-title td span{

    color: #000000;

    font-size: 16px;

    font-weight: bold;

}

.information-name-title td span{

    color: #000000;

    font-size: 13px;

    font-weight: bold;

}

.information-title td{

    border-bottom: 1px solid #FAFAFA;

}

.information-desc tr th, .information-desc tr td{

    border: 1px solid #DDDDDD;

    line-height: 25px;

    padding-left: 10px;

    text-align: left;

    width: 50%;

}

.information-desc .product_code{

    background: #F6F6F8;

}

.image_nav button.hover {

	background-color: #012b5b !important;

	color: #fff;

}

.product_image .item-online .icon{

    background: url("../images/icon.png") no-repeat scroll -279px -59px transparent;

    height: 24px;

    left: 150px;

    position: absolute;

    top: -5px;

    width: 139px;

    z-index: 99;

}



.product_image .item-gift .icon{

	background: url("../images/icon.png") no-repeat scroll -105px -43px transparent;

	height:51px;

	width:51px;

	position: absolute;

	z-index:99;

	top:0;

	right:0;

}



.product_image .item-limited .icon{

	background: url("../images/icon.png") no-repeat scroll -5px -43px transparent;

	height:51px;

	width:51px;

	position: absolute;

	z-index:99;

	top:0;

	right:0;

}
.product_image .item-new .icon,.product_image .item-hot .icon,.product_image .item-discount .icon{    background: url("../images/icon-heart.png") no-repeat transparent;

    height: 45px;

    position: absolute;

    right: 5px;

    top: 10px;

    width: 53px;

    z-index: 99;

    padding: 3px 4px 0 0;

}





.product_image .item-new .icon span,

.product_image .item-hot .icon span{

     color: #FFFFFF;

     display: block;

     font-weight: bold;

     line-height: 40px;

     text-transform: uppercase;

 }

 

.product_image .item-discount .icon span{

    color: #FFFFFF;

    display: block;

    font-weight: bold;

    line-height: 40px;

    text-transform: uppercase;

}



.product_image .item-online .icon span{

    color: #FFFFFF;

    display: block;

    font-size: 0.9em;

    font-weight: bold;

    line-height: 24px;

    text-transform: uppercase;

}
#combo_promotion{
    padding-top: 20px;
}

#bt_rotate, #bt_rotate_no {

    background: url("../images/icon.png") no-repeat scroll -380px -282px #F4F4F4;

    padding: 0 0 0 55px;

    width: 130px;

}
#fancybox-wrap{
    width: 500px !important;
}

#bt_rotate:hover, .bt_rotate_active{

    background: #002a5a url(../images/icon.png) -380px -312px no-repeat !important;

    color: #ffffff !important;

    border: 1px solid #002a5a !important;

}

#bt_zoom {
    background: url("../images/icon.png") no-repeat scroll -380px -345px #F4F4F4;
	width: 130px;
	padding: 0 0 0 15px;
}

#bt_zoom:hover , .bt_zoom_active{

    background: #002a5a url(../images/icon.png)  no-repeat scroll -380px -377px !important;

    color: #ffffff !important;

    border: 1px solid #002a5a !important;

}

#bt_video {

	background: #f4f4f4 url(../images/icon.png) no-repeat scroll -380px -406px;

	width: 130px;

	padding: 0 0 0 13px;

    height: 28px;

}

.bt_video_no {

    background: #f4f4f4 url(../images/icon.png) -380px -406px no-repeat!important;

    width: 130px!important;

    padding: 0 0 0 13px!important;

    color: #8C8C8C!important;

}

#bt_video1{

    background: #f4f4f4 url(../images/icon.png) -380px -406px  no-repeat;

    width: 130px;

    padding: 0 0 0 13px;

    height: 28px;

}

#bt_video:hover, .bt_video_active {

    background: #002a5a url(../images/icon.png) -380px -440px no-repeat !important;

    color: #ffffff!important !important;

    border: 1px solid #002a5a !important;

    color: #ffffff;

}

#bt_video_no .various_no{

    top: 5px;

    position: relative;

    color: #8C8C8C !important;

}



.product_detail_commitment .title {

	background: url("../images/pnj-bullet.png") no-repeat scroll left top #FFFFFF;

    color: #414141;

    padding: 0 20px 0 30px;

    font-size: 1.2em;

    text-transform: uppercase;

    margin: 0 0 10px 0;

}



.manual-do{

    color: #E40000;

    line-height: 30px;

}



.fn-product-1, .fn-product-2, .fn-product-3{

    border: 1px solid #e5e5e5;

    border-radius: 3px;

}



.product_detail_commitment ul {

	border: 1px solid #e3e3e3;

	border-radius: 3px;

	list-style: none;

	padding: 10px;

	margin: 0;

}

.product_detail_commitment ul li {

	font-weight: bold;	

}

.product_detail_commitment ul ul {

	border: none;

	padding: 0 0 10px 10px;

	list-style: square;

}

.product_detail_commitment .item-1 {

	background: url(../images/PNJ-detail-sp.png) no-repeat;

	padding: 0 0 0 30px;

    line-height: 24px;

}

.product_detail_commitment .item-2 {

    background: url("../images/PNJ-detail-sp.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);

    line-height: 24px;

    padding: 0 0 0 30px;

}

.product_detail_commitment .item-3 {

    background: url("../images/PNJ-detail-sp.png") no-repeat scroll 0 -60px rgba(0, 0, 0, 0);

    line-height: 24px;

    padding: 0 0 0 30px;

}

.product_detail_commitment ul ul li {

	font-weight: normal;

	padding: 5px 0;

}

.product_detail_commitment ul ul li a {

	color: #757575;

}

.group_title_pnj{

    color: #000;

    font-size: 15px;

    bottom: 10px;

    position: relative;

    padding-top: 15px;

}

.tabs {

	margin: 20px 0 0 0;

	width: 720px;

	float: left;

}

#send_to_friend form {

	width: 573px;

	margin: 0 auto;

}

#send_to_friend form input,

#send_to_friend form select,

#send_to_friend form textarea,

#send_to_friend form label {

	font-size: 0.9em;

}

#send_to_friend .input-name

{

	float: left;

}

#send_to_friend .input-email {

	float: right;

}

#send_to_friend .input-name input,

#send_to_friend .input-email input {

	width: 262px;

}

#send_to_friend .input-content {

	clear: both;

}

#send_to_friend .input-content textarea {

	width: 570px;

	height: 150px;

}

#send_to_friend .submit {

	text-align: right;

}

#other_products {

	width: 290px;

	float: right;

	margin: 20px 0 0 0;

}

#other_products .items {

	border: 1px solid #e9e9e9;

	border-top: none;

	border-radius: 3px;

}

#other_products .item {

	clear: both;

	height: 105px;

	border-top: 1px solid #F1F1F1;

	padding: 10px;

}

#other_products .item .thumb {

	width: 115px;

	height: 105px;

	float: left;

	margin: 0 10px 0 0;

}

#other_products .item .thumb img {

	max-width: 115px;

	max-height: 110px;

    width: 90%;

}

#other_products .item .title {

	margin: 0 0 10px 0;

}

#other_products .item .title a {

	color: #767676;	

}

.comment_form {

	margin: 20px 0;

}

.comment_form img,

.comment_form textarea,

.comment_form button

{

	float: left;

}

.comment_form img {

	margin: 30px 10px 0 0;

}

.comment_form textarea {

	width: 540px;

	height: 100px;

	margin: 0 10px 0 0;

}

.comment_form button {

	margin: 35px 0 0 0;

}

    #recentary_products, #combo_promotion {
	float: left;
	margin: 20px 0 0 0;
	width: 720px;
}

#recentary_products .group_title-1 {

	border-bottom: 1px solid #e9e9e9;

	padding: 0 0 5px 30px;

}

#recentary_products .grid .item {

	width: 150px;

	height: 250px;

	margin: 0 10px;

    text-align: center;

}

#recentary_products .grid .item .thumb {

	width: 150px;

    margin-bottom: 10px;

}

#recentary_products .grid .item .thumb img {

	max-width: 150px;

    min-height: 110px;

}

 .regular-price, .product_grid .grid .item .price-box .special-price {

    color: #E40000;

    font-size: 15px;

}

#recentary_products .grid .item .price-box{

}

.buttons-set .button, .buttons-set #add_recipient_button{

    float: left;

}

.buttons-set .button{

    float: right;

    margin-right: 13px;

}

.nick-name-review{

    margin-right: 20px;

    width: 130px;

    font-weight: bold;

    color: #000000;

}

.content-review {

    border-left: 1px solid #E4E4E4;

    width: 500px;

    padding-left: 20px;

    text-align: justify;

}

#sender_options .fields .field, #recipients_options .fields .field , .nickname_field, .summary_field{

    float: left;

    width: 49%;

}

.a-left{

    float: left;

}

.a-right{

    float: right;

}

.view_more{

    display: table;

    margin: 0 auto;

    padding: 20px 0 0;

}

.group-review {

    width: 100%;

    padding: 10px 0;

}

#customer-reviews hr{

    margin:  10px 0;

}

#comments #customer-reviews{

    padding-top: 40px;

}

.fieldset .legend{

    font-size: 13px;

    font-weight: bold;

    line-height: 24px;

}

.input-box ul li{

    float: left;

}

.box .mid1, .box .bottom1{

    top: 0px;

    position: relative;

}

.box .mid, .box .bottom{

    top: -20px;

    position: relative;

}

.mid .last dt{

    display: none;

}

.wide .input-box #sender_message, .required-entry, .review_field{

    width: 94%;

}

.product_size {

	position: relative;

}

.select_area .mid input {

	float: left;

	margin: 0 5px 0 11px;

}

.select_area1 {

    position: absolute;

    display: none;

    width: 220px;

    border: 1px solid  #E3E3E3;

    border-radius: 3px;

    padding: 5px 10px;

    background: #ffffff;

}

.select_area {

	position: absolute;

	display: none;

    width: 220px;

}

.select_area .mid label {

	width: 120px;

	float: left;

	font-size: 0.9em;

}

#comments form {

	margin: 10px 0;

}

#comments form input,

#comments form select,

#comments form textarea,

#comments form label {

	font-size: 0.9em;

}

#comments .input-name

{

	float: left;

}

#comments .input-email {

	float: right;

}

#comments .input-name input,

#comments .input-email input {

	width: 262px;

}

#comments .input-content {

	clear: both;

}

#comments .input-content textarea {

	width: 560px;

	height: 100px;

}

#comments .submit {

	text-align: right;

}

#comments form {

	width: 573px;

	margin: 10px auto;

}

.list_comments .item {

	margin: 20px 0;

}

.list_comments .item .pull-left {

	width: 92px;

}

.list_comments .item .pull-right {

	width: 536px;

	padding-left: 20px;

	border-left: 1px solid #e4e4e4;

}

.list_comments .item .comments_content_more {

	text-align: right;

    padding-top: 10px ;

}

.list_comments .item .comments_content_more a {

	color: #bdbdbd;

}

.list_comments .item .short-item {

	height: 60px;

	overflow: hidden;

}

.product_amount span{

    float: left;

    line-height: 30px;

}

#bt_select_size{

    cursor: pointer;

    position: relative;

    top: 4px;

    left: 0px;

}

#bt_select_size .last{

    margin-bottom: 0px;

    margin-top: 0px;

}

.product_amount .input-qty{

    width: 50px;

    margin-left: 10px;

    float: left;

}

#product-review-table{

    bottom: 10px;

    position: relative;

}

#product-review-table .first th{

    padding-right: 20px;

}

.error-msg, .validation-advice{

    padding: 8px 10px 8px 14px;

}

.db_star_ratting{

    background: url("../images/star.png") no-repeat;

    display: inline-block;

    height: 18px;

    width: 22px;

}

.price-label{

    display: none;

}

.old-price .price{

    color: #979797;

    font-size: 0.9em;

    text-decoration: line-through;

}

.btn-share-social{

    left: 10px;

    position: relative;

}

.stButton{

    margin-left: 0px !important;

    margin-right: 0px !important;

}

.stButton .chicklets{

    padding-right: 0px !important;

}

.more_view_grid1 li{

    float: left;

    margin: 0 5px;

    border: 2px solid #e2e2e2;

}



.jcarousel-item{

    width: 85px;

}

.jcarousel-item img{

    border: 2px solid #e2e2e2;

}

.product_share .label{

    background: #ffffff;

    color: #000000;

    padding-bottom: 10px;

}

.addthis_toolbox .social-button{

    display: none;

}

#messages_product_view{

    display: none;

}

#backgroundPopup {

    z-index:1;

    position: fixed;

    display:none;

    height:100%;

    width:100%;

    background:#000000;

    top:0px;

    left:0px;

}

.Magic360-box{

    width: 100% !important;

}

#wrap{

    z-index: 0 !important;

}

#toPopup {

    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;

    background: none repeat scroll 0 0 #FFFFFF;

    border: 10px solid #ccc;

    border-radius: 3px 3px 3px 3px;

    color: #333333;

    display: none;

    font-size: 14px;

    left: 55%;

    margin-left: -402px;

    position: fixed;

    top: 15%;

    width: 600px;

    z-index: 9999;

}

div.loader {

    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;

    height: 32px;

    width: 32px;

    display: none;

    z-index: 9999;

    top: 50%;

    left: 50%;

    position: absolute;

    margin-left: -10px;

}

div.close {

    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;

    bottom: 24px;

    cursor: pointer;

    float: right;

    height: 30px;

    left: 32px;

    position: relative;

    width: 30px;

    top:-30px;

    opacity: 0.7;

}

span.ecs_tooltip {

    background: none repeat scroll 0 0 #000000;

    border-radius: 2px 2px 2px 2px;

    color: #FFFFFF;

    display: none;

    font-size: 11px;

    height: 16px;

    opacity: 0.7;

    padding: 4px 3px 2px 5px;

    position: absolute;

    right: -62px;

    text-align: center;

    top: -51px;

    width: 93px;

}

span.arrow {

    border-left: 5px solid transparent;

    border-right: 5px solid transparent;

    border-top: 7px solid #000000;

    display: block;

    height: 1px;

    left: 40px;

    position: relative;

    top: 3px;

    width: 1px;

}

div#popup_content {

    margin: 4px 7px;

}







.clear {

    zoom: 1;

}

.clear:after {

    clear: both;

    content: ".";

    display: block;

    height: 0;

    line-height: 0px;

    visibility: hidden;

}

.content-review .a-left {

	float: none;

}

.content-review .short-item {

	max-height: 60px;

    overflow: hidden;

}

.comments_content_more {

	text-align: right;



}

.comments_content_more a {

    color: #BDBDBD;

    line-height: 30px;

}