<?php
/**
 * @name            :  Super Deals
 * @version         :  1.1
 * @author          :  Apptha - http://www.apptha.com
 * @copyright       :  Copyright (C) 2013 Powered by Apptha
 * @license         :  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @Creation Month  :  April 2013
 *
 * */
?>
<?php
/**
 * Template for displaying product price in different places (products grid, product view page etc)
 *
 * @see Mage_Catalog_Block_Product_Abstract
 */
?>

<?php
$_coreHelper = $this->helper('core');
$_weeeHelper = $this->helper('weee');
$_taxHelper = $this->helper('tax');
/* @var $_coreHelper Mage_Core_Helper_Data */
/* @var $_weeeHelper Mage_Weee_Helper_Data */
/* @var $_taxHelper Mage_Tax_Helper_Data */

$_product = $this->getProduct();
$_storeId = $_product->getStoreId();
$_id = $_product->getId();
$_weeeSeparator = '';
$_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
$_minimalPriceValue = $_product->getMinimalPrice();
$_minimalPrice = $_taxHelper->getPrice($_product, $_minimalPriceValue, $_simplePricesTax);
?>
<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>
<?php if ($_product->isAvailable()): ?>
    <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
<?php else: ?>
    <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php //echo $this->getPriceHtml($_product) ?>
<?php
/* Count for timer calculation declared here */

if (!Mage::registry('timer_count')) :
    $count = 1;
    Mage::register('timer_count', $count);
else:
    $count = Mage::registry('timer_count');
    $count = $count + 1;
    Mage::unregister('timer_count');
    Mage::register('timer_count', $count);
endif;

$_helper = $this->helper('catalog/output');
/* Admin Controllers for timer are declared here */
$dealsEnable   =  Mage::helper('core/data')->isModuleEnabled('Apptha_Superdeals');
$dealsEnabled  =  intval($dealsEnable);
$advanceOption =  Mage::getStoreConfig('advanced/modules_disable_output/Apptha_Superdeals');
$advanceOption =  intval($advanceOption);
$STORE_CONFIG_DEALS_ENABLED = Mage::getStoreConfig('superdeals/superdeals_group/deals_enable');
$STORE_CONFIG_CUSTOM_COLOR_ENABLED = Mage::getStoreConfig('superdeals/timer/custom_color_enable');
$STORE_CONFIG_TIMER_ENABLED = Mage::getStoreConfig('superdeals/timer/show_timer');
$timer_active = Mage::getStoreConfig('superdeals/timer/show_timer');
$timer_color = Mage::getStoreConfig('superdeals/timer/text');
$timer_background = Mage::getStoreConfig('superdeals/timer/background_color');
$caption_color = Mage::getStoreConfig('superdeals/timer/caption_color');
$heading_color = Mage::getStoreConfig('superdeals/timer/heading_text_color');

$save_dis_lable_color = Mage::getStoreConfig('superdeals/timer/save_dis_lable_color');
$save_dis_price_color = Mage::getStoreConfig('superdeals/timer/save_dis_price_color');
$save_dis_font_size = Mage::getStoreConfig('superdeals/timer/save_dis_font_size');
$save_cat_time_font_size = Mage::getStoreConfig('superdeals/timer/save_cat_time_font_size');
$save_view_time_font_size = Mage::getStoreConfig('superdeals/timer/save_view_time_font_size');

$timer_head = Mage::getStoreConfig('superdeals/timer/timer_head');
$toDate = $_product->getSpecialTODate();
$now = Mage::getModel('core/date')->timestamp(time());
$now = date('Y-m-d' . ' 00:00:00', $now);
?>
<?php if(($STORE_CONFIG_CUSTOM_COLOR_ENABLED == 1)&& ( $dealsEnabled == 1)&& ( $advanceOption == 0)){?>
<style type="text/css">  
 	/* design for Category page */          
    .deal-price-box .price-label {color: #<?php echo $save_dis_lable_color ?>; }
    .deal-price-box .price {color: #<?php echo $save_dis_price_color ?>; }                      
    .dealtimer_listpage .dealtimer_listpage_timer span, .dealtimer_listpage .dealtimer_listpage_timer{ color: #<?php echo $timer_color ?>; font-size:<?php echo $save_cat_time_font_size ?>px; }
    
    /* design for Detail page */
    .dealtimer_detailpage .dealtimer_detailpage_offerlabel{ color: #<?php echo $heading_color ?>; font-weight: bold; font-size: <?php echo $save_view_time_font_size ?>px; } 
    .detail-deal-page-box .price-label {color: #<?php echo $save_dis_lable_color ?>; font-size: <?php echo $save_dis_font_size ?>px; }
    .detail-deal-page-box .price{color: #<?php echo $save_dis_price_color ?>; font-size: <?php echo $save_dis_font_size ?>px; }
   	.app_deal_time_container app_offer_head{color: #<?php echo $heading_color ?>;} 
   	.dealtimer_detailpage .dealtimer_detailpage_timer span, .dealtimer_detailpage .dealtimer_detailpage_timer{color: #<?php echo $timer_color ?>; font-size: <?php echo $save_view_time_font_size ?>px;}
</style>
<?php } ?>

<?php if (!$_product->isGrouped()): ?>
    <?php $_weeeTaxAmount = $_weeeHelper->getAmountForDisplay($_product); ?>
    <?php if ($_weeeHelper->typeOfDisplay($_product, array(Mage_Weee_Model_Tax::DISPLAY_INCL_DESCR, Mage_Weee_Model_Tax::DISPLAY_EXCL_DESCR_INCL, 4))): ?>
        <?php $_weeeTaxAmount = $_weeeHelper->getAmount($_product); ?>
        <?php $_weeeTaxAttributes = $_weeeHelper->getProductWeeeAttributesForDisplay($_product); ?>
    <?php endif; ?>
    <?php $_weeeTaxAmountInclTaxes = $_weeeTaxAmount; ?>
    <?php if ($_weeeHelper->isTaxable() && !$_taxHelper->priceIncludesTax($_storeId)): ?>
        <?php $_attributes = $_weeeHelper->getProductWeeeAttributesForRenderer($_product, null, null, null, true); ?>
        <?php $_weeeTaxAmountInclTaxes = $_weeeHelper->getAmountInclTaxes($_attributes); ?>
    <?php endif; ?>

    <div class="price-box">
    <?php $_price = $_taxHelper->getPrice($_product, $_product->getPrice()) ?>
        <?php $_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice(), $_simplePricesTax) ?>
        <?php $_finalPrice = $_taxHelper->getPrice($_product, $_product->getFinalPrice()) ?>
        <?php $_finalPriceInclTax = $_taxHelper->getPrice($_product, $_product->getFinalPrice(), true) ?>
        <?php $_weeeDisplayType = $_weeeHelper->getPriceDisplayType(); ?>
        <?php if ($_finalPrice >= $_price): ?>
            <?php if ($_taxHelper->displayBothPrices()): ?>
                <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
                        </span> </span> <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> </span>
                                      <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
                        </span> </span> <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> <span class="weee">( <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                                              <?php echo $_weeeSeparator; ?> <?php echo $_weeeTaxAttribute->getName(); ?>:
                                <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                                <?php $_weeeSeparator = ' + '; ?> <?php endforeach; ?> )</span> </span>
                        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
                        </span> </span> <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> <span class="weee">( <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                                              <?php echo $_weeeSeparator; ?> <?php echo $_weeeTaxAttribute->getName(); ?>:
                                <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                                <?php $_weeeSeparator = ' + '; ?> <?php endforeach; ?> )</span> </span>
                        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price, true, false) ?> </span> </span>
                            <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <span class="weee"> <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                        </span>
                <?php endforeach; ?>
                    <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> </span>
                                      <?php else: ?>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php if ($_finalPrice == $_price): ?> <?php echo $_coreHelper->currency($_price, true, false) ?>
                                          <?php else: ?> <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                                          <?php endif; ?> </span> </span> <span class="price-including-tax"> <span
                            class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?> </span>
                        <span class="price"
                              id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax, true, false) ?>
                        </span> </span>
                              <?php endif; ?>
            <?php else: ?>
                <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
                    <span class="regular-price"
                          id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
                    </span>
                          <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
                    <span class="regular-price"
                          id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
                    </span> <span class="weee">( <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                                  <?php echo $_weeeSeparator; ?> <?php echo $_weeeTaxAttribute->getName(); ?>:
                            <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                            <?php $_weeeSeparator = ' + '; ?> <?php endforeach; ?> )</span>
                    <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
                    <span class="regular-price"
                          id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
                    </span> <span class="weee">( <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                                  <?php echo $_weeeSeparator; ?> <?php echo $_weeeTaxAttribute->getName(); ?>:
                            <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                            <?php $_weeeSeparator = ' + '; ?> <?php endforeach; ?> )</span>
                    <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
                    <span class="regular-price"><?php echo $_coreHelper->currency($_price, true, true) ?>
                    </span><br />
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <span class="weee"> <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                        </span>
                <?php endforeach; ?>
                    <span class="regular-price"
                          id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
                    </span>
                          <?php else: ?>
                    <span class="regular-price"
                          id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php if ($_finalPrice == $_price): ?> <?php echo $_coreHelper->currency($_price, true, true) ?>
                              <?php else: ?> <?php echo $_coreHelper->currency($_finalPrice, true, true) ?>
                              <?php endif; ?> </span>
                          <?php endif; ?>
                <?php endif; ?>
        <?php else: /* if ($_finalPrice == $_price): */ ?>
            <?php $_originalWeeeTaxAmount = $_weeeHelper->getOriginalAmount($_product); ?>

            <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
                <p class="old-price">
                    <span class="price"
                          id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
                    </span>
                </p>

            <?php if ($_taxHelper->displayBothPrices()): ?>
                    <p class="special-price">
                        <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                        <span class="price-excluding-tax"> 
                        	<span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span> 
                        	<span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                				<?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
                            </span> 
						</span> 
                        <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span> 
                            <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                					<?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                            </span> 
                        </span>
                    </p>
            <?php else: ?>
                    <p class="special-price">
                        <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                        <span class="price"
                              id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span>
                    </p>
            <?php endif; ?>

            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
                <p class="old-price">
                    <span class="price"
                          id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
                    </span>
                </p>

                <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
                        </span> </span> <span class="weee">( <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                                              <?php echo $_weeeSeparator; ?> <?php echo $_weeeTaxAttribute->getName(); ?>:
                            <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                            <?php $_weeeSeparator = ' + '; ?> <?php endforeach; ?> )</span> <span
                        class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> </span>
                </p>
        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee  ?>
                <p class="old-price">
                    <span class="price"
                          id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
                    </span>
                </p>

                <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
                        </span> </span> <span class="weee">( <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                                              <?php echo $_weeeSeparator; ?> <?php echo $_weeeTaxAttribute->getName(); ?>:
                            <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                            <?php $_weeeSeparator = ' + '; ?> <?php endforeach; ?> )</span> <span
                        class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> </span>
                </p>
        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final  ?>
                <p class="old-price">
                    <span class="price"
                          id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_regularPrice, true, false) ?> </span>
                </p>

                <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_finalPrice, true, false) ?> </span>
                    </span>
                            <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <span class="weee"> <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                        </span>
            <?php endforeach; ?>
                    <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span> </span>
                </p>
        <?php else: // excl.  ?>
                <p class="old-price">
                    <span class="price"
                          id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
            <?php echo $_coreHelper->currency($_regularPrice, true, false) ?> </span>
                </p>

            <?php if ($_taxHelper->displayBothPrices()): ?>
                    <p class="special-price">
                        <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                        <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                            </span> <span class="price"
                                          id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPrice, true, false) ?> </span>
                        </span> <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                            </span> <span class="price"
                                          id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax, true, false) ?>
                            </span> </span>
                    </p>
            <?php else: ?>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price-label"><?php echo $this->__('Special Price:') ?> </span>
                            <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_finalPrice, true, false) ?> </span>
                                <?php //echo Mage::helper('core')->currency($_saved ,true,false);  ?>
                                <?php
                                // Display the saving amount here
                                $savingsdollarvalue = ($_product->getPrice() - $_finalPrice);
                                $original_price = $_product->getPrice(); //get orginal price
                                $discount_price = $_finalPrice; //get the discount amount
                                $savings = $original_price - $discount_price; //get the saving amount from orginal price - discount price
                                $savings_percentage = round(($savings / $original_price) * 100, 0); //get discount Percentage
                                ?>
                        </p>
                    </div>
                        <?php if (Mage::registry('product')) : ?>                            
                            <?php if (($STORE_CONFIG_DEALS_ENABLED == 1 )&& ( $dealsEnabled == 1)&& ( $advanceOption == 0)) { ?>
                    <div class="price-box detail-deal-page-box">
                        <p class="special-price">
                              <span class="price-label">
                                    <?php echo $this->__('Save:');?>
                              </span>                       
                              <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                               		<?php echo $_coreHelper->currency($savingsdollarvalue, true, false); ?>
                              </span>
                        </p>                   
                        <p class="special-price">
                             <span class="price-label"><?php echo $this->__('Discount:'); ?></span>
                             <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>"><?php echo $savings_percentage, '%'; //display discount amount ?></span>
                        </p>
                    </div>
                                    <?php } ?>
                        <?php endif; ?>
                  
                <?php endif; ?>
            <?php endif; ?>

        <?php endif; /* if ($_finalPrice == $_price): */ ?>

        <!--timer starts-->
      <?php if ((($_product->getPrice() > $_product->getSpecialPrice())) && ($STORE_CONFIG_DEALS_ENABLED == 1) && ($STORE_CONFIG_TIMER_ENABLED == 1) && ( $dealsEnabled == 1)&& ( $advanceOption == 0)): ?>
            <?php if (!empty($toDate) && $toDate >= $now) : ?>
                <?php if ($_product->getSpecialPrice() != 0 || $_product->getSpecialPrice() != "") : ?>
                    <?php if (Mage::registry('product')) : ?>
                        <div class="dealtimer_detailpage">
                            <div id="heading<?php echo $count; ?>" class="dealtimer_detailpage_offerlabel">
                                <?php echo $timer_head ?>
                            </div>
                            <div id="countbox<?php echo $count; ?>" class="dealtimer_detailpage_timer"></div>
                        </div>
                    <?php endif; ?>
                    <?php endif; ?><!-- first if ends here -->
                    <?php elseif ($_product->getSpecialPrice() != 0 && empty($toDate)): ?>
                    <?php if (Mage::registry('product')) : ?>
                        <div class="dealtimer_detailpage">
                            <span class="dealtimer_detailpage_offerlabel">
                                <?php echo $timer_head ?>
                            </span>                           
                            <div class="dealtimer_detailpage_timer">
                                <?php echo $this->__('On Sale!'); ?>
                            </div>
                        </div>
                     <?php endif; ?>
                     <?php else : echo '';
                endif; ?>
            <script type="text/javascript">
                var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)) . ' 11:59:00 PM'; ?>");
                start = "<?php echo Date("m/d/y h:i:s A", strtotime(Mage_Core_Model_Locale::date(null, null, "en_US", true))); ?>";
                start_date = Date.parse(start);
                var dnow<?php echo $count; ?> = new Date(start_date);
                if(CountStepper>0)
                    ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
                else
                    ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
                gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
                var iid<?php echo $count; ?> = "countbox<?php echo $count; ?>";
                CountBack(gsecs<?php echo $count; ?>,iid<?php echo $count; ?>, <?php echo $count; ?>);
                j++;
            </script>
            <?php $count = $count + 1; ?> 
        <?php endif; ?>
        <!--Timer Ends-->


		<?php if( $_product->getTypeId() != 'simple' ): ?>
	        <?php if ($this->getDisplayMinimalPrice() && $_minimalPriceValue && $_minimalPriceValue < $_product->getFinalPrice()): ?>
	            <?php $_minimalPriceDisplayValue = $_minimalPrice; ?>
	            <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, array(0, 1, 4))): ?>
	                <?php $_minimalPriceDisplayValue = $_minimalPrice + $_weeeTaxAmount; ?>
	            <?php endif; ?>

	            <?php if ($this->getUseLinkForAsLowAs()): ?>
	                <a href="<?php echo $_product->getProductUrl(); ?>" class="minimal-price-link"> 
	            <?php else: ?>
            		<span class="minimal-price-link"> 
	            <?php endif; ?>
            		<span class="label"><?php echo $this->__('As low as:') ?></span>
	                    <span class="price" id="product-minimal-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                    		<?php echo $_coreHelper->currency($_minimalPriceDisplayValue, true, false) ?>
	                    </span> 
	            <?php if ($this->getUseLinkForAsLowAs()): ?>
					</a>
	            <?php else: ?>
	           </span>
	           <?php endif; ?>
    		<?php endif; /* if ($this->getDisplayMinimalPrice() && $_minimalPrice && $_minimalPrice < $_finalPrice): */ ?>
    	<?php endif;?>	
    </div>

<?php else: /* if (!$_product->isGrouped()): */ ?>
    <?php
    $_exclTax = $_taxHelper->getPrice($_product, $_minimalPriceValue);
    $_inclTax = $_taxHelper->getPrice($_product, $_minimalPriceValue, true);
    ?>
    <?php if ($this->getDisplayMinimalPrice() && $_minimalPriceValue): ?>
        <div class="price-box">
            <p class="minimal-price">
                <span class="price-label"><?php echo $this->__('Starting at:') ?> </span>
                <?php if ($_taxHelper->displayBothPrices()): ?>
                    <span class="price-excluding-tax"> <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_exclTax, true, false) ?> </span>
                    </span> <span class="price-including-tax"> <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?>
                        </span> <span class="price"
                                      id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_inclTax, true, false) ?> </span>
                    </span>
                <?php else: ?>
                    <?php
                    $_showPrice = $_inclTax;
                    if (!$_taxHelper->displayPriceIncludingTax()) {
                        $_showPrice = $_exclTax;
                    }
                    ?>
                    <span class="price"
                          id="product-minimal-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_showPrice, true, false) ?> </span>
                    <?php endif; ?>
            </p>
        </div>
    <?php endif; /* if ($this->getDisplayMinimalPrice() && $_minimalPrice): */ ?>
<?php endif; /* if (!$_product->isGrouped()): */ ?>