<?php
/**
 * @category    DBG
 * @package     DBG Promotion2 Products
 * @author      Domagoj Potkoc, Inchoo Team <web@inchoo.net> (PHT Extended and develop more)
 * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>
<?php
$image_size = (int) Mage::getStoreConfig("promotion2products/cmspage/max_image_dimension");
$_itemCount = $this->getProductCollection()->count();
$i = 0;
$row = 0;
?>
<?php if (!empty($_itemCount)): ?>
	<div id="home_promotion2_products" class="products_grid p_block_home"> 
		<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
			<h2 class="group_title"><span><?php echo $this->__($this->getBlockLabel()) ?></span></h2>
		    <a class="view_all" href="<?php echo Mage::getUrl('promotion2products'); ?>"><span><?php echo $this->__('View All') ?></span></a>
			<?php foreach ($_products->getItems() as $_product): ?>
				<?php
				$icon = strtolower($_product->getResource()->getAttribute('product_icon')->getFrontend()->getValue($_product));

				$normal_price = Mage::helper('core')->currency($_product->getPrice(), false, true);
				$special_price = Mage::helper('core')->currency($_product->getSpecialPrice(), false, true);
				$final_price = Mage::helper('core')->currency($_product->getFinalPrice(), false, true);
				$discount = $normal_price - $final_price;
				?>

				<?php if ($i == 0): ?>
					<?php $row++; ?>
					<ul class="grid <?php echo (($row % 2) > 0) ? 'odd' : 'even' ?>">
					<?php endif; ?>  
					<li class="<?php if ($i == 0): ?> first<?php elseif ($i == $_itemCount - 1): ?> last<?php endif; ?>">
						<div class="item <?php if ($icon != "không") echo $_icon; ?>">
							<div class="thumb">
								<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
									<img class="product-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($image_size, $image_size) ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
								</a>
							</div>
							<h3>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
									<?php echo $this->htmlEscape($_product->getName()) ?>
								</a>
							</h3>

							<p class="sku"><?php echo substr($_product->getSku(), 0, 16); ?>...</p>

							<?php if (Mage::getStoreConfig('promotion2products/general/price_visible')): ?>
								<?php echo $this->getPriceHtml($_product, true) ?>
								<?php if ($_product->isSaleable()): ?>
									<div class="icon-look"><a class="btn-qview" href="JavaScript:void(0)" title="<?php echo $this->__('Quick View') ?>"><?php echo $this->__('Quick View') ?></a></div>
								<?php else: ?>
									<a class="icon-out-of-stock" href="<?php echo $_product->getProductUrl() ?>">&nbsp;</a>
								<?php endif; ?>
							<?php endif; ?>
							<?php if ($icon == "new"): ?>
								<div class="icon" id="icon_new"><span><?php echo $this->__('New') ?></span></div>
							<?php else: ?>
								<?php if ($icon == "online"): ?>
									<div class="icon" id="icon_online"><span><?php echo $this->__('Sale Online') ?></span></div>
								<?php else: ?>
									<?php if ($icon == "hot"): ?>
										<div class="icon" id="icon_hot"><span><?php echo $this->__('Hot') ?></span></div>
									<?php else : ?>
										<?php if ($icon == "gift"): ?>
											<div class="icon" id="icon_gift"></div>
										<?php else: ?>
											<?php if ($icon == "limited"): ?>
												<div class="icon" id="icon_limited"></div>	
											<?php else: ?>
												<?php if ($icon == "same-price" && $special_price > 0): ?>
													<div class="icon" id="icon_same_price">
														<span><?php echo round($special_price / 1000, 0) ?>K</span>
													</div>
												<?php /* else : ?>
													<?php if ($discount > 0 || $icon == "discount" && $discount > 0): ?>
														<div class="icon" id="icon_discount">
															<span>- <?php echo round((($discount / $normal_price) * 100), 1) ?>%</span>
														</div>
													<?php endif; */ ?>
												<?php endif; ?>
											<?php endif; ?>
										<?php endif; ?>
									<?php endif; ?>
								<?php endif; ?>
							<?php endif; ?>
						</div>
					</li>
					<?php $i++; ?>
					<?php if ($i == $this->getItemsPerRow()): ?>
						<?php $i = 0; ?>
					</ul>
				<?php endif; ?>
			<?php endforeach; ?>
		<?php endif; ?>
	</div>
	<div class="clearfix"></div>
<?php endif; ?>

